<template>

    <require from="./route-overview.scss"></require>
    <require from="app/components/linear-meter/linear-meter"></require>
    <require from="app/components/circular-meter/circular-meter"></require>

    <page-section scroll-fade="0.7">

        <div class="control-row">

            <!-- 1st card -->
            <card class="flex-basis-1-of-4 text-align-center --non-clickable">

                <div class="font-small opacity-faded" translate>
                    Completed stops
                </div>

                <circular-meter accent.bind="failedStops.length > 0 ? 'negative' : 'neutral' & attr" percentage.bind="completedStops * 100 / route.stops.length">

                    <div if.bind="route.status.slug !== 'cancelled'">

                        <div class="font-largest">
                            <span empty-value>${completedStops}</span>/<span empty-value>${route.stops.length}</span>
                        </div>

                        <div if.bind="failedCancelledStops.length > 0" accent="neutral" class="font-small margin-top" translate>
                            ${failedCancelledStops.length} issues
                        </div>

                    </div>

                    <div class="route-cancelled-warning" accent="negative" if.bind="route.status.slug === 'cancelled'">

                        <icon name="warning"></icon>

                        <div class="font-small margin-top" translate>
                            The route is cancelled
                        </div>

                    </div>

                </circular-meter>

            </card>

            <!-- 2nd card -->
            <card class="flex-basis-1-of-4 text-align-center --non-clickable">

                <!-- Top section -->
                <div class="card-section-top card-section">

                    <div class="font-small opacity-faded">

                        <span if.bind="route.status.slug !== 'completed' && route.status.slug !== 'in-progress'" translate>
                            Total colli count
                        </span>

                        <span if.bind="route.status.slug === 'completed' || route.status.slug === 'in-progress'" translate>
                            Colli picked up
                        </span>

                    </div>

                    <div class="font-largest" accent.bind="'neutral' & attr">

                        <span if.bind="route.status.slug !== 'completed' && route.status.slug !== 'in-progress'" empty-value>
                            ${totalColliCount}
                        </span>

                        <span if.bind="route.status.slug === 'completed' || route.status.slug === 'in-progress'" empty-value>
                            ${pickedUpColliCount}
                        </span>

                    </div>

                    <div class="font-small">
                        <span if.bind="route != null && notPickedUpColli.length === 0 && totalColliCount !== 0" translate>
                            &nbsp;All colli picked up
                        </span>

                        <span if.bind="route != null && notPickedUpColli.length > 0" translate>
                            &nbsp;${notPickedUpColli.length} has not been picked up
                        </span>

                    </div>

                </div>

                <hr class="hr-line margin">

                <!-- Bottom section -->
                <div class="card-section-bottom card-section">

                    <div class="font-small opacity-faded" translate>
                        Colli delivered
                    </div>

                    <div class="font-largest" accent.bind="notDeliveredColli.length > 0 ? 'negative' : 'neutral' & attr">

                        <span if.bind="route.status.slug !== 'completed' && route.status.slug !== 'in-progress'" empty-value>
                            ${totalColliCount}
                        </span>

                        <span if.bind="route.status.slug === 'completed' || route.status.slug === 'in-progress'" empty-value>
                            ${deliveredColliCount}
                        </span>

                    </div>

                    <div class="font-small">

                        <span if.bind="route != null && notDeliveredColli.length === 0 && totalColliCount !== 0" translate>
                            &nbsp;Every colli has been delivered
                        </span>

                        <span if.bind="route != null && notDeliveredColli.length > 0" translate>
                            &nbsp;${notDeliveredColli.length} has not been picked up
                        </span>

                    </div>

                </div>
            </card>

            <!-- 3rd card -->
            <card class="flex-basis-1-of-4 text-align-center --non-clickable">

                <!-- Top section -->
                <div class="card-section-top card-section">

                    <div class="font-small opacity-faded">

                        <span if.bind="route.status.slug !== 'completed' && route.status.slug !== 'in-progress'" translate>
                            Scheduled route start
                        </span>

                        <span if.bind="route.status.slug === 'completed' || route.status.slug === 'in-progress'" translate>
                            Route start
                        </span>

                    </div>

                    <div if.bind="route.status.slug === 'completed' || route.status.slug === 'in-progress'" class="font-largest" empty-value>
                        ${route.stops[0].arrivedTime | dateTime: 'narrow' : false}
                    </div>

                    <div if.bind="route.status.slug !== 'completed' && route.status.slug !== 'in-progress'" class="font-largest" empty-value>
                        ${route.stops[0].estimates.arrivedTime | dateTime: 'narrow' : false}
                    </div>

                    <div class="font-small">

                        <span>&nbsp;</span>

                    </div>

                </div>

                <hr class="hr-line margin">

                <!-- Bottom section -->
                <div class="card-section-bottom card-section">

                    <div class="font-small opacity-faded" translate>
                        Route duration
                    </div>

                    <div class="font-largest" empty-value>
                        ${routeDuration | duration: 'narrow'}
                    </div>

                    <div class="font-small">
                        &nbsp;
                    </div>

                </div>

            </card>

            <!-- 4th card -->
            <card class="flex-basis-1-of-4 text-align-center --non-clickable">

                <!-- Top section -->
                <div class="card-section-top card-section">

                    <div class="font-small opacity-faded" translate>
                        Estimated completion time
                    </div>

                    <div class="font-largest" accent.bind="isRouteDelayed ? 'negative' : 'neutral' & attr">

                        <span empty-value>
                            ${route.estimates.completionTime | time: 'narrow' : false}
                        </span>

                    </div>

                    <div class="font-small">

                        <span if.bind="(route.status.slug === 'completed' || route.status.slug === 'in-progress') && delayedStart">

                            <span if.bind="delayedStart" translate>
                                &nbsp;Arrived ${delayedStart | duration} too early
                            </span>

                        </span>

                    </div>

                </div>

                <hr class="hr-line margin">

                <!-- Bottom section -->
                <div if.bind="route.status.slug === 'in-progress'" class="card-section-bottom card-section">

                    <div class="font-small opacity-faded" translate>
                        Driver status
                    </div>

                    <div class="font-largest" empty-value>

                        <span if.bind="driverOnline" accent="positive" translate>
                            Online
                        </span>

                        <span if.bind="!driverOnline" accent="negative" translate>
                            Offline
                        </span>

                    </div>

                    <div class="font-small">
                        &nbsp;
                    </div>

                </div>

                <div if.bind="route.status.slug === 'completed'" class="card-section-bottom card-section">

                    <div class="font-small opacity-faded" translate>
                        Rating
                    </div>

                    <div if.bind="route.overallRating != null" class="font-largest">
                        <icon class="card-section-ratingStar" name="star"></icon>${route.overallRating}/5
                    </div>

                    <div if.bind="route.overallRating == null" empty-value></div>

                    <div class="font-small">

                        <span if.bind="route.overallRating != null">
                            &nbsp;
                        </span>

                    </div>

                </div>

                <div if.bind="route.status.slug !== 'completed' && route.status.slug !== 'in-progress'" class="card-section-bottom card-section">

                    <div class="font-small opacity-faded" translate>
                        Complexity
                    </div>

                    <div class="font-largest" empty-value>
                        ${route.complexity | number}%
                    </div>

                    <div class="font-small">
                        &nbsp;
                    </div>

                </div>
                <!-- Bottom section end -->

            </card>

        </div>

    </page-section>

</template>
