
// color
// The color palette on which the theme is based.
// ====================================================================================================

// neutral
// The neutral color and its variations.
$color-neutral-lighter: #fdfdfe;
$color-neutral-light: #f6f6f8;
$color-neutral: #ebecf0;
$color-neutral-dark: #586069;
$color-neutral-darker: #222222;

// primary
// The primary color and its variations.
$color-primary-lighter: #eaf0fa;
$color-primary-light: #7e9cd0;
$color-primary: #0747a6;
$color-primary-dark: #0a3987;
$color-primary-darker: #172b4d;

// info
// Color indicating information.
$color-info-lighter: $color-primary-lighter;
$color-info-light: $color-primary-light;
$color-info: $color-primary;
$color-info-dark: $color-primary-dark;
$color-info-darker: $color-primary-darker;

// positive
// Color indicating positivity or confirmation.
$color-positive-lighter: hotpink;
$color-positive-light: hotpink;
$color-positive: #28a745;
$color-positive-dark: hotpink;
$color-positive-darker: hotpink;

// attention
// Color indicating importance.
$color-attention-lighter: hotpink;
$color-attention-light: hotpink;
$color-attention: #ffaa00;
$color-attention-dark: hotpink;
$color-attention-darker: hotpink;

// warning
// Color indicating significant importance.
$color-warning-lighter: hotpink;
$color-warning-light: hotpink;
$color-warning: #e36209;
$color-warning-dark: hotpink;
$color-warning-darker: hotpink;

// negative
// Color indicating negativity or criticality.
$color-negative-lighter: hotpink;
$color-negative-light: hotpink;
$color-negative: #cb2431;
$color-negative-dark: hotpink;
$color-negative-darker: hotpink;

// TODO: Add proper color variations.
