@import "styles/resources/index";

modal-overlay
{
    // Allow content to be positioned relative to this element.
    position: relative;

    // Fill the available space.
    flex-grow: 1;

    // Apply the z-index for modals.
    z-index: var(--z-index-modal);

    // Apply surface style.
    border-color: var(--color-surface-border);
    background: var(--color-surface);
    color: var(--color-surface-text);

    .modal-overlay-content
    {
        // Position at the top and allow content to
        // be positioned relative to this element.
        position: absolute;
        top: 0;

        // Set the size of the content area.
        width: 100%;
        min-height: 100%;

        // Use vertical flex layout.
        display: flex;
        flex-direction: column;

        // Apply horizontal padding.
        padding-right: 9rem;
        padding-left: var(--modal-overlay-actions-width);

        // Provide defaults for sectioning elements.

        > header,
        > section,
        > footer
        {
            // Prevent shrinking by default.
            flex-shrink: 0;
        }

        > header,
        > footer
        {
            // Apply padding to header and footer.
            // Note that we use padding instead of margin,
            // to enable sticky positioning.
            padding-top: 10rem;
            padding-bottom: 10rem;
        }

        > footer
        {
            // Push the footer to the bottom by default.
            margin-top: auto;
        }
    }

    .modal-overlay-actions
    {
        // Keep the actions in place when overlay is scrolled.
        position: sticky;
        top: 0;

        // Set the size of the action area.
        width: var(--modal-overlay-actions-width);
        min-height: 100%;

        // Use vertical flex layout.
        display: flex;
        flex-direction: column;

        // Center items horizontally.
        align-items: center;

        // Apply padding.
        padding: 8.75rem 5rem;

        > *
        {
            // Provide default item spacing.
            margin-bottom: 3rem;
        }

        button[appearance="icon"]
        {
            // Provide default icon size.
            font-size: 6rem;
        }
    }
}

// Animate the overlay and app-sidebar.

modal-overlay,
app-sidebar
{
    modal-view &
    {
        // Hint that animation will be applied.
        will-change: opacity;

        // Prevent glitches at the ends of the animation.
        animation-fill-mode: both !important;
    }

    modal-view compose.au-enter &
    {
        transform: var(--modal-overlay-origin-transform);
        opacity: 0;
        overflow: hidden;
    }

    modal-view compose.au-enter-active &
    {
        animation: modal-overlay-enter cubic-bezier(0.2, 0, 0, 1) var(--animation-duration-medium);
    }

    modal-view compose.au-leave &
    {
        // Replace the shadow with an afterglow to smoothe the edge and reduce ghosting.
        box-shadow: var(--modal-overlay-afterglow);
    }

    modal-view compose.au-leave-active &
    {
        animation: modal-overlay-leave cubic-bezier(0.2, 0, 0, 1) var(--animation-duration-medium);
    }
}

@keyframes modal-overlay-enter
{
    50%
    {
        opacity: 1;
    }

    100%
    {
        opacity: 1;
    }
}

@keyframes modal-overlay-leave
{
    100%
    {
        opacity: 0;
    }
}

// Animate the content of the overlay.

modal-overlay > *
{
    // Hint that animation will be applied.
    will-change: opacity;

    // Prevent glitches at the ends of the animation.
    animation-fill-mode: both !important;

    modal-view compose.au-enter &
    {
        opacity: 0;
    }

    modal-view compose.au-enter-active &
    {
        animation: modal-overlay-content-enter cubic-bezier(0.2, 0, 0, 1) var(--animation-duration-medium);
    }

    modal-view compose.au-leave-active &
    {
        animation: modal-overlay-content-leave cubic-bezier(0.2, 0, 0, 1) var(--animation-duration-medium);
    }
}

@keyframes modal-overlay-content-enter
{
    100%
    {
        opacity: 1;
    }
}

@keyframes modal-overlay-content-leave
{
    25%
    {
        opacity: 0;
    }

    100%
    {
        opacity: 0;
    }
}
