<template
    class="focus-hidden ${modal != null && modal.busy !== false ? '--busy' : ''}"
    inert.bind="modal != null && modal.busy !== false"
    keydown.trigger="onKeyDown($event)"
    tabindex="-1"
    trap-focus="fallback-focus.bind: element; escape-deactivates.bind: false;"
    validation
    validation.ref="validation">

    <require from="./modal-overlay.scss"></require>

    <busy-overlay if.bind="modal != null && modal.busy !== false" delay.bind="true"></busy-overlay>

    <div class="modal-overlay-content">

        <slot></slot>

    </div>

    <div class="modal-overlay-actions">

        <button
            if.bind="closeButton && modal != null"
            title.translate="${shouldDiscardChanges ? 'Please correct the errors before closing, or click again to discard the changes' : 'Close'}"
            appearance="icon"
            accent.bind="shouldDiscardChanges ? 'negative' : 'neutral' & attr"
            click.trigger="onCloseClick()">
            <icon name="close"></icon>
        </button>

        <slot name="actions"></slot>

    </div>

</template>
