////
/// @group resources/styles/framework/modifiers/opacity
////

/// Modifier classes affecting the opacity of elements.
$__summary: comment;

@import "resources/index";


/// Modifier class that fades the element to make it appear less de-emphasized.
.opacity-faded-less
{
    opacity: var(--opacity-faded-less);
}

/// Modifier class that fades element to make it appear de-emphasized.
.opacity-faded
{
    opacity: var(--opacity-faded);
}

/// Modifier class that fades the element to make it appear more de-emphasized.
.opacity-faded-more
{
    opacity: var(--opacity-faded-more);
}

/// Modifier class that fades the element to make it appear as barely visible.
.opacity-faded-most
{
    opacity: var(--opacity-faded-most);
}

/// Modifier class that fades the element to make it appear disabled.
.opacity-disabled
{
    opacity: var(--opacity-disabled);
}
