////
/// @group settings/animation
////

/// The base animation durations.
$__summary: comment;


:root
{
    /// The long animation duration,
    /// used for e.g. annimations applied unexpectedly, such as when fading in lazy loaded content.
    --animation-duration-long: 1s;

    /// The medium animation duration,
    /// used for e.g. animations applied in response to an interaction, such as a popup appearing.
    --animation-duration-medium: 0.35s;

    /// The short animation duration,
    /// used for e.g. interaction effects, such as highlights on touch, click or hover.
    --animation-duration-short: 0.1s;
}
