<template>

    <require from="./problem-accordion.scss"></require>

    <card class="problem-card ${expanded ? '--active' : ''}">

        <div class="problem-accordion-header" click.trigger="onHeaderClick()">

            <icon name="warning" accent="negative" class="font-large line-height-1 margin-right"></icon>

            ${model.type.name}

            <icon class="problem-accordion-toggle" name="md-expand-${expanded ? 'less' : 'more'}" accent="primary"></icon>

        </div>

        <div if.bind="expanded" surface="base" class="problem-accordion-content">

            <div if.bind="model.description">

                <div class="margin-bottom font-small opacity-faded" translate>
                    Driver note
                </div>

                <div class="font-small">
                    ${model.description}
                </div>

            </div>

            <div if.bind="model.imageUrls.length > 0">

                <div class="font-small opacity-faded" translate>
                    Photo documentation
                </div>

                <div class="margin-top">

                    <a repeat.for="imageUrl of model.imageUrls" href.bind="imageUrl" target="_blank" class="margin-right-large">
                        <img class="image-thumbnail" src.bind="imageUrl">
                    </a>

                </div>

            </div>

        </div>

    </card>

</template>
