////
/// @group resources/themes/mover-dark
////

/// Public interface for the theme.
$__summary: comment;


:root
{
    // Indicate to the browser that this is a dark theme.
    color-scheme: dark;
}

// Export the legacy variables.
@import "legacy/packages/shared/src/webKit/assets/themes/default/constants";

// Export the palettes.
// Palettes define the standard values used within the theme.
@import "./palettes/color";


// Export the settings.
// Settings define theme specific overrides to the base settings.
@import "./settings/font";
@import "./settings/font-family";


// Export the themes.
// Themes define the values to use within different areas of the app.
@import "./surfaces/base";
@import "./surfaces/card";
@import "./surfaces/neutral";
@import "./surfaces/primary";

:root
{
    --modal-panel-afterglow: 0 0 20px 0 rgba(30, 30, 30, 0.4) !important;

    --legacy-card-border-color: var(--palette-color-neutral-light);
    --legacy-card-edge-color: var(--palette-color-neutral-light);
    --legacy-card-surface-color: var(--palette-color-neutral);
    --legacy-card-surface-color--hover: var(--palette-color-neutral);
    --legacy-card-surface-box-surface-color: var(--palette-color-neutral-darker);

    .c-liveTracking-routePanel-routeInfo
    {
        --legacy-card-surface-box-surface-color: var(--palette-color-neutral);
    }
}

.card-edge
{
    --palette-color-neutral: var(--palette-color-neutral-lit);
}

app-sidebar
{
    --surface-color: var(--palette-color-neutral-lit) !important;

    app-logo
    {
        opacity: 0.6;
    }
}

tab-nav
{
    /// The color of the border of tabs.
    --tab-nav-border-color: var(--palette-color-neutral);
}

page-tab-nav
{

    /// The width of the border of the component.
    --tab-nav-border-width: var(--border-width-medium);

    /// The radius of the border of the component.
    --tab-nav-border-radius: var(--border-radius-medium);

    /// The color of the border of the component.
    --tab-nav-border-color: var(--palette-color-neutral);

    /// The color of the border of the component.
    --tab-surface-color--active: var(--palette-color-neutral);
}

button[appearance="outline"]
{
    // border-color: var(--palette-color-neutral) !important;
}

:root
{
    --modal-backdrop-color: rgba(0, 0, 0, 0.54);
}

data-table[appearance="rows"]
{
    --data-table-header-background: rgba(30, 30, 30, 0.97);
}

data-table[appearance="cards"]
{
    --data-table-header-background: rgba(30, 30, 30, 0.97);
    --data-table-header-border-color: rgba(30, 30, 30, 0.95);
}

html body page-sidebar page-section:not(.--header-slot-empty) .page-section-header
{
    padding-top: 16rem;
    border-top: var(--border-width-thin) solid var(--palette-color-neutral-light);
    border-bottom: none !important;
    background: transparent !important;
    color: var(--palette-color-neutral-lightest) !important;
}

page-content page-header
{
    border-bottom-color: var(--palette-color-neutral-lit);
}

[surface="base"],
[surface$="/base"]
{
    --surface-separator-color: var(--palette-color-neutral-lit);
}

[surface$="/card"]
{
    --border-color: var(--palette-color-neutral-lit);
    --border-color--hover: var(--palette-color-neutral-lit);
    --border-color--focus: var(--palette-color-neutral-lit);
    --border-color--active: var(--palette-color-neutral-lit);
    --data-table-row-border-color--active: var(--palette-color-neutral-lit) !important;
}

.data-table-row[accent="neutral"]
{
    --data-table-row-edge-color: var(--palette-color-neutral-light);
}

google-map,
.react-component
{
    --google-map-surface-color: #222222 !important;
    --google-map-control-shadow: none !important;
    --google-map-control-surface-text-color: #333333 !important;
    --google-map-control-surface-text-color--active: #000000 !important;
    --google-map-popover-close-filter: invert(1) !important;

    &:not(.--type-street)
    {
        --google-map-control-filter: saturate(0) brightness(0.92) invert(1);
    }
}

info-icon .info-icon-container:not(:hover) icon
{
    opacity: var(--opacity-faded) !important;
}
