////
/// @group framework/modifiers/margin
////

/// Modifier classes for applying margin.
$__summary: comment;

@import "resources/index";

.margin-left
{
    &
    {
        margin-left: var(--size-inline-spacing-large);
    }

    &-large
    {
        margin-left: var(--size-inline-spacing-large);
    }
}

.margin-right
{
    &
    {
        margin-right: var(--size-inline-spacing-large);
    }

    &-large
    {
        margin-right: var(--size-inline-spacing-large);
    }
}

/// Modifier class that applies the largest margin.
.margin-largest
{
    &,
    &-top
    {
        margin-top: 20rem;
    }

    &,
    &-left
    {
        margin-left: 20rem;
    }

    &,
    &-right
    {
        margin-right: 20rem;
    }

    &,
    &-bottom
    {
        margin-bottom: 20rem;
    }
}

/// Modifier class that applies the larger margin.
.margin-larger
{
    &,
    &-top
    {
        margin-top: 9rem;
    }

    &,
    &-left
    {
        margin-left: 9rem;
    }

    &,
    &-right
    {
        margin-right: 9rem;
    }

    &,
    &-bottom
    {
        margin-bottom: 9rem;
    }
}

/// Modifier class that applies the large margin.
.margin-large
{
    &,
    &-top
    {
        margin-top: 6rem;
    }

    &,
    &-left
    {
        margin-left: 6rem;
    }

    &,
    &-right
    {
        margin-right: 6rem;
    }

    &,
    &-bottom
    {
        margin-bottom: 6rem;
    }
}

/// Modifier class that applies the medium margin.
.margin-medium
{
    &,
    &-top
    {
        margin-top: 4rem;
    }

    &,
    &-left
    {
        margin-left: 4rem;
    }

    &,
    &-right
    {
        margin-right: 4rem;
    }

    &,
    &-bottom
    {
        margin-bottom: 4rem;
    }
}

/// Modifier class that applies the small margin.
.margin-small
{
    &,
    &-top
    {
        margin-top: 3rem;
    }

    &,
    &-left
    {
        margin-left: 3rem;
    }

    &,
    &-right
    {
        margin-right: 3rem;
    }

    &,
    &-bottom
    {
        margin-bottom: 3rem;
    }
}

/// Modifier class that applies the smaller margin.
.margin-smaller
{
    &,
    &-top
    {
        margin-top: 2rem;
    }

    &,
    &-left
    {
        margin-left: 2rem;
    }

    &,
    &-right
    {
        margin-right: 2rem;
    }

    &,
    &-bottom
    {
        margin-bottom: 2rem;
    }
}

/// Modifier class that applies the smallest margin.
.margin-smallest
{
    &,
    &-top
    {
        margin-top: 1rem;
    }

    &,
    &-left
    {
        margin-left: 1rem;
    }

    &,
    &-right
    {
        margin-right: 1rem;
    }

    &,
    &-bottom
    {
        margin-bottom: 1rem;
    }
}

/// Modifier class that applies auto margin.
.margin-auto
{
    &,
    &-top
    {
        margin-top: auto;
    }

    &,
    &-left
    {
        margin-left: auto;
    }

    &,
    &-right
    {
        margin-right: auto;
    }

    &,
    &-bottom
    {
        margin-bottom: auto;
    }
}
