////
/// @group resources/styles/framework/modifiers/margin
////

/// Modifier classes for applying margin.
$__summary: comment;

@import "resources/index";

.margin-left
{
    &
    {
        margin-left: var(--size-inline-spacing-large);
    }

    &-large
    {
        margin-left: var(--size-inline-spacing-large);
    }
}

.margin-right
{
    &
    {
        margin-right: var(--size-inline-spacing-large);
    }

    &-large
    {
        margin-right: var(--size-inline-spacing-large);
    }
}

/// Modifier class that applies the largest margin.
.margin-largest
{
    &,
    &-top
    {
        margin-top: 80rem;
    }

    &,
    &-left
    {
        margin-left: 80rem;
    }

    &,
    &-right
    {
        margin-right: 80rem;
    }

    &,
    &-bottom
    {
        margin-bottom: 80rem;
    }
}

/// Modifier class that applies the larger margin.
.margin-larger
{
    &,
    &-top
    {
        margin-top: 32rem;
    }

    &,
    &-left
    {
        margin-left: 32rem;
    }

    &,
    &-right
    {
        margin-right: 32rem;
    }

    &,
    &-bottom
    {
        margin-bottom: 32rem;
    }
}

/// Modifier class that applies the large margin.
.margin-large
{
    &,
    &-top
    {
        margin-top: 20rem;
    }

    &,
    &-left
    {
        margin-left: 20rem;
    }

    &,
    &-right
    {
        margin-right: 20rem;
    }

    &,
    &-bottom
    {
        margin-bottom: 20rem;
    }
}

/// Modifier class that applies the medium margin.
.margin-medium
{
    &,
    &-top
    {
        margin-top: 16rem;
    }

    &,
    &-left
    {
        margin-left: 16rem;
    }

    &,
    &-right
    {
        margin-right: 16rem;
    }

    &,
    &-bottom
    {
        margin-bottom: 16rem;
    }
}

/// Modifier class that applies the small margin.
.margin-small
{
    &,
    &-top
    {
        margin-top: 12rem;
    }

    &,
    &-left
    {
        margin-left: 12rem;
    }

    &,
    &-right
    {
        margin-right: 12rem;
    }

    &,
    &-bottom
    {
        margin-bottom: 12rem;
    }
}

/// Modifier class that applies the smaller margin.
.margin-smaller
{
    &,
    &-top
    {
        margin-top: 8rem;
    }

    &,
    &-left
    {
        margin-left: 8rem;
    }

    &,
    &-right
    {
        margin-right: 8rem;
    }

    &,
    &-bottom
    {
        margin-bottom: 8rem;
    }
}

/// Modifier class that applies the smallest margin.
.margin-smallest
{
    &,
    &-top
    {
        margin-top: 4rem;
    }

    &,
    &-left
    {
        margin-left: 4rem;
    }

    &,
    &-right
    {
        margin-right: 4rem;
    }

    &,
    &-bottom
    {
        margin-bottom: 4rem;
    }
}

/// Modifier class that applies auto margin.
.margin-auto
{
    &,
    &-top
    {
        margin-top: auto;
    }

    &,
    &-left
    {
        margin-left: auto;
    }

    &,
    &-right
    {
        margin-right: auto;
    }

    &,
    &-bottom
    {
        margin-bottom: auto;
    }
}
