<template>

    <require from="./route-overview.scss"></require>

    <page-section>

        <div class="control-row">

            <card class="flex-basis-1-of-4 text-align-center --non-clickable">

                <div class="font-small margin-bottom opacity-faded" translate>
                    Status
                </div>

                <div style="margin: auto; display: flex; align-items: center; justify-content: center; width: 35rem; height: 35rem; border-radius: 50%; border: 2rem solid var(--surface-positive-surface-color);">

                    <div>

                        <div class="font-small margin-bottom opacity-faded" translate>
                            Status
                        </div>

                        <div class="font-largest">
                            ${completedStops}/${route.stops.length}
                        </div>

                    </div>

                </div>

                <!-- <svg class="donut-graph" width="140" height="140" xmlns="http://www.w3.org/2000/svg">

                    <g>

                        <circle style="stroke-dasharray: 440;stroke-dashoffset: ${440 - (percentageDone/100) * 440};" r="69.85699" cy="81" cx="81" stroke-width="8" fill="none"/>

                    </g>

                </svg> -->

            </card>

            <card class="flex-basis-1-of-4 text-align-center --non-clickable">

                <div class="card-section-top card-section">

                    <div class="font-small margin-bottom opacity-faded" translate>
                        Colli picked up
                    </div>

                    <div class="font-largest">
                        ${pickedUpColliCount}
                    </div>

                    <div class="font-small margin-top" translate>

                        <span if.bind="pickedUpColliCount === totalColliCount">All colli picked up</span>
                        <span if.bind="pickedUpColliCount !== completedColliCount">${pickedUpColliCount}/${totalColliCount} has been picked up</span>

                    </div>

                </div>

                <div class="card-section-bottom card-section">

                    <div class="font-small margin-bottom opacity-faded" translate>
                        Colli delivered
                    </div>

                    <div class="font-largest">
                        ${deliveredColliCount}
                    </div>

                    <div class="font-small margin-top" translate>

                        <span if.bind="deliveredColliCount === totalColliCount">Every colli has been delivered</span>
                        <span if.bind="deliveredColliCount !== completedColliCount">${deliveredColliCount}/${totalColliCount} has been delivered</span>

                    </div>

                </div>

            </card>

            <card class="flex-basis-1-of-4 text-align-center --non-clickable">

                <div class="card-section-top card-section">

                    <div class="font-small opacity-faded" translate>
                        Route start time
                    </div>

                    <div class="font-largest">
                        ${route.stops[0].arrivalTime | dateTime: 'narrow' : false}
                    </div>

                    <div class="font-small" translate>
                        &nbsp;
                    </div>

                </div>

                <div class="card-section-bottom card-section">

                    <div class="font-small opacity-faded" translate>
                        Route duration
                    </div>

                    <div class="font-largest">
                        ${routeDuration | duration}
                    </div>

                    <div class="font-small" translate>
                        &nbsp;
                    </div>

                </div>

            </card>

            <card class="flex-basis-1-of-4 text-align-center --non-clickable">

                <div class="card-section-top card-section">

                    <div class="font-small margin-bottom opacity-faded" translate>
                        Estimated completion time
                    </div>

                    <div class="font-largest">
                        ${route.completionTime | time: 'narrow' : false}
                    </div>

                    <div if.bind="routeDelay != null" class="font-small margin-top" translate>
                        ${routeDelay | duration} delay
                    </div>

                </div>

                <div class="card-section-bottom card-section">

                    <div class="font-small margin-bottom opacity-faded" translate>
                        Time remaining
                    </div>

                    <div class="font-largest">
                        --:--
                    </div>

                    <div class="font-small margin-top" translate>
                        &nbsp;
                    </div>

                </div>

            </card>

        </div>

    </page-section>

</template>
