<template>

    <require from="./route-overview.scss"></require>
    <require from="app/components/linear-meter/linear-meter"></require>
    <require from="app/components/circular-meter/circular-meter"></require>

    <page-section>

        <div class="control-row">

            <!-- 1st card -->
            <card class="flex-basis-1-of-4 text-align-center --non-clickable">

                <div class="font-small opacity-faded" translate>
                    Completed stops
                </div>

                <circular-meter meterAccent="positive" percentage.bind="completedStops * 100 / route.stops.length">
                    <div class="font-largest" translate>
                        ${completedStops}/${route.stops.length}
                    </div>
                </circular-meter>

            </card>

            <!-- 2nd card -->
            <card class="flex-basis-1-of-4 text-align-center --non-clickable">

                <!-- Top section -->
                <div class="card-section-top card-section">

                    <div class="font-small opacity-faded">

                        <span if.bind="route.status.slug !== 'completed' && route.status.slug !== 'started'" translate>Total colli count</span>
                        <span if.bind="route.status.slug === 'completed' || route.status.slug === 'started'" translate>Colli picked up</span>

                    </div>

                    <div class="font-largest">

                        <span if.bind="route.status.slug !== 'completed' && route.status.slug !== 'started'">${totalColliCount}</span>
                        <span if.bind="route.status.slug === 'completed' || route.status.slug === 'started'">${pickedUpColliCount}</span>

                    </div>

                    <div class="font-small">

                        <span if.bind="totalColliCount === 0">&nbsp;</span>
                        <span if.bind="pickedUpColliCount === totalColliCount && totalColliCount !== 0" translate>All colli picked up</span>
                        <span if.bind="pickedUpColliCount !== completedColliCount" translate>${pickedUpColliCount}/${totalColliCount} has been picked up</span>

                    </div>

                </div>

                <!-- Bottom section -->
                <div class="card-section-bottom card-section">

                    <div class="font-small opacity-faded" translate>
                        Colli delivered
                    </div>

                    <div class="font-largest">

                        <span if.bind="route.status.slug !== 'completed' && route.status.slug !== 'started'">${totalColliCount}</span>
                        <span if.bind="route.status.slug === 'completed' || route.status.slug === 'started'">${deliveredColliCount}</span>

                    </div>

                    <div class="font-small">

                        <span if.bind="totalColliCount === 0">&nbsp;</span>
                        <span if.bind="deliveredColliCount === totalColliCount && totalColliCount !== 0" translate>Every colli has been delivered</span>
                        <span if.bind="deliveredColliCount !== completedColliCount" translate>${deliveredColliCount}/${totalColliCount} has been delivered</span>

                    </div>

                </div>

            </card>

            <!-- 3rd card -->
            <card class="flex-basis-1-of-4 text-align-center --non-clickable">

                <!-- Top section -->
                <div class="card-section-top card-section">

                    <div class="font-small opacity-faded">

                        <span if.bind="route.status.slug !== 'completed' && route.status.slug !== 'started'" translate>Scheduled route start</span>
                        <span if.bind="route.status.slug === 'completed' || route.status.slug === 'started'" translate>Route start</span>

                    </div>

                    <div
                        class="font-largest"
                        accent="${((route.status.slug === 'completed' || route.status.slug === 'started') && delayedStart.as('second') !== 0) ? 'negative' : 'neutral'}">
                        ${route.stops[0].arrivalTime | dateTime: 'narrow' : false}
                    </div>

                    <div class="font-small">

                        <span if.bind="route.status.slug !== 'completed' && route.status.slug !== 'started'">&nbsp;</span>
                        <span if.bind="(route.status.slug === 'completed' || route.status.slug === 'started') && delayedStart.as('second') !== 0">

                            <span if.bind="delayedStart.as('second') < 0" translate>Arrived ${delayedStart | duration} too early</span>
                            <span if.bind="delayedStart.as('second') > 0" translate>Delayed by ${delayedStart | duration}</span>

                        </span>

                    </div>

                </div>

                <!-- Bottom section -->
                <div class="card-section-bottom card-section">

                    <div class="font-small opacity-faded" translate>
                        Route duration
                    </div>

                    <div class="font-largest">
                        ${routeDuration | duration: 'narrow'}
                    </div>

                    <div class="font-small" translate>
                        &nbsp;
                    </div>

                </div>

            </card>

            <!-- 4th card -->
            <card class="flex-basis-1-of-4 text-align-center --non-clickable">

                <!-- Top section -->
                <div class="card-section-top card-section">

                    <div class="font-small opacity-faded" translate>
                        Estimated completion time
                    </div>

                    <div class="font-largest">

                        <span if.bind="route.status.slug === 'started'">${route.completionTime | time: 'narrow' : false}</span>
                        <span if.bind="route.status.slug !== 'started'">${route.completionTime | dateTime: 'narrow' : false}</span>

                    </div>

                    <div class="font-small" translate>
                        <span if.bind="routeDelay != null">${routeDelay | duration} delay</span if.bind="routeDelay != null">
                        <span if.bind="routeDelay == null">&nbsp;</span if.bind="routeDelay != null">
                    </div>

                </div>

                <!-- Bottom section -->
                <div if.bind="route.status.slug === 'started'" class="card-section-bottom card-section">

                    <div class="font-small opacity-faded" translate>
                        Driver status
                    </div>

                    <div class="font-largest">

                        <span if.bind="driverOnline" accent="positive" translate>Online</span>
                        <span if.bind="!driverOnline" accent="negative" translate>Offline</span>

                    </div>

                    <div class="font-small" translate>
                        &nbsp;
                    </div>

                </div>

                <div if.bind="route.status.slug === 'completed'" class="card-section-bottom card-section">

                    <div class="font-small opacity-faded" translate>
                        Rating
                    </div>

                    <div class="font-largest">
                        ${route.overallRating}/5
                    </div>

                    <div class="font-small" translate>
                        &nbsp;
                    </div>

                </div>

                <div if.bind="route.status.slug !== 'completed' && route.status.slug !== 'started'" class="card-section-bottom card-section">

                    <div class="font-small opacity-faded" translate>
                        Difficulty
                    </div>

                    <linear-meter if.bind="route.criticality != null" percentage.bind="route.criticality"></linear-meter>
                    <div class="font-largest" if.bind="route.criticality == null">--</div>

                    <div class="font-small" translate>
                        &nbsp;
                    </div>

                </div>
                <!-- Bottom section end -->

            </card>

        </div>

    </page-section>

</template>
