<template class="
    ${toggle ? '--toggle' : ''}
    ${expanded || !toggle ? '--expanded' : ''}
    ${invalid || invalid == null && validation.invalid ? '--invalid' : ''}
    ${headerSlotEmpty ? '--header-slot-empty' : ''}"
    validation
    validation.ref="validation">

    <require from="./modal-section.scss"></require>

    <button
        appearance="none"
        class="modal-section-header font-large"
        disabled.bind="headerSlotEmpty"
        click.trigger="onHeaderClick()">

        <div
            if.bind="toggle"
            class="modal-section-header-toggle">

            <span></span>
            <span></span>

        </div>

        <div class="modal-section-header-content">
            <slot name="header"></slot>
        </div>

    </button>

    <div show.bind="expanded && !defaultSlotEmpty" class="modal-section-content">
        <slot></slot>
    </div>

</template>
