order-accordion
{
    border: var(--border-width-thin) solid var(--border-color);
    border-radius: var(--border-radius-medium);
    transition: background-color var(--animation-duration-medium);

    &:not(:first-child)
    {
        margin-top: 1rem;
    }

    .order-accordion-header
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 3rem 0;
        background-color: var(--surface-color);
        cursor: pointer;

        &:hover
        {
            background-color: var(--surface-color--hover);
        }

        .order-accordion-header-content
        {
            flex-grow: 1;
            display: grid;
            grid-template-columns: 3fr 2fr 1.25fr 2fr;

            > *
            {
                min-width: 0;
                padding: 0 5rem;
            }
        }

        .order-accordion-header-toggle
        {
            position: absolute;
            right: 5rem;
            height: 2rem;
            width: 2rem;
            border: 0;
            border-bottom-width: var(--border-width-thin);
            border-right-width: var(--border-width-thin);
            border-style: solid;
            border-color: var(--surface-primary-icon-color) !important;
            transform: rotate(-45deg);
            transition: transform var(--animation-duration-medium);
        }
    }

    .order-accordion-content
    {
        --surface-color: transparent;

        background-color: var(--surface-color);

        data-table
        {
            --data-table-columns: 3fr 2fr 1.25fr 2fr;

            line-height: var(--font-large-line-height);

            data-table-cell
            {
                min-height: calc(var(--font-large-line-height) + 2 * 3rem);
                padding: 3rem 5rem;
            }

            .data-table-row:nth-child(n+5)
            {
                display: none;
            }
        }

        .order-accordion-table-toggle
        {
            display: flex;
            padding: 3rem 5rem 3rem 5rem;
            border-top-width: var(--border-width-thin) !important;
            border-top-style: solid !important;
            border-top-color: var(--border-color) !important;
            margin-top: -0.25rem;
        }

        &.--expanded
        {
            data-table .data-table-row:nth-child(n+5)
            {
                display: contents;
            }
        }
    }

    &.--expanded
    {
        border-color: var(--border-color--active);

        .order-accordion-header
        {
            background-color: var(--surface-color--active);

            .order-accordion-header-toggle
            {
                transform: rotate(-135deg);
            }
        }

        .order-accordion-content
        {
            border-top: var(--border-width-thin) solid var(--border-color--active);
        }
    }
}
