<template>

    <require from="./order-accordion.scss"></require>

    <div
        repeat.for="order of orders"
        class="order-accordion-card
        ${order.orderId == expandedOrder.orderId ? '--expanded' : ''}">

        <div class="order-accordion-card-head" click.trigger="onAccordionHeadClick(order)">

            <div>
                <span translate>
                    Order:
                </span>
                <a href="/orders/details/${pickup.orderSlug}">
                    ${delivery.orderSlug}
                </a>
            </div>

            <div translate>
                ${order.colli.length | number} colli
            </div>

            <div translate>
                TODO kg
            </div>

            <div translate>
                TODO m³
            </div>

            <div class="order-accordion-toggle"></div>

        </div>

        <div
            if.bind="order.colli.length > 0"
            class="order-accordion-card-content
            ${tableExpanded ? '--expanded' : ''}">

            <data-table
                appearance="rows">

                <data-table-headers>

                    <data-table-cell>
                        <span class="opacity-faded text-truncate font-small" translate>
                            Collo ID
                        </span>
                    </data-table-cell>

                    <data-table-cell>
                        <span class="opacity-faded text-truncate font-small" translate>
                            Scanning method
                        </span>
                    </data-table-cell>

                    <data-table-cell>
                        <span class="opacity-faded text-truncate font-small" translate>
                            Image
                        </span>
                    </data-table-cell>

                    <data-table-cell>
                        <span class="opacity-faded text-truncate font-small" translate>
                            Status
                        </span>
                    </data-table-cell>

                </data-table-headers>

                <template repeat.for="collo of order.colli">

                    <data-table-row
                        model.bind="collo"
                        clickable.bind="false">

                        <data-table-cell>
                            <span
                                class="order-collo text-truncate font-small"
                                title="${collo.barcode}">
                                ${collo.barcode}
                            </span>
                            <div if.bind="collo.origin.slug != 'regular'" class="opacity-faded font-small collo-origin">
                                ${collo.origin.name}
                            </div>
                        </data-table-cell>

                        <data-table-cell>
                            <span class="order-collo text-truncate font-small">
                                ${collo.scanMethod.name}
                            </span>
                        </data-table-cell>

                        <data-table-cell>
                            <span class="order-collo text-truncate font-small">
                                ${collo.scanImageUrl ? "YES" : "NO"}
                            </span>
                        </data-table-cell>

                        <data-table-cell>
                            <span class="text-truncate font-small">
                                ${collo.status.name}
                            </span>
                        </data-table-cell>

                    </data-table-row>

                </template>

            </data-table>
            <a if.bind="order.colli.length > 3" class="order-accordion-table-toggle font-small" click.trigger="onToggleTableClick()">
                <span if.bind="tableExpanded" translate>Show less</span>
                <span if.bind="!tableExpanded" translate>Show more</span>
            </a>
        </div>

    </div>

</template>
