@import "shared/src/webKit/constants.scss";

.c-marker {
  // width: auto;
}

.c-marker-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  .c-marker-top {
    width: 28px;
    height: 19px;
    border-radius: $borderRadius;
    background-color: $colorBackgroundPrimary;
  }

  .c-marker-line {
    height: 6px;
    width: 3px;
    background-color: $colorBackgroundPrimary;
  }

  .c-marker-bottom {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
    border: 3.5px solid $colorBackgroundPrimary;
  }
}

.c-infoWindow {
  width: 232px;
  padding-bottom: 10px;

  .c-infoWindow-top {
    height: 28px;
    background-color: $colorAlert;
  }

  .c-infoWindow-content {
    background-color: white;
    height: 210px;
  }
}
