////
/// @group themes/mover/palettes/color
////

/// Theme specific color palette.
$__summary: comment;


/* stylelint-disable no-duplicate-selectors, scss/selector-no-redundant-nesting-selector */

/// The neutral color and its variations.
:root
{
    --palette-color-whitepoint: white;
    --palette-color-neutral-lightest: hsl(240, 14%, 99%);
    --palette-color-neutral-lighter: hsl(240, 24%, 98%);
    --palette-color-neutral-light: hsl(230, 14%, 96%);
    --palette-color-neutral: hsl(220, 14%, 87%);
    --palette-color-neutral-dark: hsl(210, 6%, 43%);
    --palette-color-neutral-darker: hsl(353, 15%, 20%);
    --palette-color-blackpoint: black;
}

/// The primary color and its variations.
:root
{
    --palette-color-primary-lighter: hsl(353, 100%, 94%);
    --palette-color-primary-light: hsl(353, 47%, 65%);
    --palette-color-primary: hsl(353, 100%, 39%);
    --palette-color-primary-dark: hsl(353, 86%, 28%);
    --palette-color-primary-darker: hsl(353, 86%, 26%);
    --palette-color-primary-darkest: hsl(353, 54%, 20%);

    --palette-color-primary--hover: #b90619;
    --palette-color-primary--active: #b00a1a;
    --palette-color-primary--child: hsl(353, 86%, 28%);
    --palette-color-primary--child-hover: #7b0d19;
}

/// The accent color indicating information.
:root
{
    --palette-color-info-lighter: hsl(249, 100%, 94%);
    --palette-color-info-light: hsl(249, 46%, 64%);
    --palette-color-info: hsl(249, 46%, 54%);
    --palette-color-info-dark: hsl(249, 46%, 44%);
    --palette-color-info-darker: hsl(249, 46%, 34%);
}

/// The accent color indicating that something is good or safe.
:root
{
    --palette-color-positive-lighter: hsl(134, 100%, 94%);
    --palette-color-positive-light: hsl(134, 61%, 51%);;
    --palette-color-positive: hsl(134, 61%, 41%);
    --palette-color-positive-dark: hsl(134, 61%, 31%);
    --palette-color-positive-darker: hsl(134, 61%, 21%);
}

/// The accent color indicating that something requires attention.
:root
{
    --palette-color-attention-lighter: hsl(40, 100%, 94%);
    --palette-color-attention-light: hsl(40, 100%, 60%);
    --palette-color-attention: hsl(40, 100%, 50%);
    --palette-color-attention-dark: hsl(40, 100%, 40%);
    --palette-color-attention-darker: hsl(40, 100%, 20%);
}

/// The accent color indicating that something is bad or unsafe.
:root
{
    --palette-color-negative-lighter: hsl(350, 100%, 94%);
    --palette-color-negative-light: hsl(355, 70%, 57%);
    --palette-color-negative: hsl(355, 70%, 47%);
    --palette-color-negative-dark: hsl(355, 70%, 37%);
    --palette-color-negative-darker: hsl(355, 70%, 27%);
}

/// The color used to highlight text, e.g. because it matches a search query.
:root
{
    --palette-color-mark: var(--palette-color-attention);
}
