////
/// @group themes/mover/palettes/color
////

/// Theme specific color palette.
$__summary: comment;


/* stylelint-disable no-duplicate-selectors, scss/selector-no-redundant-nesting-selector */

/// The neutral color and its variations.
:root
{
    --palette-color-whitepoint: white;
    --palette-color-neutral-lightest: #fbfbfb;
    --palette-color-neutral-lighter: #f8f8f8;
    --palette-color-neutral-light: #f3f3f3;
    --palette-color-neutral: #e4e4e4;
    --palette-color-neutral-dim: #b9b7b7;
    --palette-color-neutral-dark: #686868;
    --palette-color-neutral-darker: #380006;
    --palette-color-blackpoint: black;
}

/// The primary color and its variations.
:root
{
    --palette-color-primary-lighter: #fdeff0;
    --palette-color-primary-light: #da0018;
    --palette-color-primary: #c80016;
    --palette-color-primary-dark: #a20116;
    --palette-color-primary-darker: #950010;
    --palette-color-primary-darkest: #380006;

    --palette-color-primary--hover: #ae0418;
    --palette-color-primary--active: #950415;
    --palette-color-primary--child: #7c0311;
    --palette-color-primary--child-hover: #63030e;
}

/// The accent color indicating information.
:root
{
    --palette-color-info-lighter: #e5e0ff;
    --palette-color-info-light: #8679cd;
    --palette-color-info: #6454c0;
    --palette-color-info-dark: #4c3da4;
    --palette-color-info-darker: #3b2f7f;
}

/// The accent color indicating that something is good or safe.
:root
{
    --palette-color-positive-lighter: #e0ffe8;
    --palette-color-positive-light: #36ce59;
    --palette-color-positive: #29a847;
    --palette-color-positive-dark: #1f7f35;
    --palette-color-positive-darker: #155624;
}

/// The accent color indicating that something requires attention.
:root
{
    --palette-color-attention-lighter: #fff5e0;
    --palette-color-attention-light: #ffbb33;
    --palette-color-attention: #ffaa00;
    --palette-color-attention-dark: #cc8800;
    --palette-color-attention-darker: #664400;
}

/// The accent color indicating that something is bad or unsafe.
:root
{
    --palette-color-negative-lighter: #ffe0e5;
    --palette-color-negative-light: #de4551;
    --palette-color-negative: #cc2432;
    --palette-color-negative-dark: #a01c27;
    --palette-color-negative-darker: #75151d;
}

/// The color used to highlight text, e.g. because it matches a search query.
:root
{
    --palette-color-mark: var(--palette-color-attention);
}

/// The colors used for data visualization.
:root
{
    --palette-color-data-1: #268bbc;
    --palette-color-data-2: #1acce2;
    --palette-color-data-3: #26bcae;
    --palette-color-data-4: #c1e21a;
    --palette-color-data-5: #db9726;
    --palette-color-data-6: #ff5555;
    --palette-color-data-7: #e21aa7;
    --palette-color-data-8: #bd10e0;
}
