url-input
{
    > label > .input-control > .input-control-inner
    {
        input
        {
            // Remove the default browser styling.
            appearance: none;
            border: none;
            border-radius: 0;
            background: transparent;
            color: inherit;

            // Inherit font-size and line-height, to ensure correct vertical alignment.
            font-size: inherit;
            line-height: inherit;
        }
    }
}
