<template validation>

    <require from="app/components/identity-picture-picker/identity-picture-picker"></require>
    <require from="./profile-pane.scss"></require>

    <modal-section>

        <identity-picture-picker scroll-fade="0.5" initials.bind="initials" gravatar.bind="model.email" value.bind="model.pictureUrl">

            <div slot="heading" translate>
                Picture
            </div>

            <div slot="description" translate>
                Make sure to use a picture that is professional<br>
                and helps other users recognize you.
            </div>

        </identity-picture-picker>

        <text-input class="margin-double-top" label="above" value.bind="model.fullName" autocomplete="name">

            <div slot="heading" translate>
                Full name
            </div>

            <div slot="description" translate>
                This is the name other users will see in your profile.<br>
                Make sure this is accurate, so other users know its you.
            </div>

            <div slot="validation">

                <required-validator
                    value.bind="model.fullName">
                </required-validator>

            </div>

        </text-input>

        <text-input class="margin-double-top" label="above" value.bind="model.preferredName" autocomplete="given-name">

            <div slot="heading" translate>
                Preferred name
            </div>

            <div slot="description" translate>
                This is the name you would prefer to go by.<br>
                In most places, this will be shown instead of your full name.
            </div>

            <div slot="validation">

                <required-validator
                    value.bind="model.preferredName">
                </required-validator>

            </div>

        </text-input>

        <email-input class="margin-double-top" label="above" value.bind="model.email" autocomplete="email" readonly.bind="model.currentPassword == null">

            <div slot="heading" translate>
                Email
            </div>

            <div slot="description" translate>
                This is the email you use to sign in, and to which account info may be sent.<br>
                Note that this will be visible to other users.
            </div>

            <div slot="after">
                <input-lock unlock.call="onInputUnlock()">
                    <icon name="md-lock-open"></icon>
                </input-lock>
            </div>

            <div slot="validation">

                <required-validator
                    value.bind="model.email">
                </required-validator>

            </div>

        </email-input>

        <div if.bind="!model.emailVerified" class="margin-small-top font-small" translate>
            This email is not verified
        </div>

        <phone-input if-environment="development" class="margin-double-top" label="above" value.bind="model.phone" autocomplete="tel" readonly.bind="model.currentPassword == null">

            <div slot="heading" translate>
                Phone number
            </div>

            <div slot="description" translate>
                This is the phone number on which you can be contacted.
                Note that this will be visible to other users.
            </div>

            <div slot="after">
                <input-lock unlock.call="onInputUnlock()">
                    <icon name="md-lock-open"></icon>
                </input-lock>
            </div>

        </phone-input>

    </modal-section>

</template>
