modal-panel[name="account"] profile-pane
{
    --identity-picture-width: 128rem;
    --identity-picture-height: 128rem;
    --identity-picture-margin-right: 18rem;
    --identity-picture-border-radius: 50%;
}
