.c-singlePriceTerms {
  .c-singlePriceTerms-subHeadline {
    margin-bottom: 12px;
    margin-top: 24px;
  }

  .c-singlePriceTerms-termContainer {
    .c-singlePriceTerms-title {
      margin-bottom: 12px;
      margin-top: 16px;
    }

    .c-singlePriceTerms-inputs {
      display: flex;
      flex-direction: row;
      align-items: center;

      > * {
        margin-right: 12px;
      }
    }
  }

  .c-singlePriceTerms-additionalInfo {
    .c-singlePriceTerms-inputName {
      display: block;
      width: 600px;
      margin-bottom: 12px;
    }

    .c-singlePriceTerms-note {
      width: 600px;
    }
  }
}
