<template>

    <require from="./vehicle-groups.scss"></require>

    <page-section class="no-start-locations" if.bind="settings.vehicleGroups.length == 0">

        <empty-indicator class="margin-largest-top">

            <span slot="heading" translate>
                No vehicle groups specified
            </span>

            <div slot="details">

                <button
                    appearance="outline"
                    class="flex-row"
                    accent="primary"
                    click.delegate="onCreateVehicleGroupClick()">

                    <icon name="plus-small" class="margin-right"></icon>

                    <span translate>
                        New vehicle group
                    </span>

                </button>

                <div class="font-small margin-large-top">

                    <invalid-validator>

                        <template replace-part="invalid" translate>
                            Please add at least one vehicle group.
                        </template>

                    </invalid-validator>

                </div>

            </div>

        </empty-indicator>

    </page-section>

    <page-section if.bind="settings.vehicleGroups.length > 0">

        <div class="flex-row font-largest margin-bottom" tabindex="-1" autofocus="visible.bind: false">

            <div translate>
                Vehicle groups
            </div>

            <button appearance="outline" accent="primary" click.trigger="onCreateVehicleGroupClick()" class="flex-row font-base --button-position-right">
                <icon name="plus-small" class="margin-right"></icon>
                <span translate>
                    New vehicle rule
                </span>
            </button>

        </div>

        <div class="margin-large-bottom" translate>
            Here you can create different vehicle groups with similar characteristics and limitations.
        </div>

        <data-table appearance="rows">

            <data-table-headers>

                <data-table-cell>
                    <span class="text-truncate" translate>
                        Name
                    </span>
                </data-table-cell>

                <data-table-cell>
                    <span class="text-truncate" translate>
                        Vehicle type
                    </span>
                </data-table-cell>

                <data-table-cell>
                    <span class="text-truncate" translate>
                        Max volume
                    </span>
                </data-table-cell>

                <data-table-cell>
                    <span class="text-truncate" translate>
                        Max stops
                    </span>
                </data-table-cell>

                <data-table-cell>
                    <span class="text-truncate" translate>
                        Max weight
                    </span>
                </data-table-cell>

                <data-table-cell>
                    <span class="text-truncate" translate>
                        Max distance
                    </span>
                </data-table-cell>

                <data-table-cell align="right">
                    <!-- Icons -->
                </data-table-cell>

            </data-table-headers>

            <template repeat.for="vehicleGroup of settings.vehicleGroups">

                <data-table-row
                    model.bind="vehicleGroup"
                    click.call="onVehicleGroupClick(vehicleGroup, false)">

                    <data-table-cell>
                        <div class="text-truncate">
                            ${vehicleGroup.name}
                        </div>
                    </data-table-cell>

                    <data-table-cell>
                        <span class="text-truncate">
                            ${vehicleGroup.vehicleType.name}
                        </span>
                    </data-table-cell>

                    <data-table-cell>
                        <span class="text-truncate">
                            ${vehicleGroup.limits.volume | number} m³
                        </span>
                    </data-table-cell>

                    <data-table-cell>
                        <span class="text-truncate">
                            ${vehicleGroup.limits.stopCount | number}
                            <span translate>
                                stops
                            </span>
                        </span>
                    </data-table-cell>

                    <data-table-cell>
                        <span class="text-truncate">
                            ${vehicleGroup.limits.weight | number} kg
                        </span>
                    </data-table-cell>

                    <data-table-cell>
                        <span class="text-truncate">
                            ${vehicleGroup.limits.distance | scale: 1/1000 | number} km
                        </span>
                    </data-table-cell>

                    <data-table-cell align="right">

                        <div if.bind="!vehicleGroup.hidden" if-claims="edit-routes" class="icon-row">

                            <button
                                title.translate="Delete rule"
                                class="icon-row"
                                appearance="none"
                                accent="primary"
                                click.trigger="onRemoveVehicleGroupClick(vehicleGroup)">

                                <icon name="delete-small"></icon>

                            </button>

                        </div>

                    </data-table-cell>

                </data-table-row>

            </template>

        </data-table>

    </page-section>

</template>
