grid-layout
{
    display: block;

    // Set the default card size.
    --card-width: 300rem;
    --card-height: 160rem;

    // The distance between each column.
    --grid-layout-column-gap: 20rem;

    // The distance between each row.
    --grid-layout-row-gap: 20rem;

    .grid-layout-items
    {
        // Use horizontal flex layout, with wrapping.
        display: flex;
        flex-wrap: wrap;

        // Apply negative margins to compensate for the row and column gap.
        margin-right: calc(-1 * var(--grid-layout-column-gap));
        margin-bottom: calc(-1 * var(--grid-layout-row-gap));

        // Set the row and column gap.
        > *
        {
            margin-right: var(--grid-layout-column-gap);
            margin-bottom: var(--grid-layout-row-gap);
        }
    }
}
