.c-liveTracking-routePanel {
  height: 100%;
  overflow-y: scroll;
}

.c-liveTracking-stops-loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
