@import "../constants.scss";

.c-contentBox {
  background-color: white;
  display: flex;
  flex-direction: column;

  .title {
    height: 52px;
    display: flex;
    background-color: $colorNeutralExtraLight;
    align-items: center;
    padding: 0 30px;
  }

  .content {
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: $mediaBig) {
  .c-contentBox {}
}
@media (min-width: $mediaIpadV) and (max-width: $mediaIpadH) {
  .c-contentBox {}
}
@media (max-width: $mediaIpadV - 1) {
  .c-contentBox {}
}
