@import "resources/index";

page[name="routes"] page[name="list-views"]
{
    data-table-details
    {
        background: var(--surface-color);
        cursor: default;
    }

    page-header
    {
        border-bottom: none;
    }

    page-tab-nav
    {
        position: relative;
        z-index: 10;
    }

    list-view-selector
    {
        padding-top: 10rem;
        padding-bottom: 10rem;

        dropdown
        {
            min-width: 160rem !important;
        }
    }
}
