dropdown-button
{
    position: relative;
    display: block;

    > button
    {
        display: flex;

        dropdown
        {
            display: flex;
            text-align: left;
        }

        dropdown-icon
        {
            // Push to the right.
            margin-left: auto;
        }

        [slot="label"]
        {
            // Apply spacing between padding.
            margin-right: var(--size-inline-spacing-large);

            // Center content on the cross axis, if flex layout is applied.
            align-items: center;
        }

        [slot="icon"]
        {
            // Use flex layout.
            display: flex;

            // Center content.
            align-items: center;
            justify-content: center;

            // Set line height to ensure correct vertical alignment.
            line-height: 1;

            // Set the size of the icon, in proportion to the text.
            font-size: var(--dropdown-icon-size);

            // Apply opacity to de-emphasize the icon.
            opacity: var(--opacity-faded);
        }
    }
}
