<template>

    <require from="./create-organization.scss"></require>

    <template if.bind="!model.busy && !model.done">

        <div validation validation.ref="validation" keydown.delegate="onKeyDown($event)">

            <text-input value.bind="model.organizationName" autocomplete="organization" autofocus>

                <span slot="placeholder" translate>
                    Organization name
                </span>

                <div slot="validation">

                    <required-validator
                        value.bind="model.organizationName">
                    </required-validator>

                </div>

            </text-input>

            <div surface="base">

                <button class="margin-top" appearance="solid" accent="primary" translate click.delegate="onCreateOrganizationClick()">
                    Create organization
                </button>

            </div>

        </div>

    </template>

    <template if.bind="model.busy && !model.done">

        <busy-indicator class="font-largest animation-fade-in-medium au-enter-active" translate>
            Creating<br>
            organization…
        </busy-indicator>

    </template>

    <template if.bind="!model.busy && model.done">

        <div class="font-large" translate>
            Organization created
        </div>

    </template>

</template>
