# Because this contains temporary files created by Chrome.
/.chrome/

# Because this is a log file that may be created by NPM.
/npm-debug.log

# Because this contains dependencies installed by NPM.
/node_modules/

# Because this contains build artifacts.
/artifacts/

# Because this is a file that may be generated during build.
/src/resources/translations/en-US-x-pseudo.json