<template ref="element" class="--status-${routeStop.status.slug}">

    <require from="./components/route-stop-map-popover/route-stop-map-popover"></require>

    <require from="./route-stop-map-feature.scss" as="scoped"></require>

    <google-map-html-marker
        content.bind="element"
        point.bind="point"
        z-index.bind="200"
        click.call="onClick != null ? onClick() : undefined"
        dblclick.call="onDblClick != null ? onDblClick() : undefined">

        ${routeStop.stopNumber}

        <div
            if.bind="routeStop.hasAlert"
            class="route-stop-map-feature-indicator --accent-negative">
        </div>

        <div
            if.bind="!routeStop.hasAlert && routeStop.hasWarning"
            class="route-stop-map-feature-indicator --accent-attention">
        </div>

        <route-stop-map-popover
            route-stop.bind="routeStop">
        </route-stop-map-popover>

    </google-map-html-marker>

</template>
