tab-nav
{
    // Use horizontal flex layout.
    display: flex;

    // Set the text color and font weight.
    color: var(--color-surface-primary-text);
    font-weight: 500;

    &[appearance="solid"]
    {
        // Apply a border around the tabs.
        border: var(--border-width-medium) solid var(--color-surface-neutral-border);
        border-radius: var(--border-radius-medium);
    }
}
