@import "resources/index";

tab-nav
{
    // Use horizontal flex layout.
    display: flex;

    // Set the text color and font weight.
    color: var(--surface-primary-text-color);
    font-weight: 500;

    &:not([appearance]),
    &[appearance="tabs"]
    {
        // Apply a border along the bottom of the tabs.
        border-bottom: var(--tab-border-width) solid var(--surface-neutral-border-color);
    }

    &[appearance="solid"]
    {
        // Apply a border around the tabs.
        border: var(--tab-border-width) solid var(--surface-neutral-border-color);
        border-radius: var(--border-radius-medium);
    }
}
