@import "resources/index";

tab-nav
{
    // Use horizontal flex layout.
    display: flex;

    // Set the text color and font weight.
    color: var(--color-surface-primary-text);
    font-weight: 500;

    &:not([appearance]),
    &[appearance="tabs"]
    {
        // Apply a border along the bottom of the tabs.
        border-bottom: var(--button-border-width) solid var(--color-surface-neutral-border);
    }

    &[appearance="solid"]
    {
        // Apply a border around the tabs.
        border: var(--button-border-width) solid var(--color-surface-neutral-border);
        border-radius: var(--border-radius-medium);
    }
}
