tab
{
    // Style to appear as a button.
    padding: 0 3.5rem;
    min-width: 10rem;
    line-height: calc(10rem - 2 * var(--border-width-medium));
    text-align: center;
    cursor: pointer;

    &:not(:last-child)
    {
        border-right: var(--border-width-medium) solid var(--color-surface-neutral-border);
    }

    &.--active
    {
        background: var(--color-surface-neutral-surface);
        color: var(--color-surface-neutral-text);
    }
}
