@import "resources/index";

tab
{
    display: block;
    position: relative;
    cursor: pointer;

    &:focus-within
    {
        // Increase the z-index, so the focus outline is
        // not covered by other tabs.
        z-index: 1;
    }

    &.--invalid
    {
        // Use negative accent color if the tab is invalid.
        // Note that this will be overridden if the tab is active.
        color: var(--color-surface-negative-text);
    }

    &.--disabled
    {
        // Reduce opacity when disabled.
        opacity: var(--opacity-disabled);
    }

    tab-nav[appearance="text"] &
    {
        &:not(:last-child)
        {
            // Apply margin between the tabs.
            margin-right: 6rem;
        }

        &.--active
        {
            // Highlight the active tab.
            color: var(--color-surface-neutral-text);
        }
    }

    tab-nav:not([appearance]) &,
    tab-nav[appearance="tabs"] &,
    tab-nav[appearance="solid"] &,
    tab-nav[appearance="outline"] &
    {
        button
        {
            min-width: 30rem;

            // Style to appear as a button.
            padding: 0 3.5rem;
            text-align: center;
        }
    }

    tab-nav:not([appearance]) &,
    tab-nav[appearance="tabs"] &
    {
        // Fill the available space.
        flex-grow: 1;

        button
        {
            width: 100%;

            // Compensate for the border along the bottom of the tabs.
            line-height: calc(10rem - var(--button-border-width));
        }

        &.--active button
        {
            // Highlight the active tab.
            background: var(--color-surface-neutral-surface);
            color: var(--color-surface-neutral-text);
            border-top-left-radius: var(--border-radius-medium);
            border-top-right-radius: var(--border-radius-medium);
        }
    }

    tab-nav[appearance="solid"] &
    {
        button
        {
            // Fill the available space.
            flex-grow: 1;

            // Compensate for the border around the tabs.
            line-height: calc(10rem - 2 * var(--button-border-width));
        }

        &:not(:last-child) button
        {
            // Apply a border between the tabs.
            border-right: var(--button-border-width) solid var(--color-surface-neutral-border);
        }

        &.--active button
        {
            // Highlight the active tab.
            background: var(--color-surface-neutral-surface);
            color: var(--color-surface-neutral-text);
        }
    }

    tab-nav[appearance="outline"] &
    {
        button
        {
            // Apply a border around the tab.
            border: var(--button-border-width) solid transparent;
            border-radius: var(--border-radius-medium);

            // Compensate for the border around the tab.
            line-height: calc(10rem - 2 * var(--button-border-width));
        }

        &.--active button
        {
            // Highlight the active tab.
            border-color: var(--color-surface-neutral-border);
            color: var(--color-surface-neutral-text);
        }
    }
}
