@import "resources/index";

tab
{
    /// The min-width of the component.
    --tab-min-width: 120rem;

    /// The min-height of the component.
    --tab-min-height: 40rem;

    /// The padding of the component.
    --tab-padding: 0 14rem;

    /// The spacing between the tabs with appearance `text`.
    --tab-spacing: 24rem;

    /// The color of the surface of the component.
    /// Note: This should be customized for each theme surface.
    --tab-surface-color: transparent;
    --tab-surface-color--active: var(--surface-neutral-surface-color);

    /// The color of the text on the surface of the component.
    /// Note: This should be customized for each theme surface.
    --tab-surface-text-color: var(--surface-neutral-text-color);
    --tab-surface-text-color--active: var(--surface-neutral-text-color);
}

tab
{
    display: block;
    position: relative;
    cursor: pointer;

    &:focus-within
    {
        // Increase the z-index, so the focus outline is
        // not covered by other tabs.
        z-index: 1;
    }

    &.--invalid
    {
        // Use negative accent color if the tab is invalid.
        // Note that this will be overridden if the tab is active.
        color: var(--surface-negative-text-color);
    }

    &.--disabled
    {
        // Reduce opacity when disabled.
        opacity: var(--opacity-disabled);
    }

    tab-nav[appearance="text"] &
    {
        &:not(:last-child)
        {
            // Apply margin between the tabs.
            margin-right: var(--tab-spacing);
        }

        &.--active
        {
            // Apply colors for the active tab.
            color: var(--tab-surface-text-color--active);
        }
    }

    tab-nav:not([appearance]) &,
    tab-nav[appearance="tabs"] &,
    tab-nav[appearance="solid"] &,
    tab-nav[appearance="outline"] &
    {
        button
        {
            // Apply a min-width to the tab.
            min-width: var(--tab-min-width);

            // Style to appear as a button.
            padding: var(--tab-padding);
            text-align: center;
        }
    }

    tab-nav:not([appearance]) &,
    tab-nav[appearance="tabs"] &
    {
        // Fill the available space.
        flex-grow: 1;

        button
        {
            width: 100%;

            // Compensate for the border along the bottom of the tabs.
            line-height: calc(var(--tab-min-height) - 2 * var(--tab-nav-border-width));

            // Apply a border around each tab.
            border: var(--tab-nav-border-width) solid transparent;
            margin-bottom: calc(-1 * var(--tab-nav-border-width));

            // Apply colors for inactive tabs.
            background: var(--tab-surface-color);
            color: var(--tab-surface-text-color);
        }

        &.--active button
        {
            // Apply colors for the active tab.
            background: var(--tab-surface-color--active);
            color: var(--tab-surface-text-color--active);
            border-color: var(--tab-nav-border-color);
            border-bottom-color: transparent;
            border-top-left-radius: var(--tab-nav-border-radius);
            border-top-right-radius: var(--tab-nav-border-radius);
        }
    }

    tab-nav[appearance="solid"] &
    {
        button
        {
            // Fill the available space.
            flex-grow: 1;

            // Compensate for the border around the tabs.
            line-height: calc(var(--tab-min-height) - 2 * var(--tab-nav-border-width));

            // Apply colors for inactive tabs.
            background: var(--tab-surface-color);
            color: var(--tab-surface-text-color);
        }

        &:not(:last-child) button
        {
            // Apply a border between the tabs.
            border-right: var(--tab-nav-border-width) solid var(--tab-nav-border-color);
        }

        &.--active button
        {
            // Apply colors for the active tab.
            background: var(--tab-surface-color--active);
            color: var(--tab-surface-text-color--active);
        }
    }

    tab-nav[appearance="outline"] &
    {
        button
        {
            // Apply a border around the tab.
            border: var(--tab-nav-border-width) solid transparent;
            border-radius: var(--tab-nav-border-radius);

            // Compensate for the border around the tab.
            line-height: calc(var(--tab-min-height) - 2 * var(--tab-nav-border-width));
        }

        &.--active button
        {
            // Apply colors for the active tab.
            border-color: var(--tab-nav-border-color);
            color: var(--tab-surface-text-color--active);
        }
    }
}
