@import "base/resources/index";

app-name
{
    display: block;

    // Lighten the icon to increase contrast.
    filter: brightness(90%);

    // Animate the hover effect.
    transition: filter var(--animation-duration-short);

    &:hover
    {
        // Highlight on hover.
        filter: brightness(100%);
    }
}
