modal-panel[name="select-columns"]
{
    --panel-surface-color: var(--surface-color);

    --modal-panel-min-width: 570rem;

    data-table
    {
        --data-table-columns: 1fr 130rem;
    }

    .select-columns-width-cell
    {
        --surface-input-border-color: var(--panel-surface-color);
        --surface-input-surface-color: var(--panel-surface-color);
        --surface-input-border-color--hover: var(--panel-surface-color);
        --surface-input-surface-color--hover: var(--panel-surface-color);
        --surface-input-border-color--focus: var(--panel-surface-color);
        --surface-input-surface-color--focus: var(--panel-surface-color);

        .input-placeholder
        {
            display: none !important;
        }

        padding-top: 0;
        padding-bottom: 0;
    }
}
