@import "../constants.scss";

$start: 0;
$top: calc(#{$backofficeTopMenu} + 50px);
$speed: 300ms;

.c-toast {
  @include horizontalMid;
  z-index: 10000;
  position: fixed;
  top: $top;
  min-width: 660px;
  max-width: 1200px;
  animation: moveInToast $speed;
  display: flex;
  align-items: center;
  background-color: white;

  .c-toast-icon {
    width: 60px;
    height: 42px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .c-toast-message {
    border: 1px solid $colorNeutralLight;
    border-left: 0;
    padding: 12px 0 12px 15px;
    flex: 1;
    display: flex;

    > *:not(.c-toast-close) {
      font-weight: $fontSemibold;
      text-decoration: underline;
      padding-left: 8px;
      cursor: pointer;
      display: inline-block;
    }

    .c-toast-close {
      width: 14px;
      height: 14px;
      cursor: pointer;
      margin-right: 20px;
      margin-left: auto;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        @include horizontalMid;
        margin-left: -1px;
        height: 100%;
        width: 1px;
        background-color: $colorBackgroundPrimary;
        transform: rotate(45deg);
      }

      &:after {
        content: "";
        position: absolute;
        @include horizontalMid;
        margin-left: -1px;
        height: 100%;
        width: 1px;
        background-color: $colorBackgroundPrimary;
        transform: rotate(-45deg);
      }
    }
  }

  &.alert {
    .c-toast-icon {
      background-image: url("../assets/images/icons/alert.svg");
      background-color: $colorAlert;
    }
  }

  &.success {
    .c-toast-icon {
      background-image: url("../assets/images/icons/success.svg");
      background-color: $colorOk;
    }
  }

  &.warning {
    .c-toast-icon {
      background-image: url("../assets/images/icons/warning.svg");
      background-color: $colorWarning;
    }
  }
}
@keyframes moveInToast {
  0% {
    opacity: 0;
    top: $start;
  }

  100% {
    opacity: 1;
    top: $top;
  }
}
@media (min-width: $mediaIpadV) and (max-width: $mediaIpadH) {
  .c-toast {
    max-width: 85vw;
    width: 85vw;
    padding: 20px;

    .c-toast-message {}

    .c-toast-close {}

    &.success {
      .c-toast-message {}
    }

    &.warning {
      .c-toast-message {}
    }
  }
}
@media (max-width: $mediaIpadV - 1) {
  .c-toast {
    max-width: 90vw;
    width: 90vw;
    padding: 20px 10px;

    .c-toast-message {}

    .c-toast-close {
      top: 10px;
      right: 10px;
      transform: none;
    }

    &.success {
      .c-toast-message {}
    }

    &.warning {
      .c-toast-message {}
    }
  }
}
