@import "../constants.scss";

$start: 0;
$top: calc(#{$backofficeTopMenu} + 160px);
$speed: 300ms;

.promptOuterContainer {
  @include horizontalMid;
  z-index: 9999;
  position: fixed;
  top: $top;
  min-width: 50%;
  max-width: 1200px;
  text-align: left;
  animation: animateInPrompt $speed cubic-bezier(0.68, -0.55, 0.265, 1.55);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  background-color: white;
  padding: 30px;
  border-radius: $borderRadius;

  .iconContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    background-size: 32px auto;
    background-repeat: no-repeat;
    background-position: center;
  }

  .textContainer {
    margin-bottom: 40px;
    .headline {
      margin-bottom: 12px;
    }
    .subtitle {
    }
  }

  .buttonsOuterContainer {
    float: right;

    .buttonContainer {
      &:not(:first-child) {
        margin-left: 12px;
      }
    }
  }

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
}
@keyframes animateInPrompt {
  0% {
    opacity: 0;
    top: $start;
  }

  100% {
    opacity: 1;
    top: $top;
  }
}
@media (min-width: $mediaIpadV) and (max-width: $mediaIpadH) {
  .promptOuterContainer {
    max-width: 85vw;
    width: 85vw;
    padding: 20px;

    .message {
    }

    .close {
    }
  }
}
@media (max-width: $mediaIpadV - 1) {
  .promptOuterContainer {
    max-width: 90vw;
    width: 90vw;
    padding: 20px 10px;

    .message {
    }

    .close {
      top: 10px;
      right: 10px;
      transform: none;
    }
  }
}
