

.linear-meter
{
    display: flex;
    align-items: center;
    padding: 8rem 0;

    &-bar
    {
        width: 20rem;
        height: 3rem;
        background-color: var(--surface-neutral-surface-color);
        margin-right: 2rem;
    }

    &-fill
    {
        height: 100%;
        background-color: var(--surface-primary-surface-color);
    }
}
