@import "shared/src/webKit/constants.scss";

.c-routePlanning-settings-details {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.c-routePlanning-settings-details-mapContainer {
  position: relative;
  flex: 1;
  display: flex;
}

.c-routePlanning-settings-details-areas {
  margin-top: -40px;
  margin-bottom: -40px;
  margin-right: -40px;
  padding: 40px;
  width: 556px;
  overflow-y: auto;
}

.c-routePlanning-settings-details-mapInfoTop {
  position: absolute;
  top: 24px;
  display: flex;
  justify-content: center;
  width: 100%;

  > *:not(:last-child) {
    margin-right: 8px;
  }
}

.c-routePlanning-settings-details-drawingOnMap {
  padding: 13px 16px;
  border: dashed 1px #979797;
  background-color: rgba(255, 255, 255, 0.8);
  color: #7b8e97;
}
