@import "../../constants.scss";

.c-pagination {
  z-index: 102;
  height: 14rem;
  background-color: white;
  text-align: center;
}

.c-pagination-fixed {
  width: 100%;
}

.c-pagination-sticky {
  position: sticky;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
}

.c-pagination-content {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;
  line-height: $backofficeSidePadding;
  user-select: none;

  .c-pagination-amountOfResults {
    display: flex;
    align-items: center;
  }

  .c-pagination-resultsPerPage {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 9rem;
    width: 15rem;
    border: var(--border-width-thin) solid var(--colorBackgroundPrimary);
    border-radius: var(--border-radius-medium);
    margin-right: 3rem;
    color: var(--colorBackgroundPrimary);
    margin-left: 2rem;

    &.open {
      border-top-left-radius: 0;
      border-top-right-radius: 0;

      .c-pagination-dropdown {
        display: flex;
      }
    }

    .c-pagination-dropdown {
      position: absolute;
      display: none;
      margin-right: -1px;
      bottom: 100%;
      right: 0;
      width: calc(100% + 2px);
      flex-direction: column-reverse;
      background-color: white;
      border: var(--border-width-thin) solid var(--colorBackgroundPrimary);
      border-top-left-radius: var(--border-radius-medium);
      border-top-right-radius: var(--border-radius-medium);
      overflow: hidden;

      .c-pagination-dropdown-value {
        &:hover {
          background-color: va(--colorNeutralExtraExtraLight);
        }
      }
    }
  }

  .c-pagination-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 9rem;
    width: 9rem;
    border: var(--border-width-thin) solid var(--colorBackgroundPrimary);

    &.inactive {
      pointer-events: none;
      opacity: .3;
    }

    &.previousPage {
      border-top-left-radius: var(--border-radius-medium);
      border-bottom-left-radius: var(--border-radius-medium);
      border-right: 0;

      span {
        transform: rotate(45deg);
        margin-right: -6px;
      }
    }

    &.nextPage {
      border-top-right-radius: var(--border-radius-medium);
      border-bottom-right-radius: var(--border-radius-medium);

      span {
        transform: rotate(225deg);
        margin-left: -6px;
      }
    }

    span {
      width: 11px;
      height: 11px;
      border-bottom: var(--border-width-thin) solid var(--colorBackgroundPrimary);
      border-left: var(--border-width-thin) solid var(--colorBackgroundPrimary);
    }
  }

  .c-pagination-pages {
    display: flex;
    justify-content: center;

    .c-pagination-pages-page {
      line-height: 32px;
      min-width: 32px;
      border-radius: var(--border-radius-medium);
      cursor: pointer;
      border: 1px solid transparent;
      transition: opacity 100ms, border-color 100ms, background-color 100ms, color 100ms;

      &:hover {
        border-color: var(--colorBackgroundPrimary);
      }

      &.active {
        border-color: transparent;
        background-color: var(--colorBackgroundPrimary);
        color: white;

        &:hover {
          span {
            background-color: var(--colorBackgroundPrimaryDarken);
          }
        }
      }

      &:not(:last-child) {
        margin-right: 5px;
      }

      &.inactive {
        border: 0;
        pointer-events: none;
        opacity: .3;
      }

      span {
        display: block;
        height: 100%;
      }
    }
  }
}
@media (max-width: $mediaIpadV - 1) {
  .c-pagination {
    width: 100%;
    margin: 0;
    left: 0;

    .c-pagination-content {
      .c-pagination-navigation {
        &.inactive {}

        &.previousPage {
          &:before {}
        }

        &.nextPage {
          &:after {}
        }
      }

      .c-pagination-pages {
        .c-pagination-pages-page {
          &.active {}

          &:not(:last-child) {}

          &.inactive {}
        }
      }
    }
  }
}
