<template>

    <require from="./merge-column.scss"></require>

    <page-content scroll scroll.ref="scroll">

        <page-header scroll-fade>

            <div class="flex-row">

                <toolbar>

                    <button
                        appearance="solid"
                        accent="primary"
                        disabled.bind="!canApply"
                        click.trigger="onApplyClick()"
                        translate>
                        Save changes to driver route
                    </button>

                    <span if.bind="fetchingEstimate" translate>
                        Fetching estimate...
                    </span>

                    <span if.bind="addingStops" translate>
                        Adding stops to route...
                    </span>

                </toolbar>

                <h1 class="font-largest">
                    <path-nav>

                        <span>&nbsp;</span>

                    </path-nav>
                </h1>

            </div>

        </page-header>

        <page-section class="flex-grow min-height-0">

            <div class="stop-lists ${isDragging ? '--dragging' : ''}">

                <div class="stop-list-container">

                    <h2 class="font-larger margin-bottom" translate>
                        Stops to be added
                    </h2>

                    <div
                        class="stop-list express-stops padding-medium"
                        surface="card"
                        scroll
                        dragover.trigger="onExpressStopsDragOver($event)"
                        dragleave.trigger="onExpressStopsDragLeave($event)"
                        drop.trigger="onExpressStopsDrop($event)">

                        <div
                            repeat.for="stop of expressStops"
                            class="stop-list-item express-route-stop margin-bottom ${stop.dragover ? '--dragover' : ''} ${stop.dragged ? '--dragged' : ''}"
                            draggable="true"
                            dragstart.trigger="onExpressStopsDragStart($event, stop)"
                            dragend.trigger="onExpressStopsDragEnd($event, stop)">

                            <card accent.bind="stop.route.colorIndex">

                                <div class="flex-row">
                                    <div class="stop-icon">
                                        <div>${stop.stop.stopNumber}</div>
                                    </div>
                                    <div>
                                        <div><b>${stop.stop.type.name}</b>${stop.stop.outfit.primaryName ? ' - ' : ''}${stop.stop.outfit.primaryName}</div>
                                        <div class="margin-smallest-top">${stop.stop.location.address}</div>
                                    </div>
                                    <div class="flex-push-right text-align-right flex-basis-1-of-2">
                                        <div>
                                            &nbsp;${stop.stop.orderIds | list: 'short'}
                                        </div>
                                        <div class="margin-smallest-top flex-row" accent.bind="stop.route.criticality.accent & attr">
                                            <div class="flex-row flex-push-right">
                                                <icon name="md-warning" if.bind="stop.route.criticality.accent == 'attention' || stop.route.criticality.accent == 'negative'"></icon>
                                                <div>
                                                    &nbsp;${stop.stop.arrivalTimeFrame | timeRange: false}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <icon name="drag-handle" class="opacity-faded-more"></icon>
                                </div>

                            </card>

                        </div>

                        <div class="express-stops-dropzone ${expressStopsDragover ? '--dragover' : ''}">
                            <div></div>
                        </div>

                    </div>

                </div>

                <div class="stop-list-container">

                    <h2 class="font-larger margin-bottom" translate>
                        Stops on driver route
                    </h2>

                    <div
                        class="stop-list driver-stops padding-medium"
                        surface="card"
                        scroll
                        ref="driverStopsElement">

                        <div
                            repeat.for="stop of driverStops"
                            draggable="true"
                            dragstart.trigger="onDriverStopsDragStart($event, stop)"
                            dragend.trigger="onDriverStopsDragEnd($event, stop)"
                            class="stop-list-item ${stop.type} margin-bottom ${stop.dragover ? '--dragover' : ''} ${stop.dragged ? '--dragged' : ''}">

                            <div
                                if.bind="!stop.dragstart"
                                class="stop-dropzone"
                                dragover.trigger="onDriverStopsDragOver($event, stop)"
                                dragleave.trigger="onDriverStopsDragLeave($event, stop)"
                                drop.trigger="onDriverStopsDrop($event, stop)">
                                <div></div>
                            </div>

                            <card accent.bind="stop.type == 'express-route-stop' ? stop.route.colorIndex : undefined">

                                <div class="flex-row">
                                    <div class="stop-icon">
                                        <div>${$index + 1}</div>
                                    </div>
                                    <div>
                                        <div><b>${stop.stop.type.name}</b>${stop.stop.outfit.primaryName ? ' - ' : ''}${stop.stop.outfit.primaryName}</div>
                                        <div class="margin-smallest-top">${stop.stop.location.address}</div>
                                    </div>
                                    <div class="flex-push-right text-align-right flex-basis-1-of-2">
                                        <div>
                                            &nbsp;${stop.stop.orderIds | list: 'short'}
                                        </div>
                                        <div class="margin-smallest-top flex-row" accent.bind="stop.stop.isDelayed ? 'negative' : undefined & attr">
                                            <div class="flex-row flex-push-right">
                                                <icon name="md-warning" class="flex-push-right" if.bind="stop.stop.isDelayed"></icon>
                                                <div>
                                                    &nbsp;${stop.stop.arrivalTimeFrame | timeRange: false}
                                                </div>
                                                <div if.bind="stop.stop.estimates.arrivalTime == null">
                                                    &nbsp;&nbsp;(--:--)
                                                </div>
                                                <div if.bind="stop.stop.estimates.arrivalTime != null">
                                                    &nbsp;&nbsp;(${stop.stop.estimates.arrivalTime | time: 'narrow' : false})
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <icon name="drag-handle" class="opacity-faded-more"></icon>
                                </div>

                            </card>

                        </div>

                        <div
                            class="driver-stops-dropzone ${driverStopsDragover ? '--dragover' : ''}"
                            dragover.trigger="onDriverStopsDragOver($event)"
                            dragleave.trigger="onDriverStopsDragLeave($event)"
                            drop.trigger="onDriverStopsDrop($event)">
                            <div></div>
                        </div>

                    </div>

                </div>

            </div>

        </page-section>

    </page-content>

</template>
