@import "resources/index";

page[name="routes"] page[name="express-dispatch"] merge-column
{
    // Use horizontal flex layout.
    display: flex;

    // Fill the available space.
    flex-grow: 1;
    flex-basis: 100%;

    // Allow the element to shrink.
    min-width: 0;

    page-content
    {
        display: flex;
        flex-direction: column;
    }

    .stop-lists
    {
        flex-grow: 1;
        display: flex;

        &.--dragging card
        {
            pointer-events: none;
        }
    }

    .stop-list
    {
        --stop-card-height: 17.5rem;

        position: relative;
        flex-grow: 1;
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        background: var(--color-surface);
        border: var(--border-width-thin) solid var(--color-border);
        border-radius: var(--border-radius-medium);

        &:not(:first-child)
        {
            margin-left: 5rem;
        }

        .express-stops-dropzone
        {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            pointer-events: none;

            &.--dragover
            {
                transition: opacity var(--animation-duration-medium);
                opacity: 1;
            }

            > div
            {
                width: 100%;
                height: 100%;
                border: var(--border-width-medium) dashed var(--color-surface-primary-border);
                border-radius: var(--border-radius-medium);
            }
        }

        .driver-stops-dropzone
        {
            flex-grow: 1;
            margin-top: calc(-1 * var(--font-current-margin-top));
            padding-top: var(--font-current-margin-top);
            opacity: 0;

            &.--dragover
            {
                //transition: opacity var(--animation-duration-medium);
                opacity: 1;
            }

            > div
            {
                height: var(--stop-card-height);
                border: var(--border-width-medium) dashed var(--color-surface-primary-border);
                border-radius: var(--border-radius-medium);
            }
        }

        .stop-dropzone
        {
            position: absolute;
            top: calc(-1 * var(--font-current-margin-top));
            left: 0;
            width: 100%;
            padding-top: var(--font-current-margin-top);
            opacity: 0;

            > div
            {
                height: var(--stop-card-height);
                border: var(--border-width-medium) dashed var(--color-surface-primary-border);
                border-radius: var(--border-radius-medium);
            }
        }

        .stop-list-item
        {
            position: relative;

            &.--dragged
            {
                display: none;
            }

            &.--dragover
            {
                padding-top: calc(var(--stop-card-height) + var(--font-current-margin-top));

                .stop-dropzone
                {
                    //transition: opacity var(--animation-duration-medium);
                    opacity: 1;
                }
            }

            card > a
            {
                background: white;
                cursor: move;
            }

            .icon-md-drag-handle
            {
                align-self: center;
                font-size: 8rem;
                margin-right: -2rem;
                margin-left: 2rem;
            }

            .stop-icon
            {
                align-self: center;
                margin-right: var(--size-inline-spacing-larger);
                margin-left: 2rem;
            }

            &.driver-route-stop .stop-icon
            {
                width: 8rem;
                height: 8rem;
                line-height: 8rem;
                border-radius: 50%;
                text-align: center;
                background: gray;
                color: white;
            }

            &.express-route-stop .stop-icon
            {
                width: 7rem;
                height: 7rem;
                line-height: 7rem;
                border-radius: 3px;
                transform: rotate(45deg);
                text-align: center;
                background: gray;
                color: white;

                > div
                {
                    transform: rotate(-45deg);
                }
            }
        }
    }
}
