@import "shared/src/webKit/constants.scss";

.c-depotsPort-rule {
  display: flex;
  margin: 4px 0;
  padding: 16px 20px;
  border: 1px solid darken($colorNeutralExtraLight, 1%);
  border-radius: $listItemBorderRadius;
  background: $colorNeutralExtraLight;

  .icon {
    width: 18px;
    height: 18px;
    margin: -2px 0 -4px 20px;
    cursor: pointer;
  }
}

.c-depotsPort-rule--selected,
.c-depotsPort-rule--selected:hover {
  background-color: $colorNeutralLight;
}

.c-depotsPort-rule-actions {
  display: flex;
  margin-left: auto;
}
