@import "resources/index";

page[name="organization"] page[name="users"]
{
    data-table
    {
        --data-table-columns: 76rem 1fr 1fr 1fr 1.5fr 1fr 1fr 0.65fr 100rem;
    }

    identity-picture
    {
        --identity-picture-border-radius: 50%;
        --identity-picture-width: 36rem;
        --identity-picture-height: 36rem;

        margin: -8rem 0;
        font-size: inherit;
    }
}
