@import "shared/src/webKit/constants.scss";

$padding-width: 8px;
$shadow-width: 8px;
$shadow: 0 0 $shadow-width 0 rgba(0, 0, 0, 0.1), 0 0 25rem 0 rgba(0, 0, 0, 0.1);;

.c-dropdown {
  position: relative;
}

.c-dropdown-button {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: $shadow-width;
    width: calc(100% + #{$shadow-width});
    right: 0;
    bottom: -$shadow-width;
    z-index: 1002;
    background: white;
    transition: opacity 0.2s;
    opacity: 0;
  }

  &.expanded {
    background-color: white !important;
    box-shadow: $shadow;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    z-index: 1001;

    &::after {
      opacity: 1;
      transition: opacity 0.1s;
    }
  }
}

.c-dropdown-panel {
  position: absolute;
  margin-top: -1px;
  margin-right: 1px;
  display: flex;
  flex-direction: column;
  right: 0;
  z-index: 1000;
  min-width: 300px;
  max-height: 500px;
  padding: $padding-width 0;
  border-radius: 3px;
  border-top-right-radius: 0;
  background: white;
  box-shadow: $shadow;
  animation: fade-in 0.2s;

  &.c-dropdown-panel--disabled {
    pointer-events: none;

    & > * {
      opacity: 0.6;
    }
  }
}

.c-dropdown-content {
  padding: 0 $padding-width / 2 0 $padding-width;
  overflow: auto;
}

.c-dropdown-filter {
  padding: 0 $padding-width / 2 0 $padding-width;
  margin-bottom: $padding-width;
}

.c-dropdown-filter input {
  &:focus,
  &:hover {
    border-color: var(--colorNeutralRegular) !important;
  }
}

.c-dropdown-item {
  position: relative;
  padding: 10px 16px;
  background: var(--colorNeutralExtraLight);
  border-radius: $listItemBorderRadius;
  cursor: pointer;

  &:not(:first-child) {
    margin-top: 4px;
  }

  &:hover {
    background: var(--colorNeutralExtraLightDarken);

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 4px;
      background-color: var(--colorBackgroundPrimary);
      border-top-left-radius: $listItemBorderRadius;
      border-bottom-left-radius: $listItemBorderRadius;
    }
  }
}
