<template>

    <require from="app/components/address-input/address-input"></require>
    <require from="app/components/info-icon/info-icon"></require>
    <require from="../order-accordion/order-accordion"></require>

    <require from="./route-stop-edit.scss"></require>

    <modal-header scroll-fade>

        <h1 class="font-largest" tabindex="-1" autofocus="visible.bind: false">

            <span if.bind="model.isNew">

                <span if.bind="model.routeStop.stopNumber - 1 !== model.route.stops.length && model.routeStop.stopNumber !== 1" translate>
                    New stop after stop ${model.routeStop.stopNumber - 1}
                </span>

                <span if.bind="model.routeStop.stopNumber - 1 === model.route.stops.length" translate>
                    New stop at the end of the route
                </span>

                <span if.bind="model.routeStop.stopNumber === 1" translate>
                    New stop at the beginning of the route
                </span>

            </span>

            <path-nav if.bind="!model.isNew">

                <a accent="inherit" click.trigger="onCancel()" translate>
                    Stop ${model.routeStop.stopNumber}
                </a>

                <div translate>
                    Edit
                </div>

            </path-nav>

        </h1>

    </modal-header>

    <modal-section class="margin-bottom">

        <div class="control-row margin-large-bottom">

            <text-input label="above" value.bind="model.routeStop.reference" class="flex-basis-1-of-2">

                <div slot="heading" translate>
                    Reference
                </div>

            </text-input>

            <select-input label="above" none.bind="false" value.bind="model.routeStop.status" display-value.bind="model.routeStop.status.name" class="flex-basis-1-of-2">

                <div slot="heading" translate>
                    Status
                </div>

                <item repeat.for="status of statuses" model.bind="status">
                    ${status.name}
                </item>

                <div slot="validation">

                    <required-validator
                        value.bind="model.routeStop.status">
                    </required-validator>

                </div>

            </select-input>

        </div>

        <div class="control-row">

            <select-input
                label="above"
                none.bind="false"
                value.bind="model.routeStop.type"
                display-value.bind="model.routeStop.type.name"
                class="flex-basis-1-of-3">

                <div slot="heading" translate>
                    Type
                </div>

                <item repeat.for="type of types" model.bind="type">
                    ${type.name}
                </item>

                <div slot="validation">

                    <required-validator
                        value.bind="model.routeStop.type">
                    </required-validator>

                </div>

            </select-input>

            <date-input
                class="flex-basis-1-of-3"
                label="above"
                value.bind="date">

                <div slot="heading" translate>
                    Arrival date
                </div>

                <div slot="validation">

                    <required-validator
                        value.bind="date">
                    </required-validator>

                </div>

            </date-input>

            <div class="control-row flex-basis-1-of-3">

                <time-input disabled.bind="model.routeStop.arrivalTimeFrame.from ? false : true" label="above" value.bind="timeFrom" class="flex-basis-1-of-2">

                    <div slot="heading" translate>
                        From
                    </div>

                    <div slot="validation">

                        <required-validator
                            value.bind="timeFrom">
                        </required-validator>

                    </div>

                </time-input>

                <time-input disabled.bind="model.routeStop.arrivalTimeFrame.to ? false : true" label="above" value.bind="timeTo" class="flex-basis-1-of-2">

                    <div slot="heading" translate>
                        To
                    </div>

                    <div slot="validation">

                        <required-validator
                            value.bind="timeTo">
                        </required-validator>

                    </div>

                </time-input>

            </div>

        </div>

    </modal-section>

    <modal-section class="margin-bottom --line-above">

        <div slot="header" translate>
            Consignee
        </div>

        <div class="control-row margin-large-bottom">

            <address-input label="above" value.bind="model.routeStop.location.address" class="flex-basis-1-of-1">

                <div slot="heading" translate>
                    Address
                </div>

                <div slot="validation">

                    <required-validator
                        value.bind="model.routeStop.location.address.primary">
                    </required-validator>

                </div>

            </address-input>

        </div>

        <div class="control-row margin-large-bottom">

            <text-input label="above" value.bind="model.routeStop.outfit.companyName" class="flex-basis-1-of-2">

                <div slot="heading" translate>
                    Company
                </div>

            </text-input>

            <text-input label="above" value.bind="model.routeStop.outfit.personName" class="flex-basis-1-of-2">

                <div slot="heading" translate>
                    Name
                </div>

            </text-input>

        </div>

        <div class="control-row margin-large-bottom">

            <text-input label="above" value.bind="model.routeStop.outfit.contactPhone.number" class="flex-basis-1-of-2">

                <div slot="heading" translate>
                    Phone number
                </div>

            </text-input>

            <text-input label="above" value.bind="model.routeStop.email" class="flex-basis-1-of-2">

                <div slot="heading" translate>
                    email
                </div>

            </text-input>
        </div>

        <div class="control-row">

            <text-input label="above" value.bind="model.routeStop.port" class="flex-basis-1-of-2">

                <div slot="heading" translate>
                    Port
                </div>

            </text-input>

            <div class="flex-basis-1-of-2">

            </div>

        </div>

    </modal-section>

    <modal-section class="margin-bottom --line-above">

        <div slot="header" translate>
            Instructions
        </div>

        <div class="control-row">

            <text-input label="above" lines.bind="3" value.bind="model.routeStop.driverInstructions" class="flex-basis-1-of-1">

                <div slot="heading" translate>
                    Instructions
                </div>

                <span slot="placeholder" translate>
                    Type any instructions that might help the driver
                </span>

                <div slot="validation">

                    <required-validator
                        if.bind="model.routeStop.actions.instructionsAccept"
                        value.bind="model.routeStop.driverInstructions">
                    </required-validator>

                </div>

            </text-input>

        </div>

    </modal-section>

    <modal-section class="--line-above">

        <div slot="header" translate>
            Driver tasks
        </div>

        <div class="control-row margin-large-bottom">

            <check-toggle label="after" value.bind="model.routeStop.actions.photo" class="flex-basis-1-of-2">

                <div slot="heading">

                    <span translate>
                        Photo
                    </span>

                    <info-icon position="right">

                        <span slot="heading" translate>
                            Photo of delivery
                        </span>

                        <span slot="body" translate>
                            Requiring the driver to take a picture of the delivery at the stop helps documenting the action.
                        </span>

                    </info-icon>

                </div>

            </check-toggle>

            <check-toggle label="after" value.bind="model.routeStop.actions.signature" class="flex-basis-1-of-2">

                <div slot="heading">

                    <span translate>
                        Signature
                    </span>

                    <info-icon position="left">

                        <span slot="heading" translate>
                            Signature verification
                        </span>

                        <span slot="body" translate>
                            Requiring the driver to get a signature from the consignee at the stop helps documenting the action.
                        </span>

                    </info-icon>

                </div>

            </check-toggle>

        </div>

        <div class="control-row margin-large-bottom">

            <check-toggle label="after" value.bind="model.routeStop.actions.colliCountVerification" class="flex-basis-1-of-2">

                <div slot="heading">

                    <span translate>
                        Colli count verification
                    </span>

                    <info-icon position="right">

                        <span slot="heading" translate>
                            Colli count verification
                        </span>

                        <span slot="body" translate>
                            For the validation of colli without barcodes, you can require the driver to verify the colli count on the stop. This feature works best alongside "Signature Verification"
                        </span>

                    </info-icon>

                </div>

            </check-toggle>

            <check-toggle label="after" value.bind="model.routeStop.actions.timeFrameVerification" class="flex-basis-1-of-2">

                <div slot="heading">

                    <span translate>
                        Verify timeframe
                    </span>

                    <info-icon position="left">

                        <span slot="heading" translate>
                            Timeframe verification
                        </span>

                        <span slot="body" translate>
                            If the system determines that the driver will be late on the stop, we will make the driver extra aware on the situation.
                        </span>

                    </info-icon>

                </div>

            </check-toggle>

        </div>

        <div class="control-row margin-large-bottom">

            <check-toggle label="after" value.bind="model.routeStop.actions.scanColli" class="flex-basis-1-of-2">

                <div slot="heading">

                    <span translate>
                        Scan colli
                    </span>

                    <info-icon position="right">

                        <span slot="heading" translate>
                            Driver scan of colli
                        </span>

                        <span slot="body" translate>
                            The driver has to scan colli on the stop, if they have barcodes.
                        </span>

                    </info-icon>

                </div>

            </check-toggle>

            <check-toggle label="after" value.bind="model.routeStop.actions.handleAllColli" class="flex-basis-1-of-2">

                <div slot="heading">

                    <span translate>
                        Handle all colli
                    </span>

                    <info-icon position="left">

                        <span slot="heading" translate>
                            Handle all colli
                        </span>

                        <span slot="body" translate>
                            The driver cannot complete the stop without handling all the colli, either by rejecting or scanning.
                        </span>

                    </info-icon>

                </div>

            </check-toggle>

        </div>

        <div class="control-row">

            <check-toggle label="after" value.bind="model.routeStop.actions.instructionsAccept" class="flex-basis-1-of-2">

                <div slot="heading">

                    <span translate>
                        Accept of instructions
                    </span>

                    <info-icon position="right">

                        <span slot="heading" translate>
                            Accept of instructions
                        </span>

                        <span slot="body" translate>
                            To ensure that the driver has read the instructions, it will be shown to him on arrival.
                        </span>

                    </info-icon>

                </div>

            </check-toggle>

        </div>

        <modal-section class=" --line-above">

            <div slot="header" translate>
                Tags
            </div>

            <div class="control-row">

                <div class="flex-basis-1-of-1">

                    <div>

                        <tags-input
                            label="above"
                            value.bind="model.routeStop.tags"
                            new.bind="true">
                        </tags-input>

                    </div>
                </div>

            </div>

        </modal-section>

        <modal-section class="margin-bottom --line-above">

            <div slot="header" translate>
                Driver times
            </div>

            <div class="control-row margin-large-bottom">
                <date-input
                    disabled.bind="!['arrived', 'completed'].includes(model.routeStop.status.slug)"
                    class="flex-basis-1-of-3"
                    label="above"
                    value.bind="arrivedDate">

                    <div slot="heading" translate>
                        Arrived date
                    </div>

                    <div slot="validation">

                        <required-validator
                            enabled.bind="arrivedTime ? undefined : false"
                            value.bind="arrivedDate">
                        </required-validator>

                    </div>

                </date-input>

                <time-input
                    disabled.bind="!['arrived', 'completed'].includes(model.routeStop.status.slug)"
                    label="above"
                    value.bind="arrivedTime"
                    class="flex-basis-1-of-3">

                    <div slot="heading" translate>
                        Time
                    </div>

                    <div slot="validation">

                        <required-validator
                            enabled.bind="arrivedDate ? undefined : false"
                            value.bind="arrivedTime">
                        </required-validator>

                    </div>

                </time-input>
            </div>

            <div class="control-row">
                <date-input
                    disabled.bind="!['completed'].includes(model.routeStop.status.slug)"
                    class="flex-basis-1-of-3"
                    label="above"
                    value.bind="completedDate">

                    <div slot="heading" translate>
                        Completed date
                    </div>

                    <div slot="validation">

                        <required-validator
                            enabled.bind="completedTime ? undefined : false"
                            value.bind="completedDate">
                        </required-validator>

                    </div>

                </date-input>

                <time-input
                    disabled.bind="!['completed'].includes(model.routeStop.status.slug)"
                    label="above"
                    value.bind="completedTime"
                    class="flex-basis-1-of-3">

                    <div slot="heading" translate>
                        Time
                    </div>

                    <div slot="validation">

                        <required-validator
                            enabled.bind="completedDate ? undefined : false"
                            value.bind="completedTime">
                        </required-validator>

                    </div>

                </time-input>
            </div>
        </modal-section>

    </modal-section>

    <div if.bind="model.isNew" class="button-container margin-larger-top">

        <button appearance="solid" accent="primary" click.trigger="onSave(model.routeStop.stopNumber - 1)" translate>
            Create stop
        </button>

    </div>

</template>
