<template>

    <require from="./app-logo.scss"></require>

    <a
        title.translate="Dashboard"
        class="${disabled ? 'pointer-events-none' : ''}"
        click.trigger="onClick($event)"
        href.bind="disabled ? undefined : '/'">

        <let
            theme.bind="themeService.theme"
            logo.bind="account && theme.hasAccountLogo ? `logo-${size}-account` : `logo-${size}`">
        </let>

        <img if.bind="logo" src.bind="historyHelper.routeBasePath + 'resources/themes/' + theme.slug + '/images/' + logo + '.svg'">

    </a>

</template>
