@import "styles/resources/index";

app-logo
{
    display: block;

    a
    {
        height: 100%;

        // Darken the logo slightly.
        filter: brightness(90%);

        // Animate the hover effect.
        transition: filter var(--animation-duration-short);

        &:hover
        {
            // Highlight on hover.
            filter: brightness(100%);
        }

        img
        {
            height: 100%;
            width: auto;
        }
    }
}
