@import "resources/index";

app-logo
{
    display: block;
    overflow: hidden;

    a
    {
        height: 100%;
        opacity: 0.94;
        overflow: hidden;
        border-radius: inherit;

        // Animate the hover effect.
        transition: opacity var(--animation-duration-short);

        &:hover
        {
            // Highlight on hover.
            opacity: 1;
        }

        img
        {
            height: 100%;
            width: auto;
            overflow: hidden;
            border-radius: inherit;
        }
    }
}
