@import "resources/index";

app-logo
{
    display: block;

    a
    {
        height: 100%;
        opacity: 0.94;

        // Animate the hover effect.
        transition: opacity var(--animation-duration-short);

        &:hover
        {
            // Highlight on hover.
            opacity: 1;
        }

        img
        {
            height: 100%;
            width: auto;
        }
    }
}
