file-dropzone
{
    &.dropzone
    {
        display: block;
        padding: 10rem;
        width: 100rem;
        height: 60rem;
        background: var(--color-surface);
        border: var(--border-width-medium) dashed var(--color-border);
        border-radius: var(--border-radius-large);

        .dz-preview
        {
            &.dz-error
            {
                .dz-image
                {
                    //background: var(--color-surface-negative-icon);
                }

                .dz-error-mark
                {
                    //display: none;

                    g
                    {
                        fill: var(--color-surface-negative-icon) !important;
                    }
                }
            }

            .dz-size
            {
                //display: none;
            }

            .dz-filename
            {
                pointer-events: none;

                span
                {
                    border: none;
                }
            }
        }
    }
}
