<template>

    <require from="app/components/data-section/data-section"></require>
    <require from="./components/order-accordion/order-accordion"></require>

    <require from="./route-stop-details.scss"></require>

    <modal-header scroll-fade>

        <h1 class="font-largest flex-row" tabindex="-1" autofocus="visible.bind: false">

            <div translate>
                Stop ${model.routeStop.stopNumber}
            </div>

            <div class="opacity-faded-more margin-left margin-right">
                –
            </div>

            <div class="opacity-faded">
                ${model.routeStop.type.name}, ${model.routeStop.status.name}
            </div>

        </h1>

    </modal-header>

    <data-section class="margin-bottom">

        <div class="flex-row">

            <div class="flex-row flex-basis-1-of-2">

                <div class="margin-large-right">

                    <div class="opacity-faded margin-bottom" translate>
                        Planned arrival
                    </div>

                    <div class="opacity-faded" translate>
                        Actual arrival
                    </div>

                </div>

                <div>

                    <div class="margin-bottom">
                        ${model.routeStop.arrivalTimeFrame | dateTimeRange: 'narrow' : false}
                    </div>

                    <div>
                        ${model.routeStop.arrivalTime | dateTime: 'narrow' : false}
                    </div>

                </div>

            </div>

            <div class="flex-row flex-basis-1-of-2">

                <div class="margin-large-right">

                    <div class="opacity-faded margin-bottom" translate>
                        Planned loading time
                    </div>

                    <div class="opacity-faded" translate>
                        Actual loading time
                    </div>

                </div>

                <div>

                    <div class="margin-bottom">
                        ${model.routeStop.loadingTime | duration: 'narrow'}
                    </div>

                    <div>
                        ${model.routeStop.loadingTime | duration: 'narrow'}
                    </div>

                </div>

            </div>

        </div>

    </data-section>

    <!-- Consignee -->

    <hr class="hr-line margin-bottom">

    <data-section class="margin-bottom" toggle.bind="true">

        <div slot="header" translate>
            Consignee
        </div>

        <div if.bind="model.routeStop.location.address" class="flex-row">
            <div class="opacity-faded flex-grow" translate>
                Address
            </div>
            <span>
                ${model.routeStop.location.address}
            </span>
        </div>

        <div if.bind="model.routeStop.outfit.companyName" class="flex-row margin-top">
            <div class="opacity-faded flex-grow" translate>
                Company
            </div>
            <span>
                ${model.routeStop.outfit.companyName}
            </span>
        </div>

        <div if.bind="model.routeStop.outfit.personName" class="flex-row margin-top">
            <div class="opacity-faded flex-grow" translate>
                Name
            </div>
            <span>
                ${model.routeStop.outfit.personName}
            </span>
        </div>

        <div if.bind="model.routeStop.outfit.contactPhone" class="flex-row margin-top">
            <div class="opacity-faded flex-grow" translate>
                Phone
            </div>
            <a href="tel: ${model.routeStop.outfit.contactPhone}">
                ${model.routeStop.outfit.contactPhone}
            </a>
        </div>

    </data-section>

    <!-- Instructions -->
    <template if.bind="model.routeStop.driverInstructions">

        <hr class="hr-line margin-bottom">

        <data-section class="margin-bottom" toggle.bind="true">

            <div slot="header" translate>
                Instructions
            </div>

            <div if.bind="model.routeStop.driverInstructions">
                ${model.routeStop.driverInstructions}
            </div>

        </data-section>

    </template>

    <!-- Orders to be delivered -->
    <template if.bind="model.routeStop.deliveries.length != 0">

        <hr class="hr-line margin-bottom">

        <data-section class="margin-bottom" toggle.bind="true">

            <div slot="header" translate>
                Deliveries
            </div>

            <order-accordion repeat.for="delivery of model.routeStop.deliveries" model.bind="delivery"></order-accordion>

        </data-section>

    </template>

    <!-- Orders to pick up -->
    <template if.bind="model.routeStop.pickups.length != 0">

        <hr class="hr-line margin-bottom">

        <data-section class="margin-bottom" toggle.bind="true">

            <div slot="header" translate>
                Pickups
            </div>

            <div if.bind="model.routeStop.pickups.length == 0" class="opacity-faded" translate>
                No pickups at this stop
            </div>

            <order-accordion repeat.for="pickup of model.routeStop.pickups" model.bind="pickup"></order-accordion>

        </data-section>

    </template>

    <!-- Proof of delivery -->
    <template if.bind="model.routeStop.photo != null">

        <hr class="hr-line margin-bottom">

        <data-section class="margin-bottom" toggle.bind="true">

            <div slot="header" translate>
                Proof of delivery
            </div>

            <div if.bind="!model.routeStop.photo" class="opacity-faded" translate>
                No proof of delivery
            </div>

            <template if.bind="model.routeStop.photo.imageUrl">

                <div class="flex-row margin-large-bottom">

                    <div class="margin-large-right opacity-faded" translate>
                        Date
                    </div>

                    <div>
                        ${model.routeStop.photo.date | dateTime: 'narrow' : true}
                    </div>

                </div>

                <a href.bind="model.routeStop.photo.imageUrl" target="_blank">
                    <img if.bind="model.routeStop.photo" class="image-thumbnail" src.bind="model.routeStop.photo.imageUrl">
                </a>

            </template>

        </data-section>

    </template>

    <!-- Signature -->
    <template if.bind="model.routeStop.signature != null">

        <hr class="hr-line margin-bottom">

        <data-section class="margin-bottom" toggle.bind="true">

            <div slot="header" translate>
                Signature
            </div>

            <div if.bind="!model.routeStop.signature" class="opacity-faded" translate>
                No signature
            </div>

            <template if.bind="model.routeStop.signature">

                <div class="flex-row margin-large-bottom">

                    <div>
                        <div class="margin-bottom margin-large-right opacity-faded" translate>
                            Date
                        </div>
                        <div class="margin-large-right opacity-faded" translate>
                            Name
                        </div>
                    </div>

                    <div>
                        <div class="margin-bottom">
                            ${model.routeStop.signature.date | dateTime: 'narrow' : true}
                        </div>
                        <div>
                            ${model.routeStop.signature.name}
                        </div>
                    </div>

                </div>

                <a href.bind="model.routeStop.signature.imageUrl" target="_blank">
                    <img class="image-thumbnail" src.bind="model.routeStop.signature.imageUrl">
                </a>

            </template>

        </data-section>

    </template>

    <!-- Driver verification -->
    <template if.bind="model.routeStop.selfies.length > 0">

        <hr class="hr-line margin-bottom">

        <data-section class="margin-bottom" toggle.bind="true">

            <div slot="header" translate>
                Driver verification
            </div>

            <a repeat.for="selfie of model.routeStop.selfies" href.bind="selfie.imageUrl" target="_blank">
                <img class="image-thumbnail" src.bind="selfie.imageUrl">
            </a>

        </data-section>

    </template>

</template>
