@import "../palettes/color";

// surface-body
// The surface of the document body.
// ====================================================================================================

$surface-body--foreground-color: $color-neutral-darker;
$surface-body--background-color: white;


// action, positive, negative
// Any element that represents an action, such as a link or button.
// ----------------------------------------------------------------------------------------------------

$surface-body-primary--color: $color-neutral-dark;
$surface-body-primary--icon-color: $color-neutral-dark;
$surface-body-primary--foreground-color: white;
$surface-body-primary--background-color: $color-neutral-dark;
$surface-body-primary--border-color: $surface-body-primary--background-color;

$surface-body-positive--color: $color-positive;
$surface-body-positive--icon-color: $surface-body-positive--color;
$surface-body-positive--foreground-color: $color-positive-lighter;
$surface-body-positive--background-color: $surface-body-positive--color;
$surface-body-positive--border-color: $surface-body-positive--background-color;

$surface-body-negative--color: $color-negative;
$surface-body-negative--icon-color: $surface-body-negative--color;
$surface-body-negative--foreground-color: $color-negative-lighter;
$surface-body-negative--background-color: $surface-body-negative--color;
$surface-body-negative--border-color: $surface-body-negative--background-color;


// input
// Any input that has a surface, such as a text input.
// ----------------------------------------------------------------------------------------------------

$surface-body-input--foreground-color: inherit;
$surface-body-input--background-color: $color-neutral-light;
$surface-body-input--border-color: $surface-body-input--background-color;


// title
// The page title, which may also act as navigation links.
// ----------------------------------------------------------------------------------------------------

$surface-body-title--color: $color-neutral-darker;

// hover
$surface-body-title--color--hover: $surface-body-primary--color;


// mark
// Any text that is marked, such as text matching a search query.
// ----------------------------------------------------------------------------------------------------

$surface-body--mark-color: #ffff00;
