@import "../palettes/color";

// surface-string
// The surface on which a translatable or trsanslated string is rendered.
// ====================================================================================================

// Note: The surface is technically also an input, so we only need to provide styles for its content.


// expression
// Any part of a string that is recognized as an expression.
// ----------------------------------------------------------------------------------------------------

$surface-string-expression--foreground-color: $color-primary;
$surface-string-expression--background-color: transparent;
$surface-string-expression--border-color: $color-primary-lighter;

// hover
$surface-string-expression--foreground-color--hover: $surface-string-expression--foreground-color;
$surface-string-expression--background-color--hover: $color-primary-light;
$surface-string-expression--border-color--hover: $surface-string-expression--background-color--hover;

// active
$surface-string-expression--foreground-color--active: white;
$surface-string-expression--background-color--active: $color-primary;
$surface-string-expression--border-color--active: $surface-string-expression--background-color--active;
