@import "shared/src/webKit/constants.scss";

.c-driverDispatch-buttonDropdown {
  position: relative;
  width: 66rem;

  .c-driverDispatch-buttonDropdown-button {
    .moverButtonText {
      justify-content: flex-start;

      .arrow {
        margin-left: auto;
        height: 2rem;
        width: 2rem;
        border-left: var(--border-width-thin) solid var(--colorInteractivePrimary);
        border-bottom: var(--border-width-thin) solid var(--colorInteractivePrimary);
        transform: rotate(-45deg);
        margin-top: -.5rem;
      }
    }
  }

  &.disabled {
    pointer-events: none;
  }

  &.open {
    .c-driverDispatch-buttonDropdown-button {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .c-driverDispatch-dropdown {
      position: absolute;
      width: 100%;
      background-color: white;
      border: 1px solid var(--colorNeutralRegular);
      border-top: 0;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      overflow: hidden;
      z-index: 10;

      .c-driverDispatch-dropdown-value {
        height: 10rem;
        display: flex;
        align-items: center;
        padding: 0 5rem;
        color: var(--colorInteractivePrimary);
        cursor: pointer;
        border-top: 1px solid white;
        border-bottom: 1px solid white;

        &:first-child {
          border-top: 0;
        }

        &:last-child {
          border-bottom: 0;
        }

        &:hover {
          background-color: var(--colorNeutralExtraExtraLight);
          border-color: var(--colorNeutralLight);
        }
      }
    }
  }
}
