@import "../constants.scss";

$paddingLeft: 14px;

.react-selectize-search-field-and-selected-values {
  position: relative;

  > input {
    order: 1;
    min-width: 30%;
  }
}

.selectHeadline {
  margin-bottom: $inputHeadlineMargin;
}

.selectContainer {
  display: inline-block;
  text-align: left;

  &.disabled {
    pointer-events: none;

    .selectWrapper {
      .react-selectize {
        background-color: var(--colorNeutralLight);
      }
    }
  }

  &.selectSmall {
    .selectWrapper {
      .react-selectize {
        .react-selectize-control {
          height: $heightInputSmall;
        }
      }
    }
  }

  &.selectMedium {
    .selectWrapper {
      .react-selectize {
        .react-selectize-control {
          height: $heightInputMedium;
        }
      }
    }
  }

  &.selectLarge {
    .selectWrapper {
      .react-selectize {
        .react-selectize-control {
          height: $heightInputLarge;
        }
      }
    }
  }

  .selectWrapper {
    position: relative;
    width: 100%;

    .react-selectize {
      &.simple-select {
        cursor: pointer;
      }

      &.open {
        .react-selectize-control {
          border: solid 1px var(--colorNeutralRegular);
          z-index: 1001;
        }
      }

      .react-selectize-control {
        position: relative;
        background-color: white;
        border: solid 1px var(--colorNeutralRegular);
        border-radius: $borderRadius;

        .react-selectize-placeholder {
          position: absolute;
          top: 0;
          left: 0;
          padding-left: $paddingLeft;
          padding-right: 35px;
          height: 100%;
          width: 100%;
          color: var(--colorNeutralRegular);
          pointer-events: none;
          display: flex;
          align-items: center;
        }

        .react-selectize-toggle-button-container {
          position: absolute;
          right: 18px;
          top: calc(50% - 6px);
          z-index: 1;
          width: 8px;
          height: 8px;
          transition: all 150ms;
          transform: rotate(-45deg);
          border-left: 1px solid var(--colorBackgroundPrimary);
          border-bottom: 1px solid var(--colorBackgroundPrimary);

          svg {
            display: none;
          }
        }

        .react-selectize-search-field-and-selected-values {
          padding-right: 35px;
          height: 100%;
          padding-left: $paddingLeft;
          transition: border 150ms;

          .resizable-input {
            height: 100%;
            background-color: transparent;
            width: 100% !important;
            background-color: transparent;
            @include ellipsis;
          }

          .value-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            padding-left: $paddingLeft;
            height: 100%;
            width: 100%;
            overflow: hidden;
            padding-right: 38px;

            .simple-value {
              height: 100%;
              width: 100%;
              display: flex;
              align-items: center;

              .label-note {
                margin-left: 1rem;
                color: var(--colorNeutralRegular);
              }

              span {
                display: flex;
                align-items: center;
                height: 100%;
                width: 100%;
                @include ellipsis;
              }
            }
          }
        }

        .react-selectize-reset-button-container {
          display: none;
          position: absolute;
          right: 32px;
          z-index: 1;
          width: 20px;
          height: 20px;
          background-image: url("../assets/images/buttons/closeSmall.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: 8px auto;
          cursor: pointer;
          @include verticalMid;

          svg {
            display: none;
          }
        }
      }

      .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        border-bottom-left-radius: $borderRadius;
        border-bottom-right-radius: $borderRadius;
        border: 1px solid var(--colorNeutralRegular);
        border-top: 0;
        background-color: white;
        z-index: 1000;
        max-height: 240px;
        overflow: auto;
        box-shadow: $dropdownShadow;

        .no-results-found {
          padding: 10px $paddingLeft;
          font-style: italic;
          pointer-events: none;
          background-color: var(--colorNeutralExtraLight);
        }

        .option-wrapper {
          min-height: 35px;
          padding: 11px 0;
          display: flex;
          align-items: center;

          &:not(:last-child) {
            border-bottom: 1px solid var(--colorNeutralLight);
          }

          &.highlight,
          &:hover {
            background-color: var(--colorNeutralExtraLight);
          }

          .simple-option {
            padding: 0 $paddingLeft;
            cursor: pointer;
            font-weight: $fontSemibold;

            span {
              color: var(--colorNeutralRegular);
              margin-left: 1rem;
            }
          }
        }
      }

      &.open {
        .react-selectize-control {
          background-color: var(--colorNeutralExtraLight);
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;

          .react-selectize-toggle-button-container {}

          .react-selectize-search-field-and-selected-values {
            &:focus,
            &:hover {}
          }
        }
      }
    }
  }

  &.readOnly {
    pointer-events: none;

    .selectWrapper {
      .react-selectize {
        .react-selectize-control {
          border-color: var(--colorNeutralExtraExtraLight);
          background-color: var(--colorNeutralExtraExtraLight);
          color: var(--colorNeutralSemiDark);

          &:focus,
          &:hover {
            border-color: transparent;
          }

          .react-selectize-toggle-button-container {
            display: none;
          }
        }

        &.open {
          .react-selectize-control {
            border-color: transparent;
            background-color: var(--colorNeutralExtraExtraLight);
            color: var(--colorNeutralSemiDark);

            &:focus,
            &:hover {
              border-color: transparent;
            }
          }
        }
      }
    }
  }

  &.error {
    .selectWrapper {
      .react-selectize {
        .react-selectize-control {
          border: solid 1px var(--colorAlert);

          &:focus,
          &:hover {
            border: solid 1px var(--colorAlert);
          }
        }

        &.open {
          .react-selectize-control {
            border: solid 1px var(--colorAlert);

            &:focus,
            &:hover {
              border: solid 1px var(--colorAlert);
            }
          }
        }
      }
    }
  }

  &.inlineHeadline {
    vertical-align: top;
    background-position: 16px center;
    background-repeat: no-repeat;
    background-size: 20px auto;

    .selectHeadline {
      padding-left: $paddingLeft;
      color: var(--colorInteractiveSecondary);
      text-transform: uppercase;
      letter-spacing: 1px;
      position: absolute;
      top: 5px;
      left: 0;
      pointer-events: none;
      z-index: 10;
    }

    .selectWrapper {
      .react-selectize {
        .react-selectize-control {
          .react-selectize-placeholder {
            top: 30px;
            height: 20px;
            color: var(--colorNeutralSemiDark);
          }

          .react-selectize-toggle-button-container {}

          .react-selectize-reset-button-container {}

          .react-selectize-search-field-and-selected-values {
            padding: 30px 38px 12px $paddingLeft;
            transition: border 300ms;
            height: 64px;

            .resizable-input {
              height: 100%;
              color: var(--textDarkPrimary);
              font-weight: $fontLight;
              background-color: transparent;
              width: 100% !important;
            }

            .value-wrapper {
              position: absolute;
              top: 30px;
              left: 0;
              padding-left: $paddingLeft;
              height: 20px;
              width: 100%;
              line-height: 20px;
              overflow: hidden;
              padding-right: 38px;
              color: var(--textDarkPrimary);
            }
          }
        }

        &.open {
          .react-selectize-control {
            .react-selectize-toggle-button-container {}
          }

          .dropdown-menu {
            top: calc(100% + -1px);
          }
        }
      }
    }
  }
}
