@import "shared/src/webKit/constants.scss";

.c-assignRoutes-assigneeState {
  display: flex;
  align-items: flex-end;
  margin: 20rem 0;

  > * {
    &:not(:last-child) {
      margin-right: 48rem;
    }

    &.c-assignRoutes-search {
      width: 360rem;
    }

    &.radioGroup {
      flex-direction: row;
      height: 32rem;
      align-items: center;

      > * {
        &:not(:last-child) {
          margin-bottom: 0;
          margin-right: 20rem;
        }
      }
    }
  }
}
