@import "resources/index";

tree-nav-node
{
    display: block;

    tree-nav-subtree &
    {
        padding-left: 16rem;
    }

    .tree-nav-node
    {
        position: relative;
        display: flex;
        padding: calc(4rem - var(--border-width-medium)) 12rem;
        height: 40rem;
        align-items: center;
        border: var(--border-width-medium) solid transparent;
        border-radius: var(--border-radius-medium);
        cursor: pointer;

        &:focus
        {
            // Ensure the focus outline is not covered by other items.
            z-index: 1;
        }

        &:not(.--active):hover,
        .focus-visible &:not(.--active):focus,
        &.--dragover
        {
            color: var(--surface-nav-link-surface-text-color--hover);
            background: var(--surface-nav-link-surface-color--hover);

            .tree-nav-node-icon > icon
            {
                color: var(--surface-nav-link-surface-icon-color--hover);
            }
        }

        &.--active
        {
            color: var(--surface-nav-link-surface-text-color--active);
            background: var(--surface-nav-link-surface-color--active);

            .tree-nav-node-icon > icon
            {
                color: var(--surface-nav-link-surface-icon-color--active);
            }
        }

        &.--dragover
        {
            border-color: var(--surface-primary-border-color);
        }
    }

    .tree-nav-node-title
    {
        position: relative;
        flex-grow: 1;

        text-input
        {
            position: absolute;
            top: 0;
            left: -6rem;
            right: -10rem;
            bottom: 0;

            --input-min-height: 1em;
            --input-padding: 0 0 0 6rem;
            --input-border-width: 0;
            --input-surface-color: transparent;
            --input-surface-color--hover: transparent;
            --input-surface-color--focus: transparent;
            --input-surface-text-color: currentColor;
            --input-surface-text-color--hover: currentColor;
            --input-surface-text-color--focus: currentColor;
        }
    }

    .tree-nav-node-actions
    {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        margin-left: auto;
        margin-right: -8rem;
        font-size: 16rem;
        visibility: hidden;
        background: inherit;

        icon
        {
            margin-left: var(--size-inline-spacing);
        }

        > icon
        {
            margin-right: 8rem;
            color: var(--surface-nav-link-surface-icon-color);
        }

        > div
        {
            pointer-events: none;
            display: flex;
            position: absolute;
            top: 0;
            right: 4rem;
            bottom: 0;
            padding-right: 4rem;
            align-items: center;
            color: var(--surface-nav-link-surface-icon-color--active);
            background: inherit;
            cursor: default;
            opacity: 0;
            max-width: 0;

            &::before
            {
                content: "";

                position: absolute;
                top: 0;
                left: -8rem;
                bottom: 0;
                width: 8rem;
                background: inherit;
                mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
            }
        }
    }

    body:not(.focus-visible) & .tree-nav-node:hover .tree-nav-node-actions,
    body.focus-visible & .tree-nav-node:focus .tree-nav-node-actions,
    body.focus-visible & .tree-nav-node:focus-within .tree-nav-node-actions
    {
        visibility: visible;
    }

    .tree-nav-node-actions:hover,
    body.focus-visible & .tree-nav-node-actions:focus-within
    {
        > icon
        {
            transition: opacity var(--animation-duration-short);
            transition-delay: var(--animation-delay-hover);
            opacity: 0;
        }

        > div
        {
            pointer-events: auto;
            transition: opacity var(--animation-duration-short), max-width 0s;
            transition-delay: var(--animation-delay-hover);
            opacity: 1;
            max-width: 400rem;

            icon
            {
                cursor: pointer;
            }
        }
    }

    $icon-size-folder: 22rem;
    $icon-size-file: 22rem;

    .tree-nav-node-icon
    {
        margin-right: calc(#{($icon-size-folder - $icon-size-file) / 2} + #{$icon-size-folder / $icon-size-file} * var(--size-inline-spacing));
        margin-left: ($icon-size-folder - $icon-size-file) / 2;
        font-size: $icon-size-file;
        vertical-align: middle;
        font-weight: 700;
        color: var(--surface-nav-link-surface-icon-color);
    }

    .tree-nav-node-icon > icon:last-child
    {
        opacity: 0;
    }

    .--folder-like .tree-nav-node-icon
    {
        margin-left: 0;
        margin-right: var(--size-inline-spacing);
        font-size: $icon-size-folder;
    }

    > .tree-nav-node.--active .tree-nav-node-icon > icon:first-child,
    > tree-nav-subtree.--descendents-active .tree-nav-node .tree-nav-node-icon > icon:first-child
    {
        opacity: 0.1;
    }

    > .tree-nav-node.--active .tree-nav-node-icon > icon:last-child,
    > tree-nav-subtree.--descendents-active .tree-nav-node .tree-nav-node-icon > icon:last-child,
    {
        color: var(--surface-nav-link-surface-icon-color--active);
        opacity: 1;
    }
}
