<template>

    <require from="../../tree-nav"></require>

    <require from="./tree-nav-node.scss"></require>

    <div
        class="tree-nav-node
            ${active ? '--active' : ''}
            ${dragover ? '--dragover' : ''}
            ${folderLike ? '--folder-like' : ''}
            ${model.expanded ? '--expanded' : ''}"
        tabindex.bind="active ? 0 : -1"
        click.trigger="onClick(false, $event)"
        dragover.trigger="onDragOver($event, model)"
        dragleave.trigger="onDragLeave()"
        drop.trigger="onDrop($event, model)">

        <md-icon-stack>
            <md-icon name="folder" click.trigger="onClick(true, $event)"></md-icon>
            <md-icon name.bind="iconName" click.trigger="onClick(true, $event)"></md-icon>
        </md-icon-stack>

        <span class="tree-nav-node-title">
            ${model.name}
        </span>

    </div>

    <tree-nav-subtree
        as-element="tree-nav"
        if.bind="expandable && model.expanded"
        tree.bind="tree"
        select-children.bind="tree.selectChildren"
        model.bind="model.children"
        tabindex="-1"
        class="${descendentsActive ? '--descendents-active' : ''}">
    </tree-nav-subtree>

</template>
