modal-panel[name="account"]
{
    h1
    {
        max-width: calc(66.66% - var(--size-inline-spacing));
    }

    .account-sign-out
    {
        display: flex;
        position: absolute;
        top: -6rem;
        right: 0;
        min-width: 33.33%;

        > button
        {
            flex-grow: 1;
            min-width: 0 !important;
        }

        &.--show-organization-selector
        {
            > button
            {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            > select-button
            {
                position: relative;
                margin-left: var(--border-width-medium);

                button
                {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;

                    &::before
                    {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: calc(var(--border-width-medium) * -1);
                        bottom: 0;
                        width: var(--border-width-medium);
                        background: inherit;
                        opacity: var(--opacity-faded);
                    }
                }

                dropdown-icon
                {
                    --dropdown-icon-size: var(--font-larger-font-size);

                    opacity: 1;
                }
            }

            .account-sign-out-select-organization-title
            {
                padding: var(--item-picker-surface-item-padding);
                font-weight: 600;
                white-space: nowrap;
                margin-right: 8rem;
            }
        }
    }

    footer > button,
    section > button
    {
        width: 100%;
    }
}
