////
/// @group settings/accessibility
////

/// The base accessibility settings.
$__summary: comment;


:root
{
    /// The width of the outline applied to an element when it has keyboard focus.
    --accessibility-focus-outline-width: 2px;

    /// The offset of the outline applied to an element when it has keyboard focus.
    --accessibility-focus-outline-offset: 2px;
}
