////
/// @group settings/modal
////

/// The settings to use for modals.
$__summary: comment;

@import "styles/resources/index";


/* stylelint-disable no-duplicate-selectors, scss/selector-no-redundant-nesting-selector */

:root
{
    // The color of the modal backdrop.
    --modal-backdrop-color: rgba(9, 30, 66, 0.54);

    // The shadow to apply around modals.
    --modal-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2), 0 0 25rem 0 rgba(0, 0, 0, 0.1);
}

:root
{
    // The color of the top and bottom borders of modal panels.
    // This is derived from the backdrop color, as the intent is to subtly hint
    // that the panel is sliding within the viewport, on top of the backdrop.
    // We use borders instead of margins, as it allows us to better match the
    // color to the panel surface, and to avoid any distracting transparency.
    --modal-panel-border-color: rgba(9, 30, 66, 0.2);

    // The min width of the panel, as a fixed size.
    --modal-panel-min-width: 140rem;

    // The max width of the panel, as a percentage of the available space.
    --modal-panel-max-width: 70%;

    // The shadow, or rather afterglow, to apply during the slide-out animation.
    // This reduces the contrast at the edge, thereby making the animation appear
    // more smooth and less affected by ghosting.
    --modal-panel-afterglow: 0 0 20px 0 rgba(255, 255, 255, 0.4);

    // The width of the action area within the sidebar.
    --modal-panel-actions-width: var(--size-app-sidebar-width);
}

:root
{
    @media ($media-smallest-max)
    {
        // The margin to apply around the dialog.
        --modal-dialog-margin-top: 0.5rem;
        --modal-dialog-margin-left: 0.5rem;
        --modal-dialog-margin-right: 0.5rem;
        --modal-dialog-margin-bottom: 0.5rem;

        // The max width of the dialog, as a percentage of the available space.
        --modal-dialog-max-height: calc(100vh - var(--modal-dialog-margin-top) - var(--modal-dialog-margin-bottom));

        // The min height of the dialog, as a fixed size.
        --modal-dialog-min-height: 20rem;

        // The max width of the dialog, as a percentage of the available space.
        --modal-dialog-max-width: calc(100vw - var(--modal-dialog-margin-left) - var(--modal-dialog-margin-right));

        // The min width of the dialog, as a fixed size.
        --modal-dialog-min-width: var(--modal-dialog-max-width);
    }

    @media ($media-smaller-min)
    {
        // The margin to apply around the dialog.
        --modal-dialog-margin-top: 22rem;
        --modal-dialog-margin-left: 40rem;
        --modal-dialog-margin-right: 40rem;
        --modal-dialog-margin-bottom: 27rem;

        // The max width of the dialog, as a percentage of the available space.
        --modal-dialog-max-height: calc(100vh - var(--modal-dialog-margin-top) - var(--modal-dialog-margin-bottom));

        // The min height of the dialog, as a fixed size.
        --modal-dialog-min-height: 20rem;

        // The max width of the dialog, as a percentage of the available space.
        --modal-dialog-max-width: calc(100vw - var(--modal-dialog-margin-left) - var(--modal-dialog-margin-right));

        // The min width of the dialog, as a fixed size.
        --modal-dialog-min-width: 140rem;
    }
}

:root
{
    // The width of the action area within the overlay.
    --modal-overlay-actions-width: var(--modal-panel-actions-width);
}
