////
/// @group resources/styles/settings/shadow
////

/// The default shadows used to indicate the elevation of elements.
$__summary: comment;


:root
{
    /// The shadow to use for floats.
    --shadow-float: 0 0 4rem 0 rgba(0, 0, 0, 0.1);

    /// The shadow to use for tooltips.
    --shadow-tooltip: 0 0 4rem 0 rgba(0, 0, 0, 0.1);

    /// The shadow to use for popovers.
    --shadow-popover: 0 0 8rem 0 rgba(0, 0, 0, 0.1);

    /// The shadow to use for dropdowns, when positioned above the owner element.
    --shadow-dropdown-above: 0 -2rem 8rem 0 rgba(0, 0, 0, 0.1);

    /// The shadow to use for dropdowns, when positioned below the owner element.
    --shadow-dropdown-below: 0 2rem 8rem 0 rgba(0, 0, 0, 0.1);

    // The shadow to use for toasts.
    --shadow-toast: 0 0 2rem 0 rgba(0, 0, 0, 0.2), 0 0 12rem 0 rgba(0, 0, 0, 0.1);

    // The shadow to use for modals.
    --shadow-modal: 0 0 4rem 0 rgba(0, 0, 0, 0.2), 0 0 100rem 0 rgba(0, 0, 0, 0.1);
}
