@import "resources/index";

[scroll]
{
    // HACK: Because Firefox does not support the `overlay` value.
    overflow-y: auto;

    // Enable vertical scrolling.
    overflow-y: overlay;
    overflow-x: hidden;

    // The duration to use for opacity transitions.
    --fade-duration: 0.3s;

    // The timing function to use for opacity transitions.
    --fade-timing-function: ease-out;

    // Enable momentum-based scrolling.
    -webkit-overflow-scrolling: touch;

    // Prevent pull-to-refresh.
    overscroll-behavior-y: none;

    [scroll-fade]
    {
        // Apply transition to smoothe opacity changes.
        transition: opacity var(--fade-duration);
        transition-timing-function: var(--fade-timing-function);
    }

    html:not(.platform-macos):not(.platform-ios) &
    {
        // The thickness of the scrollbar.
        --scrollbar-thickness: 12rem;

        // The min length of the scrollbar.
        --scrollbar-min-length: calc(var(--scrollbar-thickness) * 3);

        // Use a thin scroll bar in Firefox browsers.
        scrollbar-width: thin;

        // Style the scrollbar in Firefox browsers.
        scrollbar-color: var(--surface-scrollbar-thumb-color) var(--surface-scrollbar-track-color);

        // Use overlay scroll bars in browsers based on the Trident and EdgeHTML engines.
        -ms-overflow-style: -ms-autohiding-scrollbar;

        // Style the scrollbar in browsers based on the WebKit and Blink engines.

        &::-webkit-scrollbar
        {
            width: var(--scrollbar-thickness);
            height: var(--scrollbar-thickness);
        }

        &::-webkit-scrollbar-track
        {
            // stylelint-disable-next-line selector-pseudo-class-no-unknown
            &:vertical
            {
                border-left: 1rem solid var(--surface-scrollbar-track-color);

                &:hover
                {
                    border-left: 1rem solid var(--surface-scrollbar-track-color--hover);
                }
            }

            // stylelint-disable-next-line selector-pseudo-class-no-unknown
            &:horizontal
            {
                border-top: 1rem solid var(--surface-scrollbar-track-color);

                &:hover
                {
                    border-top: 1rem solid var(--surface-scrollbar-track-color--hover);
                }
            }
        }

        &::-webkit-scrollbar-corner
        {
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb
        {
            min-height: calc(var(--scrollbar-thickness) * 3);
            border: 2rem solid transparent;
            border-radius: calc(var(--scrollbar-thickness) / 2);
            box-shadow: inset 0 0 var(--scrollbar-thickness) var(--scrollbar-thickness) var(--surface-scrollbar-thumb-color);

            &:hover
            {
                box-shadow: inset 0 0 var(--scrollbar-thickness) var(--scrollbar-thickness) var(--surface-scrollbar-thumb-color--hover);
            }
        }

        &::-webkit-scrollbar-button
        {
            display: none;
        }
    }
}
