@import "resources/index";

[scroll]
{
    overflow-y: overlay;
    overflow-x: hidden;

    [scroll-fade]
    {
        transition: opacity 0.1s;
    }

    // Enable momentum-based scrolling.
    -webkit-overflow-scrolling: touch;

    // Prevent pull-to-refresh.
    overscroll-behavior-y: none;

    &.disable-hover *
    {
        pointer-events: none !important;
    }
}
