@import "shared/src/webKit/constants.scss";

.c-driverDispatch-container {
  display: flex;
  height: 100%;

  .pageHeader .pageHeader-top {
    height: 40px;
  }
}

.c-driverDispatch-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .pageHeader {
    border: 0;

    .pageHeader-top {
      margin: 0;
    }

    .pageHeader-toolbar {
      margin: 0;
    }
  }

  .pageContent {
    .pageContent-content {
      padding-bottom: 4rem;
    }
  }
}
