account
{
    display: block;

    button[appearance="solid"]
    {
        width: 100%;
    }

    .account-button-grid
    {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: var(--font-current-margin-top);
        column-gap: var(--font-current-margin-top);
    }

    busy-indicator
    {
        --busy-indicator-opacity: var(--opacity-faded-more);
        --busy-indicator-content-opacity: 1;
        --busy-indicator-stroke-width: 4rem;
    }
}
