@import "shared/src/webKit/constants.scss";

.c-routeDetails {
  height: 100%;
  overflow: auto;
}

.c-routeDetails-container {
  display: flex;
  align-items: stretch;
  min-height: 100%;
}

.c-routeDetails-main {
  flex-grow: 1;
  min-width: 800px;
}

.c-routeDetails-section {
  padding: 25px 32px;
}

.c-routeDetails-section-heading {
  border-bottom: solid 1px var(--colorNeutralLight);
  padding-bottom: 11px;
}

.c-routeDetails-color-positive {
  color: var(--colorOk);
}

.c-routeDetails-color-negative {
  color: var(--colorAlert);
}
