@import "shared/src/webKit/constants.scss";

.c-driverDispatch-filters-checkboxGroup {
  > * {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.c-driverDispatch-filters-checkboxGroup-toggle {
  color: var(--colorInteractivePrimary);
  cursor: pointer;
  display: flex;
  align-items: center;

  span {
    margin-left: 10px;
    height: 8px;
    width: 8px;
    border-left: 1px solid var(--colorInteractivePrimary);
    border-bottom: 1px solid var(--colorInteractivePrimary);
    transform: rotate(-45deg);
    margin-top: -4px;
  }

  &.open {
    span {
      transform: rotate(-225deg);
      margin-top: 0;
      margin-bottom: -4px;
    }
  }
}
