////
/// @group resources/themes/lingu-light
////

/// Public interface for the theme.
$__summary: comment;


:root
{
    // Indicate to the browser that this is a light theme.
    color-scheme: light;

    // Set the opacity of text skeletons.
    --text-skeleton-opacity: 0.032;
}

// Export the palettes.
// Palettes define the standard values used within the theme.
@import "./palettes/color";


// Export the settings.
// Settings define theme specific overrides to the base settings.
@import "./settings/font-family";
@import "./settings/font";


// Export the themes.
// Themes define the values to use within different areas of the app.
@import "./surfaces/base";
@import "./surfaces/card";
@import "./surfaces/neutral";
@import "./surfaces/primary";
@import "./surfaces/website";

:root
{
    --modal-backdrop-color: rgba(0, 0, 0, 0.54);
    --modal-backdrop-filter: none;
    --palette-color-neutral-darker: hsl(210, 6%, 23%) !important;

    /**
     * The label color, set in temp.scss.
     */
    --temp-label-color: #555555;
}

body page-sidebar page-section:not(.--header-slot-empty) .page-section-header
{
    padding-top: 16rem;
    border-top: var(--border-width-thin) solid var(--surface-separator-color) !important;
    background-color: transparent !important;
    color: var(--surface-subtle-color) !important;
}

[surface$="/primary"]
{
    card-skeleton
    {
        --card-skeleton-opacity: 1 !important;

        filter: none !important;
    }
}

app-sidebar
{
    --surface-color: #ffffff !important;
    --surface-text-color: hsl(210, 6%, 25%) !important;
    border-right: 1px solid var(--palette-color-neutral-light) !important;

    .app-sidebar-shadow
    {
        display: none;
    }

    user-identity:not(:hover) identity-picture,
    user-identity:not(:hover) .user-identity-text,
    .app-sidebar--powered-by:not(:hover)
    {
        color: var(--palette-color-neutral-darker) !important;
    }

    user-identity:hover identity-picture,
    user-identity:hover .user-identity-text,
    .app-sidebar--powered-by:hover
    {
        color: var(--palette-color-primary) !important;
    }

    app-icon,
    app-icon:hover,
    app-icon.--highlight,
    {
        filter: saturate(0) contrast(1.5) brightness(1.1) !important;
    }

    icon:hover
    {
        color: var(--palette-color-primary) !important;
    }

    .app-sidebar-shadow div
    {
        width: 1rem !important;
        opacity: 1 !important;
        background: var(--palette-color-neutral-light) !important;
    }
}

page-sidebar
{
    .page-sidebar-edge div
    {
        opacity: 0;
    }

    .page-sidebar-edge-icon icon
    {
        color: var(--palette-color-neutral-dark) !important;
    }

    &:hover .page-sidebar-edge-icon icon
    {
        color: var(--palette-color-primary) !important;
    }
}

page-content page-header
{
    border-bottom-color: var(--palette-color-neutral-light);
}

modal-overlay
{
    --border-color: var(--palette-color-neutral-lightest) !important;
    --surface-color: var(--palette-color-neutral-lightest) !important;
    --surface-text-color: inherit !important;

    [surface$="card"]
    {
        --border-color: hsl(220, 14%, 94%) !important;
        --border-color--hover: hsl(220, 14%, 94%) !important;
        --border-color--focus: hsl(220, 14%, 94%) !important;
        --surface-color: #ffffff !important;
        --surface-color--hover: #ffffff !important;
        --surface-color--focus: #ffffff !important;
    }

    &::after
    {
        border-color: var(--palette-color-neutral-light) !important;
        box-shadow: none !important;
    }
}
