////
/// @group resources/themes/lingu-light
////

/// Public interface for the theme.
$__summary: comment;


// Export the legacy variables.
@import "legacy/packages/shared/src/webKit/assets/themes/default/constants";

// Export the palettes.
// Palettes define the standard values used within the theme.
@import "./palettes/color";

// Export the settings.
// Settings define theme specific overrides to the base settings.
@import "./settings/font";

// HACK: Override default styles.

body
{
    /**
     * The color of the border of tabs.
     */
     --tab-nav-border-color: var(--palette-color-neutral-light);

    /**
     * The width of the border of tabs.
     */
     --tab-nav-border-width: var(--border-width-medium);

    /**
     * The width of the border of inputs.
     */
    --input-border-width: var(--border-width-thin);
}

button[appearance="outline"]
{
    border-color: var(--palette-color-neutral-light) !important;
}
