@import "base/resources/index";

app-icon
{
    display: block;

    a
    {
        // Lighten the icon to increase contrast.
        filter: brightness(90%);

        // Animate the hover effect.
        transition: filter var(--animation-duration-short);

        &:hover
        {
            // Highlight on hover.
            filter: brightness(100%);
        }
    }
}
