@import "shared/src/webKit/constants.scss";

.c-users-create {
  width: $formWidth;
  display: flex;
  flex-direction: column;

  .c-userManagement-roles {
    margin-bottom: 21px;
  }

  .c-users-create-input {
    margin-bottom: 21px;
  }

  .c-users-create-sendButton {
    margin-top: 9px;
    width: 245px;
  }
}
