////
/// @group themes/coop/settings/font
////

/// Theme specific overrides to the base settings.
$__summary: comment;


[context="app"]
{
    /// The font size of the largest text.
    --font-largest-font-size: 22rem;

    /// The font weight of the largest text.
    --font-largest-font-weight: 400;

    /// The font size of the largest text.
    --font-larger-font-size: 18rem;

    /// The font weight of the larger text.
    --font-larger-font-weight: 400;

    /// The font weight of the large text.
    --font-large-font-weight: 400;
}
