<template>

    <require from="./sign-in.scss"></require>

    <div if.bind="!model.busy && !model.done">

        <div validation validation.ref="validation" keydown.delegate="onKeyDown($event)">

            <email-input value.bind="model.email" autocomplete="email" autofocus>

                <span slot="placeholder" translate>
                    Email address
                </span>

                <div slot="validation">

                    <required-validator
                        value.bind="model.email">
                    </required-validator>

                </div>

            </email-input>

            <password-input class="margin-top" value.bind="model.password" autocomplete="password">

                <span slot="placeholder" translate>
                    Password
                </span>

                <div slot="validation">

                    <required-validator
                        value.bind="model.password">
                    </required-validator>

                </div>

            </password-input>

            <toolbar class="margin-top">

                <check-toggle label="after" value.bind="model.remember">

                    <span slot="heading" translate>
                        Remember me
                    </span>

                </check-toggle>

                <a tabindex="0" class="flex-push-right text-align-right" click.trigger="onForgotPasswordClick()" translate>
                    Forgot your password?
                </a>

            </toolbar>

            <div surface="base">

                <button class="margin-top" appearance="solid" accent="primary" translate click.delegate="onSignInClick()">
                    Sign in
                </button>

            </div>

        </div>

        <template if-environment="development">

            <div class="margin-top text-align-center opacity-faded-less" translate>
                or
            </div>

            <div class="account-button-grid margin-top" surface="base">

                <button appearance="solid" accent="primary" click.delegate="signInWithGoogle()" translate>
                    Sign in with <b>Google</b>
                </button>

                <button appearance="solid" accent="primary" click.delegate="signInWithMicrosoft()" translate>
                    Sign in with <b>Microsoft</b>
                </button>

            </div>

        </template>

    </div>

    <div if.bind="model.busy && !model.done">

        <busy-indicator class="font-largest" translate>
            Signing in…
        </busy-indicator>

    </div>

    <div if.bind="!model.busy && model.done">

        <div class="font-large" translate>
            Signed in
        </div>

    </div>

</template>
