<template validation>

    <require from="./settings-pane.scss"></require>

    <modal-section>

        <select-input
            label="above"
            value.bind="locale"
            display-value.bind="locale.name"
            none.bind="false"
            filter="auto">

            <div slot="heading" translate>
                Language
            </div>

            <div slot="description" translate>
                This is the language used for the app - choose the one you prefer.<br>
                Note that changing this will cause the app to reload.
            </div>

            <item repeat.for="locale of locales" model.bind="locale">
                ${locale.name}
            </item>

        </select-input>

        <select-input
            if-environment="development"
            label="above"
            value.bind="theme"
            display-value.bind="theme.name"
            none.bind="false"
            filter="auto"
            class="margin-double-top">

            <div slot="heading" translate>
                Theme
            </div>

            <div slot="description" translate>
                This is the theme used for the app - choose the one you prefer.<br>
                Note that changing this will cause the app to reload.
            </div>

            <item repeat.for="theme of themes" model.bind="theme" class="theme-item">

                <div class="theme-preview" css="background: ${theme.preview.primary}"></div>
                <div>${theme.name}</div>
            </item>

        </select-input>

    </modal-section>

</template>
