modal-panel[name="account"] settings-pane
{
    .theme-item
    {
        display: flex;
        align-items: center;

        .theme-preview
        {
            width: 10rem;
            height: 10rem;
            border: 1px solid transparent;
            border-radius: var(--border-radius-small);
            margin-right: var(--size-inline-spacing-large);
        }

        &.--active .theme-preview
        {
            border-color: var(--surface-separator-color);
        }
    }
}
