@import "resources/index";

toolbar
{
    // Use horizontal flex layout.
    display: flex;

    // Center items vertically.
    align-items: center;

    > :not(:last-child)
    {
        // Apply margin to separate items.
        margin-right: 6rem;
    }

    // Use a small default width for text inputs,
    // and expand them when they receive focus.
    input[type="text"],
    input[type="search"]
    {
        width: 8vw;
        transition: width calc(2 * var(--animation-duration-medium));

        // Delay transition so it's possible to click the clear icon within the input.
        transition-delay: 0.1s;

        &:focus
        {
            width: 16vw;
        }
    }

    select
    {
        width: auto;
        min-width: 16rem;
    }
}
