@import "shared/src/webKit/constants.scss";

.c-liveTracking-routesPanel-filters {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid var(--colorNeutralLight);
}

.c-liveTracking-routesPanel-filters-badge {
  display: inline-block;
  margin-left: 6px;
  padding: 1px 3px;
  min-width: 2em;
  border-radius: 2px;
  line-height: 1.33;
  font-size: 12px;
  text-align: center;
  background: var(--colorNeutralRegular);
  color: white;
}

.c-liveTracking-routesPanel-filters-criticality:hover {
  .c-liveTracking-routesPanel-filters-badge {
    &.c-liveTracking-box-positive {
      background-color: var(--colorOkDarken) !important;
    }
    &.c-liveTracking-box-warning {
      background-color: var(--colorWarningDarken) !important;
    }
    &.c-liveTracking-box-negative {
      background-color: var(--colorAlertDarken) !important;
    }
  }
}