@import "shared/src/webKit/constants.scss";

.c-liveTracking-routesPanel-filters-outer {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.c-liveTracking-routesPanel-filters {
  margin: 20px;
  font-size: 12px;
}

.c-liveTracking-routesPanel-filters-badge {
  display: inline-block;
  margin-left: 6px;
  padding: 4px 4px;
  min-width: 2em;
  border-radius: 12px;
  line-height: 1.33;
  font-size: 12px;
  text-align: center;
  background: var(--legacy-card-surface-box-surface-color, var(--colorNeutralRegular));
  color: white;
}

.c-livetracking-filter {
  margin-left: 18px;
  color: var(--surface-primary-text-color);
  font-size: 20rem;
}

.c-liveTracking-routesPanel-filters-infoRight {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.c-liveTracking-routesPanel-filters-count {
  margin-top: -3px;
  text-align: right;
  color: var(--surface-primary-text-color);
}

.c-liveTracking-routesPanel-filters-enabledCount {
  color: var(--surface-primary-text-color);
  margin-right: 18px;
}

.c-liveTracking-routesPanel-filters-input {
  height: 40px;
  width: 100%;
}

.c-liveTracking-routesPanel-filters-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 14px;
}

.c-liveTracking-routesPanel-filters-criticality {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.c-liveTracking-box-white {
  background-color: var(--surface-color);
  color: var(--surface-subtle-color, #555);
}

.c-liveTracking-box-gray {
  color: var(--surface-neutral-surface-text-color, white);
  background-color: var(--surface-neutral-surface-color, #9d9d9d);
}

.c-liveTracking-routesPanel-filters-title {
  font-size: 14px;
  padding-bottom: 5px;
  margin-bottom: 14px !important;
  border-bottom: 1px solid var(--colorNeutralLight);
}

.c-liveTracking-routesPanel-filters-expandedOuter {
  border-top: 1px solid var(--colorNeutralLight);
  background-color: var(--legacy-card-surface-color, #f8f9f9);
  flex-basis: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.c-liveTracking-routesPanel-filters-expanded {
  padding: 20px;
  flex-grow: 1;

  .multiSelectContainer
  {
    width: 100%;
  }

  > div {
    > div:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  > div:not(:last-child) {
    margin-bottom: 20px;
  }
}
