modal-panel[name="assign-driver"]
{
    --modal-panel-min-width: 220rem;

    data-table
    {
        --data-table-columns: min-content min-content 2.5fr 2fr 2.5fr;
    }

    identity-picture
    {
        border-radius: 50%;
    }
}
