<template>

    <require from="./import-upload.scss"></require>

    <select-input
        value.bind="selectedConsignor"
        label="above"
        filter="auto"
        display-value.bind="selectedConsignor.primaryName">

        <div slot="heading" translate>
            Upload for
        </div>

        <span slot="placeholder" translate>
            Choose consignors
        </span>

        <item repeat.for="consignor of availableConsignors" model.bind="consignor">
            ${consignor.primaryName}
        </item>

        <div slot="validation">

            <required-validator
                value.bind="selectedConsignor">
            </required-validator>

        </div>

    </select-input>

    <file-dropzone
        dropzone.bind="dropzone"
        options.bind="dropzoneOptions"
        class="${dropzoneError == 'type' ? '--error-filetype' : ''}">

        <div if.bind="!uploadComplete" class="upload-text">
            <span translate>
                You can drop the excel (.xlsx) file here
            </span>
            <br/>
            <span translate>
                or click this window to find the file on your computer
            </span>
        </div>

        <div if.bind="uploadComplete" class="upload-complete-headline" translate>
            Your orders have been received in the system
        </div>

        <div if.bind="uploadComplete" class="upload-complete-text" translate>
            Note that it can take several minutes to create the orders
        </div>

        <img if.bind="dropzoneError == null" class="upload-icon margin-top" src="./resources/images/upload-excel.svg" />
        <img if.bind="dropzoneError == 'type' && file != null" class="upload-icon" src="./resources/images/wrong-file.svg" />

        <div if.bind="dropzoneError == 'type' && file != null" slot="error-message" class="error-message margin-top" accent="negative">
            <icon name="warning"></icon>
            <span translate>
                The chosen filetype ${fileExtension} is incorrect. The file has to be ${dropzoneOptions.acceptedFiles}.
            </span>
        </div>

    </file-dropzone>

    <button disabled.bind="file == null || dropzoneError != null" appearance="solid" accent="primary" click.trigger="onUploadClick()" translate>
        Upload
    </button>

</template>
