text-input
{
    // Set the default resize mode.
    resize: vertical;

    &.--autosize
    {
        > .input-control > .input-control-inner .input-input
        {
            // Position the input on top of the autosized element.
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            resize: none !important;

            // HACK: Because Firefox does not size the textarea correctly without it.
            height: 100%;
        }

        > .input-control > .input-control-inner .input-autosize
        {
            // Style the content as if it was a textarea.
            visibility: hidden;
            padding: var(--input-padding);
            overflow: hidden;
            overflow-wrap: break-word;
            white-space: pre-wrap;
        }
    }

    &.--multiline
    {
        > .input-control
        {
            // Use column layout.
            flex-direction: column;

            > div[slot="before"]
            {
                // Apply a border below the before content.
                border-bottom: var(--input-border-width) solid var(--input-border-color);
            }

            > div[slot="after"]
            {
                // Apply a border above the after content.
                border-top: var(--input-border-width) solid var(--input-border-color);
            }

            > span[slot="before"]
            {
                // Apply the input padding, except at the end closest to the input value.
                padding: var(--input-padding);

                // Prevent wrapping.
                white-space: inherit;
            }

            > span[slot="after"]
            {
                // Apply the input padding, except at the end closest to the input value.
                padding: var(--input-padding);

                // Prevent wrapping.
                white-space: inherit;
            }
        }
    }
}
