text-input
{
    // Set the default resize mode.
    resize: vertical;

    &.--autosize
    {
        > .input-control > .input-control-inner .input-input
        {
            // Position the input on top of the autosized element.
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            resize: none !important;
        }

        > .input-control > .input-control-inner .input-autosize
        {
            // Style the content as if it was a textarea.
            visibility: hidden;
            padding: var(--input-padding);
            overflow: hidden;
            overflow-wrap: break-word;
            white-space: pre-wrap;
        }
    }
}
