<template>

    <require from="./collection-point-overview.scss"></require>
    <require from="app/components/linear-meter/linear-meter"></require>
    <require from="app/components/circular-meter/circular-meter"></require>

    <page-section>

        <div class="control-row">

            <!-- 1st card -->
            <card class="flex-basis-1-of-4 text-align-center --non-clickable">

                <div class="font-small opacity-faded" translate>
                    Delivered orders
                </div>

                <circular-meter accent.bind="deviatedOrdersCount > 0 ? 'negative' : 'neutral' & attr" percentage.bind="completedOrdersCount * 100 / entry.orders.length">

                    <div>

                        <div class="font-largest">
                            <span empty-value>${completedOrdersCount}</span>/<span empty-value>${entry.orders.length}</span>
                        </div>

                        <div if.bind="deviatedOrdersCount > 0" accent="neutral" class="font-small margin-top" translate>
                            ${deviatedOrdersCount} issues
                        </div>

                    </div>

                </circular-meter>

            </card>

            <!-- 2nd card -->
            <card class="flex-basis-1-of-4 text-align-center --non-clickable">

                <!-- Top section -->
                <div class="card-section-top card-section">

                    <div class="font-small opacity-faded">

                        <span translate>
                            Total orders count
                        </span>

                    </div>

                    <div class="font-largest">

                        <span empty-value>
                            ${entry.orders.length}
                        </span>

                    </div>

                </div>

                <hr class="hr-line margin">

                <!-- Bottom section -->
                <div class="card-section-bottom card-section">

                    <div class="font-small opacity-faded" translate>
                        Orders delivered
                    </div>

                    <div class="font-largest">

                        <span empty-value>
                            ${completedOrdersCount}
                        </span>

                    </div>

                </div>
            </card>

            <!-- 3rd card -->
            <card class="flex-basis-1-of-4 text-align-center --non-clickable">

                <!-- Top section -->
                <div class="card-section-top card-section">

                    <div class="font-small opacity-faded">

                        <span translate>
                            Timeframe
                        </span>

                    </div>

                    <div  class="font-largest" empty-value>
                        ${entry.timeRange | timeRange : false}
                    </div>

                </div>

                <hr class="hr-line margin">

                <!-- Bottom section -->
                <div class="card-section-bottom card-section">

                    <div class="font-small opacity-faded" translate>
                        Total colli
                    </div>

                    <div class="font-largest" empty-value>
                        ${totalColliCount}
                    </div>

                </div>

            </card>

            <!-- 4th card -->
            <card class="flex-basis-1-of-4 text-align-center --non-clickable">

                <!-- Top section -->
                <div class="card-section-top card-section">

                    <div class="font-small opacity-faded" translate>
                        Delayed orders
                    </div>

                    <div class="font-largest">

                        <span empty-value>
                            ${delayedOrdersCount}
                        </span>

                    </div>

                </div>

                <hr class="hr-line margin">

                <div if.bind="route.status.slug !== 'completed' && route.status.slug !== 'in-progress'" class="card-section-bottom card-section">

                    <div class="font-small opacity-faded" translate>
                        Orders not delivered
                    </div>

                    <div class="font-largest" empty-value>
                        ${deviatedOrdersCount}
                    </div>

                </div>
                <!-- Bottom section end -->

            </card>

        </div>

    </page-section>

</template>
