collection-point-overview
{
    --font-largest-font-weight: 400;

    card
    {
        --card-height: 250rem;

        > a
        {
            justify-content: space-around;
        }
    }

    card
    {
        .card-section
        {
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            .card-section-top
            {
                padding-bottom: 12rem;
            }

            .card-section-bottom
            {
                padding-top: 12rem;
            }

            .card-section-ratingStar
            {
                color: var(--surface-primary-text-color);
                margin-bottom: 2rem;
            }
        }

        circular-meter
        {
            height: 180rem;
            width: 180rem;
            align-self: center;

            .route-cancelled-warning
            {
                icon
                {
                    height: 24rem;
                    width: 20rem;
                }
            }
        }
    }
}
