@import "shared/src/webKit/constants.scss";

.c-routeDetails-metrics-metric {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 8px;
}

.c-routeDetails-metrics-metric-body {
  line-height: 60px;
  min-height: 60px;
  font-size: 40px;
  font-weight: 400;
}

.c-routeDetails-metrics-metric-header,
.c-routeDetails-metrics-metric-footer {
  font-size: 12px;
  line-height: 13px;
  min-height: 13px;
}

.c-routeDetails-metrics-metric-header {
  font-weight: bold;

  .c-routeDetails-metrics-metric-positive & {
    color: $textDarkInactive;
  }

  .c-routeDetails-metrics-metric-negative & {
    color: $colorAlert;
  }
}
