<template>

    <require from="app/components/data-section/data-section"></require>
    <require from="../order-accordion/order-accordion"></require>
    <require from="./components/deviation-accordion/deviation-accordion"></require>

    <require from="./route-stop-details.scss"></require>

    <modal-header scroll-fade="0.3">

        <h1 class="font-largest flex-row" tabindex="-1" autofocus="visible.bind: false">

            <div translate>
                Stop ${model.routeStop.stopNumber}
            </div>

            <div class="opacity-faded-more margin-left-large margin-right-large">
                –
            </div>

            <div class="${model.routeStop.status.accent == 'neutral' ? 'opacity-faded' : ''}" accent.bind="model.routeStop.status.accent & attr">
                ${model.routeStop.status.name}
            </div>

        </h1>

    </modal-header>

    <data-section class="margin-bottom" scroll-fade="0.4">

        <div class="flex-row">

            <div class="flex-row flex-basis-1-of-2">

                <div class="margin-large-right">

                    <div class="opacity-faded margin-bottom" translate>
                        Reference
                    </div>

                    <div class="opacity-faded margin-bottom" translate>
                        Planned arrival
                    </div>

                    <div if.bind="model.routeStop.arrivedTime != null" class="opacity-faded" translate>
                        Actual arrival
                    </div>

                    <div if.bind="model.routeStop.arrivedTime == null" class="opacity-faded" translate>
                        Estimated arrival
                    </div>

                </div>

                <div>

                    <div class="margin-bottom user-select-text" empty-value>
                        ${model.routeStop.reference}
                    </div>

                    <div class="margin-bottom user-select-text" empty-value>
                        ${model.routeStop.arrivalTimeFrame | dateTimeRange: 'narrow' : false}
                    </div>

                    <div class="user-select-text" if.bind="model.routeStop.arrivedTime != null" empty-value>
                        ${model.routeStop.arrivedTime | dateTime: 'narrow' : false}
                    </div>

                    <div class="user-select-text" if.bind="model.routeStop.arrivedTime == null" empty-value>
                        ${model.routeStop.estimates.arrivalTime | dateTime: 'narrow' : false}
                    </div>

                </div>

            </div>

            <div class="flex-row flex-basis-1-of-2">

                <div class="margin-large-right">

                    <div class="opacity-faded margin-bottom" translate>
                        Type
                    </div>

                    <div class="opacity-faded margin-bottom">
                        <template translate if.bind="model.routeStop.type.slug !== 'break'">
                            Estimated task time
                        </template>
                        <template translate if.bind="model.routeStop.type.slug === 'break'">
                            Break time
                        </template>
                    </div>

                    <div class="opacity-faded">
                        <template translate if.bind="model.routeStop.type.slug !== 'break'">
                            Actual task time
                        </template>
                        <template translate if.bind="model.routeStop.type.slug === 'break'">
                            Actual Break time
                        </template>
                    </div>

                </div>

                <div>

                    <div class="margin-bottom user-select-text" empty-value>
                        ${model.routeStop.type.name}
                    </div>

                    <div class="margin-bottom user-select-text"  if.bind="model.routeStop.type.slug !== 'break'" empty-value>
                        ${model.routeStop.estimates.taskTime | duration: 'narrow'}
                    </div>

                    <div class="margin-bottom user-select-text"  if.bind="model.routeStop.type.slug === 'break'" empty-value>
                        ${model.routeStop.initialEstimates.taskTime | duration: 'narrow'}
                    </div>

                    <div class="user-select-text" empty-value>
                        ${model.routeStop.taskTime | duration: 'narrow'}
                    </div>

                </div>

            </div>

        </div>

    </data-section>

    <!-- Consignee -->

    <hr class="hr-line margin-bottom">

    <data-section class="margin-bottom" toggle.bind="true">

        <div slot="header" translate>
            Consignee
        </div>

        <div class="flex-row margin-large-bottom">

            <div>
                <div if.bind="model.routeStop.location.address" class="margin-bottom margin-large-right opacity-faded" translate>
                    Address
                </div>
                <div if.bind="model.routeStop.outfit.companyName" class="margin-bottom margin-large-right opacity-faded" translate>
                    Company
                </div>
                <div if.bind="model.routeStop.outfit.personName" class="margin-bottom margin-large-right opacity-faded" translate>
                    Name
                </div>
                <div if.bind="model.routeStop.outfit.contactEmail" class="margin-bottom margin-large-right opacity-faded" translate>
                    Email
                </div>
                <div if.bind="model.routeStop.outfit.contactPhone" class="margin-large-right opacity-faded" translate>
                    Phone
                </div>
            </div>

            <div>
                <div if.bind="model.routeStop.location.address" class="margin-bottom user-select-text">
                    ${model.routeStop.location.address}
                </div>
                <div if.bind="model.routeStop.outfit.companyName" class="margin-bottom user-select-text">
                    ${model.routeStop.outfit.companyName}
                </div>
                <div if.bind="model.routeStop.outfit.personName" class="margin-bottom user-select-text">
                    ${model.routeStop.outfit.personName}
                </div>
                <div if.bind="model.routeStop.outfit.contactEmail" class="margin-bottom user-select-text">
                    <a href="mailto:${model.routeStop.outfit.contactEmail}" class="user-select-text">
                        ${model.routeStop.outfit.contactEmail}
                    </a>
                </div>
                <div if.bind="model.routeStop.outfit.contactPhone" class="user-select-text">
                    <a href="tel:${model.routeStop.outfit.contactPhone.number}" class="user-select-text">
                        ${model.routeStop.outfit.contactPhone | phone}
                    </a>
                </div>
            </div>

        </div>

    </data-section>

    <!-- Authority to leave -->
    <template if.bind="model.routeStop.authorityToLeave">

        <hr class="hr-line margin-bottom">

        <data-section class="margin-bottom" toggle.bind="true">

            <div slot="header" translate>
                Authority to leave
            </div>

            <div class="user-select-text" if.bind="model.routeStop.authorityToLeave.deliveryInstructions">
                ${model.routeStop.authorityToLeave.deliveryInstructions}
            </div>

            <div class="opacity-faded" if.bind="!model.routeStop.authorityToLeave.deliveryInstructions" translate>
                No delivery instruction
            </div>

        </data-section>

    </template>

    <!-- Instructions -->
    <template if.bind="model.routeStop.driverInstructions">

        <hr class="hr-line margin-bottom">

        <data-section class="margin-bottom" toggle.bind="true">

            <div slot="header" translate>
                Instructions
            </div>

            <div class="user-select-text" if.bind="model.routeStop.driverInstructions">
                ${model.routeStop.driverInstructions}
            </div>

        </data-section>

    </template>

    <!-- Deviations -->
    <template if.bind="model.routeStop.deviations.length > 0">

        <hr class="hr-line margin-bottom">

        <data-section class="margin-bottom" toggle.bind="true" invalid.bind="model.routeStop.deviations.length > 0">

            <div slot="header" class="flex-row" translate>
                Deviations
            </div>

            <deviation-accordion repeat.for="deviation of model.routeStop.deviations"model.bind="deviation"></deviation-accordion>

        </data-section>

    </template>

    <!-- Orders to be delivered -->
    <template if.bind="model.routeStop.deliveries.length != 0" invalid.bind="hasDeliveryProblems">

        <hr class="hr-line margin-bottom">

        <data-section class="margin-bottom" toggle.bind="true">

            <div slot="header" translate>
                Deliveries
            </div>

            <template if.bind="deliveryColliTagSets.length > 0">

                <tags-input label="above" readonly.bind="true" class="margin-large-bottom --tags-only">

                    <div slot="heading" translate>
                        Colli tags summary
                    </div>

                    <div slot="value">
                        <tag repeat.for="tagSet of deliveryColliTagSets" class="--with-count">
                            <div>
                                ${tagSet.count}
                            </div>
                            <div>
                                ${tagSet.tags | list: 'short' : 'unit'}
                            </div>
                        </tag>
                    </div>

                </tags-input>

            </template>

            <div class="opacity-faded margin-smallest-bottom" translate>
                Orders and colli
            </div>

            <order-accordion repeat.for="delivery of model.routeStop.deliveries" model.bind="delivery"></order-accordion>

        </data-section>

    </template>

    <!-- Orders to pick up -->
    <template if.bind="model.routeStop.pickups.length != 0" invalid.bind="hasPickupProblems">

        <hr class="hr-line margin-bottom">

        <data-section class="margin-bottom" toggle.bind="true">

            <div slot="header" translate>
                Pickups
            </div>

            <template if.bind="pickupColliTagSets.length > 0">

                    <tags-input label="above" readonly.bind="true" class="margin-large-bottom --tags-only">

                        <div slot="heading" translate>
                            Colli tags summary
                        </div>

                        <div slot="value">
                            <tag repeat.for="tagSet of pickupColliTagSets" class="--with-count">
                                <div>
                                    ${tagSet.count}
                                </div>
                                <div>
                                    ${tagSet.tags | list: 'short' : 'unit'}
                                </div>
                            </tag>
                        </div>

                    </tags-input>

            </template>

            <div class="opacity-faded margin-smallest-bottom" translate>
                Orders and colli
            </div>

            <order-accordion repeat.for="pickup of model.routeStop.pickups" model.bind="pickup"></order-accordion>

        </data-section>

    </template>

    <template if.bind="model.routeStop.deliveryMethod">

        <hr class="hr-line margin-bottom">

        <data-section class="margin-bottom" toggle.bind="true">

            <div slot="header" translate>
                Delivery method
            </div>

            <div class="user-select-text">
                ${model.routeStop.deliveryMethod.name}
            </div>

        </data-section>

    </template>

    <!-- Photo of delivery -->
    <template if.bind="model.routeStop.actions.photo || model.routeStop.photo != null">

        <hr class="hr-line margin-bottom">

        <data-section class="margin-bottom" toggle.bind="true">

            <div slot="header" translate>
                Photo of delivery
            </div>

            <div if.bind="model.routeStop.actions.photo && !model.routeStop.photo" class="opacity-faded" translate>
                Photo required, but not yet captured
            </div>

            <template if.bind="model.routeStop.photo.imageUrl">

                <div class="flex-row margin-large-bottom">

                    <div class="margin-large-right opacity-faded" translate>
                        Date
                    </div>

                    <div>
                        ${model.routeStop.photo.date | dateTime: 'narrow' : false}
                    </div>

                </div>

                <a modal-href="modal: image; model.bind: { imageUrl: model.routeStop.photo.imageUrl };">
                    <img if.bind="model.routeStop.photo" class="image-thumbnail" src.bind="model.routeStop.photo.imageUrl">
                </a>

            </template>

        </data-section>

    </template>

    <!-- Signature -->
    <template if.bind="model.routeStop.actions.signature || model.routeStop.signature != null">

        <hr class="hr-line margin-bottom">

        <data-section class="margin-bottom" toggle.bind="true">

            <div slot="header" translate>
                Signature
            </div>

            <div if.bind="model.routeStop.actions.signature && !model.routeStop.signature" class="opacity-faded" translate>
                Signature required, but not yet captured
            </div>

            <template if.bind="model.routeStop.signature">

                <div class="flex-row margin-large-bottom">

                    <div>
                        <div class="margin-bottom margin-large-right opacity-faded" translate>
                            Date
                        </div>
                        <div class="margin-large-right opacity-faded" translate>
                            Name
                        </div>
                    </div>

                    <div>
                        <div class="margin-bottom">
                            ${model.routeStop.signature.date | dateTime: 'narrow' : false}
                        </div>
                        <div>
                            ${model.routeStop.signature.name}
                        </div>
                    </div>

                </div>

                <div class="flex-row flex-basis-1-of-6">
                    <a modal-href="modal: image; model.bind: { imageUrl: model.routeStop.signature.imageUrl };">
                        <img class="image-thumbnail" src.bind="model.routeStop.signature.imageUrl">
                    </a>
                </div>
            </template>

        </data-section>

    </template>

    <!-- Identity -->
    <template if.bind="model.routeStop.actions.identity || model.routeStop.identity != null">

        <hr class="hr-line margin-bottom">

        <data-section class="margin-bottom" toggle.bind="true">

            <div slot="header" translate>
                Identity
            </div>

            <div if.bind="model.routeStop.actions.identity && !model.routeStop.identity" class="opacity-faded" translate>
                Identity required, but not yet captured
            </div>

            <template if.bind="model.routeStop.identity">

                <div class="flex-row margin-large-bottom">

                    <div>
                        <div class="margin-bottom margin-large-right opacity-faded" translate>
                            Date
                        </div>
                        <div class="margin-large-right opacity-faded" translate>
                            Name
                        </div>
                    </div>

                    <div>
                        <div class="margin-bottom">
                            ${model.routeStop.identity.date | dateTime: 'narrow' : false}
                        </div>
                        <div>
                            ${model.routeStop.identity.name}
                        </div>
                    </div>

                </div>
            </template>

        </data-section>

    </template>

    <!-- Actions -->
    <template if.bind="model.routeStop.collectionPointId || model.routeStop.actions.photo || model.routeStop.actions.signature || model.routeStop.actions.colliCountVerification || model.routeStop.actions.timeFrameVerification || model.routeStop.actions.scanColli || model.routeStop.actions.instructionsAccept">

        <hr class="hr-line margin-bottom">

        <data-section class="margin-bottom" toggle.bind="true">

            <div slot="header" translate>
                Requirements
            </div>

            <div class="opacity-faded margin-bottom" translate>
                The following is required of the driver at this stop
            </div>

            <ul class="ul-disc">

                <li if.bind="model.routeStop.collectionPointId">
                    <a href="/collection-points/details/${model.routeStop.collectionPointId}" translate>Collection point</a>
                </li>

                <li if.bind="model.routeStop.actions.photo" translate>
                    Photo
                </li>

                <li if.bind="model.routeStop.actions.signature" translate>
                    Signature
                </li>

                <li if.bind="model.routeStop.actions.colliCountVerification" translate>
                    Verify colli count
                </li>

                <li if.bind="model.routeStop.actions.timeFrameVerification" translate>
                    Verify timeframe
                </li>

                <li if.bind="model.routeStop.actions.scanColli" translate>
                    Scan colli
                </li>

                <li if.bind="model.routeStop.actions.instructionsAccept" translate>
                    Accept instructions
                </li>

            </ul>

        </data-section>

    </template>

    <!-- Driver verification -->
    <template if.bind="model.routeStop.selfies.length > 0">

        <hr class="hr-line margin-bottom">

        <data-section class="margin-bottom" toggle.bind="true">

            <div slot="header" translate>
                Driver verification
            </div>

            <a repeat.for="selfie of model.routeStop.selfies" href.bind="selfie.imageUrl" target="_blank" class="margin-right-large">
                <img class="image-thumbnail" src.bind="selfie.imageUrl">
            </a>

        </data-section>

    </template>

    <!-- Stop tags -->
    <template if.bind="model.routeStop.tags.length > 0">

        <hr class="hr-line margin-bottom">

        <data-section class="margin-bottom" toggle.bind="true">

            <div slot="header" translate>
                Tags
            </div>

            <tags-input readonly.bind="true" class="--tags-only">

                <div slot="value">
                    <tag repeat.for="tag of model.routeStop.tags">
                        ${tag}
                    </tag>
                </div>

            </tags-input>

        </data-section>

    </template>

    <!-- estimates -->
    <template if.bind="model.routeStop.estimates">

        <hr class="hr-line margin-bottom">

        <data-section class="margin-bottom" toggle.bind="true" expanded.one-time="false">

            <div slot="header" translate>
                Current estimates
            </div>

            <div class="flex-row flex-basis-1-of-2">

                <div class="margin-large-right">

                    <div class="opacity-faded margin-bottom" translate>
                        Arrival time
                    </div>

                    <div class="opacity-faded margin-bottom" translate>
                        Task time
                    </div>

                    <div class="opacity-faded margin-bottom" translate>
                        Driving time
                    </div>

                    <div class="opacity-faded margin-bottom" translate>
                        Waiting time
                    </div>

                    <div class="opacity-faded" translate>
                        Distance
                    </div>

                </div>

                <div>

                    <div class="margin-bottom user-select-text" empty-value>
                        ${model.routeStop.estimates.arrivalTime | dateTime: 'narrow' : false}
                    </div>

                    <div class="margin-bottom user-select-text" empty-value>
                        ${model.routeStop.estimates.taskTime | duration: 'narrow'}
                    </div>

                    <div class="margin-bottom user-select-text" empty-value>
                        ${model.routeStop.estimates.drivingTime | duration: 'narrow'}
                    </div>

                    <div class="margin-bottom user-select-text" empty-value>
                        ${model.routeStop.estimates.waitingTime | duration: 'narrow'}
                    </div>

                    <div class="user-select-text" empty-value>
                        ${model.routeStop.estimates.distance/1000 | number } km
                    </div>

                </div>

            </div>

        </data-section>

    </template>

    <!-- Initial estimates -->
    <template if.bind="model.routeStop.initialEstimates">

        <hr class="hr-line margin-bottom">

        <data-section class="margin-bottom" toggle.bind="true" expanded.one-time="false">

            <div slot="header" translate>
                Initial estimates
            </div>

            <div class="flex-row flex-basis-1-of-2">

                <div class="margin-large-right">

                    <div class="opacity-faded margin-bottom" translate>
                        Arrival time
                    </div>

                    <div class="opacity-faded margin-bottom" translate>
                        Task time
                    </div>

                    <div class="opacity-faded margin-bottom" translate>
                        Driving time
                    </div>

                    <div class="opacity-faded margin-bottom" translate>
                        Waiting time
                    </div>

                    <div class="opacity-faded" translate>
                        Distance
                    </div>

                </div>

                <div>

                    <div class="margin-bottom user-select-text" empty-value>
                        ${model.routeStop.initialEstimates.arrivalTime | dateTime: 'narrow' : false}
                    </div>

                    <div class="margin-bottom user-select-text" empty-value>
                        ${model.routeStop.initialEstimates.taskTime | duration: 'narrow'}
                    </div>

                    <div class="margin-bottom user-select-text" empty-value>
                        ${model.routeStop.initialEstimates.drivingTime | duration: 'narrow'}
                    </div>

                    <div class="margin-bottom user-select-text" empty-value>
                        ${model.routeStop.initialEstimates.waitingTime | duration: 'narrow'}
                    </div>

                    <div class="user-select-text" empty-value>
                        ${model.routeStop.initialEstimates.distance/1000 | number } km
                    </div>

                </div>

            </div>

        </data-section>

    </template>

</template>
