route-stop-details
{
    data-section:not(.--expanded)
    {
        margin-bottom: var(--font-current-margin-bottom);
    }

    data-section:last-child
    {
        margin-bottom: 0;
    }

    .route-stop-details-header-column-container
    {
        max-width: 60%;
    }

    .route-stop-details-header-label-column > div
    {
        white-space: nowrap;
    }

    .route-stop-details-header-value-column
    {
        min-width: 0;
    }
}
