@import "shared/src/webKit/constants.scss";

.c-driverDispatch-container {
  display: flex;
  align-items: stretch;
  min-height: 100%;
}

.c-driverDispatch-main {
  flex-grow: 1;
  overflow: auto;
}
