busy-overlay
{
    --busy-overlay-color: var(--surface-color);
    --busy-overlay-opacity: 0.95;
    --busy-overlay-message-max-width: 65%;
    --busy-overlay-message-text-align: center;

    // Fill the available space.
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    // Apply the z-index for backdrops.
    z-index: var(--z-index-backdrop);

    // Apply the fade-in animation.
    animation: fade-in ease-in both;

    &::before
    {
        content: "";

        // Fill the available space.
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        // Set the color and opacity.
        opacity: var(--busy-overlay-opacity);
        background: var(--busy-overlay-color);
    }

    &:not(.--animate)
    {
        animation-duration: 0s;
        animation-delay: 0s;
    }

    &.--animate:not(.--delay)
    {
        animation-duration: var(--animation-duration-short);
        animation-delay: 0.04s;
    }

    &.--animate.--delay
    {
        animation-duration: var(--animation-duration-medium);
        animation-delay: var(--animation-delay-busy);
    }

    &.--opaque::before
    {
        // Make the background opaque, if enabled.
        opacity: 1;
    }

    .busy-overlay-inner
    {
        // Note: The size and position of this element will be set programmatically.

        // Use fixed positioning.
        position: fixed;
        left: 0;
        top: 0;

        // Use vertical flex layout.
        display: flex;
        flex-direction: column;

        // Center content.
        justify-content: center;
        align-items: center;

        // Prevent overflow.
        overflow: hidden;
    }

    .busy-overlay-message
    {
        // Center the text.
        text-align: var(--busy-overlay-message-text-align);

        // Limit the width of the message.
        max-width: var(--busy-overlay-message-max-width);

        > :first-child
        {
            margin-top: var(--font-current-margin-top);
        }
    }

    busy-indicator
    {
        --busy-indicator-max-width: 50%;
        --busy-indicator-max-height: 50%;
        --busy-indicator-stroke-width: 4rem;
    }
}
