@import "styles/resources/index";

module-content
{
    // Fill the available space.
    flex-grow: 1;

    > header
    {
        // Add a border below the header.
        border-bottom: var(--border-width-thin) solid var(--color-surface-border);
    }

    header
    {
        // Apply margin to sectioning elements.
        padding: 9rem 9rem 5rem 9rem;

        h1
        {
            // Apply margin to the title.
            margin: 0 0 7rem 0;
        }
    }

    section,
    footer
    {
        // Apply margin to content.
        margin: 8rem 9rem;
    }
}
