start-locations
{
    .add-reservation-button
    {
        justify-content: center;
    }

    .no-start-locations
    {
        .add-location-button
        {
            align-self: flex-start;
        }
    }

    page-tab-nav
    {
        margin-top: 28rem;

        page-tab
        {
            justify-content: space-between;

            span
            {
               padding-right: 4rem;
            }

            .button-container
            {
                display: flex;

                button
                {
                    margin-left: var(--size-inline-spacing-large);
                }
            }
        }

        .add-location-button
        {
            margin-left: var(--size-inline-spacing-larger);
        }
    }

    .departure-time-name
    {
        display: flex;

        icon
        {
            height: 16rem;
            width: 16rem;
        }
    }

    .scenarios-container
    {
        .scenarios-filters
        {
            display: flex;

            date-input
            {
                width: 360rem;
            }

            tags-input
            {
                flex: 1;
            }
        }
    }

    data-table
    {
        --data-table-columns: auto auto auto auto auto auto auto;
    }
}
