////
/// @group resources/styles/settings/components/page-sidebar
////

/// The settings to use for the `page-sidebar` component.
$__summary: comment;


:root
{
    /// The width of the collapsed page-sidebar.
    --page-sidebar-collapsed-width: 44rem;

    /// The min-width of the expanded page-sidebar.
    --page-sidebar-min-width: 368rem;

    /// The max-width of the expanded page-sidebar.
    --page-sidebar-max-width: 50%;

    @media ($media-smallest)
    {
        // Expand the page-sidebar to fill the width of the smallest viewports.
        --page-sidebar-min-width: calc(100vw - var(--app-sidebar-width) - 8rem);
        --page-sidebar-max-width: var(--page-sidebar-min-width);
    }
}
