////
/// @group settings/font
////

/// The base text settings.
$__summary: comment;

[context="app"] {
  & {
    --font-largest-line-height: 10rem;
    --font-largest-font-size: 7rem;
    --font-largest-margin-top: 6rem;
    --font-largest-margin-bottom: 5rem;
    --font-largest-font-weight: inherit;
  }

  & {
    --font-larger-line-height: 7.5rem;
    --font-larger-font-size: 5.5rem;
    --font-larger-margin-top: 4.5rem;
    --font-larger-margin-bottom: 4rem;
    --font-larger-font-weight: inherit;
  }

  & {
    --font-large-line-height: 5.5rem;
    --font-large-font-size: 4rem;
    --font-large-margin-top: 3.5rem;
    --font-large-margin-bottom: 3rem;
    --font-large-font-weight: inherit;
  }

  & {
    --font-base-line-height: 5rem;
    --font-base-font-size: 3.5rem;
    --font-base-margin-top: 3rem;
    --font-base-margin-bottom: 3rem;
    --font-base-font-weight: inherit;
  }

  & {
    --font-small-line-height: 4rem;
    --font-small-font-size: 3rem;
    --font-small-margin-top: 2rem;
    --font-small-margin-bottom: 2rem;
    --font-small-font-weight: inherit;
  }

  & {
    --font-heading-line-height: 4rem;
    --font-heading-font-size: 3rem;
    --font-heading-margin-top: 2rem;
    --font-heading-margin-bottom: 2rem;
    --font-heading-font-weight: 700;
  }

  & {
    --font-heading-large-line-height: 4rem;
    --font-heading-large-font-size: 4rem;
    --font-heading-large-margin-top: 2rem;
    --font-heading-large-margin-bottom: 2rem;
    --font-heading-large-font-weight: 700;
  }

  & {
    --font-label-base-line-height: 5rem;
    --font-label-base-font-size: 3.5rem;
    --font-label-base-margin-top: 3rem;
    --font-label-base-margin-bottom: 3rem;
    --font-label-base-font-weight: 600;
  }

  & {
    --font-label-small-line-height: 4rem;
    --font-label-small-font-size: 3rem;
    --font-label-small-margin-top: 2rem;
    --font-label-small-margin-bottom: 2rem;
    --font-label-small-font-weight: 600;
  }
}

:root {
  /// The relative font size of monospaced text, which
  /// compensates for the larger apperance of the glyphs.
  --font-monospaced-font-size: .87em !important;
}
