////
/// @group resources/styles/settings/font
////

/// The base text settings.
$__summary: comment;

[context="app"] {
  & {
    --font-largest-line-height: 40rem;
    --font-largest-font-size: 28rem;
    --font-largest-margin-top: 24rem;
    --font-largest-margin-bottom: 20rem;
    --font-largest-font-weight: inherit;
  }

  & {
    --font-larger-line-height: 30rem;
    --font-larger-font-size: 22rem;
    --font-larger-margin-top: 18rem;
    --font-larger-margin-bottom: 16rem;
    --font-larger-font-weight: inherit;
  }

  & {
    --font-large-line-height: 22rem;
    --font-large-font-size: 16rem;
    --font-large-margin-top: 14rem;
    --font-large-margin-bottom: 12rem;
    --font-large-font-weight: inherit;
  }

  & {
    --font-base-line-height: 20rem;
    --font-base-font-size: 14rem;
    --font-base-margin-top: 12rem;
    --font-base-margin-bottom: 12rem;
    --font-base-font-weight: inherit;
  }

  & {
    --font-small-line-height: 16rem;
    --font-small-font-size: 12rem;
    --font-small-margin-top: 8rem;
    --font-small-margin-bottom: 8rem;
    --font-small-font-weight: inherit;
  }

  & {
    --font-heading-line-height: 16rem;
    --font-heading-font-size: 12rem;
    --font-heading-margin-top: 8rem;
    --font-heading-margin-bottom: 8rem;
    --font-heading-font-weight: 700;
  }

  & {
    --font-heading-large-line-height: 16rem;
    --font-heading-large-font-size: 16rem;
    --font-heading-large-margin-top: 8rem;
    --font-heading-large-margin-bottom: 8rem;
    --font-heading-large-font-weight: 700;
  }

  & {
    --font-label-base-line-height: 20rem;
    --font-label-base-font-size: 14rem;
    --font-label-base-margin-top: 12rem;
    --font-label-base-margin-bottom: 12rem;
    --font-label-base-font-weight: 500;
  }

  & {
    --font-label-small-line-height: 16rem;
    --font-label-small-font-size: 12rem;
    --font-label-small-margin-top: 8rem;
    --font-label-small-margin-bottom: 8rem;
    --font-label-small-font-weight: 500;
  }
}

:root {
  /// The relative font size of monospaced text, which
  /// compensates for the larger apperance of the glyphs.
  --font-monospaced-font-size: .87em !important;
}
