////
/// @group resources/styles/settings/z-index
////

/// The base z-index values, defining the order
/// of the visual layers of the app.
$__summary: comment;


:root
{
    /// The z-index used for tooltips.
    --z-index-tooltip: 700;

    /// The z-index used for popovers.
    --z-index-popover: 600;

    /// The z-index used for modals.
    --z-index-modal: 500;

    /// The z-index used for the backdrop of modals.
    --z-index-backdrop: 400;

    /// The z-index used for dropdown panels.
    --z-index-dropdown: 300;

    /// The z-index used for fixed elements.
    --z-index-fixed: 200;

    /// The z-index used for sticky elements.
    --z-index-sticky: 100;
}
