@import "../../constants.scss";

$menuIconLeft: 26px;
$menuTextLeft: 70px;
$menuTextColor: rgba(white, 0.9);
$subMenuTextColor: var(--colorInteractivePrimaryLighten);
$menuTextActiveColor: rgba(white, 1);
$menuHoverDarken: 0.05%;

.applicationWrapper {
  height: 100%;
  width: 100%;
  padding-left: $backofficeMenuBig;
  padding-top: 0;
  overflow: hidden;

  .sideMenu-shadow {
    position: absolute;
    z-index: 2;
    background: linear-gradient(
      to left, rgba(0, 0, 0, 0.2) 0px,
      rgba(0, 0, 0, 0.1) 1px,
      rgba(0, 0, 0, 0.04) 1px,
      rgba(0, 0, 0, 0) 100%
    );
    top: 0;
    right: 0;
    bottom: 0;
    width: 12px;
  }

  .sideMenu-edge {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 4px;
    z-index: 9999;
    background: black;
    opacity: 0;
    transition: opacity var(--animation-duration-medium);

    &:hover {
      opacity: .3;
      cursor: e-resize;
    }
  }
  .sideMenu {
    padding-top: 0;
    height: 100vh;
    width: $backofficeMenuBig;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--colorInteractivePrimary);
    z-index: 10000;
    transition: left 300ms, right 300ms, width 300ms;
    
    .c-sideMenu-contentWrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
    
      &::-webkit-scrollbar {
        width: 5px;
      }
      
      &::-webkit-scrollbar-thumb {
        background: rgba(black, .15);
        border-left: 1px solid var(--colorInteractivePrimaryAlpha15);
      }
    }

    .c-sideMenu-topGradient {
      position: absolute;
      top: 0;
      left: 0;
      right: 5px;
      height: 100px;
      z-index: 1;
      background: linear-gradient(
        to bottom,
        var(--colorInteractivePrimary) 0%,
        var(--colorInteractivePrimaryAlpha97) 80%,
        var(--colorInteractivePrimaryAlpha0) 100%
      );
    }

    .c-sideMenu-content {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }

    .c-sideMenu-profileShortcutContainer
    {
        order: 1;
        justify-self: flex-end;
        position: relative;
        width: 500px;
    }

    .c-sideMenu-profileShortcut {
      display: flex;
      justify-content: left;
      flex-direction: row;
      text-align: left;
      align-items: center;
      margin: 20px 24px;
      color: $menuTextColor;

      .c-sideMenu-profileShortcut-button-image {
        width: 48px;
        height: 48px;
        font-size: 20px;
        border-radius: 50%;
        background-color: $colorHighlightDark;
        text-align: center;
        line-height: 48px;
        color: $menuTextColor;
        margin-bottom: 0;
        margin-right: 4rem;
      }

      .c-sideMenu-profileShortcut-button-information {
        transition: max-width 0ms;
        max-width: 9999px;
        max-height: 48px;
        overflow: hidden;
        .sideMenu:hover &
        {
            transition-delay: 800ms;
        }
        .c-sideMenu-profileShortcut-button-information-name {
          font-weight: 600;
        }
        a {
          color: $menuTextColor;
        }
      }
    }

    .c-sideMenu-poweredBy {
      width: 100%;
      margin-bottom: 10px;
      margin-left: 26px;
      line-height: 1;
      font-size: 11px;
      color: rgba(255, 255, 255, 0.5);
      order: 100;
      white-space: nowrap;
    }

    .sideMenuItemContainer {
      width: 100%;
      flex-grow: 1;
      margin-top: 85px;

      .menuSectionTitle {
        padding-left: 16px;
        padding-bottom: 2px;
        font-style: italic;
      }

      li {
        position: relative;
        text-align: left;

        .main-link {
          position: relative;
          height: 48px;
          padding-left: $menuTextLeft;
          display: block;
          line-height: 48px;
          color: $menuTextColor;
          @include ellipsis;

          &:hover {
            background-color: rgba(black, $menuHoverDarken);
          }

          .sideMenuIcons {
            position: absolute;
            @include verticalMid;
            left: $menuIconLeft;
            width: 28px;
            height: 28px;
          }
        }

        .sideMenu .main-link,
        .sideMenu .sideMenuIcons
        {
            transition: color 150ms;
        }

        .subLinkArea {
          max-height: 0;
          overflow: hidden;
          transition: all 150ms ease-in-out;
          background-color: var(--colorInteractivePrimaryActive);

          a {
            margin: 0 20px;
            padding-left: $menuTextLeft - 20px;
            line-height: 30px;
            border-radius: $listItemBorderRadius;
            color: $subMenuTextColor;
            display: block;
            @include ellipsis;

            &:not(:last-child) {
              margin-bottom: 4px;
            }

            &:hover {
              background-color: rgba(black, $menuHoverDarken);
            }

            &.active {
              font-weight: bold;
              color: $menuTextActiveColor;
            }
          }
        }

        &.active {
          .main-link {
            position: relative;
            background-color: $colorHighlightDark;
            color: $menuTextActiveColor;
            font-weight: bold;
            pointer-events: none;

            &:hover {
              cursor: pointer;
            }
          }

          .subLinkArea {
            max-height: none;
            padding: 23px 0;
          }
        }
      }
    }
  }

  .sideMenu .sideMenuItemContainer li:not(.menuLink--hasSubMenu)
  {
      .subLinkArea
      {
          display: none;
      }
  }

  .sideMenu .sideMenuItemContainer li.active .main-link
  {
      pointer-events: all;
  }

  .mainContentWrapper {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
}

html.sideMenu--collapsed
{
    .applicationWrapper
    {
        padding-left: 80px;
    }

    .c-pagination-fixed
    {
        left: 80px;
        right: 0px;
        width: auto;
        margin: 0 25px 0 0;
    }

    .c-sideMenu-profileShortcut
    {
        margin-left: 15px !important;
        margin-right: 15px !important;
    }
            
    .c-sideMenu-poweredBy
    {
        display: none;
    }
}

html.sideMenu--collapsed.sideMenu--hover
{
    .sideMenu
    {
        box-shadow: 0 0 5px 0px #aaa;
    }
}

html.sideMenu--collapsed:not(.sideMenu--hover)
{
    .sideMenu
    {
        width: 80px;

        .c-sideMenu-profileShortcut-button-information
        {
            max-width: 0 !important;
        }

        .sideMenuItemContainer
        {
            li .main-link,
            li.active .main-link
            {
                color: transparent;
                overflow: visible;
            }

            li .main-link .sideMenuIcons
            {
                color: rgba(255, 255, 255, 0.9);
            }

            li.active .main-link .sideMenuIcons
            {
                color: white;
            }

            li.active .subLinkArea
            {
                max-height: 0;
                padding: 0;
            }
        }
    }
}
