route-stop-edit
{
    .button-container
    {
        display: flex;

        button
        {
            width: 56rem;

            &:not(:last-child)
            {
                margin-right: 7rem;
            }
        }
    }

    check-toggle
    {
        information
        {
           .information-container
           {
               margin-left: .75rem;
           }
        }
    }
}
