<template>

    <require from="app/components/address-input/address-input"></require>
    <require from="app/components/information/information"></require>
    <require from="../order-accordion/order-accordion"></require>

    <require from="./route-stop-edit.scss"></require>

    <modal-header scroll-fade>

        <h1 class="font-largest" tabindex="-1" autofocus="visible.bind: false">

            <span if.bind="model.isNew">

                <span if.bind="model.routeStop.stopNumber !== model.route.stops.length && model.routeStop.stopNumber !== 1" translate>
                    New stop after stop ${model.routeStop.stopNumber - 1}
                </span>

                <span if.bind="model.routeStop.stopNumber === model.route.stops.length" translate>
                    New stop at the end of the route
                </span>

                <span if.bind="model.routeStop.stopNumber === 1" translate>
                    New stop at the beginning of the route
                </span>

            </span>

            <path-nav if.bind="!model.isNew">
                <div translate>
                    Stop ${model.routeStop.stopNumber}
                </div>
                <div translate>
                    Edit
                </div>
            </path-nav>

        </h1>

    </modal-header>

    <modal-section>

        <div class="control-row margin-larger-bottom">

            <text-input label="above" value.bind="model.routeStop.reference" class="flex-basis-1-of-2">

                <span slot="heading" translate>
                    Reference
                </span>

            </text-input>

            <select-input label="above" none.bind="false" value.bind="model.routeStop.status" display-value.bind="model.routeStop.status.name" class="flex-basis-1-of-2">

                <span slot="heading" translate>
                    Status
                </span>

                <item repeat.for="status of statuses" model.bind="status">
                    ${status.name}
                </item>

                <div slot="validation">

                    <required-validator
                        value.bind="model.routeStop.status">
                    </required-validator>

                </div>

            </select-input>

        </div>

    </modal-section>

    <hr class="hr-line margin-large-bottom">

    <modal-section class="margin-bottom">

        <div class="control-row margin-larger-bottom">

            <select-input label="above" none.bind="false" value.bind="model.routeStop.type" display-value.bind="model.routeStop.type.name" class="flex-basis-1-of-2">

                <span slot="heading" translate>
                    Type
                </span>

                <item repeat.for="type of types" model.bind="type">
                    ${type.name}
                </item>

                <div slot="validation">

                    <required-validator
                        value.bind="model.routeStop.type">
                    </required-validator>

                </div>

            </select-input>

            <div class="control-row flex-basis-1-of-2">

                <time-input label="above" value.bind="model.routeStop.arrivalTimeFrame.from" class="flex-basis-1-of-2">

                    <span slot="heading" translate>
                        Arrival from
                    </span>

                    <div slot="validation">

                        <required-validator
                            value.bind="model.routeStop.arrivalTimeFrame.from">
                        </required-validator>

                    </div>

                </time-input>

                <time-input label="above" value.bind="model.routeStop.arrivalTimeFrame.to" class="flex-basis-1-of-2">

                    <span slot="heading" translate>
                        Arrival to
                    </span>

                    <div slot="validation">

                        <required-validator
                            value.bind="model.routeStop.arrivalTimeFrame.to">
                        </required-validator>

                    </div>

                </time-input>

            </div>

        </div>

        <div class="font-larger margin-large-bottom" translate>General stop informations</div>

        <div class="control-row margin-bottom">

            <address-input label="above" value.bind="model.routeStop.location.address" class="flex-basis-1-of-1">

                <span slot="heading" translate>
                    Address
                </span>

                <div slot="validation">

                    <required-validator
                        value.bind="model.routeStop.location.address.primary">
                    </required-validator>

                </div>

            </address-input>

        </div>

        <div class="control-row margin-large-bottom">

            <text-input label="above" value.bind="model.routeStop.outfit.companyName" class="flex-basis-1-of-2">

                <span slot="heading" translate>
                    Company
                </span>

            </text-input>

            <text-input label="above" value.bind="model.routeStop.outfit.personName" class="flex-basis-1-of-2">

                <span slot="heading" translate>
                    Name
                </span>

            </text-input>

        </div>

        <div class="control-row margin-large-bottom">

            <text-input label="above" value.bind="model.routeStop.outfit.contactPhone.number" class="flex-basis-1-of-2">

                <span slot="heading" translate>
                    Phone number
                </span>

            </text-input>

            <text-input label="above" value.bind="model.routeStop.port" class="flex-basis-1-of-2">

                <span slot="heading" translate>
                    Port
                </span>

            </text-input>
        </div>

        <div class="control-row">

            <text-input label="above" lines.bind="3" value.bind="model.routeStop.driverInstructions" class="flex-basis-1-of-1">

                <span slot="heading" translate>
                    Instructions
                </span>

                <span slot="placeholder" translate>
                    Type any instructions that might help the driver
                </span>

                <span slot="validation">

                    <required-validator
                        if.bind="model.routeStop.actions.instructionsAccept"
                        value.bind="model.routeStop.driverInstructions">
                    </required-validator>

                </span>

            </text-input>

        </div>

    </modal-section>

    <modal-section if.bind="!model.isNew" class="margin-larger-bottom">

        <div class="font-large margin-bottom" translate>Orders</div>

        <!-- Orders to be delivered -->
        <template if.bind="model.routeStop.deliveries.length != 0" invalid.bind="hasDeliveryProblems">

            <order-accordion repeat.for="delivery of model.routeStop.deliveries" model.bind="delivery"></order-accordion>

        </template>

        <!-- Orders to pick up -->
        <template if.bind="model.routeStop.pickups.length != 0" invalid.bind="hasPickupProblems">

            <order-accordion repeat.for="pickup of model.routeStop.pickups" model.bind="pickup"></order-accordion>

        </template>

    </modal-section>

    <modal-section>

        <div slot="header" translate>
            Requirements
        </div>

        <div class="control-row margin-large-bottom">

            <check-toggle label="after" value.bind="model.routeStop.actions.photo" class="flex-basis-1-of-2">

                <span slot="heading">

                    <span translate>Photo</span>
                    <information position="${'right'}">

                        <span slot="headline" translate>Photo of delivery</span>
                        <span slot="body" translate>
                            Requiring the driver to take a picture of the delivery at the stop helps documenting the action.
                        </span>

                    </information>

                </span>

            </check-toggle>

            <check-toggle label="after" value.bind="model.routeStop.actions.signature" class="flex-basis-1-of-2">

                <span slot="heading">

                    <span translate>Signature</span>
                    <information position="${'left'}">

                        <span slot="headline" translate>Signature verification</span>
                        <span slot="body" translate>
                            Requiring the driver to get a signature from the consignee at the stop helps documenting the action.
                        </span>

                    </information>

                </span>

            </check-toggle>

        </div>

        <div class="control-row margin-large-bottom">

            <check-toggle label="after" value.bind="model.routeStop.actions.colliCountVerification" class="flex-basis-1-of-2">

                <span slot="heading">

                    <span translate>Colli count verification</span>
                    <information position="${'right'}">

                        <span slot="headline" translate>Colli count verification</span>
                        <span slot="body" translate>
                            For the validation of colli without barcodes, you can require the driver to verify the colli count on the stop. This feature works best alongside "Signature Verification"
                        </span>

                    </information>

                </span>

            </check-toggle>

            <check-toggle label="after" value.bind="model.routeStop.actions.timeFrameVerification" class="flex-basis-1-of-2">

                <span slot="heading">

                    <span translate>Verify timeframe</span>
                    <information position="${'left'}">

                        <span slot="headline" translate>Timeframe verification</span>
                        <span slot="body" translate>
                            If the system determines that the driver will be late on the stop, we will make the driver extra aware on the situation.
                        </span>

                    </information>

                </span>

            </check-toggle>

        </div>

        <div class="control-row margin-large-bottom">

            <check-toggle label="after" value.bind="model.routeStop.actions.scanColli" class="flex-basis-1-of-2">

                <span slot="heading">

                    <span translate>Scan colli</span>
                    <information position="${'right'}">

                        <span slot="headline" translate>Driver scan of colli</span>
                        <span slot="body" translate>
                            The driver has to scan colli on the stop, if they have barcodes.
                        </span>

                    </information>

                </span>

            </check-toggle>

            <check-toggle label="after" value.bind="model.routeStop.actions.scanAllColli" class="flex-basis-1-of-2">

                <span slot="heading">

                    <span translate>Driver scan of all colli required</span>
                    <information position="${'left'}">

                        <span slot="headline" translate>Driver scan of all colli required</span>
                        <span slot="body" translate>
                            The driver cannot complete the stop without scanning all the colli with barcodes.
                        </span>

                    </information>

                </span>

            </check-toggle>

        </div>

        <div class="control-row">

            <check-toggle label="after" value.bind="model.routeStop.actions.instructionsAccept" class="flex-basis-1-of-2">

                <span slot="heading">

                    <span translate>Accept of instructions</span>
                    <information position="${'right'}">

                        <span slot="headline" translate>Accept of instructions</span>
                        <span slot="body" translate>
                            To ensure that the driver has read the instructions, it will be shown to him on arrival.
                        </span>

                    </information>

                </span>

            </check-toggle>

        </div>

    </modal-section>

    <div class="button-container margin-larger-top">

        <button if.bind="model.isNew" appearance="solid" accent="primary" click.trigger="onSave(model.routeStop.stopNumber - 1)" translate>
            Create stop
        </button>

        <button if.bind="!model.isNew" appearance="outline" accent="primary" click.trigger="onCancel()" translate>
            Cancel edit
        </button>

        <button if.bind="!model.isNew" appearance="solid" accent="primary" click.trigger="onSave()" translate>
            Save changes
        </button>

    </div>

</template>
