<template>

    <require from="../order-accordion/order-accordion"></require>

    <require from="./route-stop-edit.scss"></require>

    <modal-header scroll-fade>

        <div class="margin-bottom">

            <span class="opacity-faded" translate>Route ID:</span>
            ${model.route.id}

        </div>

        <h1 class="font-largest" tabindex="-1" autofocus="visible.bind: false">

            <span if.bind="model.isNew" translate>
                New stop
            </span>

            <path-nav if.bind="!model.isNew">
                <div translate>
                    Stop ${model.routeStop.stopNumber}
                </div>
                <div translate>
                    Edit
                </div>
            </path-nav>

        </h1>

    </modal-header>

    <modal-section>

        <div class="control-row margin-larger-bottom">

            <text-input label="above" value.bind="model.routeStop.reference" class="flex-basis-1-of-2">

                <span slot="heading" translate>
                    Reference
                </span>

            </text-input>

            <select-input label="above" none.bind="false" value.bind="model.routeStop.status" display-value.bind="model.routeStop.status.name" class="flex-basis-1-of-2">

                <span slot="heading" translate>
                    Status
                </span>

                <item repeat.for="status of statuses" model.routeStop.bind="status">
                    ${status.name}
                </item>

                <div slot="validation">

                    <required-validator
                        value.bind="model.routeStop.status">
                    </required-validator>

                </div>

            </select-input>

        </div>

    </modal-section>

    <hr class="hr-line margin-large-bottom">

    <modal-section class="margin-bottom">

        <div class="control-row margin-larger-bottom">

            <select-input label="above" none.bind="false" value.bind="model.routeStop.type" display-value.bind="model.routeStop.type.name" class="flex-basis-1-of-2">

                <span slot="heading" translate>
                    Type
                </span>

                <item repeat.for="type of types" model.routeStop.bind="type">
                    ${type.name}
                </item>

                <div slot="validation">

                    <required-validator
                        value.bind="model.routeStop.type">
                    </required-validator>

                </div>

            </select-input>

            <div class="control-row flex-basis-1-of-2">

                <time-input label="above" value.bind="model.routeStop.arrivalTimeFrame.from" class="flex-basis-1-of-2">

                    <span slot="heading" translate>
                        Arrival from
                    </span>

                    <div slot="validation">

                        <required-validator
                            value.bind="model.routeStop.arrivalTimeFrame.from">
                        </required-validator>

                    </div>

                </time-input>

                <time-input label="above" value.bind="model.routeStop.arrivalTimeFrame.to" class="flex-basis-1-of-2">

                    <span slot="heading" translate>
                        Arrival to
                    </span>

                    <div slot="validation">

                        <required-validator
                            value.bind="model.routeStop.arrivalTimeFrame.to">
                        </required-validator>

                    </div>

                </time-input>

            </div>

        </div>

        <div class="font-larger margin-large-bottom" translate>General stop informations</div>

        <div class="control-row margin-bottom">

            <address-input label="above" value.bind="model.routeStop.location.address" class="flex-basis-1-of-1">

                <span slot="heading" translate>
                    Address
                </span>

                <div slot="validation">

                    <required-validator
                        value.bind="model.routeStop.location.address.primary">
                    </required-validator>

                </div>

            </address-input>

        </div>

        <div class="control-row margin-large-bottom">

            <text-input label="above" value.bind="model.routeStop.outfit.companyName" class="flex-basis-1-of-2">

                <span slot="heading" translate>
                    Company
                </span>

            </text-input>

            <text-input label="above" value.bind="model.routeStop.outfit.personName" class="flex-basis-1-of-2">

                <span slot="heading" translate>
                    Name
                </span>

            </text-input>

        </div>

        <div class="control-row margin-large-bottom">

            <text-input label="above" value.bind="model.routeStop.outfit.contactPhone.number" class="flex-basis-1-of-2">

                <span slot="heading" translate>
                    Phone number
                </span>

            </text-input>

            <text-input label="above" value.bind="model.routeStop.port" class="flex-basis-1-of-2">

                <span slot="heading" translate>
                    Port
                </span>

            </text-input>
        </div>

        <div class="control-row">

            <text-input label="above" lines.bind="3" value.bind="model.routeStop.driverInstructions" class="flex-basis-1-of-1">

                <span slot="heading" translate>
                    Instructions
                </span>

                <span slot="placeholder" translate>
                    Type any instructions that might help the driver
                </span>

            </text-input>

        </div>

    </modal-section>

    <modal-section if.bind="!model.isNew" class="margin-larger-bottom">

        <div class="font-large margin-bottom" translate>Orders</div>

        <!-- Orders to be delivered -->
        <template if.bind="model.routeStop.deliveries.length != 0" invalid.bind="hasDeliveryProblems">

            <order-accordion repeat.for="delivery of model.routeStop.deliveries" model.bind="delivery"></order-accordion>

        </template>

        <!-- Orders to pick up -->
        <template if.bind="model.routeStop.pickups.length != 0" invalid.bind="hasPickupProblems">

            <order-accordion repeat.for="pickup of model.routeStop.pickups" model.bind="pickup"></order-accordion>

        </template>

    </modal-section>

    <modal-section>

        <div slot="header" translate>
            Requirements
        </div>

        <div class="control-row margin-large-bottom">

            <check-toggle label="after" value.bind="model.routeStop.requirements.photo" class="flex-basis-1-of-2">

                <span slot="heading" translate>
                    Photo
                </span>

            </check-toggle>

            <check-toggle label="after" value.bind="model.routeStop.requirements.signature" class="flex-basis-1-of-2">

                <span slot="heading" translate>
                    Signature
                </span>

            </check-toggle>

        </div>

        <div class="control-row margin-large-bottom">

            <check-toggle label="after" value.bind="model.routeStop.requirements.scanColli" class="flex-basis-1-of-2">

                <span slot="heading" translate>
                    Scan colli
                </span>

            </check-toggle>

            <check-toggle label="after" value.bind="model.routeStop.requirements.verifyTimeframe" class="flex-basis-1-of-2">

                <span slot="heading" translate>
                    Verify timeframe
                </span>

            </check-toggle>

        </div>

        <div class="control-row">

            <check-toggle label="after" value.bind="model.routeStop.requirements.customerCode" class="flex-basis-1-of-2">

                <span slot="heading" translate>
                    Customer code
                </span>

            </check-toggle>

            <check-toggle label="after" value.bind="model.routeStop.requirements.acceptInstructions" class="flex-basis-1-of-2">

                <span slot="heading" translate>
                    Accept instruction
                </span>

            </check-toggle>

        </div>

    </modal-section>

    <div class="button-container margin-larger-top">

        <button if.bind="model.isNew" appearance="solid" accent="primary" class="margin-larger-top" click.delegate="onCreateClick()" translate>
            Create stop
        </button>

        <button if.bind="!model.isNew" appearance="outline" accent="primary" click.delegate="onCancel()" translate>
            Cancel edit
        </button>

        <button if.bind="!model.isNew" appearance="solid" accent="primary" click.delegate="onSave()" translate>
            Save changes
        </button>

    </div>

</template>
