<template>

    <require from="./routes-column.scss"></require>

    <page-content scroll scroll.ref="scroll">

        <header scroll-fade>

            <h1 class="font-largest">
                <path-nav>

                    <span translate>
                        Express dispatch
                    </span>

                </path-nav>
            </h1>

        </header>

        <section>

            <h2 class="font-larger margin-large-bottom" translate>
                Orders
            </h2>

            <toolbar class="margin-bottom" scroll-fade="0.2">

                <text-input value.bind="textFilter & debounce: 200">

                    <div slot="placeholder">
                        Find...
                    </div>

                </text-input>

            </toolbar>

            <data-table
                appearance="cards"
                sorting.bind="sorting"
                selection="multiple"
                busy.bind="updateOperation.pending"
                toggle-all.call="onToogleAll(value)">

                <data-table-headers>

                    <data-table-cell title.translate="Time remaining" name="timeToDeadline">
                        <span class="text-truncate" translate>
                            Time remaining
                        </span>
                    </data-table-cell>

                    <data-table-cell title.translate="ID" name="slug">
                        <span class="text-truncate" translate>
                            ID
                        </span>
                    </data-table-cell>

                    <data-table-cell title.translate="Consignor" name="consignor.primaryName">
                        <span class="text-truncate" translate>
                            Consignor
                        </span>
                    </data-table-cell>

                    <data-table-cell title.translate="Vehicle" name="vehicleType.name">
                        <span class="text-truncate" translate>
                            Vehicle
                        </span>
                    </data-table-cell>

                    <data-table-cell title.translate="Pickup address" name="pickupLocation.address">
                        <span class="text-truncate" translate>
                            Pickup address
                        </span>
                    </data-table-cell>

                    <data-table-cell title.translate="Postal code" name="pickupPostalCode">
                        <span class="text-truncate" translate>
                            Postal code
                        </span>
                    </data-table-cell>

                    <data-table-cell title.translate="From" name="earliestPickupDate">
                        <span class="text-truncate" translate>
                            From
                        </span>
                    </data-table-cell>

                    <data-table-cell title.translate="To" name="latestPickupDate">
                        <span class="text-truncate" translate>
                            To
                        </span>
                    </data-table-cell>

                    <data-table-cell title.translate="Delivery address" name="deliveryLocation.address">
                        <span class="text-truncate" translate>
                            Delivery address
                        </span>
                    </data-table-cell>

                    <data-table-cell title.translate="Postal code" name="deliveryPostalCode">
                        <span class="text-truncate" translate>
                            Postal code
                        </span>
                    </data-table-cell>

                    <data-table-cell title.translate="From" name="earliestDeliveryDate">
                        <span class="text-truncate" translate>
                            From
                        </span>
                    </data-table-cell>

                    <data-table-cell title.translate="To" name="latestDeliveryDate" align="right">
                        <span class="text-truncate" translate>
                            To
                        </span>
                    </data-table-cell>

                </data-table-headers>

                <template repeat.for="item of orderedAndFilteredItems">

                    <data-table-row accent.bind="item.selected ? 'primary' : undefined" selected.bind="item.selected" toggle.call="onRowToggle(item, value)">

                        <data-table-cell title.bind="item.timeToDeadline | duration" accent.bind="item.criticality.accent & attr">
                            <icon name="md-warning" if.bind="item.criticality.accent == 'attention' || item.criticality.accent == 'negative'"></icon>
                            <span class="text-truncate">
                                ${item.timeToDeadline | duration }
                            </span>
                        </data-table-cell>

                        <data-table-cell title.bind="item.slug" class="font-monospaced">
                            <a class="text-truncate" href="/routes/details/${item.slug}">
                                ${item.slug}
                            </a>
                        </data-table-cell>

                        <data-table-cell title.bind="item.consignor.primaryName">
                            <span class="text-truncate">
                                ${item.consignor.primaryName}
                            </span>
                        </data-table-cell>

                        <data-table-cell title.bind="item.vehicleType.name">
                            <span class="text-truncate">
                                ${item.vehicleType.name}
                            </span>
                        </data-table-cell>

                        <data-table-cell title.bind="item.pickupLocation.address">
                            <span class="text-truncate">
                                ${item.pickupLocation.address}
                            </span>
                        </data-table-cell>

                        <data-table-cell title.bind="item.pickupPostalCode">
                            <span class="text-truncate">
                                ${item.pickupPostalCode}
                            </span>
                        </data-table-cell>

                        <data-table-cell title.bind="item.earliestPickupDate | time">
                            <span class="text-truncate">
                                ${item.earliestPickupDate | time}
                            </span>
                        </data-table-cell>

                        <data-table-cell title.bind="item.latestPickupDate | time">
                            <span class="text-truncate">
                                ${item.latestPickupDate | time}
                            </span>
                        </data-table-cell>

                        <data-table-cell title.bind="item.deliveryLocation.address">
                            <span class="text-truncate">
                                ${item.deliveryLocation.address}
                            </span>
                        </data-table-cell>

                        <data-table-cell title.bind="item.deliveryPostalCode">
                            <span class="text-truncate">
                                ${item.deliveryPostalCode}
                            </span>
                        </data-table-cell>

                        <data-table-cell title.bind="item.earliestDeliveryDate | time">
                            <span class="text-truncate">
                                ${item.earliestDeliveryDate | time}
                            </span>
                        </data-table-cell>

                        <data-table-cell title.bind="item.latestDeliveryDate | time" align="right">
                            <span class="text-truncate">
                                ${item.latestDeliveryDate | time}
                            </span>
                        </data-table-cell>

                    </data-table-row>

                </template>

            </data-table>

            <busy-indicator if.bind="workspace.expressRoutes == null" class="margin-largest"></busy-indicator>

            <empty-indicator if.bind="orderedAndFilteredItems.length == 0" class="margin-largest" translate>
                No results
            </empty-indicator>

        </section>

    </page-content>

</template>
