////
/// @group resources/styles/settings/accessibility
////

/// The base accessibility settings.
$__summary: comment;


:root
{
    /// The offset of the outline applied to an element when it has keyboard focus.
    --accessibility-focus-outline-offset: 2rem;

    /// The width of the outline applied to an element when it has keyboard focus.
    --accessibility-focus-outline-width: 2rem;

    /// The style of the outline applied to an element when it has keyboard focus.
    --accessibility-focus-outline-style: dotted;

    /// The color of the outline applied to an element when it has keyboard focus.
    --accessibility-focus-outline-color: #cccccc80;
}
