@import "shared/src/webKit/constants.scss";

.c-users-roles {

  .c-users-roles-headers {
    display: flex;

    div {
      display: flex;
      height: 50px;
      align-items: center;

      &:first-child {
        padding-left: 30px;
      }
    }
  }

  &.c-users-roles-loading {
    pointer-events: none;

    .c-users-role {
      .c-users-role-head {
        opacity: .5;
      }
    }
  }

  .c-users-role {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: $borderRadius;
    overflow: hidden;

    &.c-users-role-skeleton {
      .c-users-role-head {
        height: 70px;
        animation: animation-roles-skeleton 2s ease-in-out 0s infinite normal none running;
      }
    }

    .c-users-role-head {
      display: flex;
      background-color: $colorNeutralExtraLight;
      padding: 14px 30px;
      cursor: pointer;
      transition: background-color 100ms, color 100ms;

      &:hover {
        border-left: 4px solid $colorBackgroundPrimary;
        padding-left: 26px;
      }

      &.active {
        background-color: $colorNeutralLight;

        > div {
          .c-users-role-chevron {
            transform: rotate(45deg);
          }
        }
      }

      > div {
        width: 50%;
        display: flex;
        align-items: center;

        &:last-child {
          justify-content: flex-end;
        }

        .c-users-role-chevron {
          border-right: 2px solid $colorBackgroundPrimary;
          border-bottom: 2px solid $colorBackgroundPrimary;
          height: 10px;
          width: 10px;
          margin-left: 70px;
          transform: rotate(-45deg);
          transition: transform 100ms, color 100ms;
        }
      }
    }

    .c-users-role-details {
      border-bottom-right-radius: $borderRadius;
      border-bottom-left-radius: $borderRadius;
      border: 1px solid $colorNeutralLight;
      border-top: none;
      padding: 30px 30px 50px;

      .c-users-role-title {
        padding-bottom: 4px;
        border-bottom: 1px solid $colorNeutralLight;
        margin-bottom: 2px;
      }

      .c-users-role-claim {
        margin-top: 8px;
      }
    }
  }
}
@keyframes animation-roles-skeleton {
  0% {
    background-color: $colorNeutralExtraLight;
  }

  50% {
    background-color: rgba($colorNeutralExtraLight, .7);
  }

  100% {
    background-color: $colorNeutralExtraLight;
  }
}
