////
/// @group resources/themes/mover-blue
////

/// Public interface for the theme.
$__summary: comment;


:root
{
    // Indicate to the browser that this is a light theme.
    color-scheme: light;
}

// Export the legacy variables.
@import "legacy/packages/shared/src/webKit/assets/themes/default/constants";

// Export the palettes.
// Palettes define the standard values used within the theme.
@import "./palettes/color";

// Export the settings.
// Settings define theme specific overrides to the base settings.
@import "./settings/font-face";
@import "./settings/font";


// Override default styles.

[surface="base"],
[surface$="/base"],
[surface$="/neutral"],
{
    --surface-separator-color: var(--palette-color-neutral);
}

page[name="account"]
{
    background: hsl(213, 90%, 12%) !important;
}

permissions
{
    &,
    & .permissions-group
    {
        --surface-separator-color: var(--palette-color-neutral-light);

        &[surface$="/neutral"]
        {
            // --surface-color: var(--palette-color-neutral-lighter);
        }
    }
}

:root
{
    /**
     * The label color, set in temp.scss.
     */
    --temp-label-color: #555555;

    --legacy-card-border-color: var(--palette-color-neutral-light);
    --legacy-card-edge-color: var(--palette-color-neutral);
    --legacy-card-surface-color: var(--palette-color-neutral-lightest);
    --legacy-card-surface-color--hover: var(--palette-color-neutral-lighter);
    --legacy-card-surface-box-surface-color: var(--palette-color-neutral-light);
}

// Force buttons with outline appearance to use neutral border color.
button,
a[appearance]
{
    &[appearance="outline"][accent]
    {
        border-color: var(--surface-neutral-border-color);
    }
}

body page-sidebar page-section:not(.--header-slot-empty) .page-section-header
{
    padding-top: 16rem;
    border-top: var(--border-width-thin) solid var(--surface-separator-color) !important;
    border-bottom: none !important;
    background-color: transparent !important;
    color: var(--surface-subtle-color) !important;
}

.route-list-expanded-view-section-title
{
    color: var(--surface-subtle-color) !important;
}

button[appearance="outline"]
{
    // border-color: var(--palette-color-neutral-light) !important;
}

html body page-sidebar page-section:not(.--header-slot-empty) .page-section-header
{
    background: transparent !important;
    border-bottom: var(--border-width-medium) solid var(--palette-color-neutral-light);
}

/* BEGIN: USE DARK BLUE COLOR */

app-sidebar[surface$="/primary"]
{
    --surface-color: var(--palette-color-primary-darkest);
    --surface-nav-link-surface-icon-color: #88929e;
    --surface-nav-child-link-surface-icon-color: hsl(213, 10%, 70%);

    user-identity a identity-picture
    {
        // background: var(--surface-nav-link-surface-color--active);
        background: var(--surface-nav-child-surface-color);
    }
}

/* END: USE DARK BLUE COLOR */
