////
/// @group resources/themes/ikea-light
////

/// Public interface for the theme.
$__summary: comment;


// Import the theme on which this theme is based.
@import "../../mover-light/styles/index";


// Override default styles.

html.theme-enable-topbar
{
    app-topbar
    {
        app-logo
        {
            filter: none;

            height: 40rem;

            // Set the border radius.
            border-radius: var(--border-radius-small);
        }
    }
}

app-sidebar
{
    app-logo
    {
        // Set the border radius.
        border-radius: var(--border-radius-small);

        // Add padding to adjust position and size.
        padding-bottom: 3rem !important;
    }
}
