start-locations
{
    page-tab-nav
    {
        margin-top: 7rem;

        .add-location-button
        {
            margin-left: 8rem;
            display: flex;

            icon
            {
                margin-right: 2rem;
            }
        }
    }
}
