////
/// @group settings/opacity
////

/// The default opacities used to indicate a reduction in importance or availability.
$__summary: comment;


:root
{
    /// The opacity applied to e.g. elements that should appear de-emphasized or faded.
    --opacity-faded: .6;

    /// The opacity applied to e.g. elements that should appear disabled or unavailable.
    --opacity-disabled: .3;

    /// The opacity applied to the backdrop of a modal.
    --opacity-backdrop: .3;
}