@import "resources/index";

page[name="users"] page[name="list"]
{
    data-table
    {
        --data-table-columns: /*0.3fr*/ 1fr 1fr 1fr 0.5fr;
    }

    /*
    identity-picture
    {
        width: 3em;
        height: 3em;
        font-size: 0.75em;
        background: var(--palette-color-neutral);
        color: var(--surface-color);

        .identity-picture-surface
        {
            filter: none;
        }
    }
    */
}
