<template validation>

    <require from="app/components/identity-picture-picker/identity-picture-picker"></require>
    <require from="./profile-pane.scss"></require>

    <modal-section>

        <div class="flex-row" scroll-fade="0.5">

            <identity-picture-picker
                readonly.bind="true"
                initials.bind="initials"
                value.bind="user.pictureUrl">
            </identity-picture-picker>

            <div class="user-profile-info">

                <div class="margin-bottom flex-row">
                    <div class="input-heading-like" translate>
                        Status
                    </div>
                    <div>
                        ${user.status.name}
                    </div>
                </div>

                <div class="flex-row">
                    <div class="input-heading-like" translate>
                        Last online
                    </div>
                    <div>
                        ${user.lastOnline | dateTime}
                    </div>
                </div>

            </div>

        </div>

        <text-input
            readonly.bind="true"
            class="margin-double-top"
            label="above"
            value.bind="user.preferredName">

            <div slot="heading" translate>
                Preferred name
            </div>

            <div slot="description" translate>
                This is the name the user would prefer to go by.
            </div>

        </text-input>

        <text-input
            if.bind="user.organizationName"
            readonly.bind="true"
            class="margin-double-top"
            label="above"
            value.bind="user.organizationName">

            <div slot="heading" translate>
                Organization
            </div>

            <div slot="description" translate>
                This is the name the organization the user is associated with.
            </div>

        </text-input>

        <email-input
            if.bind="user.email"
            readonly.bind="true"
            class="margin-double-top"
            label="above"
            value.bind="user.email">

            <div slot="heading" translate>
                Email address
            </div>

            <div slot="description" translate>
                This is the email address on which the user can be reached.
            </div>

            <div slot="after">

                <a href="mailto:${user.email}" appearance="none">
                    <icon name="md-open-in-new"></icon>
                </a>

            </div>

        </email-input>

        <phone-input
            if.bind="user.phoneNumber"
            readonly.bind="true"
            class="margin-double-top"
            label="above"
            value.bind="user.phoneNumber">

            <div slot="heading" translate>
                Phone number
            </div>

            <div slot="description" translate>
                This is the phone number on which the user can be reached.
            </div>

            <div slot="after">

                <a href="${user.phoneNumber | phone: 'rfc3966'}" appearance="none">
                    <icon name="md-open-in-new"></icon>
                </a>

            </div>

        </phone-input>

        <select-input
            class="margin-double-top"
            label="above"
            none.bind="false"
            value.bind="selectedRole"
            display-value.bind="selectedRole.name"
            disabled.bind="operation.pending">

            <div slot="heading" translate>
                Role
            </div>

            <div slot="description" translate>
                This is the role assigned to the user within the current organization.
            </div>

            <item repeat.for="role of availableRoles" model.bind="role">
                ${role.name}
            </item>

            <div slot="validation">

                <required-validator
                    value.bind="selectedRole">
                </required-validator>

            </div>

        </select-input>

        <select-input
            class="margin-double-top"
            label="above"
            value.bind="selectedTeam"
            display-value.bind="selectedTeam.name"
            disabled.bind="operation.pending">

            <div slot="heading" translate>
                Team
            </div>

            <div slot="description" translate>
                This is the team to which the user is currently assigned.
            </div>

            <item repeat.for="team of availableTeams" model.bind="team">
                ${team.name}
            </item>

        </select-input>

    </modal-section>

    <button
        if.bind="!operation.pending && (selectedRole.id !== user.role.id || selectedTeam.id !== user.team.id)"
        appearance="solid"
        accent="primary"
        class="margin-larger-top"
        click.delegate="onSubmitClick()"
        translate>
        Save changes
    </button>

</template>
