modal-panel[name="user"] profile-pane
{
    --identity-picture-width: 128rem;
    --identity-picture-height: 128rem;
    --identity-picture-margin-right: 18rem;
    --identity-picture-border-radius: 50%;

    > button
    {
        width: 100%;
    }

    .user-profile-info
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 24rem;

        .input-heading-like
        {
            width: 115rem;
            margin-right: var(--size-inline-spacing-large);
        }
    }
}
