////
/// @group themes/mover/surfaces/card
////

/// Surface defining the appearance of cards placed on the base surface.
$__summary: comment;


/* stylelint-disable no-duplicate-selectors, scss/selector-no-redundant-nesting-selector */

[surface="card"]
{
    // Inputs on the surface.
    &
    {
        // State: normal
        --color-surface-input-border: var(--palette-color-neutral);
        --color-surface-input-surface: var(--palette-color-whitepoint);

        // State: hover
        --color-surface-input-border--hover: var(--palette-color-neutral);
        --color-surface-input-surface--hover: var(--palette-color-whitepoint);

        // State: focus
        --color-surface-input-border--focus: var(--palette-color-neutral);
        --color-surface-input-surface--focus: var(--palette-color-whitepoint);
    }
}
