////
/// @group themes/mover/surfaces/card
////

/// Surface defining the appearance of cards placed on the base surface.
$__summary: comment;


/* stylelint-disable no-duplicate-selectors, scss/selector-no-redundant-nesting-selector */

[surface="card"]
{
    // Inputs on the surface.
    &
    {
        // State: normal
        --surface-input-border-color: var(--palette-color-neutral);
        --surface-input-surface-color: var(--palette-color-whitepoint);

        // State: hover
        --surface-input-border-color--hover: var(--palette-color-neutral);
        --surface-input-surface-color--hover: var(--palette-color-whitepoint);

        // State: focus
        --surface-input-border-color--focus: var(--palette-color-neutral);
        --surface-input-surface-color--focus: var(--palette-color-whitepoint);
    }
}
