<template surface="neutral" class="${expanded ? '--expanded' : ''}" click.delegate="onSurfaceClick()">

    <require from="./page-sidebar.scss"></require>

    <div
        title.translate="${expanded ? 'Hide sidebar' : 'Show sidebar'}"
        class="page-sidebar-edge"
        click.trigger="onEdgeClick($event)">

        <div></div>

    </div>

    <slot></slot>

    <button
        title.translate="${expanded ? 'Hide sidebar' : 'Show sidebar'}"
        class="page-sidebar-edge-icon"
        appearance="icon"
        click.trigger="onEdgeClick($event)">

        <icon name="${expanded ? 'ico-navigate-backward' : 'ico-navigate-forward'}"></icon>

    </button>

</template>
