<template
    class="${open ? '--open' : ''}"
    inert.bind="disabled"
    forward-focus>

    <require from="./view-preset-selector.scss"></require>

    <button
        ref="buttonElement"
        disabled.bind="disabled"
        appearance.bind="appearance & attr"
        accent.bind="accent & attr"
        click.trigger="toggleDropdown()">

        <slot name="label">
            <span slot="label" tranalste>
                Views
            </span>
        </slot>

        <slot name="icon">

            <dropdown-icon
                open.bind="open">
            </dropdown-icon>

        </slot>

    </button>

    <dropdown
        show.bind="open"
        owner.bind="buttonElement"
        close.call="closeDropdown(escape || !focusout, !escape)"
        fixed.bind="fixed"
        placement.bind="placement">

        <item-picker
            view-model.ref="itemPicker"
            focused-value.bind="focusedValue"
            focused-element.bind="buttonElement"
            keyboard.bind="open"
            none.bind="false"
            pick.call="closeDropdown(true)"
            tabindex="-1"
            scroll>

            <template replace-part="empty"></template>

            <div class="view-preset-selector-section-title" translate>
                Organization views
            </div>

            <div>
                <item repeat.for="preset of sharedPresets" click.trigger="onPresetClick($event, preset)" model.bind="preset">
                    <div class="margin-right" translate>
                        ${preset.name}
                    </div>
                    <template if-claims.bind="'edit-' + preset.type + '-views'">
                        <button title.translate="Delete" appearance="none" accent="primary" click.trigger="onDeletePresetClick($event, preset)">
                            <icon name="delete-small" inline></icon>
                        </button>
                    </template>
                </item>
            </div>

            <div if.bind="sharedPresets.length == 0" class="view-preset-selector-empty" translate>
                No organization views
            </div>

            <div if.bind="sharedPresets == null" class="view-preset-selector-empty" translate>
                Please wait…
            </div>

            <hr class="hr-line">

            <div class="view-preset-selector-section-title" translate>
                Personal views
            </div>

            <div>
                <item repeat.for="preset of localPresets" click.trigger="onPresetClick($event, preset)" model.bind="preset">
                    <div class="margin-right" translate>
                        ${preset.name}
                    </div>
                    <button title.translate="Delete" appearance="none" accent="primary" click.trigger="onDeletePresetClick($event, preset)">
                        <icon name="delete-small" inline></icon>
                    </button>
                </item>
            </div>

            <div if.bind="localPresets.length == 0" class="view-preset-selector-empty" translate>
                No personal views
            </div>

            <div if.bind="localPresets == null" class="view-preset-selector-empty" translate>
                Please wait…
            </div>

            <hr class="hr-line">

            <item click.trigger="onCreatePresetClick()" model="save-current-view">
                <div translate>
                    Save current view
                </div>
            </item>

        </item-picker>

    </dropdown>

</template>
