view-preset-selector
{
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: stretch;

    > button
    {
        display: flex;

        // HACK: Override normal button min-width.
        min-width: 0 !important;

        dropdown-icon
        {
            // Push to the right.
            margin-left: auto;

            // Apply opacity to de-emphasize the icon.
            opacity: var(--opacity-faded);
        }

        [slot="label"]
        {
            // Center content on the cross axis, if flex layout is applied.
            align-items: center;
        }

        [slot="icon"]
        {
            // Use flex layout.
            display: flex;

            // Center content.
            align-items: center;
            justify-content: center;

            // Set line height to ensure correct vertical alignment.
            line-height: 1;

            // Set the size of the icon, in proportion to the text.
            font-size: var(--dropdown-icon-size);

            // Apply opacity to de-emphasize the icon.
            opacity: var(--opacity-faded);
        }

        [slot="label"]:not(:empty) + [slot="icon"]:not(:empty),
        [slot="label"]:not(:empty) + dropdown-icon
        {
            // Apply spacing between the label and icon.
            margin-left: var(--size-inline-spacing);
        }
    }

    > dropdown
    {
        display: flex;

        > item-picker
        {
            flex-grow: 1;

            item
            {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }

    .view-preset-selector-empty
    {
        padding: var(--item-picker-surface-item-padding);
        opacity: var(--opacity-faded);
    }
}
