////
/// @group resources/themes/ikea-dark
////

/// Public interface for the theme.
$__summary: comment;


// Import the theme on which this theme is based.
@import "../../mover-dark/styles/index";


// Override default styles.

app-sidebar
{
    app-logo
    {
        // Set the opacity of the app logo.
        opacity: 0.75;

        // Set the border radius.
        border-radius: var(--border-radius-small);

        // Add padding to adjust position and size.
        padding-bottom: 3rem !important;
    }
}

page[name="account"]
{
    color: var(--palette-color-neutral-lightest) !important;
    background: var(--palette-color-neutral-darkest) !important;
}
