<template ref="element">

    <require from="shared/google-maps/components/google-map/google-map-popover.scss" as="scoped"></require>

    <require from="app/components/name-value-pair/name-value-pair"></require>
    <require from="app/components/name-value-pair/name-value-pair.scss" as="scoped"></require>

    <require from="./order-stop-map-popover.scss" as="scoped"></require>

    <!-- HACK: The `if.bind="true"`here is required to prevent a templating bug. -->
    <google-map-popover
        if.bind="true"
        content.bind="element"
        offset-y.bind="-16">

        <h1>
            ${orderStop.type.name}
        </h1>

        <p class="user-select-text" innerhtml.bind="orderStop.location.address.toHtmlString()"></p>

        <name-value-pair class="margin-top">

            <div slot="name" translate>
                Timeframe
            </div>

            <div slot="value">
                ${orderStop.appointment.timeFrame | dateTimeRange: 'narrow' : false}
            </div>

        </name-value-pair>

        <template if.bind="orderStop.companyName || orderStop.contactName || orderStop.contactPhoneNumber || orderStop.contactEmail">

            <hr class="hr-line margin">

            <h2 translate>
                Contact
            </h2>

            <template if.bind="orderStop.companyName">

                <name-value-pair class="margin-top">

                    <div slot="name" translate>
                        Company
                    </div>

                    <div slot="value">
                        ${orderStop.companyName}
                    </div>

                </name-value-pair>

            </template>

            <template if.bind="orderStop.contactName">

                <name-value-pair class="margin-top">

                    <div slot="name" translate>
                        Name
                    </div>

                    <div slot="value">
                        ${orderStop.contactName}
                    </div>

                </name-value-pair>

            </template>

            <template if.bind="orderStop.contactPhoneNumber">

                <name-value-pair class="margin-top">

                    <div slot="name" translate>
                        Phone
                    </div>

                    <div slot="value">
                        <a href="${orderStop.contactPhoneNumber | phone: 'rfc3966'}">
                            ${orderStop.contactPhoneNumber | phone}
                        </a>
                    </div>

                </name-value-pair>

            </template>

            <template if.bind="orderStop.contactEmail">

                <name-value-pair class="margin-top">

                    <div slot="name" translate>
                        Email
                    </div>

                    <div slot="value">
                        <a href="mailto:${orderStop.contactEmail}">
                            ${orderStop.contactEmail}
                        </a>
                    </div>

                </name-value-pair>

            </template>

        </template>

        <template if.bind="orderStop.instructions">

            <hr class="hr-line margin">

            <h2 translate>
                Instructions
            </h2>

            <p class="user-select-text">
                ${orderStop.instructions}
            </p>

        </template>

        <template if.bind="orderStop.estimatedTaskTime">

            <hr class="hr-line margin">

            <h2 translate>
                Estimates
            </h2>

            <name-value-pair class="margin-top">

                <div slot="name" translate>
                    Task time
                </div>

                <div slot="value">
                    ${orderStop.estimatedTaskTime | duration}
                </div>

            </name-value-pair>

        </template>

    </google-map-popover>

</template>
