@import "shared/src/webKit/constants.scss";

.c-worldMap {
  position: relative;
  height: 100%;
  background: var(--colorNeutralExtraLight);

  // Fix font inheritance.
  .gm-style {
    font-family: inherit;
  }

  // Fix excessively large font size in controls.
  .gm-style-mtc * {
    font-size: 14px !important;
    color: #333 !important;
  }

  > div > div > .gm-style
  {
    > div[style*="border:"]
    {
      border: none !important;
      transition: border 0s;
    }
  }
}
