empty-indicator
{
    display: flex;
    align-items: center;
    justify-content: center;

    .empty-indicator
    {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 25vh;
    }
}
