empty-indicator
{
    display: flex;
    align-items: center;
    justify-content: center;

    .empty-indicator
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &.--size-small
    {
        .empty-indicator
        {
            height: 160rem;
        }

        .empty-indicator-icon
        {
            height: 60rem;
            width: 60rem;
            opacity: var(--opacity-faded);
            margin-bottom: var(--font-base-margin-bottom);
        }

        .empty-indicator-heading
        {
            font: var(--font-large);
            opacity: var(--opacity-faded);
        }

        .empty-indicator > [slot="details"]
        {
            margin-top: var(--font-large-margin-bottom);
        }
    }

    &.--size-medium
    {
        .empty-indicator
        {
            height: 20vh;
        }

        .empty-indicator-icon
        {
            height: 80rem;
            width: 80rem;
            opacity: var(--opacity-faded);
            margin-bottom: var(--font-large-margin-bottom);
        }

        .empty-indicator-heading
        {
            font: var(--font-larger);
            opacity: var(--opacity-faded);
        }

        .empty-indicator > [slot="details"]
        {
            margin-top: var(--font-larger-margin-bottom);
        }
    }

    &.--size-large
    {
        .empty-indicator
        {
            height: 25vh;
        }

        .empty-indicator-icon
        {
            height: 100rem;
            width: 100rem;
            opacity: var(--opacity-faded);
            margin-bottom: var(--font-large-margin-bottom);
        }

        .empty-indicator-heading
        {
            font: var(--font-largest);
            opacity: var(--opacity-faded);
        }

        .empty-indicator > [slot="details"]
        {
            margin-top: var(--font-largest-margin-bottom);
        }
    }
}
