vehicle-groups
{
    .create-rule-section
    {
        margin-top: -28rem;

        .page-section-content
        {
            align-items: flex-end;
        }
    }

    .no-start-locations empty-indicator [slot="details"]
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    data-table
    {
        --data-table-columns: 2fr 1.25fr 1.25fr 1.25fr 1.25fr 1.5fr min-content;
    }
}
