body
{
    --item-padding: var(--input-padding);
    --item-surface-color: var(---color-surface);
    --item-surface-text-color: var(---color-surface-text);
    --item-surface-color--hover: var(--color-surface-neutral-surface);
    --item-surface-text-color--hover: var(--color-surface-neutral-surface-text);
    --item-surface-color--active: var(--color-surface-primary-surface);
    --item-surface-text-color--active: var(--color-surface-primary-surface-text);
}

item
{
    display: block;

    // Apply padding.
    padding: var(--item-padding);

    // Truncate text content with an ellipsis.
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    // Apply colors.

    background: var(--item-surface-color);
    color: var(--item-surface-text-color);

    &.--disabled
    {
        opacity: var(--opacity-faded);
    }

    &:not(.--disabled)
    {
        // Set cursor to indicate the item is clickable.
        cursor: pointer;
    }

    item-picker.--hoverable &:not(.--disabled):not(.--active):hover
    {
        background: var(--item-surface-color--hover);
        color: var(--item-surface-text-color--hover);
    }

    item-picker &:not(.--disabled).--active
    {
        background: var(--item-surface-color--active);
        color: var(--item-surface-text-color--active);
    }
}
