:root
{
    // TODO: What about border width, color and radius?

    /// The padding of the component.
    --item-picker-surface-item-padding: var(--input-padding);
}

item
{
    /// The color of the surface of the component.
    /// NOTE: This should be customized for each theme surface.
    --item-picker-surface-item-surface-color: var(--surface-item-picker-surface-item-surface-color);
    --item-picker-surface-item-surface-color--hover: var(--surface-item-picker-surface-item-surface-color--hover);
    --item-picker-surface-item-surface-color--active: var(--surface-item-picker-surface-item-surface-color--active);

    /// The color of the text on the surface of the component.
    /// NOTE: This should be customized for each theme surface.
    --item-picker-surface-item-surface-text-color: var(--surface-item-picker-surface-item-surface-text-color);
    --item-picker-surface-item-surface-text-color--hover: var(--surface-item-picker-surface-item-surface-text-color--hover);
    --item-picker-surface-item-surface-text-color--active: var(--surface-item-picker-surface-item-surface-text-color--active);
}

item
{
    display: block;

    // Apply padding.
    padding: var(--item-picker-surface-item-padding);

    // Truncate text content with an ellipsis.
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    // Apply component style for the normal state.
    background: var(--item-picker-surface-item-surface-color);
    color: var(--item-picker-surface-item-surface-text-color);

    &.--disabled
    {
        // Reduce opacity when disabled.
        opacity: var(--opacity-faded);
    }

    &:not(.--disabled)
    {
        // Set cursor to indicate the item is clickable.
        cursor: pointer;
    }

    item-picker.--hoverable &:not(.--disabled):not(.--active):hover
    {
        // Apply component style for the hover state.
        background: var(--item-picker-surface-item-surface-color--hover);
        color: var(--item-picker-surface-item-surface-text-color--hover);
    }

    item-picker &:not(.--disabled).--active
    {
        // Apply component style for the active state.
        background: var(--item-picker-surface-item-surface-color--active);
        color: var(--item-picker-surface-item-surface-text-color--active);
    }
}
