<template>

    <require from="./activate.scss"></require>

    <template if.bind="!model.busy && !model.done">

        <div validation validation.ref="validation" keydown.delegate="onKeyDown($event)">

            <password-input class="margin-top" value.bind="model.password" autocomplete="new-password">

                <span slot="placeholder" translate>
                    New password
                </span>

                <div slot="validation">

                    <required-validator
                        value.bind="model.password">
                    </required-validator>

                    <length-validator
                        value.bind="model.password"
                        min.bind="8">
                    </length-validator>

                </div>

            </password-input>

            <toolbar class="margin-top">

                <check-toggle label="after" value.bind="model.remember">

                    <span slot="heading" translate>
                        Remember me
                    </span>

                </check-toggle>

            </toolbar>

            <div surface="base">

                <button class="margin-top" appearance="solid" accent="primary" click.delegate="onActivateAccountClick()" translate>
                    Activate account
                </button>

            </div>

        </div>

    </template>

    <template if.bind="model.busy && !model.done">

        <busy-indicator class="font-largest animation-fade-in-medium au-enter-active" translate>
            Activating account
        </busy-indicator>

    </template>

    <template if.bind="!model.busy && model.done">

        <div class="font-large" translate>
            Account activated
        </div>

    </template>

    <template if.bind="!model.busy && model.error">

        <div class="font-large" accent="negative" translate>
            Failed to activate account
        </div>

    </template>

</template>
