list-layout
{
    display: block;

    // Set the default card size.
    --card-width: 100%;
    --card-height: 72rem;

    // The distance between each row.
    --list-layout-row-gap: 16rem;

    .list-layout-items
    {
        // Use vertical flex layout.
        display: flex;
        flex-direction: column;

        // Set the row gap.
        > :not(:last-child)
        {
            margin-bottom: var(--list-layout-row-gap);
        }
    }

    &.--row-gap-before .list-layout-items > :first-child
    {
        // Set the row gap.
        margin-top: var(--list-layout-row-gap);
    }

    &.--row-gap-after .list-layout-items > :last-child
    {
        // Set the row gap.
        margin-bottom: var(--list-layout-row-gap);
    }
}
