@import "resources/index";

toolbar
{
    // Use horizontal flex layout.
    display: flex;

    // Center items vertically.
    align-items: center;

    > :not(:last-child)
    {
        // Apply margin to separate items.
        margin-right: 24rem;
    }
}
