<template draggable="true">

    <require from="legacy/components/express-route-map/wrapper" as="react-express-route-map"></require>

    <require from="./map-column.scss"></require>

    <page-content scroll>

        <react-express-route-map
            is-merging.bind="workspace.isMerging"
            express-routes.bind="workspace.expressRoutes"
            driver-routes.bind="workspace.driverRoutes"
            new-driver-stops.bind="workspace.newDriverStops"
            remaining-express-stops.bind="workspace.remainingExpressStops"
            on-driver-route-click.call="onDriverRouteClick(route)"
            on-express-route-click.call="onExpressRouteClick(route)"
            on-connected-stop-click.call="onConnectedStopClick(stop)"
            on-unconnected-stop-click.call="onUnconnectedStopClick(stop)"
            on-map-click.call="onMapClick()">
        </react-express-route-map>

    </page-content>

</template>
