@import "resources/index";

page[name="routes"] page[name="express-dispatch"] map-column
{
    // Use horizontal flex layout.
    display: flex;

    // Fill the available space.
    flex-grow: 1;
    flex-basis: 100%;

    // Allow the element to shrink.
    min-width: 0;

    z-index: 0;
}
