@import "shared/src/webKit/constants.scss";

.c-tabPage-outerContainer {
  display: flex;
  height: 100%;
  flex-direction: column;

  .c-tabPage-tabs {
    display: flex;
    height: 66px;
    padding: 0 30px;

    .c-tabPage-skeleton {
      align-self: center;
      width: 177px;
      border-radius: $borderRadius;
      height: 20px;
      background-color: var(--colorNeutralExtraLight);

      &:not(:last-child) {
        margin-right: 15px;
      }
    }

    .c-tabPage-tab {
      position: relative;
      display: flex;
      padding: 0 30px;
      height: 50px;
      align-self: flex-end;
      align-items: center;
      border-top-left-radius: $borderRadius;
      border-top-right-radius: $borderRadius;
      border: 1px solid transparent;
      border-bottom-width: 1px;
      bottom: -1px;
      transition: background-color 150ms, color 150ms;

      &:not(:last-child) {
        margin-right: 6px;
      }

      &:not(.c-tabPage-tab--single) {
        background-color: var(--colorNeutralExtraExtraLight);
        border: 1px solid var(--colorNeutralLight);
        color: var(--colorBackgroundPrimary);
        cursor: pointer;

        &.loading {
          border: 0;
        }

        &.active,
        &:hover {
          color: black;
          background-color: var(--colorNeutralExtraLight);
          z-index: 1;
        }

        &.active {
          border-bottom-color: transparent;
          cursor: default;
        }
      }
    }

    .c-tabPage-actionContainer {
      align-self: center;
      margin-left: auto;
      display: flex;
    }
  }

  .c-tabPage-contentContainer {
    background-color: var(--colorNeutralExtraLight);
    flex: 1;
    border-top: 1px solid var(--colorNeutralLight);
    height: 100%;
    padding: 28px 30px;
    overflow: auto;

    &.loading {
      border: 0;
    }

    .c-tabPage-content {
      background-color: white;
      border: 1px solid var(--colorNeutralLight);

      &.loading {
        border: 0;
      }

      .c-tabPage-content-headline {
        height: 57px;
        display: flex;
        align-items: center;
        padding: 0 30px;
        align-items: center;
        background-color: var(--colorNeutralExtraExtraLight);
        border-bottom: 1px solid var(--colorNeutralLight);

        &.loading {
          border: 0;
        }
      }

      .c-gridTable {
        padding: 20px 30px;

        .c-gridTable-header {
          top: -30px;
        }
      }
    }
  }
}
