@import "shared/src/webKit/constants.scss";

.c-departments-create {
  width: $formWidth;
  display: flex;
  flex-direction: column;
}

.c-departments-headline {
  margin-bottom: 26px;
}

.c-departments-input {
  margin-bottom: 21px;
  width: 100%;
}
