events
{
    data-table
    {
        --data-table-columns: min-content 2fr 2fr 1fr;

        .timeline-header
        {
            padding-right: 48rem;
        }

        .event-location-column, .event-location-header
        {
            padding-left: 0;
        }

        .data-table-row
        {
            &:not(:first-of-type)
            {
                data-table-cell
                {
                    &:first-child
                    {
                        border: 0;
                    }
                }
            }

            &:first-of-type
            {
                data-table-cell
                {
                    &:first-child
                    {
                        .timeline
                        {
                            &-line
                            {
                                &.--top
                                {
                                    background-color: transparent;
                                }
                            }
                        }
                    }
                }
            }

            // &:last-of-type
            // {
            //     data-table-cell
            //     {
            //         &:first-child
            //         {
            //             .timeline
            //             {
            //                 &-line
            //                 {
            //                     &.bottom
            //                     {
            //                         background-color: transparent;
            //                     }
            //                 }
            //             }
            //         }
            //     }
            // }

            data-table-cell
            {
                height: 84rem;

                .data-table-cell-content
                {
                    width: 100%;
                }

                .order-event-column
                {
                    width: 100%;
                    padding-right: 48rem;

                    span
                    {
                        &:first-child
                        {
                            font-weight: 600;
                        }
                    }

                    .timeline
                    {
                        position: absolute;
                        right: 20rem;
                        top: 0;
                        bottom: 0;
                        width: 26rem;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        &-line
                        {
                            width: 4rem;

                            &.--top
                            {
                                height: 20rem;
                            }
                            &.--bottom
                            {
                                flex-grow: 1;
                            }
                        }
                        &-circle
                        {
                            width: 26rem;
                            height: 26rem;
                            border-radius: 50%;
                        }
                    }
                }
            }

            &.current-event
            {
                .order-event-column
                {
                    &.--last
                    {
                        .timeline
                        {
                            &-line
                            {
                                &.--bottom
                                {
                                    background-color: transparent;
                                    background-image: linear-gradient(
                                        0deg,
                                        var(--surface-positive-surface-color) 20%,
                                        transparent 20%,
                                        transparent 40%,
                                        var(--surface-positive-surface-color) 40%,
                                        var(--surface-positive-surface-color) 60%,
                                        transparent 60%,
                                        transparent 80%,
                                        var(--surface-positive-surface-color) 80%);
                                        background-size: 4rem 46rem;
                                }
                            }
                        }
                    }
                    .timeline
                    {
                        &-line
                        {
                            background-color: var(--surface-positive-border-color);
                        }
                        &-circle
                        {
                            background-color: var(--surface-positive-border-color);
                        }
                    }
                }
            }


            &.upcoming-event
            {
                .order-event-column
                {
                    &.--last
                    {
                        .timeline
                        {
                            &-line
                            {
                                &.--bottom
                                {
                                    display: none;
                                }
                            }
                        }
                    }
                    .timeline
                    {
                        &-line
                        {
                            background-color: transparent;
                            background-image: linear-gradient(
                                0deg,
                                var(--surface-positive-surface-color) 20%,
                                transparent 20%,
                                transparent 40%,
                                var(--surface-positive-surface-color) 40%,
                                var(--surface-positive-surface-color) 60%,
                                transparent 60%,
                                transparent 80%,
                                var(--surface-positive-surface-color) 80%);

                            &.--top
                            {
                                background-size: 4rem 38rem;
                            }
                            &.--bottom
                            {
                                background-size: 4rem 46rem;
                            }
                        }
                        &-circle
                        {
                            background-color: transparent;
                            border: 4rem solid var(--surface-positive-surface-color);
                        }
                    }
                }
            }
        }
    }
}
