@import "shared/src/webKit/constants.scss";

.c-liveTracking-routeDriverMarker {
  padding: 5px;
  pointer-events: none;

  &.--faded {
    opacity: 0.6;
  }
}

.c-liveTracking-routeDriverMarker-base {
  position: relative;
  min-width: 24px;
  min-height: 24px;
  line-height: 22px;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  color: white;

  &.c-liveTracking-routeDriverMarker--noDriver {
    border: 1px solid var(--colorAlertDarken);
    background: var(--colorBackgroundPrimary);
  }

  &.c-liveTracking-routeDriverMarker--offline {
    box-shadow: 0 0 1px 1px rgba(white, .7);
    border: 1px solid var(--colorAlertDarken);
    background: var(--colorOk);
  }

  &.c-liveTracking-routeDriverMarker--completed {
    opacity: .3;
  }

  &.c-liveTracking-routeDriverMarker--cancelled {
    opacity: .3;
  }
}

.c-liveTracking-routeDriverMarker-faded {
  opacity: .3;
}

.c-liveTracking-routeDriverMarker-driver {
  border-radius: 12px;
  border: 1px solid var(--colorBackgroundPrimaryDarken);
  background: var(--colorBackgroundPrimary);
}

.c-liveTracking-routeDriverMarker-noDriver {
  border: 1px solid var(--colorNeutralSemiDark);
  background: var(--colorNeutralRegularDarken);
}

.c-liveTracking-routeDriverMarker-warning,
.c-liveTracking-routeDriverMarker-alert {
  position: absolute;
  bottom: -2px;
  right: -2px;
  width: 8px;
  height: 8px;
  box-shadow: 0 0 0 1px white;
  border-radius: 4px;
}

.c-liveTracking-routeDriverMarker-warning {
  background: var(--colorWarning);
}

.c-liveTracking-routeDriverMarker-alert {
  background: var(--colorAlert);
}
