@import "resources/index";

status-message
{
    display: flex;
    align-items: center;
    padding: var(--card-padding);
    background: var(--surface-color);
    color: var(--surface-text-color);
    border-bottom: var(--border-width-thin) solid var(--border-color);

    > icon
    {
        opacity: var(--opacity-faded);
        margin-left: 6rem;
        margin-right: var(--size-inline-spacing);
    }
}
