design-row
{
    display: block;

    &:not(:first-child)
    {
        padding-top: 6rem;
        border-top: var(--border-width-thin) solid var(--surface-separator-color);
    }

    &:not(:last-child)
    {
        padding-bottom: 6rem;
    }

    .design-row-heading
    {
        margin-bottom: 6rem;
    }
}
