@import "resources/index";

page-content
{
    // Allow content to be positioned relative to this element.
    position: relative;

    // Use block layout.
    display: block;

    // Fill the available space.
    flex-grow: 1;

    // Allow the element to shrink.
    min-width: 0;

    page-header
    {
        // Apply default padding.
        padding: 7rem 9rem;

        // Add a border below the header.
        border-bottom: var(--border-width-thin) solid var(--surface-separator-color);

        // Apply surface color, so the header covers the page content when scrolled.
        background: var(--surface-color);

        h1.font-largest
        {
            line-height: 10rem;

            &.margin-bottom
            {
                margin-bottom: 4rem;
            }
        }

        toolbar
        {
            button
            {
                // HACK: Ensure min-width of buttons match that of the tabs.
                min-width: 30rem !important;
            }
        }
    }

    page-section,
    page-footer
    {
        // Apply margin to sections and the footer.
        margin: 8rem 9rem;
    }

    .page-content-back-to-top
    {
        position: fixed;
        top: 3rem;
        right: 6rem;
        z-index: var(--z-index-fixed);

        &:not(:hover) icon
        {
            opacity: var(--opacity-faded-more);
        }
    }
}

page-content.page-content-flex,
page-content.page-content-stretch,
page-content.page-content-center
{
    display: flex;
    flex-direction: column;

    > header
    {
        // Ensure the footer sticks to the bottom.
        position: sticky;
        top: 0;
    }

    > footer
    {
        // Ensure the footer sticks to the bottom.
        position: sticky;
        bottom: 0;

        // Push the footer down by default.
        margin: auto 0 0 0;

        // Apply default padding.
        padding: 8rem 9rem;

        // Apply surface color, so the footer covers the page content when scrolled.
        background: var(--surface-color);

        // Add a border above the footer.
        border-top: var(--border-width-thin) solid var(--surface-separator-color);
    }
}

page-content.page-content-stretch
{
    > section
    {
        // Fill the available space.
        flex-grow: 1;
    }
}

page-content.page-content-center
{
    > section
    {
        // Center in the available space.
        margin: auto;
    }

    > footer
    {
        // Remove margin on footer, as the section will push it down.
        margin-top: 0;
    }
}
