////
/// @group resources/styles/framework/typography/margin
////

/// Classes affecting the margin of elements.
$__summary: comment;

@import "resources/index";


/// Applies a third of the margin defined by the current font class to the element.
.margin-third
{
    &, &-top
    {
        margin-top: calc(var(--font-current-margin-top) / 2);
    }

    &, &-bottom
    {
        margin-bottom: calc(var(--font-current-margin-bottom) / 2);
    }
}

/// Applies half of the margin defined by the current font class to the element.
.margin-half
{
    &, &-top
    {
        margin-top: calc(var(--font-current-margin-top) / 2);
    }

    &, &-bottom
    {
        margin-bottom: calc(var(--font-current-margin-bottom) / 2);
    }
}

/// Applies the margin defined by the current font class to the element.
.margin
{
    &, &-top
    {
        margin-top: var(--font-current-margin-top);
    }

    &, &-bottom
    {
        margin-bottom: var(--font-current-margin-bottom);
    }
}

/// Applies double the margin defined by the current font class to the element.
.margin-double
{
    &, &-top
    {
        margin-top: calc(var(--font-current-margin-top) * 2);
    }

    &, &-bottom
    {
        margin-bottom: calc(var(--font-current-margin-bottom) * 2);
    }
}

/// Applies triple the margin defined by the current font class to the element.
.margin-triple
{
    &, &-top
    {
        margin-top: calc(var(--font-current-margin-top) * 3);
    }

    &, &-bottom
    {
        margin-bottom: calc(var(--font-current-margin-bottom) * 3);
    }
}

/// Applies the default margins to any descendent element that supports it.
/// Use in situations where all content of an element should be spaced using the default margins,
/// as an alternative to applying the `margin` class everywhere.
.margin-within
{
    @include mark-empty;
}
