<template
    class="focus-hidden --accent-${accent || 'default'}"
    inert.bind="toast != null && toast.busy !== false"
    keydown.trigger="onKeyDown($event)"
    tabindex="-1">

    <require from="./toast.scss"></require>

    <busy-overlay if.bind="toast != null && toast.busy !== false" delay.bind="true"></busy-overlay>

    <div class="toast-actions">

        <slot name="actions"></slot>

        <div class="toast-close-action">

            <svg
                if.bind="closeTimeout != null"
                class="toast-close-action-timeout"
                viewBox="0 0 100 100"
                xmlns="http://www.w3.org/2000/svg"
                style.bind="{ '--toast-close-action-timeout': closeTimeout }">
                <circle cx="50" cy="50" r="45"/>
            </svg>

            <button if.bind="closeButton && toast != null" title.translate="Dismiss" appearance="icon" click.trigger="onCloseClick()">
                <icon name="ico-close"></icon>
            </button>

        </div>

    </div>

    <div class="toast-content user-select-contain">

        <slot></slot>

    </div>

</template>
