@import "shared/src/webKit/constants.scss";

.c-liveTracking-routePanel-relatedRoutes {
  padding: 21px 25px 16px 25px;
  border-bottom: 1px solid $colorNeutralLight;
}

.c-liveTracking-routePanel-relatedToutes-title {
  margin-bottom: 10px;
}