@import "resources/index";

info-card
{
    position: relative;
    display: inline-flex;
    align-self: flex-start;
    align-items: center;
    flex-shrink: 1;
    min-width: var(--card-width);
    height: var(--card-height);
    padding: var(--card-padding-large);

    // Apply border.
    border: var(--border-width-thin) solid;
    border-radius: var(--border-radius-medium);

    // Apply surface style.
    border-color: var(--border-color);
    background: var(--surface-color);
    color: var(--surface-text-color);


    > .card-edge
    {
        // Position along the left edge of the card.
        position: absolute;
        top: calc(var(--border-width-thin) * -1);
        left: calc(var(--border-width-thin) * -1);
        bottom: calc(var(--border-width-thin) * -1);

        // Set the width of the edge.
        width: var(--border-width-thick);

        // Set the border radius to match that of the card.
        border-top-left-radius: var(--border-radius-medium);
        border-bottom-left-radius: var(--border-radius-medium);

        // Apply the info color to the card edge.
        background: var(--palette-color-info);
    }
}
