<template>

    <require from="./organization-tracking.scss"></require>

    <page-section>

        <div slot="header" translate>
            Track & Trace
        </div>

        <div class="flex-row margin-large-bottom">

            <text-input class="flex-basis-1-of-4" label="above" readonly.bind="readonly" value.bind="tracking.name">

                <div slot="heading" translate>
                    Name of the organization
                </div>

                <div slot="validation">

                    <required-validator
                        value.bind="tracking.name">
                    </required-validator>

                </div>

            </text-input>

        </div>

        <div class="flex-row">

            <text-input class="flex-basis-1-of-4" label="above" readonly.bind="true" value.bind="organizationId">

                <div slot="heading" translate>
                    ID of the organization
                </div>

                <div slot="description" translate>
                    You can provide this ID to another organization,<br>
                    so they can invite your organization to connect.
                </div>

                <div slot="after">

                    <button
                        title.translate="Copy to clipboard"
                        appearance="none"
                        click.trigger="onCopyIdToClipboard()">
                        <icon name="md-copy"></icon>
                    </button>

                </div>

            </text-input>

        </div>

    </page-section>

    <busy-indicator if.bind="tracking == null" class="margin-largest"></busy-indicator>

</template>
