.c-routePlanSettings-listElement-Container {
  position: relative;
  height: 76px;
  border: solid 1px #d8e1ee;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-items: center;

  &:not(:first-child) {
    margin-top: 10px;
  }
}

.c-rpc-icon {
  margin-right: 6px;
  cursor: pointer;
}

.c-routePlanSettings-listElement-Number {
  width: 29px;
  height: 100%;
  border-right: solid 1px #d8e1ee;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;

  > * {
    color: #abbec7;
  }
}

.c-routePlanSettings-listElement-Eye {
  padding-left: 10px;
  width: 65px;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  cursor: pointer;

  img {
    width: auto;
  }

  &:hover {
    opacity: 0.7;
  }
}

.c-routePlanSettings-listElement-Remove {
  width: 48px;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  right: 0;
  bottom: 0;
  cursor: pointer;

  img {
    width: auto;
  }

  &:hover {
    opacity: 0.7;
  }
}
