.c-routePlanning-routes-list-headerActions {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  font-size: 14px;
  z-index: 60;
  height: 28px;
  padding: 0 30px 0 28px;
  justify-content: center;
  z-index: 3000;
  background: linear-gradient(to right, transparent, var(--surface-neutral-surface-color) 28px);
}

.c-routePlanning-routes-action {
  cursor: pointer;
  user-select: none;
  line-height: 28px;
  padding: 0 2px;
  transition: opacity 150ms;

  &:hover {
    opacity: 0.7;
  }

  img {
    width: auto;
    height: 12px;
  }
}
