////
/// @group resources/styles/framework/modifiers/opacity
////

/// Modifier classes affecting the opacity of elements.
$__summary: comment;

@import "base/resources/index";


/// Modifier class that de-emphasizes the element by reducing its opacity.
.opacity-faded
{
    opacity: var(--opacity-faded);
}

/// Modifier class that makes the element appear disabled by reducing its opacity.
.opacity-disabled
{
    opacity: var(--opacity-disabled);
}
