@import "shared/src/webKit/constants.scss";

.c-routeDetails {
  height: 100%;
  overflow: auto;
}

.c-routeDetails-container {
  display: flex;
  align-items: stretch;
  min-height: 100%;
}

.c-routeDetails-main {
  flex-grow: 1;
}

.c-routeDetails-section {
  padding: 25px 32px;
}

.c-routeDetails-section-heading {
  border-bottom: solid 1px $colorNeutralLight;
  padding-bottom: 11px;
}

.c-routeDetails-color-positive {
  color: $colorOk;
}

.c-routeDetails-color-negative {
  color: $colorAlert;
}

@keyframes routeDetails-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba($colorOk, 0.4);
  }
  70% {
      box-shadow: 0 0 0 10px rgba($colorOk, 0);
  }
  100% {
      box-shadow: 0 0 0 0 rgba($colorOk, 0);
  }
}