@import "shared/src/webKit/constants.scss";

.c-assignRoutes-routes {
  .c-createPreBooking-search {
    width: 90rem;
    margin: 5rem 0;
  }

  .c-assignRoutes-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
  }

  .c-assignRoutes-accordion {
    display: flex;

    .c-assignRoutes-accordionInfo {
      &:not(:last-child) {
        margin-right: 25rem;
      }
    }
  }

  .c-assignRoutes-complexity {
    display: flex;
    margin-right: 2rem;

    .c-assignRoutes-complexity-bar {
      width: 2.5rem;
      height: 1rem;
      background-color: var(--colorNeutralLight);

      &:not(:last-child) {
        margin-right: 1.25rem;
      }

      .c-assignRoutes-complexity-filler {
        background-color: var(--colorBackgroundPrimary);
        height: 100%;
      }
    }
  }
}
