////
/// @group framework/typography/font
////

/// Classes representing the fonts that may be applied to
/// elements containing text.
$__summary: comment;
@import "base/resources/index";
@mixin font($variant) {
  line-height: var(--font-#{$variant}-line-height);
  font-size: var(--font-#{$variant}-font-size);
  font-weight: var(--font-#{$variant}-font-weight);

  // Define the current text margins.
  --font-current-margin-top: var(--font-#{$variant}-margin-top);
  --font-current-margin-bottom: var(--font-#{$variant}-margin-bottom);

  .margin-within & {
    margin-top: var(--font-current-margin-top);
    margin-bottom: var(--font-current-margin-bottom);
  }
}

/// Text style for largest text.
/// Use for data visualizations, such as numbers on a card.
.font-largest {
  @include font("largest");
}

/// Text style for larger text.
/// Use for secondary headings, such as the page and section headings.
.font-larger {
  @include font("larger");
}

/// Text style for large text.
/// Use for tertiary headings, such as subsection and collection headings.
.font-large {
  @include font("large");
}

/// Text style for base text.
/// Use to restore the text style to match the base document style.
.font-base {
  @include font("base");
}

/// Text style for small text.
/// Use for e.g. input labels, validation messages, and helpful notes.
.font-small {
  @include font("small");
}

/// Text style for large headings.
/// Use for headings above sections that present data.
.font-heading-large {
  @include font("heading-large");
  color: var(--surface-heading-color);
}

/// Text style for headings.
/// Use for headings above sections that present data.
.font-heading {
  @include font("heading");
  color: var(--surface-heading-color);
}

/// Text style for base text.
/// Use for base-sized labels, such as the text on buttons or tabs.
.font-label-base {
  @include font("label-base");
}

/// Text style for small text.
/// Use for small-sized labels, such as column headers in a table.
.font-label-small {
  @include font("label-small");
}

/// Text style for code, identifiers, or similar monospaced text.
/// Note that whitespace preservation must be enabled separately,
/// and that the font size should be set on an ancestor element.
.font-monospaced {
  font-size: var(--font-monospaced-font-size);
  font-family: var(--font-family-monospaced);
}
