////
/// @group framework/typography/line-height
////

/// Classes affecting the line height of text content.
$__summary: comment;

@import "base/resources/index";


/// Text style that sets the line height equal to the font size.
/// Use in situations where positioning is easier when the line height matches the font size.
.line-height-1
{
    line-height: 1;
}

/// Text style that sets the line height to zero.
/// Use in situations where the height of the text should not affect the vertical layout.
.line-height-0
{
    line-height: 0;
}
