.c-routePlanning-routes-route-stop {
  height: 100%;
  width: 50px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

.c-routePlanning-routes-route-stop-selected {
  background-color: rgb(41, 41, 41) !important;

  &:hover {
    opacity: 1;
    background-color: rgba(104, 104, 104, 1) !important;
  }
}

.c-routePlanning-routes-route-stop-number {
  color: rgba(255, 255, 255, 0.9);

  &:hover {
    color: rgba(255, 255, 255, 0.9);
  }
}
