file-dropzone
{
    &.dropzone
    {
        display: flex;
        padding: 40rem;
        width: 400rem;
        height: 240rem;
        background: var(--surface-color);
        border: var(--border-width-medium) solid var(--surface-neutral-border-color);
        padding: 0;
        align-items: center;
        justify-content: center;
        transition: background-color 100ms;
        column-gap: 16rem;
        row-gap: 16rem;

        .dz-message
        {
            pointer-events: none;
            font-size: var(--font-largest-font-size);
        }
        .dz-preview.dz-file-preview, .dz-preview.dz-error
        {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: 0;
            background-color: transparent;

            .dz-image
            {
                height: 140rem;
                width: 140rem;
                border-radius: var(--border-radius-large);
                background: none;
                border: var(--border-width-thin) solid var(--border-color);
                background-color: white;
                box-shadow: 0 2px 4px 0 #edf2f9;
                background-image: url(./resources/images/data-file-icon.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: 50% auto;

                img
                {
                    display: none;
                }
            }

            .dz-details
            {
                position: static;
                padding: 0;
                margin-top: 10rem;
                opacity: 1;

                .dz-size
                {
                    display: none;
                }

                .dz-filename
                {
                    span
                    {
                        background-color: transparent;
                        padding: 0;
                        margin: 0;
                        border: 0;
                    }
                }
            }

            .dz-progress
            {
                position: static;
                margin: 0;
                margin-top: 8rem;
                border-radius: var(--border-radius-medium);
                height: 4rem;
                width: 100%;

                .dz-upload {
                    background: none;
                    background-color: var(--colorBackgroundPrimary)
                }
            }

            .dz-error-message
            {
                display: none;
            }

            .dz-error-mark, .dz-success-mark
            {
                display: none;
            }

            &.dz-error
            {
            }

            .dz-size
            {
                //display: none;
            }

            .dz-filename
            {
                pointer-events: none;

                span
                {
                    border: none;
                }
            }
        }

        &.dz-drag-hover
        {
            background-color: var(--palette-color-neutral-lighter);
            border-style: dashed;

            .dz-message
            {
                opacity: initial;
            }
        }
    }
}
