@import "resources/index";

path-nav
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    > *,
    > a[accent="inherit"]
    {
        display: block;
        white-space: nowrap;

        &:not(:last-child)::after
        {
            content: "-";
            display: inline-block;
            width: 2.5em;
            opacity: 0.3;
            background: var(--color-surface-neutral-icon);
            color: transparent;
            mask-size: 0.6em;
            mask-position: center 55%;
            mask-repeat: no-repeat;

            mask-image: url(
                "data:image/svg+xml;utf8," +
                "<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'>" +
                    "<path fill-rule='odd' d='M5.88 4.12L13.76 12l-7.88 7.88L8 22l10-10L8 2z'/>" +
                "</svg>"
            );
        }
    }
}
