@import "shared/src/webKit/constants.scss";

.c-liveTracking-journeyStopMarker {
  min-width: 20px;
  min-height: 20px;
  line-height: 20px;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  color: white;
}

.c-liveTracking-journeyStopMarker-warning {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border: 2px solid #eee;
  border-radius: 6px;
  background: var(--colorWarning);
  pointer-events: all;
}

.c-liveTracking-journeyStopMarker-alert {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border: 2px solid #eee;
  border-radius: 6px;
  background: var(--colorAlert);
  pointer-events: all;
}
