@import "resources/index";

.app-modules-design
{
    display: flex;

    // Ensure the element fills the viewport.
    height: 100%;
    width: 100%;
}

.app-modules-design-sidebar
{
    --page-sidebar-min-width: 180rem;
    padding: 36rem;
}

.app-modules-design-content
{
    flex-grow: 1;
    padding: 36rem;
}

.app-modules-design-toolbar
{
    display: flex;
    margin-bottom: 36rem;

    > *:not(:last-child)
    {
        margin-right: 36rem;
    }
}
