choose-organization
{
    display: block;

    .font-large
    {
        margin-top: 9rem;
        margin-bottom: 23rem;
    }

    .choose-organization-item
    {
        padding: 20rem 24rem;
        text-align: left;
    }
}
