<template>

    <require from="./choose-organization.scss"></require>

    <template if.bind="!model.busy && !model.done">

        <div surface="base">

            <button
                if.bind="invite != null"
                class="choose-organization-item margin-bottom"
                appearance="solid"
                accent="primary"
                click.delegate="onInviteClick(invite)">
                <b>${invite.organization.name}</b>
                <span class="flex-push-right opacity-faded" translate>
                    Invite
                </span>
            </button>

            <button
                repeat.for="organization of organizations"
                class="choose-organization-item margin-bottom"
                appearance="solid"
                accent="primary"
                click.delegate="onOrganizationClick(organization.id)">
                <b>${organization.name}</b>
            </button>

            <div if.bind="invite == null && organizations.length == 0" class="choose-organization-none font-large" translate>
                You are not a member of any organizations
            </div>

            <div else class="margin-top text-align-center opacity-faded-less" translate>
                or
            </div>

            <button
                class="margin-top"
                appearance="solid"
                accent="primary"
                click.delegate="onCreateOrganizationClick()">
                <div translate>
                    Create organization
                </div>
            </button>

        </div>

    </template>

    <template if.bind="model.busy && !model.done">

        <busy-indicator class="font-largest animation-fade-in-medium au-enter-active" translate>
            Signing in…
        </busy-indicator>

    </template>

    <template if.bind="!model.busy && model.done">

        <div class="font-large" translate>
            Signed in
        </div>

    </template>

</template>
