choose-organization
{
    display: block;

    .choose-organization-none
    {
        padding-bottom: calc((40rem - var(--font-large-line-height)));
    }

    .choose-organization-item
    {
        display: flex;
        padding: 23.5rem 26rem;
    }
}
