:root
{
    //Colors
    --legacy-colorBackgroundPrimary: #1a6bc6;
    --legacy-colorBackgroundSecondary: #00162e;
    --legacy-colorInteractivePrimary: #1a6bc6;
    --legacy-colorInteractivePrimaryActive: #034894;
    --legacy-colorInteractivePrimaryInactive: #abbec7;
    --legacy-colorInteractiveSecondary: #fff;
    --legacy-colorOk: #52ad1a;
    --legacy-colorWarning: #ff8906;
    --legacy-colorAlert: #e6310d;
    --legacy-colorNeutralExtraExtraLight: #f6f9fe;
    --legacy-colorNeutralExtraLight: #edf2f9;
    --legacy-colorNeutralLight: #d8e1ee;
    --legacy-colorNeutralRegular: #abbec7;
    --legacy-colorNeutralSemiDark: #7b8e97;
    --legacy-colorNeutralDark: #00162e;

    //Text color
    --legacy-textDarkPrimary: #11253e;
    --legacy-textDarkSecondary: #abbec7;
    --legacy-textDarkInactive: #abbec7;
    --legacy-textLightPrimary: white;
}
