modal-panel[name="vehicle-group-edit"]
{
    --modal-panel-min-width: 780rem;

    .button-container
    {
        button
        {
            width: 100%;

            &.flex-row
            {
                justify-content: center;
            }
        }
    }
}
