modal-panel[name="vehicle"]
{
    --modal-panel-min-width: 720rem;

    .button-container
    {
        display: flex;
        justify-content: flex-end;

        button
        {
            width: 224rem;

            &:not(:last-child)
            {
                margin-right: 28rem;
            }
        }
    }
}
