modal-panel[name="route-filters"]
{
    --modal-panel-min-width: 600rem;

    .route-filters-add-filter-view
    {
        data-table
        {
            --data-table-columns: auto max-content;
        }

        no-results-indicator
        {
            --no-results-indicator-max-width: 100rem;
            --no-results-indicator-max-height: 100rem;
        }
    }

    .route-filters-active-filters-view
    {
        data-table
        {
            --data-table-columns: 0.5fr 1fr max-content;

            tags-input
            {
                width: 100vw;
            }

            tag
            {
                white-space: pre-line;
            }

            .icon-row button
            {
                padding: 10rem;
                margin: 0 -10rem;
            }
        }
    }
}
