<template>

    <number-input
        label="above"
        none.bind="false"
        value.bind="model.timeBeforeDelivery | scale: 1/60"
        class="margin-large-bottom"
        min.bind="0">

        <div slot="heading" translate>
            Minutes before delivery
        </div>

        <span slot="after" class="opacity-faded" translate>
            min
        </span>

        <div slot="validation">

            <required-validator
                value.bind="model.timeBeforeDelivery">
            </required-validator>

            <range-validator
                active.bind="true"
                value.bind="model.timeBeforeDelivery"
                min.bind="0">
            </range-validator>

        </div>

    </number-input>

    <number-input
        label="above"
        none.bind="false"
        value.bind="model.timeAddedToEstimate | scale: 1/60"
        class="margin-large-bottom"
        min.bind="0">

        <div slot="heading" translate>
            Minutes added to estimate
        </div>

        <span slot="after" class="opacity-faded" translate>
            min
        </span>

        <div slot="validation">

            <required-validator
                value.bind="model.timeAddedToEstimate">
            </required-validator>

            <range-validator
                active.bind="true"
                value.bind="model.timeAddedToEstimate"
                min.bind="0">
            </range-validator>

        </div>

    </number-input>

    <number-input
        label="above"
        none.bind="false"
        value.bind="model.timeSubtractedFromEstimate | scale: 1/60"
        class="margin-large-bottom"
        min.bind="0">

        <div slot="heading" translate>
            Minutes subtracted from estimate
        </div>

        <span slot="after" class="opacity-faded" translate>
            min
        </span>

        <div slot="validation">

            <required-validator
                value.bind="model.timeSubtractedFromEstimate">
            </required-validator>

            <range-validator
                active.bind="true"
                value.bind="model.timeSubtractedFromEstimate"
                min.bind="0">
            </range-validator>

        </div>

    </number-input>

    <number-input
        label="above"
        none.bind="false"
        value.bind="model.minutesDelayedBeforeSending | scale: 1/60"
        class="margin-large-bottom"
        min.bind="0">

        <div slot="heading" translate>
            Minutes delayed before sending
        </div>

        <span slot="after" class="opacity-faded" translate>
            min
        </span>

        <div slot="validation">

            <required-validator
                value.bind="model.minutesDelayedBeforeSending">
            </required-validator>

            <range-validator
                active.bind="true"
                value.bind="model.minutesDelayedBeforeSending"
                min.bind="0">
            </range-validator>

        </div>

    </number-input>

</template>
