<template>

    <number-input
        label="above"
        none.bind="false"
        value.bind="model.minutesPriorToDelivery | scale: 1/60"
        class="margin-large-bottom"
        min.bind="0">

        <div slot="heading" translate>
            Minutes prior to delivery
        </div>

        <span slot="after" class="opacity-faded" translate>
            min
        </span>

        <div slot="validation">

            <required-validator
                value.bind="model.minutesPriorToDelivery">
            </required-validator>

            <range-validator
                active.bind="true"
                value.bind="model.minutesPriorToDelivery"
                min.bind="0">
            </range-validator>

        </div>

    </number-input>

    <number-input
        label="above"
        none.bind="false"
        value.bind="model.minutesAddedToEstimate | scale: 1/60"
        class="margin-large-bottom"
        min.bind="0">

        <div slot="heading" translate>
            Minutes added to estimate
        </div>

        <span slot="after" class="opacity-faded" translate>
            min
        </span>

        <div slot="validation">

            <required-validator
                value.bind="model.minutesAddedToEstimate">
            </required-validator>

            <range-validator
                active.bind="true"
                value.bind="model.minutesAddedToEstimate"
                min.bind="0">
            </range-validator>

        </div>

    </number-input>

    <number-input
        label="above"
        none.bind="false"
        value.bind="model.minutesAddedPriorToEstimate | scale: 1/60"
        class="margin-large-bottom"
        min.bind="0">

        <div slot="heading" translate>
            Minutes added prior to estimate
        </div>

        <span slot="after" class="opacity-faded" translate>
            min
        </span>

        <div slot="validation">

            <required-validator
                value.bind="model.minutesAddedPriorToEstimate">
            </required-validator>

            <range-validator
                active.bind="true"
                value.bind="model.minutesAddedPriorToEstimate"
                min.bind="0">
            </range-validator>

        </div>

    </number-input>

    <number-input
        label="above"
        none.bind="false"
        value.bind="model.minutesDelayedBeforeSending | scale: 1/60"
        class="margin-large-bottom"
        min.bind="0">

        <div slot="heading" translate>
            Minutes delayed before sending
        </div>

        <span slot="after" class="opacity-faded" translate>
            min
        </span>

        <div slot="validation">

            <required-validator
                value.bind="model.minutesDelayedBeforeSending">
            </required-validator>

            <range-validator
                active.bind="true"
                value.bind="model.minutesDelayedBeforeSending"
                min.bind="0">
            </range-validator>

        </div>

    </number-input>

    <number-input
        label="above"
        none.bind="false"
        value.bind="model.minutesPriorPlannedDeliveryTimeCanMessageBeSent | scale: 1/60"
        min.bind="0">

        <div slot="heading" translate>
            Minutes prior planned delivery time can message be sent
        </div>

        <span slot="after" class="opacity-faded" translate>
            min
        </span>

        <div slot="validation">

            <required-validator
                value.bind="model.minutesPriorPlannedDeliveryTimeCanMessageBeSent">
            </required-validator>

            <range-validator
                active.bind="true"
                value.bind="model.minutesPriorPlannedDeliveryTimeCanMessageBeSent"
                min.bind="0">
            </range-validator>

        </div>

    </number-input>

</template>
