validation-message
{
    display: block;

    // HACK: Some validation messages, e.g. from the `required-validator`,
    // should only appear when no other validation messages are present.
    // This is not perfect, it but should get the job done in most cases.
    &.--single:not(:only-of-type),
    + [slot="validation"] validation-message.--single
    {
        display: none;
    }

    // If the validation is a summary, not attached to a specific input,
    // apply additional spacing above the validation.
    .input-validation.--summary > &:first-child
    {
        margin-top: var(--font-base-margin-top);
    }
}
