@import "resources/index";

page[name="dispatch"] page[name="express-dispatch"] routes-column
{
    // Use horizontal flex layout.
    display: flex;

    // Fill the available space.
    flex-grow: 1;
    flex-basis: 100%;

    // Allow the element to shrink.
    min-width: 0;

    z-index: 1;

    data-table
    {
        --data-table-columns: min-content min-content  0.75fr 0.75fr 0.75fr 0.75fr min-content min-content min-content 0.75fr min-content;
    }

    .data-table-row.--selected + .data-table-row:not(.--selected)
    {
        data-table-cell
        {
            // Apply spacing between selected and unselected rows.
            margin-top: 20rem;
        }
    }

    data-table[appearance="rows"]
    {
        .data-table-row.--selected + .data-table-row:not(.--selected)
        {
            data-table-cell
            {
                // Apply top border to the first unselected row after a selected row.
                border-top: var(--data-table-row-border-width) solid var(--data-table-row-border-color);
            }
        }
    }
}
