<template>

    <require from="./routes-column.scss"></require>

    <page-content scroll scroll.ref="scroll">

        <page-header class="flex-row" scroll-fade>

            <h1 class="font-largest">
                <path-nav>

                    <a accent="inherit" href="/dispatch" translate>
                        Dispatch
                    </a>

                    <span translate>
                        Express dispatch
                    </span>

                </path-nav>
            </h1>

            <toolbar class="flex-push-right">

                <date-input
                    fixed.bind="true"
                    placement="top-end"
                    value.bind="workspace.dateFilter"
                    change.trigger="onDateChanged($event.detail.value)">
                </date-input>

            </toolbar>

        </page-header>

        <page-section>

            <h2 class="font-larger margin-larger-bottom" translate>
                Routes to dispatch
            </h2>

            <toolbar class="margin-larger-bottom" scroll-fade="0.2">

                <search-input value.bind="textFilter & debounce: 200">

                    <div slot="placeholder">
                        Filter…
                    </div>

                </search-input>

                <search-input value.bind="zipFilter & debounce: 200">

                    <div slot="placeholder">
                        Zip filter...
                    </div>

                </search-input>

            </toolbar>

            <data-table
                appearance="rows"
                sorting.bind="sorting"
                selection="multiple"
                toggle-all.call="onToogleAll(value)">

                <data-table-headers>

                    <data-table-cell title.translate="Details" name="slug">
                        <span class="text-truncate" translate>
                            Details
                        </span>
                    </data-table-cell>

                    <data-table-cell title.translate="Owner" name="consignor.primaryName">
                        <span class="text-truncate" translate>
                            Owner
                        </span>
                    </data-table-cell>

                    <data-table-cell title.translate="Vehicle" name="vehicleType.name">
                        <span class="text-truncate" translate>
                            Vehicle
                        </span>
                    </data-table-cell>

                    <data-table-cell title.translate="Weight" name="totalWeightRange">
                        <span class="text-truncate" translate>
                            Weight
                        </span>
                    </data-table-cell>

                    <data-table-cell title.translate="Pickup name" name="pickupName">
                        <span class="text-truncate" translate>
                            Pickup name
                        </span>
                    </data-table-cell>


                    <data-table-cell title.translate="Pickup address" name="pickupLocation.address">
                        <span class="text-truncate" translate>
                            Pickup address
                        </span>
                    </data-table-cell>

                    <data-table-cell title.translate="Zip" name="pickupLocation.address.zipCode">
                        <span class="text-truncate" translate>
                            Zip
                        </span>
                    </data-table-cell>

                    <data-table-cell title.translate="From" name="earliestPickupDate">
                        <span class="text-truncate" translate>
                            From
                        </span>
                    </data-table-cell>

                    <data-table-cell title.translate="To" name="latestPickupDate">
                        <span class="text-truncate" translate>
                            To
                        </span>
                    </data-table-cell>

                    <data-table-cell title.translate="Stop count" name="stopsCount">
                        <span class="text-truncate" translate>
                            Stops
                        </span>
                    </data-table-cell>

                    <data-table-cell title.translate="Estimate" name="estimatedDuration">
                        <span class="text-truncate" translate>
                            Estimated duration
                        </span>
                    </data-table-cell>

                </data-table-headers>

                <template repeat.for="item of orderedAndFilteredItems">

                    <data-table-row
                        accent.bind="item.selected ? item.colorIndex : undefined"
                        selected.bind="item.selected"
                        toggle.call="onRowToggle(item, value)">

                        <data-table-cell title.bind="item.slug">
                            <a href="/routes/details/${item.slug}" class="text-truncate" translate>
                                Details
                            </a>
                        </data-table-cell>

                        <data-table-cell title.bind="item.consignor.primaryName">
                            <span empty-value>
                                <a if.bind="item.owner.primaryName" href="https://admin.mover.dk/dk/da/user-area/users/${item.consignor.legacyId}/overview" class="text-truncate" target="_blank">
                                    ${item.owner.primaryName}
                                </a>
                            </span>
                        </data-table-cell>

                        <data-table-cell title.bind="item.vehicleType.name">
                            <span class="text-truncate" empty-value>
                                ${item.vehicleType.name}
                            </span>
                        </data-table-cell>

                        <data-table-cell title="${item.totalWeightRange.from | number} – ${item.totalWeightRange.to | number} kg">
                            <span class="text-truncate" empty-value>
                                <template if.bind="item.totalWeightRange != null">
                                    ${item.totalWeightRange.from | number} – ${item.totalWeightRange.to | number} kg
                                </template>
                            </span>
                        </data-table-cell>

                        <data-table-cell>
                            <span class="text-truncate" empty-value>
                                ${item.stops[0].outfit.primaryName}
                            </span>
                        </data-table-cell>

                        <data-table-cell title.bind="item.pickupLocation.address">
                            <span class="text-truncate" empty-value>
                                ${item.pickupLocation.address}
                            </span>
                        </data-table-cell>

                        <data-table-cell title.bind="item.pickupLocation.address.zipCode">
                            <span class="text-truncate" empty-value>
                                ${item.pickupLocation.address.zipCode}
                            </span>
                        </data-table-cell>

                        <data-table-cell title.bind="item.earliestPickupDate | time: 'narrow' : false">
                            <span class="text-truncate" empty-value>
                                ${item.earliestPickupDate | time: 'narrow' : false}
                            </span>
                        </data-table-cell>

                        <data-table-cell title.bind="item.latestPickupDate | time: 'narrow' : false">
                            <span class="text-truncate" empty-value>
                                ${item.latestPickupDate | time: 'narrow' : false}
                            </span>
                        </data-table-cell>

                        <data-table-cell title.bind="item.stopsCount">
                            <span class="text-truncate" empty-value>
                                ${item.stops.length} stops
                            </span>
                        </data-table-cell>

                        <data-table-cell title="item.estimate">
                            <span class="text-truncate" empty-value>
                                ${item.estimatedDuration | duration}
                            </span>
                        </data-table-cell>

                    </data-table-row>

                </template>

            </data-table>

            <busy-indicator if.bind="loading" class="margin-largest"></busy-indicator>

            <empty-indicator if.bind="!loading && orderedAndFilteredItems.length == 0" class="margin-largest">
                <div slot="heading" translate>No results</div>
            </empty-indicator>

        </page-section>

    </page-content>

</template>
