<template ref="element">

    <require from="shared/google-maps/components/google-map/google-map-popover.scss" as="scoped"></require>

    <require from="app/components/name-value-pair/name-value-pair"></require>
    <require from="app/components/name-value-pair/name-value-pair.scss" as="scoped"></require>

    <require from="./route-driver-map-popover.scss" as="scoped"></require>

    <!-- HACK: The `if.bind="true"`here is required to prevent a templating bug. -->
    <google-map-popover
        if.bind="true"
        content.bind="element"
        offset-y.bind="-16">

        <h1 class="user-select-text">
            ${driver.name}
        </h1>

        <name-value-pair class="margin-top">

            <div slot="name" translate>
                ID
            </div>

            <div slot="value">
                ${driver.id}
            </div>

        </name-value-pair>

        <name-value-pair class="margin-top">

            <div slot="name" translate>
                Phone
            </div>

            <div slot="value">
                <a href="${driver.phone | phone: 'rfc3966'}">
                    ${driver.phone | phone}
                </a>
            </div>

        </name-value-pair>

        <p if.bind="!route.driverOnline" accent="negative" translate>
            Driver offline
        </p>

        <template if.bind="route.vehicle">

            <hr class="hr-line margin">

            <h2 translate>
                Vehicle
            </h2>

            <template if.bind="route.vehicle.type.name">

                <name-value-pair class="margin-top">

                    <div slot="name" translate>
                        Type
                    </div>

                    <div slot="value">
                        ${route.vehicle.type.name}
                    </div>

                </name-value-pair>

            </template>

            <template if.bind="route.vehicle.makeAndModel">

                <name-value-pair class="margin-top">

                    <div slot="name" translate>
                        Make and model
                    </div>

                    <div slot="value">
                        ${route.vehicle.makeAndModel}
                    </div>

                </name-value-pair>

            </template>

            <template if.bind="route.vehicle.color">

                <name-value-pair class="margin-top">

                    <div slot="name" translate>
                        Color
                    </div>

                    <div slot="value">
                        ${route.vehicle.color}
                    </div>

                </name-value-pair>

            </template>

            <template if.bind="route.vehicle.licensePlate">

                <name-value-pair class="margin-top">

                    <div slot="name" translate>
                        License plate
                    </div>

                    <div slot="value">
                        ${route.vehicle.licensePlate}
                    </div>

                </name-value-pair>

            </template>

        </template>

    </google-map-popover>

</template>
