<template>

    <require from="app/components/page-tab-nav/page-tab-nav"></require>
    <require from="app/components/page-tab-nav/page-tab"></require>
    <require from="./order-colli.scss"></require>

    <page-tab-nav class="margin-larger-top" appearance="tabs" value.bind="tab">

        <page-tab class="font-large" name.bind="'actual'">

            <span class="text-truncate" title.bind="'actual'" translate>
                Actual (${order.actualColli.length})
            </span>

        </page-tab>

        <page-tab class="font-large" name.bind="'estimated'">

            <span class="text-truncate" title.bind="'estimated'" translate>
                Estimated (${order.estimatedColli.length})
            </span>

        </page-tab>

    </page-tab-nav>

    <page-section>

        <div slot="header" class="margin-large-top" translate>
            Colli
        </div>

        <data-table appearance="rows">

            <data-table-headers>

                <data-table-cell>
                    <span class="text-truncate" translate>
                        Barcode number
                    </span>
                </data-table-cell>

                <data-table-cell>
                    <span class="text-truncate" translate>
                        Weight
                    </span>
                </data-table-cell>

                <data-table-cell>
                    <span class="text-truncate" translate>
                        Dimensions (width/height/length)
                    </span>
                </data-table-cell>

                <data-table-cell align="right">
                    <!-- Icons -->
                </data-table-cell>

            </data-table-headers>

            <template repeat.for="collo of (tab === 'actual' ? order.actualColli : order.estimatedColli)">

                <data-table-row>

                    <data-table-cell>
                        <span class="text-truncate">
                            ${collo.barcode}
                        </span>
                    </data-table-cell>

                    <data-table-cell>
                        <span class="text-truncate" if.bind="collo.weight">
                            ${collo.weight | number}kg
                        </span>

                        <span if.bind="!collo.weight" empty-value />
                    </data-table-cell>

                    <data-table-cell>
                        <span class="text-truncate" if.bind="collo.dimensions">
                            ${collo.dimensions.height | number}m x ${collo.dimensions.length | number}m x ${collo.dimensions.width | number}m
                        </span>

                        <span if.bind="!collo.dimensions" empty-value />
                    </data-table-cell>

                    <data-table-cell align="right">

                    </data-table-cell>

                </data-table-row>

            </template>

        </data-table>

    </page-section>

</template>
