@import "shared/src/webKit/constants.scss";

.c-rp-s-g-container {
  width: $formWidthWide;
  margin-bottom: 40px;

  > * {
    margin-bottom: 25px;
  }

  > p {
    margin-bottom: 14px;
  }

  :last-child {
    margin-bottom: 0;
  }
}

.c-rp-s-g-twoInput {
  display: flex;
  justify-content: space-between;

  > * {
    width: 47%;
  }
}

.c-rp-s-g-threeInput {
  display: flex;
  justify-content: space-between;

  > * {
    width: 30%;
  }
}
