@import "resources/index";

identity-picture
{
    // Allow content to be positioned relative to this element.
    position: relative;

    // Ensure inner layers are contained within this layer.
    z-index: 0;

    // Prevent shrinking.
    flex-shrink: 0;

    // Use flex layout to center content.
    display: flex;
    align-items: center;
    justify-content: center;

    // Apply default size.
    width: var(--identity-picture-width, 52rem);
    height: var(--identity-picture-height, 52rem);

    // Apply default border radius.
    border-radius: var(--identity-picture-border-radius, var(--border-radius-large));

    // Apply default font style.
    font-size: var(--font-large-font-size);
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;

    // Apply surface style.
    background: var(--surface-primary-surface-color);
    color: var(--surface-primary-surface-text-color);

    // Clip the content.
    overflow: hidden;

    // Prevent selection.
    user-select: none;

    .identity-picture-surface
    {
        // This allows the lighten filter to be applied only to the surface,
        // and not to the image. It also prevents conflicts if a filter is
        // applied to the component as a whole, e.g. when hovered.

        // Fill the available space.
        position: absolute;
        width: 100%;
        height: 100%;

        // Inherit the background, so it can be modified from the outside.
        background: inherit;

        // HACK: Inherit the border radius.
        // This is needed because Safari does not seem to respect
        // `overflow: hidden` when a filter is applied.
        border-radius: inherit;
    }

    .identity-picture-content
    {
        // Center the content.
        position: absolute;

        // Ensure the content appears on top of the surface.
        z-index: 1;

        .--unknown-initial::before
        {
            content: "·";

            position: relative;
            display: inline-block;
            opacity: var(--opacity-faded);
            width: 1ch;
            text-align: center;
            top: calc(-1em / 20);
        }
    }

    .identity-picture-image
    {
        // Fill the available space.
        position: absolute;
        width: 100%;
        height: 100%;

        // Ensure the picture appears on top of the surface and content.
        z-index: 2;

        // Position the image to cover the component.
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        // HACK: Inherit the border radius.
        // This is needed because Safari does not seem to respect
        // `overflow: hidden` when a filter is applied.
        border-radius: inherit;

        // Apply an inset shadow, to ensure contrast at the border of the image.
        box-shadow: inset 0 0 0 var(--identity-picture-border-width, var(--border-width-thin)) var(--identity-picture-border-color, transparent);
    }
}
