<template>

    <require from="./list.scss"></require>

    <page name="templates-list">

        <page-content scroll scroll.ref="scroll">

            <page-header scroll-fade class="flex-row">

                <h1 class="font-largest">
                    <path-nav>

                        <a accent="inherit" href="/routes" translate>
                            Routes
                        </a>

                        <span translate>
                            Templates
                        </span>

                    </path-nav>
                </h1>

                <toolbar class="flex-push-right">
                    <button if-claims="edit-routes" appearance="outline" accent="primary" page-href="path: /routes/templates/create" class="flex-row">

                        <icon name="ico-add" class="font-larger margin-right"></icon>

                        <span translate>
                            New template
                        </span>

                    </button>
                </toolbar>

            </page-header>

            <page-section>

                <data-table
                    appearance="rows"
                    sorting.bind="sorting"
                    busy.bind="updateOperation.pending || updateOperation.error != null">

                    <data-table-headers>

                        <data-table-cell>
                            <span class="text-truncate" translate>
                                Name
                            </span>
                        </data-table-cell>

                        <data-table-cell>
                            <span class="text-truncate" translate>
                                Reference
                            </span>
                        </data-table-cell>

                        <data-table-cell>
                            <span class="text-truncate" translate>
                                Id
                            </span>
                        </data-table-cell>

                        <data-table-cell align="right">
                            <!-- Icons -->
                        </data-table-cell>

                    </data-table-headers>

                    <template repeat.for="template of results">

                        <data-table-row
                            href="/routes/templates/details/${template.slug}">

                            <data-table-cell>
                                <span class="text-truncate">
                                    ${template.name}
                                </span>
                            </data-table-cell>

                            <data-table-cell>
                                <span class="text-truncate">
                                    ${template.reference}
                                </span>
                            </data-table-cell>

                            <data-table-cell>
                                <span class="text-truncate">
                                    ${template.slug}
                                </span>
                            </data-table-cell>
                            <data-table-cell align="right">

                                <div class="icon-row">

                                    <template if-claims="edit-routes">
                                        <button
                                            title.translate="Delete template"
                                            appearance="none"
                                            accent="primary"
                                            click.trigger="onDeleteClick(template)">
                                            <icon name="ico-delete-small"></icon>
                                        </button>
                                    </template>

                                </div>

                            </data-table-cell>

                        </data-table-row>

                    </template>

                </data-table>

                <busy-indicator if.bind="results == null && updateOperation.error == null" class="margin-largest"></busy-indicator>

                <empty-indicator if.bind="results.length == 0" class="margin-largest">
                    <div slot="heading" translate>No results</div>
                </empty-indicator>

            </page-section>

        </page-content>

    </page>

</template>
