@import "shared/src/webKit/constants.scss";

.c-dialog-container {
  z-index: 99999999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.c-dialog {
  min-width: 850px;
  border-radius: var(--border-radius-medium);
  overflow: hidden;
  margin-top: -25rem;
}

.c-dialog--disabled {
  pointer-events: none;
}

.c-dialog-header {
  position: relative;
  height: 15rem;
  padding: 0 8rem;
  display: flex;
  align-items: center;
  background-color: var(--colorNeutralExtraLight);
  border-bottom: var(--border-width-thin) solid var(--colorNeutralLight);

  img {
    width: auto;
  }
}

.c-dialog-close {
  margin-left: auto;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    opacity: .7;
  }
}

.c-dialog-content {
  background-color: white;
  padding: 11rem 8rem;
  max-height: 70vh;
  overflow-y: auto;
}

.c-dialog-action {
  height: 19rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: var(--border-width-thin) solid var(--colorNeutralLight);
  background-color: white;
  padding: 0 8rem;

  > *:not(:first-child) {
    margin-left: 5rem;
  }
}
