<template
    class="focus-hidden ${position === 'right' ? '--right' : '--left'}"
    inert.bind="modal != null && modal.busy !== false"
    keydown.trigger="onKeyDown($event)"
    tabindex="-1"
    trap-focus="fallback-focus.bind: element; escape-deactivates.bind: false;"
    validation
    validation.ref="validation">

    <require from="./modal-panel.scss"></require>

    <busy-overlay
        if.bind="modal != null && modal.busy !== false"
        opaque.bind="modal.busyOpaque"
        animate.bind="modal.busyAnimate"
        delay.bind="modal.busyDelay">
    </busy-overlay>

    <div class="modal-panel-content">

        <slot></slot>

    </div>

    <div class="modal-panel-actions">

        <button
            if.bind="closeButton && modal != null"
            title.translate="${shouldDiscardChanges ? 'Please correct the errors before closing, or click again to discard the changes' : 'Close'}"
            appearance="icon"
            accent.bind="shouldDiscardChanges ? 'negative' : 'neutral' & attr"
            click.trigger="onCloseClick()">
            <icon name.bind="position === 'left' ? 'ico-arrow-backward' : 'ico-close'"></icon>
        </button>

        <slot name="actions"></slot>

    </div>

</template>
