@import "shared/src/webKit/constants.scss";

.c-routeDetails-map {
  height: 40vh;
  min-height: 200px;
  border: 1px solid #f2f2f2;
  border-left: 1px solid darken($colorNeutralExtraLight, 3%);
  border-right: none;
}
