check-filter
{
    display: block;

    .check-filter-empty
    {
        // Truncate text content with an ellipsis.
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        // Apply colors.

        background: var(--item-surface-color);
        color: var(--item-surface-text-color);

        opacity: var(--opacity-faded);
    }

    .check-filter-items
    {
        display: flex;
        flex-direction: column;
    }

    check-filter-item
    {
        order: 1;
    }

    check-filter-item.--selected
    {
        order: 0;
    }
}
