@import "resources/index";

permissions
{
    display: block;

    ---separator-color: var(--surface-separator-color);

    .permissions-group
    {
        padding: 18rem 20rem 0 20rem;
        background-color: var(--surface-color);
        border-bottom: var(--border-width-thin) solid var(---separator-color);

        &:first-child
        {
            border-top: var(--border-width-thin) solid var(---separator-color);
        }
    }

    .permissions-group-header
    {
        display: flex;
        align-items: center;
        padding-bottom: 18rem;

        > switch-toggle
        {
            margin-left: auto;
        }

        > button
        {
            margin-top: -1rem;
        }
    }

    .permissions-group-content
    {
        border-top: var(--border-width-thin) solid var(--surface-separator-color);
    }

    .permissions-type
    {
        padding-top: 24rem;

        &:not(:last-child)
        {
            border-bottom: var(--border-width-thin) solid var(--surface-separator-color);
        }
    }

    .permissions-type-header
    {
        display: flex;
        align-items: center;
        padding-bottom: 24rem;

        > switch-toggle
        {
            margin-left: auto;
        }
    }

    .permissions-type-icon
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48rem;
        height: 48rem;
        background-color: var(--surface-neutral-surface-color);
        margin-right: 20rem;

        icon
        {
            font-size: var(--font-large-font-size);
            opacity: var(--opacity-faded);
        }
    }

    .permissions-arrow
    {
        position: relative;
        align-self: stretch;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48rem;
        margin-right: 20rem;

        .permissions-arrow-inner
        {
            position: absolute;
            left: calc(50% - var(--border-width-thick) / 2);
            bottom: calc(50% - var(--border-width-thick) / 2 - var(--border-width-thin));
            border-left: var( --border-width-thick) solid var(--surface-neutral-surface-color);
            border-bottom: var( --border-width-thick) solid var(--surface-neutral-surface-color);
            width: 50%;
            height: 100%;
        }
    }

    .permissions-type-title
    {
        font-weight: 500;
    }

    .permissions-type-description
    {
        margin-top: 4rem;
        opacity: var(--opacity-faded);
    }

    .permissions-permission
    {
        display: flex;
        align-items: center;
    }

    .permissions-permission-content
    {
        flex-grow: 1;
        display: flex;
        align-items: center;
        padding-top: 18rem;
        padding-bottom: 18rem;
        border-top: var(--border-width-thin) solid var(--surface-separator-color);

        icon:empty
        {
            display: block;
            visibility: hidden;
        }
    }
}
