modal-panel[name="import-orders"]
{
    --modal-panel-min-width: 820rem;

    .order-import-dropzone-section
    {
        flex-grow: 1;
    }

    file-dropzone
    {
        flex-grow: 1;
        width: 100%;

        .order-import-dropzone-content
        {
            display: flex;
            align-items: center;
            font-weight: 500;

            icon
            {
                font-size: calc(var(--font-base-line-height) * 2);
            }
        }
    }

    data-table
    {
        --data-table-columns: minmax(100rem, max-content) minmax(100rem, max-content) 20rem 1fr;

        data-table-headers > data-table-cell:first-of-type
        {
            padding-right: 0;
        }
    }
}
