<template>

    <require from="./drivers-column.scss"></require>

    <page-content scroll scroll.ref="scroll">

        <header scroll-fade>

            <div class="flex-row">

                <div>
                    <button
                        appearance="solid"
                        accent="primary"
                        disabled.bind="workspace.selectedExpressRoutes.length == 0 || workspace.selectedDriverRoutes.length != 1"
                        click.trigger="onMergeClick()"
                        translate>
                        Add selected routes to driver route
                    </button>
                </div>

                <h1 class="font-largest">
                    <path-nav>

                        <span>&nbsp;</span>

                    </path-nav>
                </h1>

            </div>

        </header>

        <section>

            <h2 class="font-larger margin-large-bottom" translate>
                Drivers on contract
            </h2>

            <toolbar class="margin-bottom" scroll-fade="0.2">

                <text-input value.bind="textFilter & debounce: 200">

                    <div slot="placeholder">
                        Find...
                    </div>

                </text-input>

            </toolbar>

            <data-table
                appearance="rows"
                sorting.bind="sorting"
                selection="multiple"
                busy.bind="updateOperation.pending"
                toggle-all.call="onToogleAll(value)">

                <data-table-headers>

                    <data-table-cell title.translate="Deadline" name="status.name">
                        <span class="text-truncate" translate>
                            Status
                        </span>
                    </data-table-cell>

                    <data-table-cell title.translate="ID" name="driver.id">
                        <span class="text-truncate" translate>
                            ID
                        </span>
                    </data-table-cell>

                    <data-table-cell title.translate="Name" name="driver.name">
                        <span class="text-truncate" translate>
                            Name
                        </span>
                    </data-table-cell>

                    <data-table-cell title.translate="Vehicle" name="driverVehicle.vehicleType.name">
                        <span class="text-truncate" translate>
                            Vehicle
                        </span>
                    </data-table-cell>

                    <data-table-cell title.translate="Stops remaining" name="remainingStopCount" align="right">
                        <span class="text-truncate" translate>
                            Stops remaining
                        </span>
                    </data-table-cell>

                    <data-table-cell title.translate="Done" name="completionTime">
                        <span class="text-truncate" translate>
                            Done
                        </span>
                    </data-table-cell>

                    <data-table-cell title.translate="Last stop address" name="lastStop.location.address">
                        <span class="text-truncate" translate>
                            Last stop address
                        </span>
                    </data-table-cell>

                    <data-table-cell title.translate="Postal code" name="TODO" align="right">
                        <span class="text-truncate" translate>
                            Postal code
                        </span>
                    </data-table-cell>

                </data-table-headers>

                <template repeat.for="item of orderedAndFilteredItems">

                    <data-table-row accent.bind="item.selected ? 'primary' : undefined" selected.bind="item.selected" toggle.call="onRowToggle(item, value)">

                        <data-table-cell title.bind="item.status.name" accent.bind="item.status.accent & attr">
                            <icon name="md-warning" if.bind="item.status.accent == 'attention' || item.status.accent == 'negative'"></icon>
                            <span class="text-truncate">
                                ${item.status.name}
                            </span>
                        </data-table-cell>

                        <data-table-cell title.bind="item.slug" class="font-monospaced">
                            <a class="text-truncate" href="/fleet-management/drivers/edit/${item.driver.id}">
                                ${item.driver.id}
                            </a>
                        </data-table-cell>

                        <data-table-cell title.bind="item.driver.name">
                            <span class="text-truncate">
                                ${item.driver.name}
                            </span>
                        </data-table-cell>

                        <data-table-cell title.bind="item.driverVehicle.vehicleType.name">
                            <span class="text-truncate">
                                ${item.driverVehicle.vehicleType.name}
                            </span>
                        </data-table-cell>

                        <data-table-cell title.bind="item.remainingStopCount" align="right">
                            <span class="text-truncate">
                                ${item.remainingStopCount || ''}
                            </span>
                        </data-table-cell>

                        <data-table-cell title.bind="item.completionTime">
                            <span class="text-truncate">
                                ${item.completionTime | time: false}
                            </span>
                        </data-table-cell>

                        <data-table-cell title.bind="item.lastStop.location.address">
                            <span class="text-truncate">
                                ${item.lastStop.location.address}
                            </span>
                        </data-table-cell>

                        <data-table-cell title.bind="TODO" align="right">
                            <span class="text-truncate">
                                TODO
                            </span>
                        </data-table-cell>

                    </data-table-row>

                </template>

            </data-table>

            <busy-indicator if.bind="workspace.driverRoutes == null" class="margin-largest"></busy-indicator>

            <empty-indicator if.bind="orderedAndFilteredItems.length == 0" class="margin-largest" translate>
                No results
            </empty-indicator>

        </section>

    </page-content>

</template>
