<template>

    <require from="./merge-column.scss"></require>

    <page-content scroll scroll.ref="scroll">

        <header scroll-fade>

            <h1 class="font-largest">
                <path-nav>

                    <span>&nbsp;</span>

                </path-nav>
            </h1>

        </header>

        <section class="stop-lists">

            <div surface="card" class="stop-list express-stops padding-medium">

                <h2 class="font-large margin-bottom" translate>
                    New stops
                </h2>

                <card
                    repeat.for="stop of expressStops"
                    class="margin-bottom"
                    draggable="true">

                    STOP ${stop.id}

                </card>

            </div>

            <div surface="card" class="stop-list driver-stops padding-medium">

                <h2 class="font-large margin-bottom" translate>
                    Driver stops
                </h2>

                <card
                    repeat.for="stop of driverStops"
                    class="margin-bottom"
                    draggable="true">

                    STOP ${stop.id}

                </card>

            </div>

        </section>

    </page-content>

</template>
