modal-panel[name="assign-vehicle"]
{
    --modal-panel-min-width: 800rem;

    data-table
    {
        --data-table-columns: 2.5fr 2.5fr 2.5fr min-content;
    }

    identity-picture
    {
        border-radius: 50%;
    }
}
