modal-panel[name="change-password"]
{
    --modal-panel-min-width: 180rem;

    .button-container
    {
        display: flex;
        justify-content: flex-end;

        button
        {
            width: 56rem;

            &:not(:last-child)
            {
                margin-right: 7rem;
            }
        }
    }
}
