//Colors
$colorBackgroundPrimary: #1a6bc6;
$colorBackgroundSecondary: #00162e;
$colorInteractivePrimary: #1a6bc6;
$colorInteractivePrimaryActive: #034894;
$colorInteractivePrimaryInactive: #abbec7;
$colorInteractiveSecondary: #fff;
$colorOk: #52ad1a;
$colorWarning: #ff8906;
$colorAlert: #e6310d;
$colorNeutralExtraExtraLight: #f6f9fe;
$colorNeutralExtraLight: #edf2f9;
$colorNeutralLight: #d8e1ee;
$colorNeutralRegular: #abbec7;
$colorNeutralSemiDark: #7b8e97;
$colorNeutralDark: #00162e;

//Text color
$textDarkPrimary: #11253e;
$textDarkSecondary: #abbec7;
$textDarkInactive: #abbec7;
$textLightPrimary: white;

$darkenOnHover: 2%;
