//Colors
$colorBackgroundPrimary: #1A6BC6;
$colorBackgroundSecondary: #00162E;
$colorInteractivePrimary: #1A6BC6;
$colorInteractivePrimaryActive: #034894;
$colorInteractivePrimaryInactive: #ABBEC7;
$colorInteractiveSecondary: #FFF;
$colorOk: #52AD1A;
$colorWarning: #FF8906;
$colorAlert: #E6310D;
$colorNeutralExtraLight: #EDF2F9;
$colorNeutralLight: #D8E1EE;
$colorNeutralRegular: #ABBEC7;
$colorNeutralSemiDark: #7B8E97;
$colorNeutralDark: #00162E;

//Text color
$textDarkPrimary: #333333;
$textDarkSecondary: #ABBEC7;
$textDarkInactive: #ABBEC7;
$textLightPrimary: white;