@import "shared/src/webKit/constants.scss";

.c-liveTracking-routePanel-routeStop {
  position: relative;
  display: flex;
  margin: 4px;
  padding: 16px 20px;
  border: 1px solid darken($colorNeutralExtraLight, 1%);
  border-radius: $listItemBorderRadius;
  background: $colorNeutralExtraLight;
  cursor: pointer;

  & > :last-child {
    flex-grow: 1;
  }

  &:hover {
    background-color: darken($colorNeutralExtraLight, $darkenOnHover);

    &:before {
      content: "";
      position: absolute;
      right: -1px;
      top: -1px;
      bottom: -1px;
      width: 4px;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      background-color: $colorBackgroundPrimary;
    }
  }
}

.c-liveTracking-routePanel-routeStop-stopNumber {
  min-width: 36px;
  margin-right: 20px;
  margin-bottom: 13px;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}

.c-liveTracking-routePanel-routeStop-stopCheckbox {
  display: flex;
  justify-content: center;
  margin-right: 20px;
  .c-checkboxContainer .c-checkboxContainer-content {
      padding-left: 0;
  }
}

.c-liveTracking-routePanel-routeStop-info {
  font-size: 12px;
  line-height: 1;

  span:not(:first-child) {
    margin-left: 8px;
    padding-left: 8px;
    border-left: 1px solid $colorNeutralLight;
  }
}

.c-liveTracking-routePanel-routeStop-section {
  margin-bottom: 10px;
}

.c-liveTracking-routePanel-routeStop-orderIds {
  margin-right: -1ch;
  padding-right: 1ch;
  max-height: 100px;
  overflow-y: auto;

  > div {
    text-align: right;

    > div {
      margin-left: 1ch;
      display: inline-block;
      white-space: nowrap;
    }
  }
}

.c-liveTracking-routePanel-routeStop-unnamedStopTitle {
  opacity: .3;
}