@import "shared/src/webKit/constants.scss";

.c-driverDispatch-prebookingDialog-summary {
  display: flex;
  margin-top: 20rem;

  h4 {
    display: flex;
    align-items: center;
    margin-right: 28rem;
  }
}

.c-driverDispatch-prebookingDialog {
  height: 100%;
  display: flex;
  flex-direction: column;

  .c-dialog-content {
    overflow-y: overlay;
    padding-top: 0;

    > h4 {
      padding-top: 44rem;
    }
  }
  .gridTable-container {
    margin-top: 24rem;
  }
}

.c-driverDispatch-prebookingDialog-icon {
  max-height: 20rem;
  max-width: 20rem;
  margin-right: 8rem;
}

.c-driverDispatch-prebookingDialog-information {
  display: flex;
  margin-top: 20rem;
}

.c-driverDispatch-prebookingDialog-infobox {
  &:not(:first-child) {
    margin-left: 40rem;
  }

  .font-heading {
    margin-bottom: 10rem;
  }
}
