.c-routePlanning-headerItem {
  margin: 0 20px 0 8px;
  flex-direction: row;
}

.c-routePlanning-headerItem-title {
  margin-bottom: 2px;
  opacity: var(--opacity-faded);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.c-routePlanning-headerItem-description {
  font-weight: 500;
  text-transform: lowercase;
  white-space: nowrap;
  text-overflow: ellipsis;
}
