cards
{
    --font-largest-font-weight: 400;

    card
    {
        --card-height: 112rem;

        > a
        {
            justify-content: space-around;
        }
    }

    card
    {
        .card-section
        {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
    }
}
