@import "constants.scss";
@import "./dropdown/dropdown.scss";

$applicationFadeIn: 0.62s;
$modalFadeIn: 0.25s;

// body,
// html {
//   overflow-x: hidden;
// }

#root {
  min-height: 100%;
}

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}

.visually-disabled {
  cursor: default;
  opacity: 0.6;
}

// img {
//   vertical-align: middle;
// }

// Hack: Fix the styling of the Kronos date and time components.
.react-kronos {
  height: 32px;

  * {
    font-family: inherit !important;
    font-size: 14px !important;
  }

  input {
    padding-left: 15px;
    padding-right: 15px;
  }
}

// Forms
// -----------------------------------------------------------------

button {
  border: 0;

  &:active,
  &:focus {
    outline: 0;
  }
}

input,
label {
  padding: 0;
  margin: 0;
  font-weight: $fontRegular;
}


button,
input,
select,
textarea {
  font: inherit;
}

input:active,
input:focus,
select:active,
select:focus {
  outline: 0;
}

input,
select {
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  @include ellipsis();
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

textarea,
textarea:focus {
  resize: none;
  border: 0;
  display: inline-block;
  padding: 0;
  outline: 0;
}

input,
textarea {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
// Firefox fix
input:required,
textarea:required {
  box-shadow: none;
}

input:invalid,
textarea:invalid {
  box-shadow: none;
}

// Animations
// -----------------------------------------------------------------

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

// Legacy
// -----------------------------------------------------------------

// .headline1 {
//   font-size: 36px;
//   line-height: 40px;
//   color: $textDarkPrimary;
//   font-weight: $fontExtraLight;
// }

// .headline2 {
//   font-size: 20px;
//   line-height: 24px;
//   color: $textDarkPrimary;
//   font-weight: $fontRegular;
// }

// .headline3 {
//   font-size: 16px;
//   line-height: 20px;
//   color: $textDarkInactive;
//   font-weight: $fontRegular;
//   font-style: italic;
// }

// .paragraph1 {
//   font-size: 16px;
//   line-height: 20px;
//   color: $textDarkSecondary;
//   font-weight: $fontRegular;
// }

// .paragraph2 {
//   font-size: 13px;
//   line-height: 16px;
//   color: $textDarkSecondary;
//   font-weight: $fontRegular;
// }

.cta1 {
  font-size: 16px;
  line-height: 20px;
  font-weight: $fontSemibold;
}

.cta2 {
  font-size: 16px;
  line-height: 20px;
  font-weight: $fontRegular;
  font-style: underline;
}

.cta3 {
  font-size: 13px;
  line-height: 16px;
  font-weight: $fontSemibold;
  text-decoration: underline;
}

.cta4 {
  font-size: 13px;
  line-height: 16px;
  font-weight: $fontSemibold;
}

.inputWrapper {
  position: relative;
}

.inputDefault {
  font-size: 14px;
  line-height: 20px;
  color: $textDarkPrimary;
  font-weight: $fontRegular;
}

.list1 {
  font-size: 11px;
  line-height: 13px;
  // color: $textDarkPrimary;
  // font-weight: $fontRegular;
}

.list2 {
  font-size: 11px;
  line-height: 13px;
  // color: $textDarkInactive;
  // font-weight: $fontRegular;
}

// .h1 {
//   line-height: 49px;
//   font-size: 36px;
// }

// .h2 {
//   line-height: 27px;
//   font-size: 20px;
// }

// .h3 {
//   line-height: 22px;
//   font-size: 16px;
// }

// .h4 {
//   text-transform: uppercase;
//   font-size: 16px;
//   line-height: 22px;
//   color: $textDarkSecondary;
//   font-weight: $fontBold;
// }

// .h5 {
//   text-transform: uppercase;
//   font-size: 12px;
//   color: $textDarkSecondary;
//   font-weight: $fontBold;
// }

// .p2 {
//   font-size: 12px;
// }

// .p3 {
//   font-size: 18px;
//   line-break: 24px;
// }

// .l1 {
//   font-size: 14px;
//   font-weight: $fontSemibold;
// }

// .l2 {
//   font-size: 16px;
//   font-weight: $fontSemibold;
// }

// .l3 {
//   font-size: 18px;
//   font-weight: $fontSemibold;
// }

// a {
//   color: $colorInteractivePrimary;
//   cursor: pointer;

//   &:focus,
//   &:hover {
//     color: $colorInteractivePrimaryActive;
//   }
// }

.inactive {
  color: $textDarkInactive;
}

.dark {
  color: white;
}

.active,
.dark {
  // .headline1 {
  //   color: white;
  // }

  // .headline2 {
  //   color: white;
  // }

  // .headline3 {
  //   color: white;
  // }

  // .headline4 {
  //   color: white;
  // }

  // .paragraph1 {
  //   color: white;
  // }

  // .paragraph2 {
  //   color: white;
  // }

  // .label1 {
  //   color: white;
  // }

  // .label2 {
  //   color: white;
  // }

  .inputDefault {
    color: white;
  }

  .list1 {
    color: white;
  }

  .list2 {
    color: rgba(255, 255, 255, 0.5);
  }
}

.mainApplication {
  min-height: 100vh;
  -webkit-animation: fade-in $applicationFadeIn;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fade-in $applicationFadeIn;
  /* Firefox < 16 */
  -ms-animation: fade-in $applicationFadeIn;
  /* Internet Explorer */
  animation: fade-in $applicationFadeIn;
}