////
/// @group framework/typography/break
////

/// Classes representing styles for the otherwise unstyled
/// `blockquote` element.
$__summary: comment;

@import "styles/resources/index";


/// Horizontal separator that renders as a thin, neutral line.
/// If inside a content context, text margin is applied.
hr.hr-line
{
    height: 1px;
    background: var(--palette-color-neutral);

    .margin-within &
    {
        margin-top: var(--font-current-margin-top);
        margin-bottom: var(--font-current-margin-bottom);
    }
}
