name-value-list
{
    display: flex;
    align-items: center;

    > :not(:last-child)::after
    {
        content: "|";

        padding: 0 var(--size-inline-spacing);
        opacity: var(--opacity-faded-more);
    }

    .name-value-pair-name
    {
        margin-right: var(--size-inline-spacing);
    }
}
