<template
    class="focus-hidden --accent-${accent || 'default'}"
    inert.bind="toast != null && toast.busy !== false"
    keydown.trigger="onKeyDown($event)"
    tabindex="-1">

    <require from="./toast.scss"></require>

    <busy-overlay if.bind="toast != null && toast.busy !== false" delay.bind="true"></busy-overlay>

    <div class="toast-actions">

        <slot name="actions"></slot>

        <button if.bind="closeButton && toast != null" appearance="icon" click.delegate="onCloseClick()">
            <icon name="close"></icon>
        </button>

    </div>

    <div class="toast-content">

        <slot></slot>

    </div>

</template>
