@import "resources/index";

identity-picture-picker
{
    display: flex;

    .identity-picture-picker-preview
    {
        position: relative;
        align-items: flex-start;
        margin-right: var(--identity-picture-margin-right, 16rem);
    }

    .identity-picture-picker-input
    {
        align-self: center;
        width: 100%;
    }

    identity-picture
    {
        align-self: center;
        font-size: 32rem;
        width: var(--identity-picture-width, 96rem);
        height: var(--identity-picture-height, 96rem);
        --identity-picture-border-width: var(--input-border-width);
        --identity-picture-border-color: var(--surface-input-border-color, var(--surface-input-surface-color));
    }

    busy-overlay
    {
        busy-indicator,
        .busy-indicator
        {
            width: 100%;
            height: 100%;
        }
    }

    url-input
    {
        --input-padding: 0;
        --input-min-height: 0;
        --input-border-width: 0;
        --input-surface-color: transparent !important;
        --input-surface-color--hover: transparent !important;
        --input-surface-color--focus: transparent !important;
        --input-surface-color--invalid: transparent !important;

        .input-control-inner
        {
            width: 0 !important;
            height: 0 !important;
            visibility: hidden !important;
        }

        &.--readonly > .input-label
        {
            margin-top: var(--font-small-margin-top);
            margin-bottom: 0 !important;
        }
    }

    .identity-picture-picker-options
    {
        display: flex;
        margin-top: -4rem;

        > :not(:last-child)
        {
            margin-right: var(--size-inline-spacing-large);
        }

        > span
        {
            color: var(--surface-separator-color);
        }
    }

    .identity-picture-picker-choose-picture
    {
        display: block;
        white-space: nowrap;
        margin: var(--input-padding);
        margin-left: var(--size-inline-spacing-large);
        margin-right: var(--size-inline-spacing-large);
    }

    .identity-picture-picker-use-gravatar
    {
        display: block;
        white-space: nowrap;
        margin: var(--input-padding);
        margin-left: 0;
        margin-right: var(--size-inline-spacing-large);
    }

    .input > .input-control > .input-control-inner .input-input
    {
        padding-right: 0;

        // TODO:2: Consider making this reusable, somehow.
        // Apply a mask to fade out the input value.
        mask-image: linear-gradient(
            to left,
            rgba(#ffffff, 0) 0,
            rgba(#ffffff, 1) 8rem
        );
    }

    &.--uploading .input > .input-control > .input-control-inner .input-input
    {
        opacity: var(--opacity-disabled);
    }
}
