<template class="${busy ? '--uploading' : ''}">

    <require from="app/components/identity-picture/identity-picture"></require>

    <require from="./identity-picture-picker.scss"></require>

    <div class="identity-picture-picker-preview">

        <identity-picture src.bind="value & debounce: 300">
            <span repeat.for="i of formattedInitials" class="${i ? '' : '--unknown-initial'}">${i}</span>
        </identity-picture>

        <busy-overlay if.bind="busy" animate.bind="uploadOperation.pending"></busy-overlay>

    </div>

    <div class="identity-picture-picker-input">

        <url-input
            label="above"
            value.bind="value"
            disabled.bind="disabled"
            readonly.bind="readonly">

            <slot name="heading" slot="heading"></slot>
            <slot name="description" slot="description"></slot>

            <div if.bind="!disabled && !readonly" class="identity-picture-picker-options">

                <button
                    if.bind="!showChangeOptions"
                    appearance="none"
                    accent="primary"
                    click.trigger="onChangeClick()"
                    translate>
                    Change
                </button>

                <template else>

                    <button
                        appearance="none"
                        accent="primary"
                        click.trigger="onUploadPictureClick()"
                        translate>
                        Upload picture
                    </button>

                    <template if.bind="gravatarIdentifier">

                        <span>|</span>

                        <button
                            title.translate="Learn more at https://gravatar.com"
                            appearance="none"
                            accent="primary"
                            click.trigger="onUseGravatarClick()"
                            translate>
                            Gravatar
                        </button>

                    </template>

                    <template if.bind="initials">

                        <span>|</span>

                        <button
                            appearance="none"
                            accent="primary"
                            click.trigger="onUseInitialsClick()"
                            translate>
                            Initials
                        </button>

                    </template>

                </template>

            </div>

            <slot name="validation" slot="validation"></slot>

        </url-input>

    </div>

</template>
