////
/// @group themes/blue/surfaces/card
////

/// Theme surface defining the appearance of cards placed on the base surface.
$__summary: comment;


/* stylelint-disable no-duplicate-selectors, scss/selector-no-redundant-nesting-selector */

[theme-surface="card"]
{
    // State: normal
    --color-border: var(--palette-color-neutral-light);
    --color-surface: var(--palette-color-neutral-lighter);

    // State: hover
    --color-border--hover: var(--palette-color-neutral-light);
    --color-surface--hover: var(--palette-color-neutral-HOVER);

    // State: hover
    --color-border--focus: var(--palette-color-neutral-light);
    --color-surface--focus: var(--palette-color-neutral-HOVER);

    // State: active
    --color-border--active: var(--palette-color-neutral-light);
    --color-surface--active: var(--palette-color-neutral-light);

    // Navigation links on the surface.
    &
    {
        // State: normal
        --color-surface-nav-link-border: transparent;
        --color-surface-nav-link-surface: transparent;
        --color-surface-nav-link-surface-text: inherit;
        --color-surface-nav-link-surface-icon: var(--palette-color-neutral);

        // State: hover
        --color-surface-nav-link-border--hover: var(--palette-color-neutral-HOVER);
        --color-surface-nav-link-surface--hover: var(--palette-color-neutral-HOVER);
        --color-surface-nav-link-surface-text--hover: inherit;
        --color-surface-nav-link-surface-icon--hover: var(--palette-color-neutral);

        // State: focus
        --color-surface-nav-link-border--focus: var(--palette-color-neutral-HOVER);
        --color-surface-nav-link-surface--focus: var(--palette-color-neutral-HOVER);
        --color-surface-nav-link-surface-text--focus: inherit;
        --color-surface-nav-link-surface-icon--focus: var(--palette-color-neutral);

        // State: active
        --color-surface-nav-link-border--active: var(--palette-color-neutral-light);
        --color-surface-nav-link-surface--active: var(--palette-color-neutral-light);
        --color-surface-nav-link-surface-text--active: inherit;
        --color-surface-nav-link-surface-icon--active: var(--palette-color-neutral-dark);
    }

    // Neutral elements on the surface.
    &
    {
        // State: normal
        --color-surface-neutral-border: var(--palette-color-neutral);
        --color-surface-neutral-surface: var(--palette-color-neutral);

        // State: hover
        --color-surface-neutral-border--hover: var(--palette-color-neutral);
        --color-surface-neutral-surface--hover: var(--palette-color-neutral);

        // State: focus
        --color-surface-neutral-border--focus: var(--palette-color-neutral);
        --color-surface-neutral-surface--focus: var(--palette-color-neutral);

        // State: active
        --color-surface-neutral-border--active: var(--palette-color-neutral-dark);
        --color-surface-neutral-surface--active: var(--palette-color-neutral-dark);
    }

    // Inputs on the surface.
    &
    {
        // State: normal
        --color-surface-input-border: var(--palette-color-neutral);
        --color-surface-input-surface: var(--palette-color-whitepoint);

        // State: hover
        --color-surface-input-border--hover: var(--palette-color-neutral);
        --color-surface-input-surface--hover: var(--palette-color-whitepoint);

        // State: focus
        --color-surface-input-border--focus: var(--palette-color-neutral);
        --color-surface-input-surface--focus: var(--palette-color-whitepoint);
    }
}
