design-column
{
    display: inline-block;
    vertical-align: top;
    padding-right: 24rem;
    min-width: 160rem;
    max-width: 360rem;

    &:not(:first-child)
    {
        padding-left: 24rem;
        border-left: var(--border-width-thin) solid var(--surface-separator-color);
    }

    .design-column-heading
    {
        margin-bottom: 24rem;
    }
}
