<template>

    <require from="./search-item.scss"></require>

    <card if.bind="model != null">

        <div slot="actions">

            <button
                if.bind="deleteClick != null"
                title.translate="Delete"
                appearance="none"
                click.trigger="deleteClick() && false">
                <icon name="md-remove"></icon>
            </button>

        </div>

        <div class="flex-row">

            <div class="search-item-icon-column">

                <icon name="search"></icon>

            </div>

            <div class="search-item-content-column">

                <div class="text-truncate user-select-contain">
                    ${model.text}
                </div>

                <div class="font-small text-truncate opacity-faded margin-top" translate>
                    This organization
                </div>

            </div>

        </div>

    </card>

    <card-skeleton if.bind="model == null"></card-skeleton>

</template>
