modal-panel[name="vehicle-group-edit"]
{
    --modal-panel-min-width: 200rem;

    .button-container
    {
        display: flex;
        justify-content: flex-end;

        button
        {
            &:not(:first-child)
            {
                margin-left: 5rem;
            }
        }
    }
}
