<template>

    <require from="./change-password.scss"></require>

    <template if.bind="!model.busy && !model.done">

        <div validation validation.ref="validation" keydown.delegate="onKeyDown($event)">

            <!-- <email-input value.bind="model.email" disabled.bind="true">

                <span slot="placeholder" translate>
                    Email address
                </span>

                <div slot="validation">

                    <required-validator
                        value.bind="model.email">
                    </required-validator>

                </div>

            </email-input> -->

            <!-- <password-input class="margin-top" value.bind="model.password" autocomplete="new-password"> -->
            <password-input value.bind="model.password" autocomplete="new-password">

                <span slot="placeholder" translate>
                    New password
                </span>

                <div slot="validation">

                    <required-validator
                        value.bind="model.password">
                    </required-validator>

                    <length-validator
                        value.bind="model.password"
                        min.bind="8">
                    </length-validator>

                </div>

            </password-input>

            <toolbar class="margin-top">

                <check-toggle label="after" value.bind="model.remember">

                    <span slot="heading" translate>
                        Remember me
                    </span>

                </check-toggle>

            </toolbar>

            <!-- <p class="margin-top opacity-faded-less" translate>
                To access your account, type a new password.
            </p> -->

            <div surface="base">

                <button class="margin-top" appearance="solid" accent="primary" click.delegate="onChangePasswordClick()" translate>
                    Change password
                </button>

            </div>

        </div>

    </template>

    <template if.bind="model.busy && !model.done">

        <busy-indicator class="font-largest animation-fade-in-medium au-enter-active" translate>
            Changing password…
        </busy-indicator>

    </template>

    <template if.bind="!model.busy && model.done">

        <div class="font-large" translate>
            Password changed
        </div>

    </template>

    <template if.bind="!model.busy && model.error">

        <div class="font-large" accent="negative" translate>
            Failed to change password
        </div>

    </template>

</template>
