////
/// @group themes/mover/surfaces/neutral
////

/// Surface defining the appearance of surfaces with the neutral theme color as background,
/// such as the `page-sidebar` and `dashboard`.
$__summary: comment;


/* stylelint-disable no-duplicate-selectors, scss/selector-no-redundant-nesting-selector */

[surface$="/neutral"]
{
    --border-color: var(--palette-color-neutral);

    // Inputs on the surface.
    &
    {
        // State: normal
        --surface-input-border-color: var(--palette-color-neutral);
        --surface-input-surface-color: var(--palette-color-whitepoint);
        --surface-input-surface-icon-color: var(--palette-color-primary);

        // State: hover
        --surface-input-border-color--hover: var(--palette-color-neutral);
        --surface-input-surface-color--hover: var(--palette-color-whitepoint);
        --surface-input-surface-icon-color--hover: var(--palette-color-primary);

        // State: focus
        --surface-input-border-color--focus: var(--palette-color-neutral);
        --surface-input-surface-color--focus: var(--palette-color-whitepoint);
        --surface-input-surface-icon-color--focus: var(--palette-color-primary);

        // State: invalid
        --surface-input-border-color--invalid: var(--palette-color-neutral);
        --surface-input-surface-color--invalid: var(--palette-color-whitepoint);
        --surface-input-surface-icon-color--invalid: var(--surface-negative-text-color);

        // Items on the surface of inputs on the surface.
        &
        {
            // State: normal
            --surface-input-surface-tag-border-color: var(--palette-color-neutral-lighter);
            --surface-input-surface-tag-surface-color: var(--palette-color-neutral-lighter);
            --surface-input-surface-tag-surface-text-color: var(--palette-color-neutral-darker);
            --surface-input-surface-tag-surface-icon-color: var(--palette-color-neutral-dark);

            // State: hover
            // --surface-input-surface-tag-border-color--hover: var(--palette-color-neutral-lighter);
            // --surface-input-surface-tag-surface-color--hover: var(--palette-color-neutral-lighter);
            // --surface-input-surface-tag-surface-text-color--hover: var(--palette-color-neutral-darker);
            --surface-input-surface-tag-surface-icon-color--hover: var(--palette-color-neutral-darker);

            // State: focus
            // --surface-input-surface-tag-border-color--focus: var(--palette-color-neutral-lighter);
            // --surface-input-surface-tag-surface-color--focus: var(--palette-color-neutral-lighter);
            // --surface-input-surface-tag-surface-text-color--focus: var(--palette-color-neutral-darker);
            --surface-input-surface-tag-surface-icon-color--hover: var(--palette-color-neutral-darker);
        }
    }
}
