@import "shared/src/webKit/constants.scss";

.pageContent-content.c-assignRoutes {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;

  .pageHeader {
    border: 0;

    .pageHeader-top {
      margin-bottom: 5rem;
    }

    .c-assignRoutes-closeButton {
      position: absolute;
      top: 8rem;
      right: 8rem;
      width: 4rem;
      height: 4rem;
      transform: rotate(45deg);
      cursor: pointer;

      &:before {
        content: "";
        width: 100%;
        height: 50%;
        border-top: 1px solid var(--colorInteractivePrimary);
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-.5px);
      }

      &:after {
        content: "";
        width: 50%;
        height: 100%;
        border-left: 1px solid var(--colorInteractivePrimary);
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-.5px);
      }
    }
  }

  .c-assignRoutes-complexityContainer {
    display: flex;
    align-items: center;
    margin-right: 2rem;

    .c-assignRoutes-complexity {
      display: flex;
      margin-right: 2rem;

      .c-assignRoutes-complexity-bar {
        width: 2.5rem;
        height: 1rem;
        background-color: var(--colorNeutralLight);

        &:not(:last-child) {
          margin-right: 1.25rem;
        }

        .c-assignRoutes-complexity-filler {
          background-color: var(--colorBackgroundPrimary);
          height: 100%;
        }
      }
    }
  }

  .c-assignRoutes-removePairing {
    margin-left: auto
  }

  .gridTable-container-new .c-gridTable.c-gridTable-blank {
    padding-bottom: 200px !important;
  }
}

.c-assignRoutes-topContainer {
  padding: 0 8rem;
  height: 50%;
  border-bottom: var(--border-width-thin) solid var(--colorNeutralExtraLight);
  display: flex;
  flex-direction: column;
  resize: vertical;
  overflow: overlay;

  .c-assignRoutes-topLists {
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-self: flex-start;
    width: 100%;
    overflow: overlay;

    > * {
      padding: 0 10rem;
      border: var(--border-width-thin) solid var(--colorNeutralExtraLight);
      border-radius: var(--border-radius-small);
      flex: 1;
      overflow: overlay;

      &:first-child {
        margin-right: 5rem;
      }

      > * {
        &:first-child {
          margin-top: 5rem;
        }
        &:last-child {
          margin-bottom: 5rem;
        }
      }
    }
  }

  .c-assignRoutes-topActionContainer {
    width: 100%;
    height: 23rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.c-assignRoutes-assignedRoutes {
  padding: 0 8rem 0;
  flex-grow: 1;
  overflow: overlay;

  .gridTable-container-new {
    margin-top: 7rem;
  }
}

.c-assignRoutes-actionContainer {
  align-self: flex-end;
  width: 100%;
  height: 19rem;
  padding: 0 8rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
