.c-routePlanning-routes-dividerVertical {
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.c-routePlanning-routes-dividerHorizontal {
  position: absolute;
  height: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
