@import "shared/src/webKit/constants.scss";

.expressRoutes-driverMarker {
  padding: 0 10px;
  pointer-events: none;

  &.--faded {
    opacity: 0.4;
  }
}

.expressRoutes-driverMarker-shape {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  line-height: 30px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  color: white;
  background: "gray";

  &.expressRoutes-driverMarker--online {
    border: 1px solid var(--colorOkDarken);
    background: var(--colorOk);
  }

  &.expressRoutes-driverMarker--offline {
    box-shadow: 0 0 1px 1px rgba(white, .7);
    border: 1px solid var(--colorAlertDarken);
    background: var(--colorOk);
  }

  &.expressRoutes-driverMarker--completed {
    opacity: .3;
  }

  &.expressRoutes-driverMarker--cancelled {
    opacity: .3;
  }
}

.expressRoutes-driverMarker-warning,
.expressRoutes-driverMarker-alert {
  position: absolute;
  bottom: 0;
  right: -2px;
  width: 8px;
  height: 8px;
  box-shadow: 0 0 0 1px white;
  border-radius: 4px;
}

.expressRoutes-driverMarker-warning {
  background: var(--colorWarning);
}

.expressRoutes-driverMarker-alert {
  background: var(--colorAlert);
}
