@import "shared/src/webKit/constants.scss";

.c-liveTracking-splitRoutePanel-driver {
  position: relative;
  display: flex;
  margin: 4px;
  padding: 16px 20px;
  border: 1px solid darken($colorNeutralExtraLight, 1%);
  border-radius: $listItemBorderRadius;
  background: $colorNeutralExtraLight;
  cursor: pointer;

  &.c-liveTracking-splitRoutePanel-driver--selected,
  &:hover {
    background-color: darken($colorNeutralExtraLight, $darkenOnHover);

    &:before {
      content: "";
      position: absolute;
      right: -1px;
      top: -1px;
      bottom: -1px;
      width: 4px;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      background-color: $colorBackgroundPrimary;
    }
  }

  &.c-liveTracking-splitRoutePanel-driver--selected {
    border-color: $colorBackgroundPrimary;
  }
}

.c-liveTracking-splitRoutePanel-driver-id {
  margin-right: 20px;
  color: $textInteractivePrimary;
}

.c-liveTracking-splitRoutePanel-driver-name {
  margin-right: 20px;
  flex-grow: 1;
}

.c-liveTracking-splitRoutePanel-driver-vehicleTypes {
  color: $textDarkSecondary;
}