@import "base/resources/index";

.app-modules-design-modules-palette
{
    .colors
    {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    article
    {
        width: 45rem;
        height: 22rem;
        margin: 1rem;
        padding: 3rem;
        border-radius: 1rem;
        border: 1px solid var(--palette-color-neutral);
        color: black;
        font-size: var(--font-small-font-size);
        font-weight: bolder;

        &.invert
        {
            color: white;
        }
    }

    code
    {
        display: block;
        margin-top: 1rem;
        font-weight: lighter;
    }
}
