////
/// @group resources/styles/framework/animations/fade-in
////

/// Animates the `opacity` of the element linearly from 0 to 1.
$__summary: comment;

@import "resources/index";


/// Animates the `opacity` of the element linearly from 0 to 1.
@keyframes fade-in
{
    from
    {
        opacity: var(--fade-in-from-opacity, 0);
    }

    to
    {
        opacity: var(--fade-in-to-opacity, 1);
    }
}

/// Animates the `opacity` of the element linearly from 0 to 1,
/// using the longer animation duration.
.animation-fade-in-longer
{
    &.au-enter
    {
        opacity: var(--fade-in-from-opacity, 0);
    }

    &.au-enter-active
    {
        animation: fade-in ease forwards;
        animation-duration: var(--animation-duration-longer);
    }
}

/// Animates the `opacity` of the element linearly from 0 to 1,
/// using the long animation duration.
.animation-fade-in-long
{
    &.au-enter
    {
        opacity: var(--fade-in-from-opacity, 0);
    }

    &.au-enter-active
    {
        animation: fade-in ease forwards;
        animation-duration: var(--animation-duration-long);
    }
}

/// Animates the `opacity` of the element linearly from 0 to 1,
/// using the medium animation duration.
.animation-fade-in-medium
{
    &.au-enter
    {
        opacity: var(--fade-in-from-opacity, 0);
    }

    &.au-enter-active
    {
        animation: fade-in ease forwards;
        animation-duration: var(--animation-duration-medium);
    }
}

/// Animates the `opacity` of the element linearly from 0 to 1,
/// using the short animation duration.
.animation-fade-in-short
{
    &.au-enter
    {
        opacity: var(--fade-in-from-opacity, 0);
    }

    &.au-enter-active
    {
        animation: fade-in ease forwards;
        animation-duration: var(--animation-duration-short);
    }
}
