name-value-pair
{
    display: flex;
    text-align: right;
    word-break: break-word;

    .name-value-pair-name
    {
        margin-right: 1.5em;
        word-break: normal;

        &[empty="true"]
        {
            display: none;
        }
    }

    .name-value-pair-value
    {
        flex-grow: 1;
        min-width: 0;
        user-select: text;
    }
}
