////
/// @group resources/themes/ikea-blue/styles/surfaces/primary
////

/// Defines the appearance of primary surfaces, such as the `app-sidebar` and `dashboard`.
$__summary: comment;


/* stylelint-disable no-duplicate-selectors, scss/selector-no-redundant-nesting-selector */

app-sidebar[surface$="/primary"]
{
    // State: normal
    --surface-color: #0058a3;

    // Navigation links on the surface.
    &
    {
        // State: normal
        --surface-nav-link-border-color: transparent;
        --surface-nav-link-surface-color: transparent;
        --surface-nav-link-surface-text-color: hsl(208, 100%, 94%);
        --surface-nav-link-surface-icon-color: hsl(208, 100%, 94%);

        // State: hover
        --surface-nav-link-border-color--hover: transparent;
        --surface-nav-link-surface-color--hover: transparent;
        --surface-nav-link-surface-text-color--hover: #ffffff;
        --surface-nav-link-surface-icon-color--hover: #ffffff;

        // State: active
        --surface-nav-link-border-color--active: hsl(208, 100%, 24%);
        --surface-nav-link-surface-color--active: hsl(208, 100%, 24%);
        --surface-nav-link-surface-text-color--active: #ffffff;
        --surface-nav-link-surface-icon-color--active: #ffffff;
    }

    // Navigation child links on the surface.
    &
    {
        --surface-nav-child-surface-color: hsl(208, 100%, 28%);

        // State: normal
        --surface-nav-child-link-border-color: transparent;
        --surface-nav-child-link-surface-color: transparent;
        --surface-nav-child-link-surface-text-color: hsl(208, 100%, 94%);
        --surface-nav-child-link-surface-icon-color: hsl(208, 100%, 94%);

        // State: hover
        --surface-nav-child-link-border-color--hover: transparent;
        --surface-nav-child-link-surface-color--hover: transparent;
        --surface-nav-child-link-surface-text-color--hover: #ffffff;
        --surface-nav-child-link-surface-icon-color--hover: #ffffff;

        // State: active
        --surface-nav-child-link-border-color--active: transparent;
        --surface-nav-child-link-surface-color--active: transparent;
        --surface-nav-child-link-surface-text-color--active: #ffffff;
        --surface-nav-child-link-surface-icon-color--active: #ffffff;
    }
}
