:root
{
    //Colors
    --legacy-colorBackgroundPrimary: #c80016;
    --legacy-colorBackgroundSecondary: #333333;
    --legacy-colorInteractivePrimary: #c80016;
    --legacy-colorInteractivePrimaryActive: #840312;
    --legacy-colorInteractivePrimaryInactive: #80bdf2;
    --legacy-colorInteractiveSecondary: #fff;
    --legacy-colorOk: #17c800;
    --legacy-colorWarning: #ff8906;
    --legacy-colorAlert: #c80016;
    --legacy-colorNeutralExtraExtraLight: #fbfbfb;
    --legacy-colorNeutralExtraLight: #f7f7f7;
    --legacy-colorNeutralLight: #dadada;
    --legacy-colorNeutralRegular: #cac9c9;
    --legacy-colorNeutralSemiDark: #888888;
    --legacy-colorNeutralDark: #333333;

    //Text color
    --legacy-textDarkPrimary: #333333;
    --legacy-textDarkSecondary: #888888;
    --legacy-textDarkInactive: #b6b6b6;
    --legacy-textLightPrimary: white;
}
