////
/// @group resources/themes/mover
////

/// Public interface for the theme.
$__summary: comment;


// Export the legacy variables.
@import "legacy/packages/shared/src/webKit/assets/themes/coop/constants";

// Export the palettes.
// Palettes define the standard values used within the theme.
@import "./palettes/color";

// Export the settings.
// Settings define theme specific overrides to the base settings.
@import "./settings/font";
@import "./settings/font-family";

// Export the surfaces.
// Surfaces define theme specific overrides to the base surfaces.
@import "./surfaces/index";

// HACK: Override default styles.

button[appearance="outline"]
{
    border-width: var(--border-width-thin) !important;
    border-color: var(--palette-color-neutral) !important;
}

body
{
    /**
     * The color of the border of tabs.
     */
     --tab-nav-border-color: var(--palette-color-neutral);

    /**
     * The width of the border of tabs.
     */
     --tab-nav-border-width: var(--border-width-thin);

    /**
     * The width of the border of inputs.
     */
    --input-border-width: var(--border-width-thin);
}
