////
/// @group resources/themes/coop
////

/// Public interface for the theme.
$__summary: comment;


// Export the legacy variables.
@import "legacy/packages/shared/src/webKit/assets/themes/coop/constants";

// Export the palettes.
// Palettes define the standard values used within the theme.
@import "./palettes/color";

// Export the settings.
// Settings define theme specific overrides to the base settings.
@import "./settings/font";
@import "./settings/font-family";

// Export the surfaces.
// Surfaces define theme specific overrides to the base surfaces.
@import "./surfaces/index";

// Override default styles.

button[appearance="outline"]
{
    border-width: var(--border-width-thin) !important;
    border-color: var(--palette-color-neutral) !important;
}

tab-nav
{
    /**
     * The color of the border of tabs.
     */
     --tab-nav-border-color: var(--palette-color-neutral);

    /**
     * The width of the border of tabs.
     */
     --tab-nav-border-width: var(--border-width-thin);
}

page-tab-nav
{

    /// The width of the border of the component.
    --tab-nav-border-width: var(--border-width-thin);

    /// The radius of the border of the component.
    --tab-nav-border-radius: var(--border-radius-medium);

    /// The color of the border of the component.
    --tab-nav-border-color: var(--palette-color-neutral);
}

body
{
    /**
     * The width of the border of inputs.
     */
    --input-border-width: var(--border-width-thin);

    /**
     * The label color, set in temp.scss.
     */
    --temp-label-color: #665555;
}
