@import "shared/src/webKit/constants.scss";

.c-autoDispatch-rule {
  position: relative;
  display: flex;
  margin-bottom: 4px;
  padding: 16px 20px;
  border: 1px solid darken($colorNeutralExtraLight, 1%);
  border-radius: $listItemBorderRadius;
  background: $colorNeutralExtraLight;
  cursor: pointer;

  &:hover {
    background-color: darken($colorNeutralExtraLight, $darkenOnHover);

    &:before {
      content: "";
      position: absolute;
      left: -1px;
      top: -1px;
      bottom: -1px;
      width: 4px;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      background-color: $colorBackgroundPrimary;
    }
  }

  .icon {
    width: 18px;
    height: 18px;
    margin: -2px 0 -4px 20px;
  }
}

.c-autoDispatch-rule--selected,
.c-autoDispatch-rule--selected:hover {
  background-color: $colorNeutralLight;
}

.c-autoDispatch-rule-actions {
  display: flex;
  margin-left: auto;
}