@import "resources/index";

.app-modules-design page[name="google-map"]
{
    // The padding to use within the view, in addition to the default 10px margin around map controls.
    // Note that due to bugs in calc(), this must have a unit, even if 0.
    --padding: 0px;

    toolbar
    {
        position: fixed;
        top: calc(max(env(safe-area-inset-top), var(--padding)) + 10px);
        right: calc(max(env(safe-area-inset-top), var(--padding)) + 240rem);
        z-index: 1;
    }

    google-map
    {
        --google-map-inset-top: max(env(safe-area-inset-top), var(--padding));
        --google-map-inset-left: max(env(safe-area-inset-left), var(--padding));
        --google-map-inset-right: max(env(safe-area-inset-right), var(--padding));
        --google-map-inset-bottom: max(env(safe-area-inset-bottom), var(--padding));

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
