@import "shared/src/webKit/constants.scss";

.buttonContainer {

  .moverButtonText {
    .plusContainer {
      position: relative;
      height: 12px;
      width: 12px;

      &.plusContainer--margin {
        margin-right: 4px;
      }

      span {
        background-color: $colorBackgroundPrimary;
        position: absolute;
        transition: background-color 120ms;

        &:first-child {
          height: 100%;
          width: 1px;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
        }

        &:last-child {
          width: 100%;
          height: 1px;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
      }
    }
  }
}
