@import "styles/resources/index";

page
{
    // Fill the available space.
    flex-grow: 1;

    // Allow the element to shrink.
    min-width: 0;

    // Use horizontal flex layout.
    display: flex;
}
