@import "shared/src/webKit/constants.scss";

.c-driverDispatch-forecastDialog {
  width: 120rem;

  .c-dialog-content {
    display: flex;
    flex-direction: column;
    padding: 10rem 8rem;

    > * {
      &:not(:last-child) {
        margin-bottom: 6rem;
      }
    }

    .c-driverDispatch-dateContainer {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      > * {
        width: calc(100% / 3 - 5rem * 2 / 3);
      }
    }

    .c-driverDispatch-forecastDialog-slots {
      width: calc(100% / 3 - 5rem * 2 / 3);
    }
  }
}
