busy-overlay
{
    --busy-overlay-color: var(--surface-color);
    --busy-overlay-opacity: 0.95;
    --busy-overlay-message-max-width: 65%;
    --busy-overlay-message-text-align: center;

    // Fill the available space.
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    // Apply the z-index for backdrops.
    z-index: var(--z-index-backdrop);

    &::before
    {
        content: "";

        // Fill the available space.
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        // Set the color and opacity.
        opacity: var(--busy-overlay-opacity);
        background: var(--busy-overlay-color);
    }

    &.--animate
    {
        // Apply the fade-in animation, if enabled.
        animation: fade-in ease-in both;
    }

    &.--animate:not(.--delay)
    {
        animation-duration: var(--animation-duration-short);
        animation-delay: 0.04s;
    }

    &.--animate.--delay
    {
        animation-duration: var(--animation-duration-medium);
        animation-delay: var(--animation-delay-busy);
    }

    &.--opaque::before
    {
        // Make the background opaque, if enabled.
        opacity: 1;
    }

    .busy-overlay-inner
    {
        // Note: The size of this element will be set programmatically.

        // Stick to the top-left corner.
        position: sticky;
        left: 0;
        top: 0;

        // Use vertical flex layout.
        display: flex;
        flex-direction: column;

        // Center content.
        justify-content: center;
        align-items: center;

        // Prevent overflow.
        overflow: hidden;
    }

    .busy-overlay-message
    {
        // Center the text.
        text-align: var(--busy-overlay-message-text-align);

        // Limit the width of the message.
        max-width: var(--busy-overlay-message-max-width);

        &:empty
        {
            // Hide the message if it has no content, so its margin
            // does not affect the position of the `busy-indicator`.
            display: none;
        }
    }

    busy-indicator
    {
        --busy-indicator-max-width: 50%;
        --busy-indicator-max-height: 50%;
        --busy-indicator-stroke-width: 4rem;
        --busy-indicator-color: #000000;
        --busy-indicator-opacity: 0.05;
    }
}
