@import "base/resources/index";

user-identity
{
    display: block;

    a
    {
        display: flex;
        height: 100%;
        align-items: center;
        color: inherit;

        // Animate the hover effect.
        transition:
            border-color var(--animation-duration-short),
            filter var(--animation-duration-short);

        &:hover img
        {
            // Highlight on hover.
            filter: brightness(105%);
            border-color: #ffffff;
        }
    }

    img
    {
        width: auto;
        height: 100%;
        border: var(--border-width-thin) solid;
        border-radius: 50%;
        border-color: var(--color-surface-icon);
    }

    div
    {
        display: none;
        margin-left: var(--size-inline-spacing-large);

        app-sidebar.--expanded &
        {
            display: block;
            margin-left: var(--size-inline-spacing);
        }
    }
}
