@import "styles/resources/index";

user-identity
{
    a
    {
        // Use horizontal flex layout.
        display: flex;

        // Center items vertically.
        align-items: center;

        // Animate the hover effect.
        transition:
            border-color var(--animation-duration-short),
            filter var(--animation-duration-short);

        &:hover identity-picture
        {
            // Highlight when hovered.
            filter: brightness(103%);
            border-color: #ffffff;
        }

        identity-picture
        {
            // Set the icon size.
            width: 12rem;
            height: 12rem;

            // Clip as a circle.
            border-radius: 50%;

            // Use color suitable for the app-sidebar.
            background: var(--color-surface-nav-link-surface--active);

            // Apply a border to ensure acceptable contrast.
            border: var(--border-width-thin) solid var(--color-surface-nav-link-surface--active);

            .identity-picture-surface
            {
                // Remove the filter that normally lightens the background color.
                filter: none;
            }
        }

        .user-identity-text
        {
            display: none;

            app-sidebar.--expanded &
            {
                display: block;
                margin-left: var(--size-inline-spacing-large);
            }
        }

        .user-identity-name
        {
            margin-bottom: 0.5rem;
            font-weight: 700;
        }
    }
}
