<template title.bind="identityService.identity.fullName">

    <require from="app/components/identity-picture/identity-picture"></require>

    <require from="./user-identity.scss"></require>

    <a modal-href="modal: account" title.translate="Profile">

        <identity-picture src.bind="identityService.identity.pictureUrl">
            ${identityService.identity.preferredName[0]}
        </identity-picture>

        <div class="user-identity-text">
            <div class="user-identity-name">${identityService.identity.preferredName}</div>
            <div class="font-small">${identityService.identity.outfit.primaryName}</div>
        </div>

    </a>

</template>
