order-accordion
{
    display: block;

    &:not(:first-child)
    {
        margin-top: 1rem;
    }

    accordion
    {
        [slot="header"]
        {
            display: grid;
            grid-template-columns: 6.5fr 3.5fr 1fr 3fr;
            margin-right: 12rem;

            > *
            {
                min-width: 0;
                padding: 0 5rem;
            }
        }
    }

    data-table
    {
        --data-table-columns: 3.5fr 2fr 1.25fr 2fr;

        border-bottom: var(--data-table-row-border-width) solid var(--data-table-row-border-color);
        line-height: var(--font-large-line-height);

        &:not(.--expanded) .data-table-row:nth-child(n+5)
        {
            display: none;
        }

        data-table-headers
        {
            font-weight: 400;
        }

        data-table-cell
        {
            min-height: calc(var(--font-large-line-height) + 2 * 3rem);
            padding: 3rem 5rem;
        }
    }

    .order-accordion-show-all-toggle
    {
        display: flex;
        align-items: center;
        min-height: calc(var(--font-large-line-height) + 2 * 3rem);
        padding: 3rem 5rem;
    }
}
