<template class="${expanded ? '--expanded' : ''}">

    <require from="app/components/accordion/accordion"></require>
    <require from="./order-accordion.scss"></require>

    <accordion expandable.bind="model.colli.length > 0" expanded.bind="expanded">

        <div slot="header">

            <div class="flex-row">
                <a href="/orders/details/${model.orderSlug}" class="text-truncate" click.trigger="onOrderSlugClick(order)">
                    ${model.orderSlug}
                </a>
                <icon if.bind="hasProblems" name="warning" accent="negative" class="font-large line-height-1 margin-left"></icon>
            </div>
            <div class="text-align-right opacity-faded text-truncate">
                <template if.bind="model.totalWeight">
                    ${model.totalWeight | number: 0} kg
                </template>
            </div>

            <div class="text-align-right opacity-faded text-truncate">
                <template if.bind="model.totalVolume">
                    ${model.totalVolume | number: 0 : 3} m³
                </template>
            </div>

            <div class="text-align-right" translate>
                ${model.colli.length | number} ${model.colli.length | plural: "collo" : "colli"}
            </div>

        </div>

        <data-table appearance="rows" class="font-small ${showAllColli ? '--expanded' : ''}">

            <data-table-headers>

                <data-table-cell>
                    <span class="opacity-faded text-truncate" translate>
                        Collo barcode
                    </span>
                </data-table-cell>

                <data-table-cell>
                    <span class="opacity-faded text-truncate" translate>
                        Scan method
                    </span>
                </data-table-cell>

                <data-table-cell>
                    <span class="opacity-faded text-truncate" translate>
                        Picture
                    </span>
                </data-table-cell>

                <data-table-cell>
                    <span class="opacity-faded text-truncate" translate>
                        Status
                    </span>
                </data-table-cell>

            </data-table-headers>

            <template repeat.for="collo of model.colli">

                <data-table-row model.bind="collo" clickable.bind="false">

                    <data-table-cell>
                        <icon if.bind="collo.status.accent == 'negative'" name="warning" accent="negative" class="font-large line-height-1 margin-right"></icon>
                        <div>
                            <a
                                class="text-truncate"
                                title="${collo.barcode}"
                                href="/orders/details/${model.orderSlug}?collo=${collo.barcode}" target="_blank">
                                ${collo.barcode}
                            </a>
                            <div if.bind="collo.origin.slug != 'regular'" class="margin-top opacity-faded collo-origin">
                                ${collo.origin.name}
                            </div>
                        </div>
                    </data-table-cell>

                    <data-table-cell>
                        <span class="text-truncate">
                            ${collo.scanMethod.name}
                        </span>
                    </data-table-cell>

                    <data-table-cell>
                        <a if.bind="collo.scanImageUrl" href.bind="collo.scanImageUrl" target="_blank" class="flex-grow">
                            <icon name="picture-small" accent="primary" class="font-larger"></icon>
                        </a>
                    </data-table-cell>

                    <data-table-cell>
                        <span class="text-truncate">
                            ${collo.status.name}
                        </span>
                    </data-table-cell>

                </data-table-row>

            </template>

        </data-table>

        <a if.bind="model.colli.length > 3" class="order-accordion-show-all-toggle font-small" click.trigger="onShowAllColliToggle()" surface="card">

            <template if.bind="showAllColli" translate>
                Show less
            </template>

            <template if.bind="!showAllColli" translate>
                Show all
            </template>

        </a>

    </accordion>

</template>
