collection-point-order-details
{
    data-section:not(.--expanded)
    {
        margin-bottom: var(--font-current-margin-bottom);
    }

    data-section:last-child
    {
        margin-bottom: 0;
    }
}
