<template>

    <require from="./drivers-column.scss"></require>

    <page-content scroll scroll.ref="scroll">

        <header scroll-fade>

            <h1 class="font-largest">
                <path-nav>

                    <span translate>
                        Express dispatch
                    </span>

                    <span translate>
                        Drivers
                    </span>

                </path-nav>
            </h1>

        </header>

        <section>

            <toolbar class="margin-bottom" scroll-fade="0.2">

                <text-input value.bind="textFilter & debounce: 200">

                    <div slot="placeholder">
                        Find...
                    </div>

                </text-input>

            </toolbar>

            <data-table
                appearance="cards"
                sorting.bind="sorting"
                selection="multiple"
                busy.bind="updateOperation.pending">

                <data-table-headers>

                    <data-table-cell title.translate="Deadline" name="status">
                        <span class="text-truncate" translate>
                            Status
                        </span>
                    </data-table-cell>

                    <data-table-cell title.translate="ID" name="slug">
                        <span class="text-truncate" translate>
                            ID
                        </span>
                    </data-table-cell>

                    <data-table-cell title.translate="Name" name="driver.name">
                        <span class="text-truncate" translate>
                            Name
                        </span>
                    </data-table-cell>

                    <data-table-cell title.translate="Vehicle" name="vehicle.vehicleType.name">
                        <span class="text-truncate" translate>
                            Vehicle
                        </span>
                    </data-table-cell>

                    <data-table-cell title.translate="Stops remaining" name="remainingStopCount" align="right">
                        <span class="text-truncate" translate>
                            Stops remaining
                        </span>
                    </data-table-cell>

                    <data-table-cell title.translate="Done" name="completionTime">
                        <span class="text-truncate" translate>
                            Done
                        </span>
                    </data-table-cell>

                    <data-table-cell title.translate="Last stop address" name="lastStop.location.address">
                        <span class="text-truncate" translate>
                            Last stop address
                        </span>
                    </data-table-cell>

                    <data-table-cell title.translate="Postal code" name="TODO" align="right">
                        <span class="text-truncate" translate>
                            Postal code
                        </span>
                    </data-table-cell>

                </data-table-headers>

                <template repeat.for="item of orderedAndFilteredItems">

                    <data-table-row accent.bind="item.selected ? 'primary' : undefined" selected.bind="item.selected">

                        <data-table-cell title.bind="item.status.name" accent.bind="item.status.accent & attr">
                            <span class="text-truncate">
                                ${item.status.name }
                            </span>
                        </data-table-cell>

                        <data-table-cell title.bind="item.slug" class="font-monospaced">
                            <a class="text-truncate" href="/fleet-management/drivers/edit/${item.driver.id}">
                                ${item.driver.id}
                            </a>
                        </data-table-cell>

                        <data-table-cell title.bind="item.driver.name">
                            <span class="text-truncate">
                                ${item.driver.name}
                            </span>
                        </data-table-cell>

                        <data-table-cell title.bind="item.driverVehicle.vehicleType.name">
                            <span class="text-truncate">
                                ${item.driverVehicle.vehicleType.name}
                            </span>
                        </data-table-cell>

                        <data-table-cell title.bind="item.remainingStopCount" align="right">
                            <span class="text-truncate">
                                ${item.remainingStopCount}
                            </span>
                        </data-table-cell>

                        <data-table-cell title.bind="item.completionTime">
                            <span class="text-truncate">
                                ${item.completionTime | time}
                            </span>
                        </data-table-cell>

                        <data-table-cell title.bind="item.lastStop.location.address">
                            <span class="text-truncate">
                                ${item.lastStop.location.address}
                            </span>
                        </data-table-cell>

                        <data-table-cell title.bind="TODO" align="right">
                            <span class="text-truncate">
                                TODO
                            </span>
                        </data-table-cell>

                    </data-table-row>

                </template>

            </data-table>

            <busy-indicator if.bind="items == null" class="margin-largest"></busy-indicator>

            <empty-indicator if.bind="items.length == 0" class="margin-largest" translate>
                No results
            </empty-indicator>

        </section>

    </page-content>

</template>
