@import "resources/index";

page[name="routes"] page[name="dispatch"] drivers-column
{
    // Use horizontal flex layout.
    display: flex;

    // Fill the available space.
    flex-grow: 1;
    flex-basis: 33%;

    // Allow the element to shrink.
    min-width: 0;

    data-table
    {
        --data-table-columns: 1fr 1fr 1fr 0.7fr 0.9fr 0.75fr 1.5fr 0.8fr;
    }
}
