////
/// @group resources/styles/settings/components/app-sidebar
////

/// The settings to use for the `app-sidebar` component.
$__summary: comment;


:root
{
    /// The width of the app-sidebar.
    --app-sidebar-width: 80rem;

    /// The width of the expanded app sidebar.
    --app-sidebar-width-expanded: 260rem;
}
