body
{
    // TODO: Should we also have a property for shadow?

    /// The min-width of the component.
    /// The default ensures it grows to the width of its container, which is usually an input control.
    /// Note that if fixed positioning is enabled, this must be changed to a reasonable value.
    --dropdown-min-width: 100%;

    /// The max-width of the component.
    /// The default allows it to grow to fit any content.
    --dropdown-max-width: none;

    /// The min-height of the component.
    /// The default allows it to shrink to fit any content.
    --dropdown-min-height: 0;

    /// The max-height of the component.
    /// The default allows it to grow, up to a reasonable limit.
    --dropdown-max-height: 75rem;

    /// The width of the border of the component.
    --dropdown-border-width: var(--border-width-thin);

    /// The radius of the border of the component.
    --dropdown-border-radius: var(--border-radius-large);
}

dropdown
{
    /// The color of the border of the component.
    /// TODO: This should be customized for each theme surface.
    --dropdown-border-color: var(--surface-dropdown-border-color);

    /// The color of the surface of the component.
    /// TODO: This should be customized for each theme surface.
    --dropdown-surface-color: var(--surface-dropdown-surface-color);

    /// The color of the text on the surface of the component.
    /// TODO: This should be customized for each theme surface.
    --dropdown-surface-text-color: var(--surface-dropdown-surface-text-color);
}

dropdown
{
    display: block;

    // Hide overflow by default.
    overflow: hidden;

    // Apply the z-index for dropdowns.
    z-index: var(--z-index-dropdown);

    // Add offset above and below the dropdown.
    margin-top: 1rem;
    margin-bottom: 1rem;

    // Apply size constraints.
    min-width: var(--dropdown-min-width);
    max-width: var(--dropdown-max-width);
    min-height: var(--dropdown-min-height);
    max-height: var(--dropdown-max-height);

    // Style to appear as a dropdown.
    border: var(--dropdown-border-width) solid var(--dropdown-border-color);
    border-radius: var(--dropdown-border-radius);
    background: var(--dropdown-surface-color);
    color: var(--dropdown-surface-text-color);

    &[x-placement*="bottom"]
    {
        box-shadow: var(--shadow-dropdown-below);
    }

    &[x-placement*="top"]
    {
        box-shadow: var(--shadow-dropdown-above);
    }
}
