dropdown-icon
{
    // Use flex layout.
    display: flex;

    // Center content.
    align-items: center;
    justify-content: center;

    // Set line height to ensure correct vertical alignment.
    line-height: 1;

    // Set the size of the icon, in proportion to the text.
    font-size: 1.286em;

    // Apply opacity to de-emphasize the icon.
    opacity: var(--opacity-faded);

    // Use cursor to indicate the element is clickable.
    cursor: pointer;
}
