@import "resources/index";

page[name="dispatch"] page[name="express-dispatch"]
{
    > tab-nav
    {
        position: absolute;
        z-index: 2;
        right: 192rem;
        top: 28rem;
        background: var(--surface-color, white);
    }

    page-content > header > .flex-row > toolbar
    {
        align-self: flex-start;
    }

    &.express-dispatch--map > tab-nav
    {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    }

    map-column
    {
        position: absolute;
        height: 100%;
        width: 100%;
    }

    @media (min-width: 3360px) and (max-width: 5039px)
    {
        map-column
        {
            visibility: visible !important;
            position: initial;
        }

        tab-nav
        {
            box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
        }

        tab-nav > :last-child
        {
            display: none;
        }

        map-column
        {
            display: flex !important;
            flex-basis: 50% !important;
        }

        routes-column,
        drivers-column,
        info-column,
        merge-column
        {
            html.sideMenu--collapsed &
            {
                flex-basis: calc(50% - var(--app-sidebar-width)) !important;
            }

            html:not(.sideMenu--collapsed) &
            {
                flex-basis: calc(50% - var(--app-sidebar-width-expanded)) !important;
            }
        }
    }

    @media (min-width: 5040px)
    {
        map-column
        {
            visibility: visible !important;
            position: initial;
        }

        tab-nav
        {
            display: none;
        }

        routes-column,
        drivers-column,
        info-column,
        merge-column,
        map-column
        {
            display: flex !important;
            flex-basis: 33.33333% !important;
        }

        routes-column,
        info-column
        {
            html.sideMenu--collapsed &
            {
                flex-basis: calc(33.33333% - var(--app-sidebar-width)) !important;
            }

            html:not(.sideMenu--collapsed) &
            {
                flex-basis: calc(33.33333% - var(--app-sidebar-width-expanded)) !important;
            }

        }
    }

    card[accent="0"] > a > .card-edge
    {
        background: var(--palette-color-neutral);
    }
    data-table > a[accent="0"]
    {
        --data-table-row-edge-color: var(--palette-color-neutral);
    }

    card[accent="1"] > a > .card-edge
    {
        background: #bd10e0;
    }
    data-table > a[accent="1"]
    {
        --data-table-row-edge-color: #bd10e0;
    }

    card[accent="2"] > a > .card-edge
    {
        background: #26bcae;
    }
    data-table > a[accent="2"]
    {
        --data-table-row-edge-color: #26bcae;
    }

    card[accent="3"] > a > .card-edge
    {
        background: #268bbc;
    }
    data-table > a[accent="3"]
    {
        --data-table-row-edge-color: #268bbc;
    }

    card[accent="4"] > a > .card-edge
    {
        background: #bcb226;
    }
    data-table > a[accent="4"]
    {
        --data-table-row-edge-color: #bcb226;
    }

    card[accent="5"] > a > .card-edge
    {
        background: #c1e21a;
    }
    data-table > a[accent="5"]
    {
        --data-table-row-edge-color: #c1e21a;
    }

    card[accent="6"] > a > .card-edge
    {
        background: #e21aa7;
    }
    data-table > a[accent="6"]
    {
        --data-table-row-edge-color: #e21aa7;
    }

    card[accent="7"] > a > .card-edge
    {
        background: #1acce2;
    }
    data-table > a[accent="7"]
    {
        --data-table-row-edge-color: #1acce2;
    }

    card[accent="8"] > a > .card-edge
    {
        background: #bc26ae;
    }
    data-table > a[accent="8"]
    {
        --data-table-row-edge-color: #bc26ae;
    }
}
