@import "resources/index";

numbered-section
{
    // Use vertical flex layout.
    display: flex;
    flex-direction: column;

    ---accent-surface-color: var(--surface-neutral-surface-color);
    ---accent-text-color: var(--surface-neutral-surface-text-color);

    &.--disabled
    {
        ---accent-surface-color: var(--surface-neutral-surface-color);
        ---accent-text-color: var(--surface-neutral-surface-text-color);

        .numbered-section-header,
        .numbered-section-line
        {
            opacity: var(--opacity-faded);
        }

        .numbered-section-content
        {
            display: none;
        }
    }

    .numbered-section-header
    {
        // Allow content to be positioned relative to this element.
        position: relative;

        // Use horizontal flex layout.
        display: flex;
        align-items: center;

        margin-left: 20rem;
        padding-left: 36rem;
        padding-top: calc((40rem - var(--font-larger-line-height)) / 2);
    }

    .numbered-section-heading
    {
        // Fill the available width.
        flex-grow: 1;
    }

    .numbered-section-number
    {
        position: absolute;
        left: -22rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40rem;
        height: 40rem;
        border-radius: 50%;
        background: var(---accent-surface-color);
        color: var(---accent-text-color);
    }

    .numbered-section-content
    {
        // Allow content to be positioned relative to this element.
        position: relative;

        // Fill the available width.
        flex-grow: 1;

        // Use vertical flex layout.
        display: flex;
        flex-direction: column;

        padding-top: 20rem;
    }

    .numbered-section-content,
    .numbered-section-line
    {
        margin-left: 20rem;
        padding-left: 36rem;
    }

    .numbered-section-line
    {
        padding-top: 28rem;
        padding-bottom: var(--font-larger-margin-bottom);
    }

    &:not(.--line-below) .numbered-section-line
    {
        display: none;
    }

    .numbered-section-header,
    .numbered-section-content,
    .numbered-section-line
    {
        border-left: var(--border-width-thick) solid transparent;
    }

    &:not(:last-of-type)
    {
        .numbered-section-header,
        .numbered-section-content,
        .numbered-section-line
        {
            border-color: var(---accent-surface-color);
        }
    }

    &.margin
    {
        &, &-top
        {
            margin-top: var(--font-large-margin-top);
        }

        &, &-bottom
        {
            margin-bottom: var(--font-large-margin-top);
        }
    }

    &.margin-double
    {
        &, &-top
        {
            margin-top: calc(2 * var(--font-large-margin-top));
        }

        &, &-bottom
        {
            margin-bottom: calc(2 * var(--font-large-margin-top));
        }
    }
}
