<template ref="element" class="--status-${order.state.status.slug == 'delivered' ? 'delivered' : 'undelivered'}">

    <require from="./components/order-stop-map-popover/order-stop-map-popover"></require>

    <require from="./order-stop-map-feature.scss" as="scoped"></require>

    <google-map-html-marker
        content.bind="element"
        point.bind="point"
        z-index.bind="200"
        click.call="onClick != null ? onClick() : undefined"
        dblclick.call="onDblClick != null ? onDblClick() : undefined">

        ${orderStop.type.slug == 'pickup' ? '1' : '2'}

        <order-stop-map-popover
            order-stop.bind="orderStop">
        </order-stop-map-popover>

    </google-map-html-marker>

</template>
