@import "resources/index";

modal-panel[name="invite-connection"]
{
    --modal-panel-min-width: 572rem;

    text-input > .input-control > [slot="after"]
    {
        > busy-indicator
        {
            // Apply input padding.
            padding: var(--input-padding);

            .busy-indicator
            {
                // Set the size of the indicator to match the size of the dropdown-icon.
                width: 1.286em;
                height: 1.286em;

                // Set opacity to ensure reasonable contrast.
                opacity: var(--opacity-faded-more);

                div
                {
                    // Set the stroke width of the indicator.
                    border-width: 2rem;
                }
            }
        }
    }
}
