@import "shared/src/webKit/constants.scss";

.c-driverDispatch-preBookingDialog-summary {
  display: flex;
  margin-top: 5rem;

  h4 {
    display: flex;
    align-items: center;
    margin-right: 7rem;
  }
}

.c-driverDispatch-preBookingDialog {
  .gridTable-container {
    margin-top: 6rem;
  }
}

.c-driverDispatch-preBookingDialog-icon {
  max-height: 5rem;
  max-width: 5rem;
  margin-right: 2rem;
}

.c-driverDispatch-preBookingDialog-information {
  display: flex;
  margin-top: 5rem;
}

.c-driverDispatch-preBookingDialog-infobox {
  &:not(:first-child) {
    margin-left: 10rem;
  }

  .font-heading {
    margin-bottom: 2.5rem;
  }
}
