@import "resources/index";

page[name="communication"] page[name="details"]
{
    numbered-section
    {
        max-width: 720rem;
    }

    .communication-parameters-section
    {
        .input,
        .toggle
        {
            max-width: 320rem;
        }
    }

    text-input [slot="heading"] > select-button
    {
        position: absolute;
        right: 0;
        top: 0;
    }
}
