@import "shared/src/webKit/constants.scss";

.pageHeader {
  padding: 40rem 32rem 0;
  border-bottom: var(--border-width-thin) solid var(--colorNeutralLight);
}

.pageHeader-top {
  display: flex;
  align-items: center;
  margin-bottom: 28rem;
}

.pageHeader-actionContainer {
  margin-left: auto;
  display: flex;

  > * {
    &:not(:last-child) {
      margin-right: 16rem;
    }
  }
}

.pageHeader-path {
  display: flex;
}

.pageHeader-path-segment {
  display: flex;
  align-items: center;

  &:last-child {
    font-weight: 600;
  }

  &:not(:last-child) {
    cursor: pointer;
  }

  .icon {
    margin: 0 20rem;
    color: lightgray;
  }
}

.pageHeader-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20rem;

  &:empty {
    margin-bottom: 12rem;
  }
}

.pageHeader-tabs {
  display: flex;
  border: var(--border-width-thin) solid var(--colorNeutralExtraLight);
  border-radius: var(--border-radius-large);
  overflow: hidden;

  &.hidden {
    visibility: hidden;
  }
}

// HACK: We use important here to work around a bug that causes
// CSS to be extracted in the wrong order when building for production.
.pageHeader-tabs-tab {
  min-width: 120px;
  padding: 0 20rem;
  line-height: calc(40rem - 2 * var(--border-width-thin));
  text-align: center;
  color: var(--colorInteractivePrimary);
  cursor: pointer;

  &:not(:last-child) {
    border-right: var(--border-width-thin) solid var(--colorNeutralExtraLight);
  }

  &.active {
    background: var(--colorNeutralExtraLight);
    color: var(--colorNeutralDark);
  }
}

.pageHeader-actions {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-start;

  &:not(:first-child) {
    justify-content: flex-end;
  }

  > :not(:first-child) {
    margin-left: 20rem;
  }
}

.pageHeader-actions-separator {
  flex-grow: 1;
}
