//Colors
$colorBackgroundPrimary: #c80016;
$colorBackgroundSecondary: #333333;
$colorInteractivePrimary: #c80016;
$colorInteractivePrimaryActive: #840312;
$colorInteractivePrimaryInactive: #80bdf2;
$colorInteractiveSecondary: #fff;
$colorOk: #17c800;
$colorWarning: #ff8906;
$colorAlert: #c80016;
$colorNeutralExtraExtraLight: #fbfbfb;
$colorNeutralExtraLight: #f7f7f7;
$colorNeutralLight: #dadada;
$colorNeutralRegular: #cac9c9;
$colorNeutralSemiDark: #888888;
$colorNeutralDark: #333333;

//Text color
$textDarkPrimary: #333333;
$textDarkSecondary: #888888;
$textDarkInactive: #b6b6b6;
$textLightPrimary: white;

$darkenOnHover: 2%;
