<template>

    <number-input
        label="above"
        none.bind="false"
        value.bind="model.minutesPriorToPickup | scale: 1/60"
        class="margin-large-bottom"
        min.bind="0">

        <div slot="heading" translate>
            Minutes prior to pickup
        </div>

        <span slot="after" class="opacity-faded" translate>
            min
        </span>

        <div slot="validation">

            <required-validator
                value.bind="model.minutesPriorToPickup">
            </required-validator>

            <range-validator
                active.bind="true"
                value.bind="model.minutesPriorToPickup"
                min.bind="0">
            </range-validator>

        </div>

    </number-input>

    <number-input
        label="above"
        none.bind="false"
        value.bind="model.minutesAddedToEstimate | scale: 1/60"
        class="margin-large-bottom"
        min.bind="0">

        <div slot="heading" translate>
            Minutes added to estimate
        </div>

        <span slot="after" class="opacity-faded" translate>
            min
        </span>

        <div slot="validation">

            <required-validator
                value.bind="model.minutesAddedToEstimate">
            </required-validator>

            <range-validator
                active.bind="true"
                value.bind="model.minutesAddedToEstimate"
                min.bind="0">
            </range-validator>

        </div>

    </number-input>

    <number-input
        label="above"
        none.bind="false"
        value.bind="model.minutesAddedPriorToEstimate | scale: 1/60"
        min.bind="0">

        <div slot="heading" translate>
            Minutes added prior to estimate
        </div>

        <span slot="after" class="opacity-faded" translate>
            min
        </span>

        <div slot="validation">

            <required-validator
                value.bind="model.minutesAddedPriorToEstimate">
            </required-validator>

            <range-validator
                active.bind="true"
                value.bind="model.minutesAddedPriorToEstimate"
                min.bind="0">
            </range-validator>

        </div>

    </number-input>

</template>
