@import "resources/index";

page[name="page-not-found"]
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;

    > div
    {
        margin: 30px 0 30px 0;
        position: relative;
        height: 656px;
        width: 1200px;

        > div:first-of-type
        {
            position: absolute;
            left: 0;
            bottom: 460px;
            width: 550px;

            > h1
            {
                font-size: 40px;
                line-height: 50px;
            }
        }

        > div:last-of-type
        {
            position: absolute;
            top: 395px;
            left: 0;

            a
            {
                display: block;
            }
        }

        img
        {
            position: absolute;
            top: 0;
            left: 0;
            height: 656px;
            width: 1200px;
        }
    }
}
