@import "../../constants.scss";

div[class$="mapContainer"] {
  > div:first-child {
    .gm-style {
      *:not(.gm-style-iw):not(.c-infoBox):not(.c-infoBox-headline) {
        background-color: transparent !important;
        border: 0 !important;
        box-shadow: none !important;
      }
    }

    .gm-style-iw {
      font-size: 0;
      width: 231px !important;
      top: 0px !important;
      bottom: auto !important;
      left: 0px !important;
      overflow: initial;
      background-color: white;
      border-radius: $borderRadius;
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4);

      &:after {
        content: "";
        position: absolute;
        top: 100%;
        @include horizontalMid;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 6px 0 6px;
        border-color: white transparent transparent transparent;
      }
      // Remove default elements
      + div {
        display: none;
      }

      > div {
        width: 100%;
        overflow: hidden !important;
      }

      .searching {
        text-align: center;
      }

      .c-infoBox {
        overflow: hidden;
        padding-bottom: 16px;

        .c-infoBox-headline {
          height: 28px;
          line-height: 28px;
          padding: 0 12px;
          color: white;
          border-top-left-radius: $borderRadius;
          border-top-right-radius: $borderRadius;
          margin-bottom: 8px;
          background-color: var(--colorInteractivePrimary);
        }

        .c-infoBox-children {
          padding: 0 12px;
          margin-bottom: 12px;
        }

        .c-infoBox-rows {
          .c-infoBox-row {
            padding: 0 12px;
            display: flex;
            justify-content: space-between;

            &:not(:last-child) {
              margin-bottom: 8px;
            }

            .c-infoBox-row-value {
              text-align: right;
            }
          }
        }

        .c-infoBox-actionLink {
          padding: 0 12px;
          text-align: right;
          color: var(--colorInteractivePrimary);
          margin-top: 16px;
          margin-bottom: 4px;
          cursor: pointer;
        }
      }
    }
  }
}
