<template
    class="focus-hidden"
    inert.bind="modal != null && modal.busy !== false"
    keydown.trigger="onKeyDown($event)"
    tabindex="-1"
    trap-focus="fallback-focus.bind: element; escape-deactivates.bind: false;">

    <require from="./modal-panel.scss"></require>

    <busy-overlay if.bind="modal != null && modal.busy !== false" delay.bind="true"></busy-overlay>

    <form class="modal-panel-content">

        <slot></slot>

    </form>

    <div class="modal-panel-actions">

        <button if.bind="closeButton && modal != null" appearance="icon" click.delegate="onCloseClick()">
            <icon name="back"></icon>
        </button>

        <slot name="actions"></slot>

    </div>

</template>
