//Colors
$colorBackgroundPrimary: #C80016;
$colorBackgroundSecondary: #333333;
$colorInteractivePrimary: #C80016;
$colorInteractivePrimaryActive: #840312;
$colorInteractivePrimaryInactive: #80bdf2;
$colorInteractiveSecondary: #FFF;
$colorOk: #17C800;
$colorWarning: #FF8906;
$colorAlert: #C80016;
$colorNeutralExtraLight: #F7F7F7;
$colorNeutralLight: #EBEBEB;
$colorNeutralRegular: #CAC9C9;
$colorNeutralSemiDark: #888888;
$colorNeutralDark: #333333;

//Text color
$textDarkPrimary: #333333;
$textDarkSecondary: #888384;
$textDarkInactive: #B6B6B6;
$textLightPrimary: white;