@import "styles/resources/index";

busy-overlay
{
    // Cover the containing element.
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &.au-enter
    {
        // Delay the animation, so it won't appear for short-lived busy states.
        animation-delay: var(--animation-delay-busy) !important;
    }

    &::before
    {
        content: "";

        // Fill the element.
        position: absolute;
        height: 100%;
        width: 100%;

        // Apply surface color.
        background: var(--color-surface);

        // Apply opacity.
        opacity: var(--opacity-faded-less);
    }

    > div
    {
        // Fill the element.
        position: absolute;
        height: 100%;
        width: 100%;

        // Position above the background.
        z-index: 1;

        // Center the content.
        display: flex;
        justify-content: center;
        align-items: center;

        // Apply default font size.
        font-size: var(--font-larger-font-size);

        // Apply text shadow, to improve contrast.
        text-shadow: 0 0 0.5em #ffffff;
    }

    *
    {
        // Prevent pointer interaction.
        pointer-events: none !important;
    }
}
