////
/// @group themes/mover/surfaces/base
////

/// Surface defining the appearance of the base of the view hierarchy.
$__summary: comment;


/* stylelint-disable no-duplicate-selectors, scss/selector-no-redundant-nesting-selector */

[surface="base"],
[surface$="/base"]
{
    --surface-heading-color: var(--palette-color-neutral-dark);
    --surface-separator-color: var(--palette-color-neutral);

    // Inputs on the surface.
    &
    {
        // State: normal
        --surface-input-border-color: var(--palette-color-neutral);
        --surface-input-surface-color: var(--palette-color-whitepoint);

        // State: hover
        --surface-input-border-color--hover: var(--palette-color-neutral);
        --surface-input-surface-color--hover: var(--palette-color-whitepoint);

        // State: focus
        --surface-input-border-color--focus: var(--palette-color-neutral);
        --surface-input-surface-color--focus: var(--palette-color-whitepoint);

        // State: invalid
        --surface-input-border-color--invalid: var(--palette-color-neutral);
        --surface-input-surface-color--invalid: var(--palette-color-whitepoint);

        // Items on the surface of inputs on the surface.
        &
        {
            // State: normal
            --surface-input-surface-tag-border-color: var(--palette-color-neutral-lighter);
            --surface-input-surface-tag-surface-color: var(--palette-color-neutral-lighter);
            --surface-input-surface-tag-surface-text-color: var(--palette-color-neutral-darker);
            --surface-input-surface-tag-surface-icon-color: var(--palette-color-neutral-dark);

            // State: hover
            // --surface-input-surface-tag-border-color--hover: var(--palette-color-neutral-lighter);
            // --surface-input-surface-tag-surface-color--hover: var(--palette-color-neutral-lighter);
            // --surface-input-surface-tag-surface-text-color--hover: var(--palette-color-neutral-darker);
            --surface-input-surface-tag-surface-icon-color--hover: var(--palette-color-neutral-darker);

            // State: focus
            // --surface-input-surface-tag-border-color--focus: var(--palette-color-neutral-lighter);
            // --surface-input-surface-tag-surface-color--focus: var(--palette-color-neutral-lighter);
            // --surface-input-surface-tag-surface-text-color--focus: var(--palette-color-neutral-darker);
            --surface-input-surface-tag-surface-icon-color--hover: var(--palette-color-neutral-darker);
        }
    }

    /**
     * The width of the border of the input.
     */
    --input-border-width: var(--border-width-thin);

    /**
     * The color of toggles when not selected.
     */
    --toggle-surface-icon-color: var(--palette-color-neutral);
}
