<template>

    <require from="./modal-view.scss"></require>

    <compose
        repeat.for="modal of modalService.modals"
        view-model.one-time="modal.viewModel"
        view-model.ref="$compose"
        model.one-time="getModel(modal, $compose)"
        class="au-animate ${modal !== topModal || modal.busy !== false ? '--disabled' : ''} ${modal.busy !== false ? '--busy' : ''}"
        keydown.capture="onEventCaptured(modal)"
        keyup.capture="onEventCaptured(modal)"
        keypress.capture="onEventCaptured(modal)">
    </compose>

</template>
