@import "resources/index";

modal-view
{
    > compose
    {
        // Fill the viewport.
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        // Apply the z-index for backdrops.
        z-index: var(--z-index-backdrop);

        // Use horizontal flex layout.
        display: flex;

        // Allow clicks to pass through, as the `compose` element is just the presenter.
        pointer-events: none;

        // Hint that animation will be applied.
        will-change: opacity;

        // Style elements within the modal view.
        > *
        {
            // Apply the z-index for modals.
            z-index: var(--z-index-modal);
        }

        &:not(.--disabled) > *
        {
            // Prevent clicks from passing through the modal at the top.
            pointer-events: initial;
        }

        &.au-enter-active
        {
            animation: modal-view-compose-enter ease;
            animation-duration: var(--animation-duration-medium);
        }

        &.au-leave-active
        {
            animation: modal-view-compose-leave ease;
            animation-duration: var(--animation-duration-medium);
        }
    }
}

@keyframes modal-view-compose-enter
{
    to
    {
        // This is needed to ensure the animation events are triggered.
        // Without it, the `aurelia-animator-css` plugin will misbehave.
        // Note that the enter and leave animations cannot be the same.
        --modal-view-compose-animation-trigger: 1;
    }
}

@keyframes modal-view-compose-leave
{
    to
    {
        // This is needed to ensure the animation events are triggered.
        // Without it, the `aurelia-animator-css` plugin will misbehave.
        // Note that the enter and leave animations cannot be the same.
        --modal-view-compose-animation-trigger: 0;
    }
}
