@import "base/resources/index";

modal-view
{
    > compose
    {
        // Fill the viewport.
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        // Use horizontal flex layout.
        display: flex;

        // Allow clicks to pass through, as the `compose` element is just the presenter.
        pointer-events: none;

        // Hint that animation will be applied.
        will-change: opacity;

        // Style elements within the modal view.
        > *
        {
            // Apply the z-index for modals.
            z-index: var(--z-index-modal);

            // Prevent clicks from passing through.
            pointer-events: initial;
        }

        &.au-enter-active
        {
            animation: modal-view-compose var(--animation-duration-medium);
        }

        &.au-leave-active
        {
            animation: modal-view-compose var(--animation-duration-medium);
        }
    }
}

@keyframes modal-view-compose
{
    // Empty, as we just need it to trigger the animation plugin.
}
