@import "resources/index";

modal-view
{
    > compose
    {
        // Fill the viewport.
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        // Apply the z-index for modals.
        z-index: var(--z-index-modal);

        // Use horizontal flex layout.
        display: flex;

        // Allow clicks to pass through, as the `compose` element is just the presenter.
        pointer-events: none;

        // Hint that animation will be applied.
        will-change: opacity;

        &:not(.--disabled) > *
        {
            // Prevent clicks from passing through the modal at the top.
            pointer-events: initial;
        }

        &.au-enter-active
        {
            animation: modal-view-compose-enter;
            animation-duration: var(--animation-duration-medium);

            *
            {
                // Prevent pointer events and hover effects while the modal is animating.
                pointer-events: none !important;
            }
        }

        &.au-leave-active
        {
            animation: modal-view-compose-leave;
            animation-duration: var(--animation-duration-medium);

            *
            {
                // Prevent pointer events and hover effects while the modal is animating.
                pointer-events: none !important;
            }
        }
    }
}

@keyframes modal-view-compose-enter
{
    to
    {
        // This is needed to ensure the animation events are triggered.
        // Without it, the `aurelia-animator-css` plugin will misbehave.
        // Note that the enter and leave animations cannot be the same.
        --animation-trigger: not-a-real-value;
    }
}

@keyframes modal-view-compose-leave
{
    to
    {
        // This is needed to ensure the animation events are triggered.
        // Without it, the `aurelia-animator-css` plugin will misbehave.
        // Note that the enter and leave animations cannot be the same.
        --animation-trigger: not-a-real-value;
    }
}
