modal-dialog[name="auto-contractor-assignment-geographic-area"]
{
    .button-container
    {
        display: flex;
        justify-content: flex-end;

        button
        {
            &:not(:first-child)
            {
                margin-left: 20rem;
            }
        }
    }

    number-input
    {
        width: 160rem;
    }
}
