@import "../../constants.scss";

.loadingOuterContainer {
  pointer-events: none;
  user-select: none;
  position: fixed;
  height: 100vh;
  left: var(--size-app-sidebar-width-expanded, #{$backofficeMenuBig});
  width: calc(100vw - var(--size-app-sidebar-width-expanded, #{$backofficeMenuBig}));
  top: 0;
  z-index: 99999;

  .sideMenu--collapsed &
  {
    left: var(--size-app-sidebar-width, #{$backofficeMenuSmall});
    width: calc(100vw - var(--size-app-sidebar-width, #{$backofficeMenuSmall}));
  }

  .loadingContainer {
    position: absolute;
    @include centered;
    max-width: 600px;
    height: auto;
    text-align: center;

    .image {
      margin: 0 auto;
    }

    .textContainer {
      width: 100%;
      margin-top: 20px;
      display: inline-block;
      vertical-align: top;
      text-align: center;

      .text {
        text-align: center;
        padding-top: 10px;
      }
    }
  }
}

.backOfficeContainer,
.applicationWrapper {
  .loadingOuterContainer {
    position: fixed;
    height: calc(100vh - #{$backofficeTopMenu});
    width: calc(100vw - #{$backofficeMenuBig});
    left: $backofficeMenuBig;
    top: $backofficeTopMenu;
  }
}

@media (max-width: $mediaIpadV - 1) {
  .backOfficeContainer,
  .applicationWrapper {
    .loadingOuterContainer {
      height: 100%;
      width: 100%;
      left: 0;
      top: calc(#{$backofficeTopMenu} / 2);
    }
  }
}
