<template>

    <!-- Note: Because the map uses the Shadow DOM, styles cannot be imported using <require>. -->

    <google-map-marker
        point.bind="model.point"
        title.bind="model.title"
        z-index.bind="model.zIndex">

        <google-map-popover>

            <style>

                :host
                {
                    color: #0000aa;
                }

                h1
                {
                    margin: 0 0 10rem 0;
                    font: var(--font-large);
                }

                p
                {
                    margin: 0;
                    font: var(--font-base);
                }

            </style>

            <h1>
                ${model.title}
            </h1>

            <p>
                With live data binding: ${i | number: 2}
            </p>

        </google-map-popover>

    </google-map-marker>

</template>
