.c-routePlanSettings-listElement-ItemContainer {
  display: flex;
  margin: 0 14px;
  flex-direction: column;
  flex: 1;
}

.c-routePlanSettings-listElement-ItemContainer-Title {
  color: #abbec7;
  margin-bottom: 2px;
  text-transform: uppercase;
}

.c-routePlanSettings-listElement-ItemContainer-Content {
  color: #00162e;
}
