////
/// @group resources/utilities
////

/// Mixins representing various convenient utilities.
$__summary: comment;


/// Sets margin and padding to ensures the focus outline is not cut off.
/// This is useful for scroll containers, where the focus outline of
/// elements close to the sides would normally be cut off.
@mixin ensure-focus-outline-visible
{
    // The spacin needed around an element to ensure its focus outline is not cut off.
    --outline-spacing: calc(var(--accessibility-focus-outline-offset) + var(--accessibility-focus-outline-width));

    margin: calc(-1 * var(--outline-spacing));
    padding: var(--outline-spacing);
}

/// Gets the specified multiples of the base size unit.
/// Note that any arguments with a unit will be passed through unchanged.
/// @param {number | list} $values The base size multiplier, or list of size multipliers.
/// @returns {number | list} The computed size, or list of sizes.
@function size($values)
{
    @if (length($values) < 1)
    {
        @error "Expected at least one argument.";
    }

    @if (length($values) < 2)
    {
        @return nth($values, 1) * 1rem;
    }

    @for $n from 1 through length($values)
    {
        $value: nth($values, $n);

        @if $value != null and unit($value) == ""
        {
            $values: set-nth($values, $n, $value * 1rem);
        }
    }

    @return $values;
}
