address-input
{
    display: block;

    > text-input
    {
        > .input-control
        {
            > .input-control-inner .input-input
            {
                // Remove padding at the end closest to the toggle icon.
                padding-right: 0 !important;
            }

            > dropdown
            {
                // Needed for scrolling to work.
                display: flex;

                item-picker
                {
                    // Expand to fill the available width.
                    flex-grow: 1;
                }

                item
                {
                    // Use horizontal flex layout.
                    display: flex;
                    align-items: center;

                    icon
                    {
                        // Set the size of the icon.
                        font-size: var(--font-largest-font-size);

                        // Apply spacing between the icon and the text.
                        margin-right: var( --size-inline-spacing);

                        // Apply opacity to the icon.
                        opacity: var(--opacity-faded);
                    }
                }
            }

            > [slot="after"]
            {
                > dropdown-icon,
                > busy-indicator
                {
                    // Apply input padding.
                    padding: var(--input-padding);
                }

                > busy-indicator
                {
                    // Position on top of the dropdown-icon.
                    position: absolute;
                    top: var(--input-border-width);
                    bottom: var(--input-border-width);

                    // Apply the input surface color, so the indicator covers the dropdown-icon.
                    background: var(--input-surface-color);

                    .busy-indicator
                    {
                        // Set the size of the indicator to match the size of the dropdown-icon.
                        width: 1.286em;
                        height: 1.286em;

                        // Set opacity to ensure reasonable contrast.
                        opacity: var(--opacity-faded-more);

                        div
                        {
                            // Set the stroke width of the indicator.
                            border-width: 2rem;
                        }
                    }
                }
            }
        }
    }
}
