<template class="
    ${open ? '--open' : ''}
    ${readonly ? '--readonly' : ''}
    ${filter != 'none' ? '--filter' : ''}"
    inert.bind="disabled || readonly"
    validation
    forward-focus>

    <require from="./address-input.scss"></require>

    <text-input
        ref="inputElement"
        value.bind="inputValue"
        label.bind="label & attr"
        disabled.bind="disabled"
        readonly.bind="filter === 'none' || readonly"
        autocomplete.bind="autocomplete"
        autoselect.bind="autoselect"
        keydown.trigger="onInputKeyDown($event)"
        mousedown.trigger="onInputMouseDown($event)"
        focusin.trigger="onInputFocusIn($event)"
        focusout.trigger="onInputFocusOut($event)"
        change.trigger="onInputChange($event)">

        <slot name="heading" slot="heading"></slot>
        <slot name="description" slot="description"></slot>
        <slot name="validation" slot="validation"></slot>
        <slot slot="before" slot="before"></slot>

        <div slot="placeholder">

            <div show.bind="!readonly && !open">

                <slot name="placeholder"></slot>

            </div>

            <div show.bind="open" translate>
                Type an address…
            </div>

        </div>

        <div slot="after">

            <slot name="after"></slot>

            <dropdown-icon
                if.bind="!readonly"
                ref="toggleElement"
                open.bind="open"
                toggle.call="toggleDropdown()">
            </dropdown-icon>

            <busy-indicator
                if.bind="!readonly && fetchOperation.pending"
                class="animation-fade-in-short animation-fade-out-short">
            </busy-indicator>

        </div>

        <slot></slot>

        <dropdown
            if.bind="open && inputValue"
            close.call="closeDropdown(escape || !focusout, !escape)"
            mousedown.trigger="onDropdownMouseDown($event)"
            fixed.bind="fixed"
            placement.bind="placement">

            <item-picker
                view-model.ref="itemPicker"
                focused-value.bind="focusedValue"
                focused-element.bind="inputElement"
                keyboard.bind="open"
                none.bind="false"
                pick.call="closeDropdown(true, true)"
                tabindex="-1"
                scroll>

                <item repeat.for="item of items" model.bind="item">
                    <icon name="map-pin"></icon>
                    <div>
                        <div>${item.primary}</div>
                        <div>${item.secondary}</div>
                    </div>
                </item>

            </item-picker>

        </dropdown>

    </text-input>

</template>
