modal-panel[name="assign-fulfiller"]
{
    --modal-panel-min-width: 200rem;

    data-table
    {
        --data-table-columns: 1fr 1fr;
    }

    identity-picture
    {
        border-radius: 50%;
    }
}
