page[name="route-planning"] page[name="settings-details"] general
{
    page-section
    {
        width: 728rem;
    }

    text-input [slot="heading"] > select-button
    {
        position: absolute;
        right: 0;
        top: 0;
    }
}
