@import "styles/resources/index";

app-sidebar
{
    // Allow content to be positioned relative to this element.
    position: relative;

    // Use vertical flex layout.
    display: flex;
    flex-direction: column;

    // Set the width of the sidebar.
    width: var(--size-app-sidebar-width);

    // Don't shrink - we collapse it manually in small viewports.
    flex-shrink: 0;

    // Apply the surface style.
    background: var(--color-surface);
    color: var(--color-surface-text);

    app-logo
    {
        // Size and position the app icon.
        margin: 9rem 0 6rem 0;
        height: 7rem;

        // Center horizontally.
        align-self: center;

        // HACK: This assumes the dashboard is the only modal using the app-sidebar.
        modal-view & a:hover
        {
            // Prevent the hover effect from repeating when the dashboard
            // appears as a result of a click on the app-icon.
            transition: none;
        }
    }

    user-identity
    {
        // Size and position the user icon.
        margin: 4rem 0 5rem 0;
        height: 10rem;

        // Center horizontally.
        align-self: center;
    }

    header,
    section,
    footer
    {
        // Use vertical flex layout.
        display: flex;
        flex-direction: column;

        // Don't shrink.
        flex-shrink: 0;
    }

    section
    {
        // Apply vertical spacing below sections.
        margin-bottom: 4rem;
    }

    footer
    {
        // Push the footer to the bottom.
        margin-top: auto;
    }

    .app-sidebar-shadow
    {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5rem;
        background: linear-gradient(
            to left,
            rgba(0, 0, 0, 0.3) 0,
            rgba(0, 0, 0, 0.3) 5%,
            rgba(0, 0, 0, 0.15) 5%,
            rgba(0, 0, 0, 0.1) 5%,
            rgba(0, 0, 0, 0) 60%
        );
        pointer-events: none;
        opacity: 0.25;
        transition: opacity var(--animation-duration-short);

        &.--reduce-opacity
        {
            // Reduce the visibility of the shadow while a modal overlay with
            // the same surface color, such as the `dashboard`, is open.
            opacity: 0.5;
        }
    }

    .app-sidebar--powered-by
    {
        margin-top: 1px;
        padding: 1rem;
        font-size: 2.25rem;
        line-height: 6.5rem;
        text-align: center;
        background-color: var(--color-surface-nav-link-surface--hover);

        span
        {
            opacity: 0.5;
        }
    }
}

.nav-link
{
    display: flex;
    align-items: center;
    align-self: stretch;

    // Size and space other icons.
    padding: 3rem 7rem;

    // Animate the hover effect.
    transition: color var(--animation-duration-short);

    // Apply theme colors.

    color: var(--color-surface-nav-link-surface-text);
    background-color: var(--color-surface-nav-link-surface);
    border-color: var(--color-surface-nav-link-border);

    &:hover
    {
        color: var(--color-surface-nav-link-surface-text--hover);
        background-color: var(--color-surface-nav-link-surface--hover);
        border-color: var(--color-surface-nav-link-border--hover);

        > icon
        {
            color: var(--color-surface-nav-link-surface-icon--hover);
        }

        > span
        {
            color: var(--color-surface-nav-link-surface-text--hover);
        }
    }

    &.--active
    {
        font-weight: 700;

        color: var(--color-surface-nav-link-surface-text--active);
        background-color: var(--color-surface-nav-link-surface--active);
        border-color: var(--color-surface-nav-link-border--active);

        > icon
        {
            color: var(--color-surface-nav-link-surface-icon--active);
        }

        > span
        {
            color: var(--color-surface-nav-link-surface-text--active);
        }
    }

    > icon
    {
        font-size: 6rem;
        color: var(--color-surface-nav-link-surface-icon);
    }

    > span
    {
        display: none;
        transition: opacity var(--animation-duration-short);
    }
}

.sidebar-child-link-container
{
    padding: 2rem 0;
    background: var(--color-surface-nav-child-surface);
}

.sidebar-child-link
{
    display: flex;
    align-items: center;
    padding: 1.75rem 0 1.75rem 8rem;
    border-radius: var(--border-radius-small);

    opacity: 0.7;

    // Apply theme colors.

    color: var(--color-surface-nav-child-link-surface-text);
    background-color: var(--color-surface-nav-child-link-surface);
    border-color: var(--color-surface-nav-child-link-border);

    icon
    {
        font-size: 4rem;
        color: var(--color-surface-nav-child-link-surface-icon);
        margin-right: 4rem;
    }

    &:hover
    {
        color: var(--color-surface-nav-child-link-surface-text--hover);
        background-color: var(--color-surface-nav-child-link-surface--hover);
        border-color: var(--color-surface-nav-child-link-border--hover);

        > icon
        {
            color: var(--color-surface-nav-child-link-surface-icon--hover);
        }

        > span
        {
            color: var(--color-surface-nav-child-link-surface-text--hover);
        }
    }

    &.--active
    {
        font-weight: 700;

        opacity: 1;

        color: var(--color-surface-nav-child-link-surface-text--active);
        background-color: var(--color-surface-nav-child-link-surface--active);
        border-color: var(--color-surface-nav-child-link-border--active);

        > icon
        {
            color: var(--color-surface-nav-child-link-surface-icon--active);
        }

        > span
        {
            color: var(--color-surface-nav-child-link-surface-text--active);
        }
    }
}

app-sidebar.--expanded
{
    // Set the width of the sidebar.
    width: var(--size-app-sidebar-width-expanded);

    app-logo,
    user-identity
    {
        // Align horizontally with the links.
        align-self: flex-start;
        margin-left: 6.5rem;
        margin-right: 6.5rem;
    }

    .nav-link
    {
        > span
        {
            display: block;
            margin-left: var(--size-inline-spacing-large);
        }
    }

    .sidebar-child-link-container
    {
        padding: 5rem 6rem;
    }

    .sidebar-child-link
    {
        padding: 1.75rem 0 1.75rem 2rem;
    }

    .app-sidebar--powered-by
    {
        padding-left: 7rem;
        line-height: 6.5rem;
        font-size: 2.75rem;
        text-align: left;
        white-space: nowrap;
    }
}
