<template surface="primary" class="${expanded ? '--expanded' : ''}">

    <require from="app/components/user-identity/user-identity"></require>
    <require from="app/components/app-logo/app-logo"></require>

    <require from="./app-sidebar.scss"></require>

    <div class="app-sidebar-shadow ${reduceShadow ? '--reduce-opacity' : ''}"><div></div></div>

    <header>

        <app-logo size.bind="expanded ? 'wide' : 'icon'" disabled.bind="disableDashboard"></app-logo>

        <template if.bind="environment == 'development'">

            <a class="nav-link" modal-href="modal: starred">
                <icon title.translate="Starred and recent" name="starred"></icon>
                <span translate>Starred and recent</span>
            </a>

            <a class="nav-link" modal-href="modal: search">
                <icon title.translate="Search" name="search"></icon>
                <span translate>Search</span>
            </a>

            <!--s
            <a class="nav-link" modal-href="modal: add">
                <icon title.translate="Add" name="add"></icon>
                <span translate>Add</span>
            </a>
            -->

        </template>

        <slot name="header"></slot>

    </header>

    <section scroll>

        <div
            repeat.for="navModel of navModels"
            class="${navModel.isActive ? '--active' : ''}">

            <a
                class="nav-link ${navModel.isActive ? '--active' : ''}"
                page-href="path.bind: navModel.href">

                <icon title.bind="navModel.config.title" name.bind="navModel.config.icon"></icon>

                <span>${navModel.config.title}</span>

            </a>

            <div
                if.bind="navModel.isActive && childNavModels.length > 0"
                class="sidebar-child-link-container">

                <a
                    repeat.for="navModel of childNavModels"
                    class="sidebar-child-link ${navModel.isActive ? '--active' : ''}"
                    page-href="path.bind: navModel.href">

                    <icon title.bind="navModel.config.title" name.bind="navModel.config.icon"></icon>

                    <span if.bind="expanded">${navModel.config.title}</span>

                </a>

            </div>

        </div>

    </section>

    <footer>

        <slot name="footer"></slot>

        <template if.bind="environment == 'development'">

            <a class="nav-link" modal-href="modal: notifications">
                <icon title.translate="Notifications" name="notifications">
                    <badge>5</badge>
                </icon>
                <span translate>Notifications</span>
            </a>

            <!--
            <a class="nav-link" page-href="path: help">
                <icon title.translate="Help and support" name="help"></icon>
                <span translate>Help and support</span>
            </a>

            <a class="nav-link" page-href="path: design">
                <icon title.translate="Design" name="md-style"></icon>
                <span translate>Design</span>
            </a>
            -->

        </template>

        <user-identity size="icon"></user-identity>

        <a class="nav-link" click.trigger="toggleWidth()">

            <icon if.bind="expanded" title.translate="Collapse menu" name="sidebar-collapse"></icon>
            <span if.bind="expanded" translate>Collapse menu</span>

            <icon if.bind="!expanded" title.translate="Expand menu" name="sidebar-expand"></icon>

        </a>

        <a class="app-sidebar--powered-by" href="https://www.mover.dk" target="_blank">
            <span if.bind="expanded">Powered by Mover Systems</span>
            <span if.bind="!expanded">Mover Systems</span>
        </a>

    </footer>

</template>
