<template theme-surface="primary" scroll class="${expanded ? '--expanded' : ''}">

    <require from="app/components/user-identity/user-identity"></require>
    <require from="app/components/app-logo/app-logo"></require>

    <require from="./app-sidebar.scss"></require>

    <header>

        <app-logo size.bind="expanded ? 'wide' : 'icon'" disabled.bind="disableDashboard"></app-logo>

        <template if.bind="environment == 'development'">

            <a class="sidebar-link" modal-href="modal: starred">
                <icon title.translate="Starred and recent" name="starred"></icon>
                <span translate>Starred and recent</span>
            </a>

            <a class="sidebar-link" modal-href="modal: search">
                <icon title.translate="Search" name="search"></icon>
                <span translate>Search</span>
            </a>

            <a class="sidebar-link" modal-href="modal: add">
                <icon title.translate="Add" name="add"></icon>
                <span translate>Add</span>
            </a>

        </template>

        <slot name="header"></slot>

    </header>

    <section>

        <div
            repeat.for="navModel of navModels"
            class="${navModel.isActive ? '--active' : ''}">

            <a
                class="sidebar-link ${navModel.isActive ? '--active' : ''}"
                module-href="path.bind: navModel.href">

                <icon name.bind="navModel.config.icon"></icon>

                <span>${navModel.config.title}</span>

            </a>

            <div
                if.bind="navModel.isActive && childNavModels != null"
                class="sidebar-child-link-container">

                <a
                    repeat.for="navModel of childNavModels"
                    class="sidebar-child-link ${navModel.isActive ? '--active' : ''}"
                    module-href="path.bind: navModel.href">

                    <span>${navModel.config.title}</span>

                </a>

            </div>

        </div>

    </section>

    <footer>

        <slot name="footer"></slot>

        <template if.bind="environment == 'development'">

            <a class="sidebar-link" modal-href="modal: notifications">
                <icon title.translate="Notifications" name="notifications">
                    <badge>5</badge>
                </icon>
                <span translate>Notifications</span>
            </a>

            <a class="sidebar-link" modal-href="modal: confirm">
                <icon title.translate="Help and support" name="help"></icon>
                <span translate>Help and support</span>
            </a>

            <a class="sidebar-link" module-href="path: design">
                <icon title.translate="Design" name="md-style"></icon>
                <span translate>Design</span>
            </a>

        </template>

        <a class="sidebar-link" click.trigger="toggleWidth()">
            <icon title.translate="Collapse menu" name="md-menu"></icon>
            <span translate>Collapse menu</span>
        </a>

        <user-identity size="icon"></user-identity>

    </footer>

    <div class="app-sidebar-shadow ${reduceShadow ? '--reduce-opacity' : ''}"></div>

</template>
