@import "shared/src/webKit/constants.scss";

@keyframes liveTracking-routeStopMarker-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba($colorOk, 0.4);
  }
  70% {
      box-shadow: 0 0 0 10px rgba($colorOk, 0);
  }
  100% {
      box-shadow: 0 0 0 0 rgba($colorOk, 0);
  }
}

.c-liveTracking-routeStopMarker {
  padding: 5px;
  pointer-events: none;
}

.c-liveTracking-routeStopMarker-circle {
  position: relative;
  min-width: 20px;
  min-height: 20px;
  border-radius: 10px;
  line-height: 16px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: white;
  pointer-events: all;
  background: black;
  border: 2px solid black;
  box-shadow: 0 0 1px 1px white;

  &.c-liveTracking-routeStopMarker--pending {
    background: gray;
    border-color: gray;
  }

  &.c-liveTracking-routeStopMarker--arrived {
    background: #7d887c;
    border-color: darken($colorOk, 2%);
    box-shadow: inset 0 0 0 1px lighten(#7d887c, 2%), 0 0 1px 1px white;
  }

  &.c-liveTracking-routeStopMarker--done {
    background: $colorOk;
    border-color: darken($colorOk, 2%);
  }

  &.c-liveTracking-routeStopMarker--cancelled {
    background: gray;
    border-color: gray;
    opacity: .5;
  }

  &.c-liveTracking-routeStopMarker--selected {
    box-shadow:
      0 0 1px 1px rgba(white, .3),
      0 0 0px 3px $colorBackgroundPrimary,
      0 0 2px 5px white;
  }
}

.c-liveTracking-routeStopMarker-warning,
.c-liveTracking-routeStopMarker-alert {
  position: absolute;
  bottom: -3px;
  right: -3px;
  width: 8px;
  height: 8px;
  box-shadow: 0 0 0 1px white;
  border-radius: 4px;
  pointer-events: all;
}

.c-liveTracking-routeStopMarker-warning {
  background: $colorWarning;
}

.c-liveTracking-routeStopMarker-alert {
  background: $colorAlert;
}