@import "shared/src/webKit/constants.scss";

.c-liveTracking-routePanel-routeInfo {

  .c-liveTracking-routesPanel-route {
    margin: 0;
    padding: 21px 25px 16px 25px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    background: none;
    cursor: default;

    &:hover {
      background: none;
    }
    
    &:before {
      display: none;
    }
  }
}