design-item
{
    display: block;
    border-radius: var(--border-radius-medium);
    border: var(--border-width-thin) solid var(--border-color, transparent);
    border-left-width: var(--border-width-thick);
    background: var(--surface-color);
    color: var(--surface-text-color);

    &:not(:last-child)
    {
        margin-bottom: 3rem;
    }

    .app-modules-design-content [surface="base"] &
    {
        border-color: var(--border-color, var(--surface-separator-color));
    }

    .app-modules-design-content [surface="card"] &
    {
        &:hover
        {
            border-color: var(--border-color--hover);
            background: var(--surface-color--hover);
            color: var(--surface-text-color--hover);
        }

        &:focus
        {
            border-color: var(--border-color--focus);
            background: var(--surface-color--focus);
            color: var(--surface-text-color--focus);
        }

        &.--active
        {
            border-color: var(--border-color--active);
            background: var(--surface-color--active);
            color: var(--surface-text-color--active);
        }
    }

    .design-item-heading
    {
        padding: 6rem;
        cursor: pointer;
    }

    .design-item-content
    {
        border-top: var(--border-width-thin) solid var(--surface-separator-color);
        padding: 6rem;
    }
}
