////
/// @group resources/styles/framework/modifiers/flex
////

/// Modifier classes for applying flex layout.
$__summary: comment;

@import "resources/index";

.flex-row
{
    display: flex;
    flex-direction: row;
}

.flex-column
{
    display: flex;
    flex-direction: column;
}

.flex-grow
{
    flex-grow: 1;
}

.flex-constrain
{
    .flex-row &
    {
        min-width: 0;
    }

    .flex-column &
    {
        min-height: 0;
    }
}

.flex-center
{
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.flex-center-row
{
    margin-left: auto;
    margin-right: auto;
}

.flex-center-column
{
    margin-top: auto;
    margin-bottom: auto;
}

.flex-push-up
{
    margin-bottom: auto;
}

.flex-push-left
{
    margin-right: auto;
}

.flex-push-right
{
    margin-left: auto;
}

.flex-push-down
{
    margin-top: auto;
}

.flex-basis-1-of-1,
.flex-basis-2-of-2,
.flex-basis-3-of-3,
.flex-basis-4-of-4
{
    flex-basis: 100%;
}

.flex-basis-1-of-2,
.flex-basis-2-of-4
{
    flex-basis: 50%;
}

.flex-basis-1-of-3
{
    flex-basis: calc(100% / 3 * 1);
}

.flex-basis-2-of-3
{
    flex-basis: calc(100% / 3 * 2);
}

.flex-basis-1-of-4
{
    flex-basis: 25%;
}

.flex-basis-3-of-4
{
    flex-basis: 75%;
}
