////
/// @group resources/styles/framework/modifiers/padding
////

/// Modifier classes that apply standard paddings.
$__summary: comment;

@import "resources/index";


/// Modifier class that applies the largest padding.
.padding-largest
{
    &,
    &-top
    {
        padding-top: 32rem;
    }

    &,
    &-left
    {
        padding-left: 32rem;
    }

    &,
    &-right
    {
        padding-right: 32rem;
    }

    &,
    &-bottom
    {
        padding-bottom: 32rem;
    }
}

/// Modifier class that applies the larger padding.
.padding-larger
{
    &,
    &-top
    {
        padding-top: 24rem;
    }

    &,
    &-left
    {
        padding-left: 24rem;
    }

    &,
    &-right
    {
        padding-right: 24rem;
    }

    &,
    &-bottom
    {
        padding-bottom: 24rem;
    }
}

/// Modifier class that applies the large padding.
.padding-large
{
    &,
    &-top
    {
        padding-top: 20rem;
    }

    &,
    &-left
    {
        padding-left: 20rem;
    }

    &,
    &-right
    {
        padding-right: 20rem;
    }

    &,
    &-bottom
    {
        padding-bottom: 20rem;
    }
}

/// Modifier class that applies the medium padding.
.padding-medium
{
    &,
    &-top
    {
        padding-top: 16rem;
    }

    &,
    &-left
    {
        padding-left: 16rem;
    }

    &,
    &-right
    {
        padding-right: 16rem;
    }

    &,
    &-bottom
    {
        padding-bottom: 16rem;
    }
}

/// Modifier class that applies the small padding.
.padding-small
{
    &,
    &-top
    {
        padding-top: 12rem;
    }

    &,
    &-left
    {
        padding-left: 12rem;
    }

    &,
    &-right
    {
        padding-right: 12rem;
    }

    &,
    &-bottom
    {
        padding-bottom: 12rem;
    }
}
