@import "resources/index";

page-tab-nav
{
    /// The color of the surface of the component.
    /// Note: This should be customized for each theme surface.
    --tab-surface-color: transparent;
    --tab-surface-color--active: var(--surface-neutral-surface-color);

    /// The color of the text on the surface of the component.
    /// Note: This should be customized for each theme surface.
    --tab-surface-text-color: var(--surface-neutral-text-color);
    --tab-surface-text-color--active: var(--surface-neutral-text-color);

    page-tab
    {
        display: flex;
        position: relative;
        cursor: pointer;
        align-items: center;
        height: 40rem;
        padding: 0 16rem;
        border-top-left-radius: var(--tab-nav-border-radius);
        border-top-right-radius: var(--tab-nav-border-radius);
        border: var(--tab-nav-border-width) solid var(--tab-nav-border-color);
        margin-bottom: calc(-1 * var(--tab-nav-border-width));
        background-color: var(--tab-surface-color);

        &:not(:first-child)
        {
            margin-left: 4rem;
        }

        &.--active
        {
            background: var(--tab-surface-color--active);
            color: var(--tab-surface-text-color--active);
            cursor: initial;
        }

        &:focus-within
        {
            // Increase the z-index, so the focus outline is
            // not covered by other tabs.
            z-index: 1;
        }

        &.--invalid
        {
            // Use negative accent color if the tab is invalid.
            // Note that this will be overridden if the tab is active.
            color: var(--surface-negative-text-color);
        }

        &.--disabled
        {
            // Reduce opacity when disabled.
            opacity: var(--opacity-disabled);
        }

        .page-tab-buttons
        {
            display: flex;
            margin-left: auto;

            button
            {
                margin-left: var(--size-inline-spacing-large);
            }
        }

        &:not(.--active) .page-tab-buttons
        {
            visibility: hidden;
        }
    }
}
