@import "resources/index";

page-tab-nav
{
    /// The width of the border of the component.
    --tab-nav-border-width: var(--border-width-medium);

    /// The radius of the border of the component.
    --tab-nav-border-radius: var(--border-radius-medium);

    /// The color of the border of the component.
    --tab-nav-border-color: var(--surface-neutral-border-color);

    // Use horizontal flex layout.
    display: flex;

    // Set the text color and font weight.
    color: var(--surface-neutral-text-color);
    font-weight: 500;

    position: relative;
    padding: 0 36rem;
    overflow-y: hidden !important;
    overflow-x: auto !important;

    &::before
    {
        content: "";
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        border-bottom: var(--tab-nav-border-width) solid var(--tab-nav-border-color);
    }

    .page-tab-nav-add-button
    {
        margin-bottom: calc(var(--tab-nav-border-width) * -1);
        min-width: max-content;
        height: 40rem;
        color: var(--surface-primary-text-color) !important;

        &:not(:first-child)
        {
            padding-left: 16rem;
        }

        dropdown
        {
            font-weight: var(--font-base-font-weight);
        }
    }
}
