@import "resources/index";


page-tab-nav
{
    /// The width of the border of the component.
    --tab-nav-border-width: var(--border-width-medium);

    /// The radius of the border of the component.
    --tab-nav-border-radius: var(--border-radius-medium);

    /// The color of the border of the component.
    --tab-nav-border-color: var(--palette-color-neutral-light);

    /// The color of the border of the component.
    --tab-surface-color--active: var(--palette-color-neutral-light);

    // Use horizontal flex layout.
    display: flex;

    // Set the text color and font weight.
    color: var(--surface-primary-text-color);
    font-weight: 500;

    padding: 0 36rem;
    border-bottom: var(--tab-nav-border-width) solid var(--tab-nav-border-color);
    overflow-y: hidden !important;
    overflow-x: auto !important;

    .page-tab-nav-add-button
    {
        margin-right: var(--size-inline-spacing-larger);
        margin-bottom: calc(var(--tab-nav-border-width) * -1);
        min-width: max-content;
        height: 40rem;

        &:not(:first-child)
        {
            margin-left: var(--size-inline-spacing-larger);
        }
    }
}
