////
/// @group framework/typography/margin
////

/// Classes affecting the margin of elements.
$__summary: comment;

@import "base/resources/index";


/// Applies the margin defined by the current font class to the element.
.margin
{
    &, &-top
    {
        margin-top: var(--font-current-margin-top);
    }

    &, &-bottom
    {
        margin-bottom: var(--font-current-margin-bottom);
    }
}

/// Applies the default margins to any descendent element that supports it.
/// Use in situations where all content of an element should be spaced using the default margins,
/// as an alternative to applying the `margin` class everywhere.
.margin-within
{
    @include mark-empty;
}
