<template class="${expanded ? '--expanded' : ''}" surface="card">

    <require from="./order-accordion.scss"></require>

    <div class="order-accordion-header ${model.colli.length > 0 ? '--clickable' : ''}" click.trigger="onHeaderClick($event, order)">

        <div class="order-accordion-header-content">

            <div class="flex-row">
                <icon if.bind="hasProblems" name="warning" accent="negative" class="font-large line-height-1 margin-right"></icon>
                <a href="/orders/details/${model.orderSlug}" class="text-truncate" click.trigger="onOrderSlugClick(order)">
                    ${model.orderSlug}
                </a>
            </div>

            <div class="text-align-right">
                <!-- TODO: # kg -->
            </div>

            <div class="text-align-right">
                <!-- TODO: # m³ -->
            </div>

            <div class="text-align-right">
                ${model.colli.length | number} ${model.colli.length | plural: "collo" : "colli"}
            </div>

        </div>

        <icon if.bind="model.colli.length > 0" class="order-accordion-header-toggle" name="md-expand-${expanded ? 'less' : 'more'}" accent="primary"></icon>

    </div>

    <div if.bind="expanded" class="order-accordion-content ${showAllColli ? '--expanded' : ''}">

        <data-table appearance="rows">

            <data-table-headers>

                <data-table-cell>
                    <span class="opacity-faded text-truncate font-small" translate>
                        Collo barcode
                    </span>
                </data-table-cell>

                <data-table-cell>
                    <span if.bind="model.consignor != null" class="opacity-faded text-truncate font-small" translate>
                        Scan method
                    </span>
                </data-table-cell>

                <data-table-cell>
                    <span if.bind="model.consignor != null" class="opacity-faded text-truncate font-small" translate>
                        Picture
                    </span>
                </data-table-cell>

                <data-table-cell>
                    <span class="opacity-faded text-truncate font-small" translate>
                        Status
                    </span>
                </data-table-cell>

            </data-table-headers>

            <template repeat.for="collo of model.colli">

                <data-table-row model.bind="collo" clickable.bind="false">

                    <data-table-cell>
                        <icon if.bind="collo.status.accent == 'negative'" name="warning" accent="negative" class="font-large line-height-1 margin-right"></icon>
                        <a
                            class="order-collo text-truncate font-small"
                            title="${collo.barcode}"
                            href="/orders/details/${model.orderSlug}?collo=${collo.barcode}" target="_blank">
                            ${collo.barcode}
                        </a>
                        <div if.bind="collo.origin.slug != 'regular'" class="opacity-faded font-small collo-origin">
                            ${collo.origin.name}
                        </div>
                    </data-table-cell>

                    <data-table-cell>
                        <span if.bind="model.consignor != null" class="order-collo text-truncate font-small">
                            ${collo.scanMethod.name}
                        </span>
                    </data-table-cell>

                    <data-table-cell>
                        <a if.bind="model.consignor != null && collo.scanImageUrl" href.bind="collo.scanImageUrl" target="_blank" class="flex-grow">
                            <icon name="picture-small" accent="primary" class="font-larger"></icon>
                        </a>
                    </data-table-cell>

                    <data-table-cell>
                        <span class="text-truncate font-small">
                            ${collo.status.name}
                        </span>
                    </data-table-cell>

                </data-table-row>

            </template>

        </data-table>

        <a if.bind="model.colli.length > 3" class="order-accordion-table-toggle font-small" click.trigger="onShowAllColliToggle()">

            <span if.bind="showAllColli" translate>
                Show less
            </span>

            <span if.bind="!showAllColli" translate>
                Show all
            </span>

        </a>

    </div>

</template>
