<template>

    <require from="./details.scss"></require>
    <require from="./modules/general/general"></require>
    <require from="./modules/stops/stops"></require>
    <require from="./modules/schedules/schedules"></require>

    <page name="templates-details" validation validation.ref="validation">

        <page-content scroll>

            <page-header scroll-fade>

                <h1 class="font-largest margin-bottom">
                    <path-nav>

                        <a accent="inherit" href="/routes" translate>
                            Routes
                        </a>

                        <a accent="inherit" href="/routes/templates/list" translate>
                            Templates
                        </a>

                        <span if.bind="template && !template.id" translate>
                            New template
                        </span>

                        <span if.bind="template && template.id">
                            ${originalReference}
                        </span>

                    </path-nav>
                </h1>

                <toolbar>

                    <tab-nav appearance="solid" value.bind="tab">

                        <tab name="general" invalid.bind="generalValidation.invalid" translate>
                            General
                        </tab>

                        <tab name="stops" translate>
                            Stops
                        </tab>

                        <tab name="schedules" translate>
                            Schedules
                        </tab>

                    </tab-nav>

                    <div class="flex-push-right control-row">

                        <button if.bind="template && template.id" appearance="outline" accent="primary" click.trigger="onDeleteClick()" translate>
                            Delete template
                        </button>

                        <button if.bind="template && !template.id && tab === 'general'" appearance="solid" accent="primary" click.trigger="onSaveClick()" translate>
                            Create template
                        </button>

                        <button if.bind="template && template.id && tab === 'general'" appearance="solid" accent="primary" click.trigger="onSaveClick()" translate>
                            Save template
                        </button>

                    </div>

                </toolbar>

            </page-header>

            <general
                show.bind="tab === 'general'"
                template.bind="template"
                validation
                validation.ref="generalValidation">
            </general>

            <stops
                show.bind="tab === 'stops'"
                template.bind="template">
            </stops>

            <schedules
                show.bind="tab === 'schedules'"
                template.bind="template">
            </schedules>

        </page-content>

    </page>

</template>
