@import "resources/index";

page[name="routes"] page[name="templates-details"]
{
    .route-template-details-column
    {
        &:nth-child(1)
        {
            flex-basis: 35%;
        }

        &:nth-child(2)
        {
            flex-basis: 65%;
        }
    }

    .route-template-stop-number
    {
        border-radius: 50%;
        width: 9rem;
        line-height: 9rem;
        text-align: center;
        color: var(--surface-color);
        background: gray;
    }

    /* TODO: Do we want this?
    .data-table-row:not(:last-child)
    {
        .route-template-stop-number::before
        {
            content: "";
            width: 1rem;
            height: 13rem;
            background: gray;
            display: block;
            position: fixed;
            margin: 8rem 4rem;
            z-index: 1;
            opacity: .7;
        }
    }
    */

    data-table
    {
        --data-table-columns: 20rem 1fr 0.5fr 1fr 0.75fr 0.4fr 0.7fr 0.42fr;
    }

    .route-recurrence-section
    {
        check-toggle
        {
            width: 40rem;
        }

        .control-row
        {
            &.--all-days > check-toggle,
            &.--all-days > span
            {
                margin-top: 6.75rem;
            }

            > span
            {
                line-height: 10rem;
            }
        }
    }
}
