<template>

    <require from="./details.scss"></require>

    <page name="templates-details" validation validation.ref="validation">

        <page-content scroll>

            <page-header scroll-fade class="flex-row">

                <h1 class="font-largest">
                    <path-nav>

                        <a accent="inherit" href="/routes" translate>
                            Routes
                        </a>

                        <a accent="inherit" href="/routes/templates/list" translate>
                            Templates
                        </a>

                        <span if.bind="template && !template.id" translate>
                            New template
                        </span>

                        <span if.bind="template && template.id">
                            ${originalReference}
                        </span>

                    </path-nav>
                </h1>

                <toolbar class="flex-push-right">

                    <button if.bind="template && template.id" appearance="solid" accent="neutral" click.trigger="onDeleteClick()" translate>
                        Delete template
                    </button>

                    <button if.bind="template && !template.id" appearance="solid" accent="primary" click.trigger="onCreateClick()" translate>
                        Create template
                    </button>

                    <button if.bind="template && template.id" appearance="solid" accent="primary" click.trigger="onSaveClick()" translate>
                        Save template
                    </button>

                </toolbar>

            </page-header>

            <div class="flex-row">

                <div class="route-template-details-column">

                    <page-section>

                        <h2 class="font-larger margin-bottom" translate>
                            Route information
                        </h2>

                        <div class="control-row margin-large-bottom">

                            <text-input label="above" class="flex-grow" value.bind="template.reference">

                                <div slot="heading" translate>
                                    Route reference
                                </div>

                                <div slot="validation">

                                    <required-validator
                                        value.bind="template.reference">
                                    </required-validator>

                                </div>

                            </text-input>

                            <select-input
                                label="above"
                                class="flex-grow"
                                value.bind="template.consignor"
                                display-value.bind="template.consignor.primaryName"
                                none.bind="false"
                                filter="auto">

                                <div slot="heading" translate>
                                    Consignor
                                </div>

                                <item repeat.for="consignor of consignors" model.bind="consignor">
                                    ${consignor.primaryName}
                                </item>

                                <div slot="validation">

                                    <required-validator
                                        value.bind="template.consignor">
                                    </required-validator>

                                </div>

                            </select-input>

                        </div>

                        <div class="control-row margin-large-bottom">

                            <select-input
                                label="above"
                                class="flex-grow"
                                value.bind="template.routeCreationTime"
                                display-value.translate="${template.routeCreationTime} ${template.routeCreationTime | plural: 'day in advance' : 'days in advance'}"
                                none.bind="false"
                                filter="auto">

                                <div slot="heading" translate>
                                    Route creation time
                                </div>

                                <item model.bind="1" translate>
                                    1 day in advance
                                </item>

                                <item model.bind="7" translate>
                                    7 days in advance
                                </item>

                                <item model.bind="30" translate>
                                    30 days in advance
                                </item>

                                <div slot="validation">

                                    <required-validator
                                        value.bind="template.routeCreationTime">
                                    </required-validator>

                                </div>

                            </select-input>

                            <number-input label="above" class="flex-grow" value.bind="template.price.amount">

                                <div slot="heading" translate>
                                    Price ex. VAT
                                </div>

                                <span slot="after" class="opacity-faded">
                                    ${template.price.currencyCode}
                                </span>

                            </number-input>

                        </div>

                        <div class="control-row margin-large-bottom">

                            <date-input label="above" class="flex-grow" value.bind="template.startDateTime" max.bind="template.endDateTime" max-inclusive.bind="false">

                                <div slot="heading" translate>
                                    Recurrence start
                                </div>

                                <div slot="validation">

                                    <required-validator
                                        value.bind="template.startDateTime">
                                    </required-validator>

                                    <range-validator
                                        value.bind="template.startDateTime"
                                        max.bind="template.endDateTime"
                                        max-inclusive.bind="false">

                                        <template replace-part="invalid-max" translate>
                                            Please choose a time before the end time.
                                        </template>

                                    </range-validator>

                                </div>

                            </date-input>

                            <date-input label="above" class="flex-grow" value.bind="template.endDateTime" min.bind="template.startDateTime" min-inclusive.bind="false">

                                <div slot="heading" translate>
                                    Recurrence end
                                </div>

                                <div slot="validation">

                                    <range-validator
                                        value.bind="template.endDateTime"
                                        min.bind="template.startDateTime"
                                        min-inclusive.bind="false">

                                        <template replace-part="invalid-max" translate>
                                            Please choose a time after the start time.
                                        </template>

                                    </range-validator>

                                </div>

                            </date-input>

                        </div>

                        <text-input label="above" lines.bind="3" value.bind="template.instructions">

                            <div slot="heading" translate>
                                Instructions
                            </div>

                        </text-input>

                    </page-section>

                    <page-section class="route-recurrence-section">

                        <h2 class="font-larger margin-bottom" translate>
                            Route recurrence
                        </h2>

                        <div class="control-row margin-large-bottom --all-days">

                            <check-toggle label="after" value.bind="allDays.enabled" change.trigger="onAllDaysRecurrenceChanged('enabled')">

                                <div slot="heading" translate>
                                    All days
                                </div>

                            </check-toggle>

                            <select-input
                                label="above"
                                value.bind="allDays.driver"
                                display-value.bind="allDays.driver.name"
                                none.bind="false"
                                change.trigger="onAllDaysRecurrenceChanged('driver')"
                                class="flex-grow">

                                <div slot="heading" translate>
                                    Driver
                                </div>

                                <item repeat.for="driver of drivers" model.bind="driver">
                                    ${driver.name}
                                </item>

                            </select-input>

                            <span translate>or</span>

                            <select-input
                                label="above"
                                value.bind="allDays.status"
                                display-value.bind="allDays.status.name"
                                none.bind="false"
                                change.trigger="onAllDaysRecurrenceChanged('status')"
                                class="flex-grow">

                                <div slot="heading" translate>
                                    Status
                                </div>

                                <item repeat.for="status of statuses" model.bind="status">
                                    ${status.name}
                                </item>

                            </select-input>

                        </div>

                        <hr class="hr-line margin-large-bottom">

                        <div repeat.for="i of 7" class="control-row margin-bottom">

                            <check-toggle
                                label="after"
                                value.bind="template.recurrence[i].enabled"
                                change.trigger="onWeekdayRecurrenceChanged(template.recurrence[i], 'enabled')">

                                <div slot="heading">
                                    ${i + 1 | weekday}
                                </div>

                            </check-toggle>

                            <select-input
                                disabled.bind="!template.recurrence[i].enabled"
                                none.bind="false"
                                value.bind="template.recurrence[i].driver"
                                display-value.bind="template.recurrence[i].driver.name"
                                change.trigger="onWeekdayRecurrenceChanged(template.recurrence[i], 'driver')"
                                class="flex-grow">

                                <item repeat.for="driver of drivers" model.bind="driver">
                                    ${driver.name}
                                </item>

                            </select-input>

                            <span translate>or</span>

                            <select-input
                                disabled.bind="!template.recurrence[i].enabled"
                                none.bind="false"
                                value.bind="template.recurrence[i].status"
                                display-value.bind="template.recurrence[i].status.name"
                                change.trigger="onWeekdayRecurrenceChanged(template.recurrence[i], 'status')"
                                class="flex-grow">

                                <item repeat.for="status of statuses" model.bind="status">
                                    ${status.name}
                                </item>

                            </select-input>

                        </div>

                    </page-section>

                </div>

                <div class="route-template-details-column">

                    <page-section>

                        <h2 class="font-larger margin-bottom" translate>
                            Route stops
                        </h2>

                        <data-table
                            appearance="cards"
                            sorting.bind="sorting"
                            busy.bind="updateOperation.pending"
                            move.call="onMoveStop(source, target)">

                            <data-table-headers>

                                <data-table-cell>
                                    <span class="text-truncate" translate>
                                        Stop
                                    </span>
                                </data-table-cell>

                                <data-table-cell>
                                    <span class="text-truncate" translate>
                                        Address
                                    </span>
                                </data-table-cell>

                                <data-table-cell>
                                    <span class="text-truncate" translate>
                                        Type
                                    </span>
                                </data-table-cell>

                                <data-table-cell>
                                    <span class="text-truncate" translate>
                                        Consignee phone
                                    </span>
                                </data-table-cell>

                                <data-table-cell>
                                    <span class="text-truncate" translate>
                                        Requirements
                                    </span>
                                </data-table-cell>

                                <data-table-cell align="right">
                                    <span class="text-truncate" translate>
                                        Port
                                    </span>
                                </data-table-cell>

                                <data-table-cell>
                                    <span class="text-truncate" translate>
                                        Arrival time
                                    </span>
                                </data-table-cell>

                                <data-table-cell align="right">
                                    <!-- Icons -->
                                </data-table-cell>

                            </data-table-headers>

                            <data-table-row repeat.for="stop of template.stops" model.bind="stop">

                                <data-table-cell>
                                    <div class="route-template-stop-number">
                                        ${$index + 1}
                                    </div>
                                </data-table-cell>

                                <data-table-cell>
                                    <span class="text-truncate">
                                        ${stop.location.address}
                                    </span>
                                </data-table-cell>

                                <data-table-cell>
                                    <span class="text-truncate">
                                        ${stop.type.name}
                                    </span>
                                </data-table-cell>

                                <data-table-cell>
                                    <span class="text-truncate">
                                        ${stop.consignee.contactPhone}
                                    </span>
                                </data-table-cell>

                                <data-table-cell>
                                    <span class="text-truncate">
                                        ${stop.activeRequirementNames | list: 'short' : 'unit'}
                                    </span>
                                </data-table-cell>

                                <data-table-cell align="right">
                                    <span class="text-truncate">
                                        ${stop.port}
                                    </span>
                                </data-table-cell>

                                <data-table-cell>
                                    <span class="text-truncate">
                                        ${stop.arrivalTimeFrame | timeRange}
                                    </span>
                                </data-table-cell>

                                <data-table-cell align="right">

                                    <div class="icon-row">

                                        <button appearance="none" accent="primary" click.trigger="onEditStopClick(stop)">
                                            <icon name="md-edit"></icon>
                                        </button>

                                        <button appearance="none" accent="primary" click.trigger="onRemoveStopClick($index)">
                                            <icon name="md-delete"></icon>
                                        </button>

                                    </div>

                                </data-table-cell>

                            </data-table-row>

                        </data-table>

                        <div if.bind="hasInvalidStopCount || hasInvalidFirstStop || hasInvalidLastStop || hasInvalidReturnStop" class="font-small margin-top">

                            <custom-validator
                                valid.bind="!hasInvalidStopCount">

                                <template replace-part="invalid" translate>
                                    The route must have at least two stops.
                                </template>

                            </custom-validator>

                            <custom-validator
                                valid.bind="!hasInvalidFirstStop || hasInvalidStopCount">

                                <template replace-part="invalid" translate>
                                    The first stop must be a pickup stop.
                                </template>

                            </custom-validator>

                            <custom-validator
                                valid.bind="!hasInvalidLastStop || hasInvalidStopCount">

                                <template replace-part="invalid" translate>
                                    The last stop cannot be a pickup stop.
                                </template>

                            </custom-validator>

                            <custom-validator
                                valid.bind="!hasInvalidReturnStop || hasInvalidStopCount">

                                <template replace-part="invalid" translate>
                                    Only the last stop can be a return stop.
                                </template>

                            </custom-validator>

                        </div>

                        <empty-indicator if.bind="template.stops.length == 0" class="margin-large-top" translate>
                            No stops
                        </empty-indicator>

                        <button
                            if.bind="template.stops != null"
                            appearance="outline"
                            accent="primary"
                            class="margin-large-top"
                            click.trigger="onAddStopClick()">
                            <icon name="md-add" class="font-larger line-height-1">
                        </button>

                    </page-section>

                </div>

            </div>

        </page-content>

    </page>

</template>
