@import "shared/src/webKit/constants.scss";

.c-fulfillerKpi {
  display: flex;
  flex-direction: column;
  background-color: var(--surface-color);

  .c-fulfillerKpi-tableSkeleton-bone {
    animation: animation-skeleton 2s ease-in-out 0s infinite normal none running;
    opacity: 0.5;
  }

  .c-fulfillerKpi-actionContainer {
    display: flex;
    padding-left: 0;

    .c-fulfillerKpi-actionSkeletonBig {
      height: 42px;
      background-color: var(--colorNeutralExtraLight);
      border-radius: $borderRadius;
      width: 487px;
      margin-right: 18px;
    }

    .c-fulfillerKpi-actionSkeletonSmall {
      height: 42px;
      background-color: var(--colorNeutralExtraLight);
      border-radius: $borderRadius;
      width: 173px;
    }

    .c-fulfillerKpi-formatToggle {
      margin-right: 30px;
      display: flex;

      .c-fulfillerKpi-formatToggle-format {
        height: 42px;
        width: 42px;
        background-color: var(--surface-color);
        border: 1px solid var(--colorNeutralLight);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: $borderRadius;
        cursor: pointer;
        transition: background-color 120ms, color 120ms, border-color 120ms;

        &:not(:last-child) {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        &:not(:first-child) {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }

        &.active {
          background-color: var(--colorNeutralLight);
          border-color: var(--colorNeutralLight);
        }
      }
    }

    .c-fulfillerKpi-dateComponent {
      margin-right: 15px;
      width: 280px;
    }
  }

  .c-fulfillerKpi-tableOutercontainer {
    padding: 40px 0 0 0;

    .c-fulfillerKpi-tableSkeleton {
      display: flex;
      justify-content: space-between;
      flex-flow: wrap;

      .c-fulfillerKpi-tableSkeleton-bone {
        width: calc((100% - 3 * 40px) / 4);
        margin-bottom: 20px;
        height: 20px;
        border-radius: $borderRadius;
        background-color: var(--colorNeutralExtraLight);
      }
    }

    .c-fulfillerKpi-table {
      display: grid;
      grid-template-columns: repeat(11, auto);
      border-bottom: 1px solid var(--colorNeutralLight);
      border-left: 1px solid var(--colorNeutralLight);
      border-right: 1px solid var(--colorNeutralLight);

      .c-fulfillerKpi-kpiColumn {
        grid-row-gap: 0;
        padding: 8px 22px;
        min-height: 36px;
        display: flex;
        align-items: center;
        transition: background-color 150ms;
        justify-content: flex-end;

        &:nth-last-child(-n + 11) {
          height: 63px;
          padding-bottom: 28px;
        }

        &:nth-child(11n + 3) {
          padding-left: 45px;
        }

        &:not(.c-fulfillerKpi-kpiColumn-head) {
          &:nth-child(11n + 2) {
            background-color: var(--legacy-card-surface-color, var(--colorNeutralExtraLight));
            border-left: 1px solid var(--colorNeutralLight);
            border-right: 1px solid var(--colorNeutralLight);
            text-align: center;
          }

          &:not(:nth-child(11n + 2)) {
            &.hoveredX {
              background-color: var(--colorNeutralExtraExtraLight);
            }

            &.hoveredY {
              background-color: var(--colorNeutralLight);
            }
          }
        }

        &.c-fulfillerKpi-kpiColumn-head {
          border-top: 1px solid var(--colorNeutralLight);
          border-bottom: 1px solid var(--colorNeutralLight);
          color: var(--surface-subtle-color, var(--colorNeutralRegularDarken));
        }

        &.c-fulfillerKpi-kpiGroupHeadline,
        &.c-fulfillerKpi-kpiRowHeadline {
          justify-content: initial;
        }

        &.c-fulfillerKpi-kpiGroupHeadline {
          min-height: 46px;
          padding-top: 20px;
          font-weight: 600;
          border-bottom: 1px solid var(--colorNeutralLight);

          &.--collapsed
          {
            visibility: hidden;
            height: 0;
            padding: 0;
            min-height: 0;
            border-bottom: none;
          }
        }
      }
    }
  }
}
@keyframes animation-skeleton {
  0% {
    background-color: var(--surface-neutral-surface-color);
  }

  50% {
    background-color: transparent;
  }

  100% {
    background-color: var(--surface-neutral-surface-color);
  }
}
