body
{
    // TODO: What about hover and focused states?

    /// The padding of the component.
    /// The default is chosen so the tag fits within an input control.
    --tag-padding: 1rem 1.75rem;

    /// The width of the border of the component.
    --tag-border-width: var(--border-width-thin);

    /// The radius of the border of the component.
    --tag-border-radius: var(--border-radius-small);
}

tag
{
    /// The color of the border of the component.
    /// NOTE: This should be customized for each theme surface.
    --tag-border-color: var(--surface-input-surface-tag-border-color);

    /// The color of the surface of the component.
    /// NOTE: This should be customized for each theme surface.
    --tag-surface-color: var(--surface-input-surface-tag-surface-color);

    /// The color of text on the surface of the component.
    /// NOTE: This should be customized for each theme surface.
    --tag-surface-text-color: var(--surface-input-surface-tag-surface-text-color);

    /// The color of icons on the surface of the component.
    /// NOTE: This should be customized for each theme surface.
    --tag-surface-icon-color: var(--surface-input-surface-tag-surface-icon-color);
    --tag-surface-icon-color--hover: var(--surface-input-surface-tag-surface-icon-color--hover);
}

tag
{
    // Use Horizontal flex layout.
    display: flex;
    align-items: center;

    // Apply margin between tags, if placed within a tag-input.
    tags-input &
    {
        margin-top: 1rem;

        &:not(:last-child)
        {
            margin-right: 1rem;
        }
    }

    // Apply padding.
    padding: var(--tag-padding);

    // Truncate text content with an ellipsis.
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    // Apply a border around the component.
    border: var(--tag-border-width) solid;
    border-radius: var(--tag-border-radius);

    // Apply component style.
    border-color: var(--tag-border-color);
    background: var(--tag-surface-color);
    color: var(--tag-surface-text-color);

    .tag-remove
    {
        // Use Horizontal flex layout.
        display: flex;
        align-items: center;

        // Push to the right.
        margin-left: auto;
    }

    icon
    {
        margin-left: var(--size-inline-spacing);
        color: var(--tag-surface-icon-color);
        cursor: pointer;

        &:hover
        {
            color: var(--tag-surface-icon-color--hover);
        }
    }
}
