$listItemBorderRadius: 3px;
$opacityDisabled: .3;
$formWidth: 500px;
$formWidthWide: 850px;

$dropdownShadow: 0 0 20px 0 rgba(0, 0, 0, .2);

//Colors
$colorHighlightWhite: rgba(white, 0.2);
$colorHighlightDark: rgba(black, 0.1);

//Font weights
$fontExtraLight: 200;
$fontLight: 300;
$fontRegular: 400;
$fontSemibold: 600;
$fontBold: 700;
//Media breaks
$mediaSmallPhone: 375px;
$mediaIpadV: 768px;
$mediaIpadH: 1024px;
$mediaSmall: 1280px;
$mediaMedium: 1440px;
$mediaBig: 2100px;
//Backoffice menu width
$backofficeMenuSmall: 80px;
$backofficeMenuBig: 260px;
$backofficeTopMenu: 55px;
$websiteTopMenu: 60px;
$backofficeSidePadding: 30px;
$backofficeSidePaddingMobile: 10px;
$backofficePageHeader: 128px;
$backofficePageHeaderMobile: 80px;
$websiteAppPromotion: 80px;
$websiteFooter: 350px;
$backofficeSummaryMediaBig: 440px;
$backofficeSummaryMediaSmall: 340px;

$inputHeadlineMargin: 5px;
$heightInputSmall: 40px;
$heightInputMedium: 42px;
$heightInputLarge: 52px;
$borderRadius: 4px;

//Mixins
@mixin ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin verticalMid() {
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}
@mixin horizontalMid() {
  left: 50%;
  transform: perspective(1px) translateX(-50%);
}
@mixin centered() {
  top: 50%;
  left: 50%;
  transform: perspective(1px) translateY(-50%) translateX(-50%);
}
@mixin justified() {
  text-justify: distribute;
  text-align: justify;
  text-justify: distribute-all-lines;

  &:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
  }
}
@mixin border-radius($radius) {
  border-radius: $radius;
}
@mixin no-select() {
  user-select: none;
}
@mixin box-shadow($value) {
  box-shadow: $value;
}
@mixin backgroundOpacity($color, $opacity) {
  background-color: rgba($color, $opacity);
}
