@import "fonts";
@import "hacks.scss";
@import "constants.scss";
@import "./dropdown/dropdown.scss";

$fontSizeREM: 16;
$applicationFadeIn: 0.62s;
$modalFadeIn: 0.25s;
@mixin calcREM($value) {
  font-size: calc($value/$fontSizeREM) rem;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: white;
  color: var(--textDarkPrimary);
  font-weight: $fontRegular;
  font-size: 14px;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  transition: opacity 300ms;

  &.bodyBackOffice {
    overflow-x: visible;
  }
}

body.modal-open {
  overflow: hidden;
  height: 100vh;
}

.hidden {
  display: block;
}

img {
  vertical-align: middle;
}

span {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
}

#root {
  min-height: 100%;
}

.hdpi.pac-logo:after,
.pac-container:after {
  // Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown
  background-image: none !important;
  height: 0;
  padding: 0;
}

[name="google_conversion_frame"] {
  position: absolute;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans", HelveticaNeue, sans-serif;
  position: relative;
  background-color: transparent;
}

button {
  border: 0;

  &:active,
  &:focus {
    outline: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
h7,
h8,
h9,
input,
label,
li,
ol,
p,
ul {
  padding: 0;
  margin: 0;
  font-weight: $fontRegular;
}

ul {
  list-style-type: none;
}

button,
input,
select,
textarea {
  font-size: inherit;
}

input:active,
input:focus,
select:active,
select:focus {
  outline: 0;
}

input,
select {
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  @include ellipsis();
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

b,
strong {
  font-weight: $fontSemibold;
}

textarea,
textarea:focus {
  resize: none;
  border: 0;
  display: inline-block;
  padding: 0;
  outline: 0;
}

input,
textarea {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
// Firefox fix
input:required,
textarea:required {
  box-shadow: none;
}

input:invalid,
textarea:invalid {
  box-shadow: none;
}

iframe {
  border: 0;
}

a,
a:active,
a:focus,
a:hover,
a:visited {
  text-decoration: none;
  font-size: inherit;
  font-weight: inherit;
  outline: 0;
  line-height: inherit;
}

a[href^="tel:"] {
  text-decoration: underline;
}

kbd {
  font-family: monospace;
  color: var(--colorInteractivePrimary);
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@-ms-keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

//Typography
.headline1 {
  font-size: 36px;
  line-height: 40px;
  color: var(--textDarkPrimary);
  font-weight: $fontExtraLight;

  &:active,
  &:focus,
  &:hover {
    font-size: 36px;
    color: var(--textDarkPrimary);
    font-weight: $fontExtraLight;
  }
}

.headline2 {
  font-size: 20px;
  line-height: 24px;
  color: var(--textDarkPrimary);
  font-weight: $fontRegular;

  &:active,
  &:focus,
  &:hover {
    font-size: 20px;
    color: var(--textDarkPrimary);
    font-weight: $fontRegular;
  }
}

.headline3 {
  font-size: 16px;
  line-height: 20px;
  color: var(--textDarkInactive);
  font-weight: $fontRegular;
  font-style: italic;

  &:active,
  &:focus,
  &:hover {
    font-size: 16px;
    color: var(--textDarkInactive);
    font-weight: $fontRegular;
    font-style: italic;
  }
}

.headline4 {
  font-size: 20px;
  line-height: 24px;
  color: var(--textDarkPrimary);
  font-weight: $fontLight;
  font-style: italic;

  .headline4:active,
  .headline4:focus,
  .headline4:hover {
    font-size: 20px;
    color: var(--textDarkPrimary);
    font-weight: $fontLight;
    font-style: italic;
  }
}

.paragraph1 {
  font-size: 16px;
  line-height: 20px;
  color: var(--textDarkSecondary);
  font-weight: $fontRegular;

  &:active,
  &:focus,
  &:hover {
    font-size: 16px;
    color: var(--textDarkSecondary);
    font-weight: $fontRegular;
  }
}

.paragraph2 {
  font-size: 13px;
  line-height: 16px;
  color: var(--textDarkSecondary);
  font-weight: $fontRegular;

  &:active,
  &:focus,
  &:hover {
    font-size: 13px;
    color: var(--textDarkSecondary);
    font-weight: $fontRegular;
  }
}

.label1 {
  font-size: 13px;
  line-height: 16px;
  color: var(--textDarkInactive);
  font-weight: $fontRegular;

  &:active,
  &:focus,
  &:hover {
    font-size: 13px;
    color: var(--textDarkInactive);
    font-weight: $fontRegular;
  }
}

.label2 {
  font-size: 13px;
  line-height: 16px;
  color: var(--textDarkPrimary);
  font-weight: $fontSemibold;

  &:active,
  &:focus,
  &:hover {
    font-size: 13px;
    color: var(--textDarkPrimary);
    font-weight: $fontSemibold;
  }
}

.cta1 {
  font-size: 16px;
  line-height: 20px;
  font-weight: $fontSemibold;

  &:active,
  &:focus,
  &:hover {
    font-size: 16px;
    font-weight: $fontSemibold;
  }
}

.cta2 {
  font-size: 16px;
  line-height: 20px;
  font-weight: $fontRegular;
  font-style: underline;

  &:active,
  &:focus,
  &:hover {
    font-size: 16px;
    font-weight: $fontRegular;
    font-style: underline;
  }
}

.cta3 {
  font-size: 13px;
  line-height: 16px;
  font-weight: $fontSemibold;
  text-decoration: underline;

  &:active,
  &:focus,
  &:hover {
    font-size: 13px;
    font-weight: $fontSemibold;
    text-decoration: underline;
  }
}

.cta4 {
  font-size: 13px;
  line-height: 16px;
  font-weight: $fontSemibold;

  &:active,
  &:focus,
  &:hover {
    font-size: 13px;
    font-weight: $fontSemibold;
  }
}

.globalNavigation {
  font-size: 14px;
  line-height: 20px;
  color: var(--textDarkPrimary);
  font-weight: $fontSemibold;
  text-transform: uppercase;

  &:active,
  &:focus,
  &:hover {
    font-size: 14px;
    color: var(--textDarkPrimary);
    font-weight: $fontSemibold;
    text-transform: uppercase;
  }
}

.inputHint {
  font-size: 14px;
  line-height: 20px;
  color: var(--textDarkInactive);
  font-weight: $fontRegular;

  &:active,
  &:focus,
  &:hover {
    font-size: 14px;
    color: var(--textDarkInactive);
    font-weight: $fontRegular;
  }
}

.inputDefault {
  font-size: 14px;
  line-height: 20px;
  color: var(--textDarkPrimary);
  font-weight: $fontRegular;

  &:active,
  &:focus,
  &:hover {
    font-size: 14px;
    color: var(--textDarkPrimary);
    font-weight: $fontRegular;
  }
}

.list1 {
  font-size: 11px;
  line-height: 13px;
  color: var(--textDarkPrimary);
  font-weight: $fontRegular;

  &:active,
  &:focus,
  &:hover {
    font-size: 11px;
    color: var(--textDarkPrimary);
    font-weight: $fontRegular;
  }
}

.list2 {
  font-size: 11px;
  line-height: 13px;
  color: var(--textDarkInactive);
  font-weight: $fontRegular;

  &:active,
  &:focus,
  &:hover {
    font-size: 11px;
    color: var(--textDarkInactive);
    font-weight: $fontRegular;
  }
}

.h1 {
  line-height: 49px;
  font-size: 36px;
}

.h2 {
  line-height: 27px;
  font-size: 20px;
}

.h3 {
  line-height: 22px;
  font-size: 16px;
}

.h4 {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 22px;
  color: var(--textDarkSecondary);
  font-weight: $fontBold;
}

.h5 {
  text-transform: uppercase;
  font-size: 12px;
  color: var(--textDarkSecondary);
  font-weight: $fontBold;
}

.p2 {
  font-size: 12px;
}

.p3 {
  font-size: 18px;
  line-break: 24px;
}

.l1 {
  font-size: 14px;
  font-weight: $fontSemibold;

  &:active,
  &:focus,
  &:hover,
  &:visited {
    font-size: 14px;
    font-weight: $fontSemibold;
  }
}

.l2 {
  font-size: 16px;
  font-weight: $fontSemibold;

  &:active,
  &:focus,
  &:hover,
  &:visited {
    font-size: 16px;
    font-weight: $fontSemibold;
  }
}

.l3 {
  font-size: 18px;
  font-weight: $fontSemibold;

  &:active,
  &:focus,
  &:hover,
  &:visited {
    font-size: 18px;
    font-weight: $fontSemibold;
  }
}

a {
  color: var(--colorInteractivePrimary);
  cursor: pointer;

  &:active,
  &:focus,
  &:hover {
    color: var(--colorInteractivePrimaryActive);
  }
}

.inactive {
  color: var(--surface-subtle-color, var(--textDarkInactive));
}

.dark {
  color: white;
}

.active,
.dark {
  .headline1,
  .headline1:active,
  .headline1:focus,
  .headline1:hover {
    color: white;
  }

  .headline2,
  .headline2:active,
  .headline2:focus,
  .headline2:hover {
    color: white;
  }

  .headline3,
  .headline3:active,
  .headline3:focus,
  .headline3:hover {
    color: white;
  }

  .headline4,
  .headline4:active,
  .headline4:focus,
  .headline4:hover {
    color: white;
  }

  .paragraph1,
  .paragraph1:active,
  .paragraph1:focus,
  .paragraph1:hover {
    color: white;
  }

  .paragraph2,
  .paragraph2:active,
  .paragraph2:focus,
  .paragraph2:hover {
    color: white;
  }

  .label1,
  .label1:active,
  .label1:focus,
  .label1:hover {
    color: white;
  }

  .label2,
  .label2:active,
  .label2:focus,
  .label2:hover {
    color: white;
  }

  .globalNavigation,
  .globalNavigation:active,
  .globalNavigation:focus,
  .globalNavigation:hover {
    color: white;
  }

  .inputHint,
  .inputHint:active,
  .inputHint:focus,
  .inputHint:hover {
    color: var(--textLightPrimary);
  }

  .inputDefault,
  .inputDefault:active,
  .inputDefault:focus,
  .inputDefault:hover {
    color: white;
  }

  .list1,
  .list1:active,
  .list1:focus,
  .list1:hover {
    color: white;
  }

  .list2,
  .list2:active,
  .list2:focus,
  .list2:hover {
    color: rgba(255, 255, 255, 0.5);
  }
}

.cta {
  cursor: pointer;

  &:after {
    content: "";
    width: 30px;
    height: 12px;
    background-image: url("./assets/images/icons/ctaArrow.svg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: calc(100% - 8px) center;
    display: inline-block;
    transition: all 300ms;
  }

  &:hover {
    &:after {
      background-position: 100% center;
    }
  }
}

.moverWrapper {
  margin: 0 auto;
  max-width: 100%;
}

/* added to the body element when shown; prevent scrolling */
.react-router-modal__modal-open {
  overflow: hidden;
}

/* container that contains all modals and backdrops */
.react-router-modal__container {
  position: fixed;
  z-index: 1000;
}

/* backdrop shown behind each modal */
.react-router-modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.7);
}

/* wrapper element for the modal component */
.react-router-modal__modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  border: 1px solid #777;
  -webkit-animation: fade-in $modalFadeIn;
  -moz-animation: fade-in $modalFadeIn;
  -ms-animation: fade-in $modalFadeIn;
  animation: fade-in $modalFadeIn;
  border: 0;
}

.mainApplication {
  min-height: 100vh;
  -webkit-animation: fade-in $applicationFadeIn;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fade-in $applicationFadeIn;
  /* Firefox < 16 */
  -ms-animation: fade-in $applicationFadeIn;
  /* Internet Explorer */
  animation: fade-in $applicationFadeIn;
}
@media (min-width: $mediaSmall) {
  .small {
    display: none !important;
  }

  .moverWrapper {
    width: 1200px;
  }
}
@media (min-width: $mediaIpadH + 1) and (max-width: $mediaSmall - 1) {
  .small {
    display: none !important;
  }

  .moverWrapper {
    width: 100%;
    padding: 0 40px;
  }
}
// Mobile devices
@media (max-width: $mediaIpadH) {
  .big {
    display: none !important;
  }
}
@media (min-width: $mediaIpadV) and (max-width: $mediaIpadH) {
  .moverWrapper {
    width: 100%;
    padding: 0 40px;
  }

  .headline1,
  .headline1:active,
  .headline1:focus,
  .headline1:hover {
    font-size: 36px;
  }

  .headline2,
  .headline2:active,
  .headline2:focus,
  .headline2:hover {
    font-size: 20px;
  }

  .headline3,
  .headline3:active,
  .headline3:focus,
  .headline3:hover {
    font-size: 16px;
  }

  .headline4,
  .headline4:active,
  .headline4:focus,
  .headline4:hover {
    font-size: 20px;
  }

  .paragraph1,
  .paragraph1:active,
  .paragraph1:focus,
  .paragraph1:hover {
    font-size: 16px;
  }

  .paragraph2,
  .paragraph2:active,
  .paragraph2:focus,
  .paragraph2:hover {
    font-size: 13px;
  }

  .label1,
  .label1:active,
  .label1:focus,
  .label1:hover {
    font-size: 13px;
  }

  .label2,
  .label2:active,
  .label2:focus,
  .label2:hover {
    font-size: 13px;
  }

  .cta1,
  .cta1:active,
  .cta1:focus,
  .cta1:hover {
    font-size: 16px;
  }

  .cta2,
  .cta2:active,
  .cta2:focus,
  .cta2:hover {
    font-size: 16px;
  }

  .cta3,
  .cta3:active,
  .cta3:focus,
  .cta3:hover {
    font-size: 13px;
  }

  .cta4,
  .cta4:active,
  .cta4:focus,
  .cta4:hover {
    font-size: 13px;
  }

  .globalNavigation,
  .globalNavigation:active,
  .globalNavigation:focus,
  .globalNavigation:hover {
    font-size: 14px;
  }

  .inputHint,
  .inputHint:active,
  .inputHint:focus,
  .inputHint:hover {
    font-size: 14px;
  }

  .inputDefault,
  .inputDefault:active,
  .inputDefault:focus,
  .inputDefault:hover {
    font-size: 14px;
  }
}
@media (max-width: $mediaIpadV - 1) {
  .moverWrapper {
    width: 100%;
    padding: 0 24px;
  }

  .headline1 {
    font-size: 24px;
    line-height: 28px;

    &:active,
    &:focus,
    &:hover {
      font-size: 24px;
    }
  }

  .headline2 {
    font-size: 16px;
    line-height: 20px;

    &:active,
    &:focus,
    &:hover {
      font-size: 16px;
    }
  }

  .headline3 {
    font-size: 13px;
    line-height: 16px;

    &:active,
    &:focus,
    &:hover {
      font-size: 13px;
    }
  }

  .headline4 {
    font-size: 16px;
    line-height: 20px;

    &:active,
    &:focus,
    &:hover {
      font-size: 16px;
    }
  }

  .paragraph1,
  .paragraph1:active,
  .paragraph1:focus,
  .paragraph1:hover {
    font-size: 16px;
  }

  .paragraph2,
  .paragraph2:active,
  .paragraph2:focus,
  .paragraph2:hover {
    font-size: 13px;
  }

  .label1,
  .label1:active,
  .label1:focus,
  .label1:hover {
    font-size: 13px;
  }

  .label2,
  .label2:active,
  .label2:focus,
  .label2:hover {
    font-size: 13px;
  }

  .cta1 {
    font-size: 13px;
    line-height: 16px;

    &:active,
    &:focus,
    &:hover {
      font-size: 13px;
    }
  }

  .cta2 {
    font-size: 13px;
    line-height: 16px;

    &:active,
    &:focus,
    &:hover {
      font-size: 13px;
    }
  }

  .cta3,
  .cta3:active,
  .cta3:focus,
  .cta3:hover {
    font-size: 13px;
  }

  .cta4,
  .cta4:active,
  .cta4:focus,
  .cta4:hover {
    font-size: 13px;
  }

  .globalNavigation,
  .globalNavigation:active,
  .globalNavigation:focus,
  .globalNavigation:hover {
    font-size: 14px;
  }

  .inputHint,
  .inputHint:active,
  .inputHint:focus,
  .inputHint:hover {
    font-size: 14px;
  }

  .inputDefault,
  .inputDefault:active,
  .inputDefault:focus,
  .inputDefault:hover {
    font-size: 14px;
  }
  /* wrapper element for the modal component */
  .react-router-modal__modal {
    @include horizontalMid;
    top: 0;
    padding-top: 10px;
    height: 100vh;
    overflow-y: auto;
  }
}

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}

.visually-disabled {
  cursor: default;
  opacity: 0.6;
}
