// Hack: Fix the styling of the Kronos date and time components.
.react-kronos {
  height: 32px;

  * {
    font-family: inherit !important;
    font-size: 14px !important;
  }

  input {
    padding-left: 15px;
    padding-right: 15px;
  }
}