page[name="route-planning"] page[name="settings-details"] start-locations
{
    .add-reservation-button
    {
        justify-content: center;
    }

    .no-start-locations
    {
        .add-location-button
        {
            align-self: flex-start;
        }
    }

    page-tab-nav
    {
        margin-top: 28rem;
    }

    .departure-time-name
    {
        display: flex;

        icon
        {
            height: 16rem;
            width: 16rem;
        }
    }

    .scenarios-container
    {
        .scenarios-filters
        {
            display: flex;

            date-input
            {
                width: 360rem;
            }

            tags-input
            {
                flex: 1;
            }
        }
    }

    data-table
    {
        --data-table-columns: auto auto auto auto auto auto auto;
    }
}
