@import "resources/index";

page[name="routes"] page[name="express-dispatch"]
{
    > tab-nav
    {
        position: absolute;
        z-index: 99999;
        right: 20rem;
        top: 8rem;
        background: white;
    }
}
