@import "shared/src/webKit/constants.scss";

.c-order-create-container {
  display: flex;
  flex-direction: column;

  .c-contentBox {
    &:not(.c-order-create-summary-box) {
      width: 50%;
    }
  }

  .buttonContainer {
    align-self: flex-start;
  }
}

.c-order-create-outerOrder {
  width: 900px;
  margin-bottom: 20px;

  &.open {
    .c-order-create-orderHead {
      background-color: $colorNeutralLight;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      .c-order-create-chevron {
        transform: rotate(45deg);
      }
    }
  }

  .c-order-create-orderHead {
    display: flex;
    height: 40px;
    background-color: $colorNeutralExtraLight;
    align-items: center;
    padding: 0 20px;
    border-radius: $borderRadius;
    cursor: pointer;
    transition: background-color 100ms;
    justify-content: space-between;

    &:hover {
      border-left: 3px solid $colorBackgroundPrimary;
      padding-left: calc(20px - 3px);
    }

    .c-order-create-remove {
      position: relative;
      width: 14px;
      height: 14px;
      cursor: pointer;
      margin-right: 20px;
      margin-left: auto;

      &:before {
        content: "";
        position: absolute;
        @include horizontalMid;
        margin-left: -1px;
        height: 100%;
        width: 1px;
        background-color: $colorBackgroundPrimary;
        transform: rotate(45deg);
      }

      &:after {
        content: "";
        position: absolute;
        @include horizontalMid;
        margin-left: -1px;
        height: 100%;
        width: 1px;
        background-color: $colorBackgroundPrimary;
        transform: rotate(-45deg);
      }
    }

    .c-order-create-chevron {
      border-right: 2px solid $colorBackgroundPrimary;
      border-bottom: 2px solid $colorBackgroundPrimary;
      height: 10px;
      width: 10px;
      transform: rotate(-45deg);
      transition: transform 100ms, color 100ms;
    }
  }
}

.c-order-create-grid {
  display: grid;
  border: 1px solid $colorNeutralLight;
  border-top: 0;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  padding: 30px 20px;
  border-bottom-left-radius: $borderRadius;
  border-bottom-right-radius: $borderRadius;
}

.c-order-create-grid-title {
  align-self: center;
}

.c-order-create-grid-content {
  display: flex;
  flex-direction: row;

  > * {
    align-self: center;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.c-order-create-grid-content-inputSmall {
  width: 100px;
}

.c-order-create-grid-content-input {
  width: 420px;
  display: flex;

  &:not(.c-dateTime) {
    flex-direction: column;
  }
}

.c-order-create-grid-content-inputHalf {
  width: 200px;
}

.c-order-create-grid-remove {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.c-order-create-summary-outer {
  position: absolute;
  right: 40px;
  top: 40px;
  width: 300px;
}

.c-order-create-summary {
  position: fixed;
}

.c-order-create-summary-box {
  width: 300px;
  border-radius: $borderRadius;
  border: 1px solid $colorNeutralLight;

  .title {
    background-color: $colorNeutralExtraLight;
  }
}

.c-order-create-grid-summary {
  display: grid;
  grid-template-columns: 3fr 2.2fr;
  grid-row-gap: 4px;
}

.c-order-create-grid-summary-content {
  text-align: right;
}
@media (max-width: 1420px) {
  .c-order-create-grid {
    width: 100%;
    grid-template-columns: 100%;
    grid-row-gap: 6px;
  }

  .c-order-create-summary-box {
    width: 100%;
  }

  .c-order-create-summary-outer {
    margin-top: 15px;
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
  }

  .c-order-create-summary {
    position: relative;
  }

  .c-order-create-grid-content-inputSmall {
    width: 60px;
  }

  .c-order-create-grid-content-input {
    width: calc(100% - 60px);
  }

  .c-order-create-grid-content-inputHalf {
    width: calc(50% - 34px);
  }

  .c-order-create-container {
    .contentBox {
      width: 100%;
    }
  }
}
