<template>

    <require from="./forgot-password.scss"></require>

    <div if.bind="!model.busy && !model.done">

        <div validation validation.ref="validation" keydown.delegate="onKeyDown($event)">

            <email-input value.bind="model.email" autocomplete="email" autofocus>

                <span slot="placeholder" translate>
                    Email address
                </span>

                <div slot="validation">

                    <required-validator
                        value.bind="model.email">
                    </required-validator>

                </div>

            </email-input>

            <div class="margin-top opacity-faded-less" translate>
                We'll send you an email with a link you can use to create a new password.
            </div>

            <div surface="base">

                <button class="margin-top" appearance="solid" accent="primary" click.delegate="onRequestNewPasswordClick()" translate>
                    Request new password
                </button>

            </div>

        </div>

    </div>

    <div if.bind="model.busy && !model.done">

        <busy-indicator class="font-largest" translate>
            Please wait…
        </busy-indicator>

    </div>

    <div if.bind="!model.busy && model.done">

        <div class="font-large margin-bottom" translate>
            Please check your email
        </div>

        <div class="opacity-faded-less" translate>
            We just sent you an email with a link you can use to create a new password.
            If you don't see the email, make sure to check your junk folder.
        </div>

    </div>

</template>
