////
/// @group resources/styles/framework/animations/fade-out
////

/// Animates the `opacity` of the element linearly from its current value to 0.
$__summary: comment;

@import "resources/index";


/// Animates the `opacity` of the element linearly from its current value to 0.
@keyframes fade-out
{
    to
    {
        opacity: var(--fade-out-to-opacity, 0);
    }
}

/// Animates the `opacity` of the element linearly from its current value to 0,
/// using the longer animation duration.
.animation-fade-out-longer
{
    &.au-leave-active
    {
        animation: fade-out ease forwards;
        animation-duration: var(--animation-duration-longer);
    }
}

/// Animates the `opacity` of the element linearly from its current value to 0,
/// using the long animation duration.
.animation-fade-out-long
{
    &.au-leave-active
    {
        animation: fade-out ease forwards;
        animation-duration: var(--animation-duration-long);
    }
}

/// Animates the `opacity` of the element linearly from its current value to 0,
/// using the medium animation duration.
.animation-fade-out-medium
{
    &.au-leave-active
    {
        animation: fade-out ease forwards;
        animation-duration: var(--animation-duration-medium);
    }
}

/// Animates the `opacity` of the element linearly from its current value to 0,
/// using the short animation duration.
.animation-fade-out-short
{
    &.au-leave-active
    {
        animation: fade-out ease forwards;
        animation-duration: var(--animation-duration-short);
    }
}
