@import "resources/index";

page[name="collection-point"] page[name="details"]
{
    data-table
    {
        --data-table-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr min-content;

        .data-table-row.--failed
        {
            > *
            {
                color: var(--surface-negative-text-color) !important;
            }
        }
    }

    .page-section-header toolbar
    {
        position: absolute;
        right: 2rem;
        top: -4rem;
        font-weight: 400;
    }
}
