<template class="${uploadOperation.pending ? '--uploading' : ''}">

    <require from="app/components/identity-picture/identity-picture"></require>

    <require from="./identity-picture-input.scss"></require>

    <url-input
        label.bind="label & attr"
        value.bind="value"
        disabled.bind="disabled"
        readonly.bind="readonly"
        autocomplete.bind="autocomplete"
        autoselect.bind="autoselect"
        enterkey.bind="enterkey">

        <slot name="heading" slot="heading"></slot>
        <slot name="description" slot="description"></slot>
        <slot name="placeholder" slot="placeholder"></slot>

        <span if.bind="value == null && uploadOperation.pending" slot="placeholder" translate>
            Uploading…
        </span>

        <div slot="before">

            <identity-picture src.bind="value & debounce: 300">
                ${formattedInitials}
            </identity-picture>

            <slot name="before"></slot>

        </div>

        <div slot="after">

            <a
                if.bind="!disabled && !readonly"
                class="identity-picture-input-choose-picture"
                click.trigger="choosePictureClick()"
                translate>
                Choose picture
            </a>

            <a
                if.bind="!disabled && !readonly && gravatarIdentifier"
                class="identity-picture-input-use-gravatar"
                click.trigger="useGravatarClick()"
                title.translate="Learn more at https://gravatar.com"
                translate>
                Use Gravatar
            </a>

            <slot name="after"></slot>

        </div>

        <slot name="validation" slot="validation"></slot>

    </url-input>

</template>
