////
/// @group themes/mover/palettes/color
////

/// Theme specific color palette.
$__summary: comment;


/* stylelint-disable no-duplicate-selectors, scss/selector-no-redundant-nesting-selector */

/// The neutral color and its variations.
:root
{
    --palette-color-whitepoint: white;
    --palette-color-neutral-lighter: hsl(240, 14%, 99%);
    --palette-color-neutral-hover: hsl(240, 24%, 98%);
    --palette-color-neutral-light: hsl(230, 14%, 96%);
    --palette-color-neutral: hsl(220, 14%, 87%);
    --palette-color-neutral-dark: hsl(210, 6%, 43%);
    --palette-color-neutral-darker: #172b4d; //hsl(0, 0%, 13%);
    --palette-color-blackpoint: black;
}

/// The primary color and its variations.
:root
{
    --palette-color-primary-lighter: hsl(200, 100%, 94%);
    --palette-color-primary-light: #33a3dd;
    --palette-color-primary: #008dd5;
    --palette-color-primary-dark: #2c5d9b;
    --palette-color-primary-hover: #1c3d66;
    --palette-color-primary-darker: #11253e;

    --palette-color-primary--hover: #0482c6;
    --palette-color-primary--active: #0a77b7;
    --palette-color-primary-dark--hover: #2a5690;
}

/// The accent color indicating information.
:root
{
    --palette-color-info-lighter: hsl(249, 100%, 94%);
    --palette-color-info-light: hotpink;
    --palette-color-info: hsl(249, 46%, 54%);
    --palette-color-info-dark: hotpink;
    --palette-color-info-darker: hotpink;
}

/// The accent color indicating that something is good or safe.
:root
{
    --palette-color-positive-lighter: hsl(134, 100%, 94%);
    --palette-color-positive-light: hotpink;
    --palette-color-positive: hsl(134, 61%, 41%);
    --palette-color-positive-dark: hotpink;
    --palette-color-positive-darker: hotpink;
}

/// The accent color indicating that something requires attention.
:root
{
    --palette-color-attention-lighter: hsl(40, 100%, 94%);
    --palette-color-attention-light: hotpink;
    --palette-color-attention: hsl(40, 100%, 50%);
    --palette-color-attention-dark: hotpink;
    --palette-color-attention-darker: hotpink;
}

/// The accent color indicating that something is bad or unsafe.
:root
{
    --palette-color-negative-lighter: hsl(350, 100%, 94%);
    --palette-color-negative-light: hotpink;
    --palette-color-negative: hsl(355, 70%, 47%);
    --palette-color-negative-dark: hotpink;
    --palette-color-negative-darker: hotpink;
}

/// The color used to highlight text, e.g. because it matches a search query.
:root
{
    --palette-color-mark: var(--palette-color-attention);
}
