////
/// @group themes/mover/palettes/color
////

/// Theme specific color palette.
$__summary: comment;


/* stylelint-disable no-duplicate-selectors, scss/selector-no-redundant-nesting-selector */

/// The neutral color and its variations.
:root
{
    --palette-color-whitepoint: white;
    --palette-color-neutral-lightest: #fbfcff;
    --palette-color-neutral-lighter: #f6f9fe;
    --palette-color-neutral-light: #edf2f9;
    --palette-color-neutral: #d8e1ee;
    --palette-color-neutral-dark: #586971;
    --palette-color-neutral-darker: #11253e;
    --palette-color-blackpoint: black;
}

/// The primary color and its variations.
:root
{
    --palette-color-primary-lighter: hsl(200, 100%, 94%);
    --palette-color-primary-light: #33a3dd;
    --palette-color-primary: #008dd5;
    --palette-color-primary-dark: #2c5d9b;
    --palette-color-primary-darker: #1c3d66;
    --palette-color-primary-darkest: #11253e;

    --palette-color-primary--hover: #0482c6;
    --palette-color-primary--active: #0a77b7;
    --palette-color-primary--child: #2c5d9b;
    --palette-color-primary--child-hover: #2a5690;
}

/// The accent color indicating information.
:root
{
    --palette-color-info-lighter: hsl(249, 100%, 94%);
    --palette-color-info-light: hsl(249, 46%, 64%);
    --palette-color-info: hsl(249, 46%, 54%);
    --palette-color-info-dark: hsl(249, 46%, 44%);
    --palette-color-info-darker: hsl(249, 46%, 34%);
}

/// The accent color indicating that something is good or safe.
:root
{
    --palette-color-positive-lighter: hsl(134, 100%, 94%);
    --palette-color-positive-light: hsl(134, 61%, 51%);;
    --palette-color-positive: hsl(134, 61%, 41%);
    --palette-color-positive-dark: hsl(134, 61%, 31%);
    --palette-color-positive-darker: hsl(134, 61%, 21%);
}

/// The accent color indicating that something requires attention.
:root
{
    --palette-color-attention-lighter: hsl(40, 100%, 94%);
    --palette-color-attention-light: hsl(40, 100%, 60%);
    --palette-color-attention: hsl(40, 100%, 50%);
    --palette-color-attention-dark: hsl(40, 100%, 40%);
    --palette-color-attention-darker: hsl(40, 100%, 20%);
}

/// The accent color indicating that something is bad or unsafe.
:root
{
    --palette-color-negative-lighter: hsl(350, 100%, 94%);
    --palette-color-negative-light: hsl(355, 70%, 57%);
    --palette-color-negative: hsl(355, 70%, 47%);
    --palette-color-negative-dark: hsl(355, 70%, 37%);
    --palette-color-negative-darker: hsl(355, 70%, 27%);
}

/// The color used to highlight text, e.g. because it matches a search query.
:root
{
    --palette-color-mark: var(--palette-color-attention);
}
