<template>

    <require from="./notification-item.scss"></require>

    <card
        if.bind="model != null"
        accent.bind="model.seen ? 'neutral' : 'primary'"
        page-href.bind="model.url"
        title.bind="model.createdDateTime | dateTime: 'narrow'"
        class="user-select-contain">

        <div slot="actions">

            <button
                if.bind="!model.seen"
                title.translate="Dismiss"
                appearance="none"
                click.trigger="onDismissClick($event)">
                <icon name="ico-done"></icon>
            </button>

        </div>

        <div class="text-truncate">
            ${model.heading}
        </div>

        <div if.bind="model.body" class="font-small text-truncate opacity-faded margin-top">
            ${model.body}
        </div>

        <div if.bind="model.details" class="font-small text-truncate opacity-faded margin-top">
            ${model.details}
        </div>

    </card>

    <card-skeleton if.bind="model == null"></card-skeleton>

</template>
