<template surface="card" class="use-form-styles ${selection !== 'none' ? '--selection' : ''} ${move != null ? '--move' : ''} ${busy ? '--busy' : ''}" inert.bind="busy">

    <require from="./data-table.scss"></require>

    <slot></slot>

    <div if.bind="appendable && append != null" class="data-table-row data-table-append-action" click.trigger="append($event)">

        <div class="data-table-row-insert">
            <div class="data-table-row-insert-line"></div>
        </div>

        <data-table-cell accent="primary" class="data-table-add">
            <icon name="add" class="font-larger line-height-1"></icon>
            &nbsp;
            <div>
                <template replaceable part="append" translate>
                    Add row
                </template>
            </div>
        </data-table-cell>

    </div>

</template>
