data-table-headers
{
    display: contents;

    > :first-child
    {
        border-left: var(--data-table-row-edge-width) solid var(--data-table-header-background);
    }

    > *
    {
        position: sticky;
        top: 0;
        padding: var(--data-table-header-padding);
        border-bottom: var(--data-table-header-border-width) solid var(--data-table-header-border-color);
        background: var(--data-table-header-background);
    }
}
