@import "resources/index";

data-table
{
    display: grid;

    // Define the grid columns.
    // Note that this should be customized as needed for each table.
    --data-table-columns: repeat(1, 1fr);

    transition: opacity var(--animation-duration-medium);

    &:not(.--selection)
    {
        grid-template-columns: var(--data-table-columns) min-content;
    }

    &.--selection
    {
        grid-template-columns: 60rem var(--data-table-columns) min-content;
    }

    &:not(.--move)
    {
        data-table-cell:last-of-type:not(.data-table-add)
        {
            visibility: hidden;
            padding: 0 !important;
        }
    }

    &.--move
    {
        data-table-cell:last-of-type
        {
            cursor: ns-resize;
        }

        .data-table-append-action data-table-cell:last-of-type
        {
            cursor: pointer;
        }
    }

    data-table-headers
    {
        font-weight: 600;
    }

    .data-table-row:hover
    {
        --data-table-cell-background: var(--data-table-cell-background--hover);
        --data-table-row-border-color: var(--data-table-row-border-color--hover);
    }

    .data-table-row.--selected
    {
        --data-table-cell-background: var(--data-table-cell-background--active);
        --data-table-row-border-color: var(--data-table-row-border-color--active);
    }

    data-table-details,
    .data-table-row.expanded
    {
        --data-table-cell-background: var(--data-table-cell-background--active);
        --data-table-row-border-color: var(--data-table-row-border-color--active);
    }

    .data-table-append-action
    {
        .data-table-row-drag-handle
        {
            display: none;
        }

        data-table-cell
        {
            grid-column: 1/-1;
            display: flex;
            border-bottom: none !important;
        }
    }

    &.--busy
    {
        opacity: var(--opacity-disabled);
    }
}

data-table[appearance="rows"]
{
    --data-table-header-padding: 16rem 20rem;
    --data-table-header-background: rgba(255, 255, 255, 0.97);
    --data-table-header-border-width: var(--border-width-thin);
    --data-table-header-border-color: var(--data-table-row-border-color);
    --data-table-cell-padding: 16rem 20rem;
    --data-table-cell-background: transparent;
    --data-table-cell-background--hover: var(--surface-color--hover);
    --data-table-cell-background--active: var(--surface-color--active);
    --data-table-row-gap: 8rem;
    --data-table-row-edge-width: var(--border-width-thick);
    --data-table-row-edge-color: transparent;
    --data-table-row-border-width: var(--border-width-thin);
    --data-table-row-border-radius: var(--border-radius-medium);
    --data-table-row-border-color: var(--border-color);
    --data-table-row-border-color--hover: var(--border-color--hover);
    --data-table-row-border-color--active: #edeff2;
}

data-table[appearance="cards"]
{
    --data-table-header-padding: 16rem 20rem;
    --data-table-header-background: rgba(255, 255, 255, 0.97);
    --data-table-header-border-width: var(--border-width-thin);
    --data-table-header-border-color: rgba(255, 255, 255, 0.95);
    --data-table-cell-padding: 16rem 20rem;
    --data-table-cell-background: var(--surface-color);
    --data-table-cell-background--hover: var(--surface-color--hover);
    --data-table-cell-background--active: var(--surface-color--active);
    --data-table-row-gap: 8rem;
    --data-table-row-edge-width: var(--border-width-thick);
    --data-table-row-edge-color: var(--surface-neutral-surface-color);
    --data-table-row-border-width: var(--border-width-thin);
    --data-table-row-border-radius: var(--border-radius-medium);
    --data-table-row-border-color: var(--border-color);
    --data-table-row-border-color--hover: var(--border-color--hover);
    --data-table-row-border-color--active: var(--border-color--active);
}
