@import "resources/index";

data-table-cell
{
    display: flex;
    align-items: center;
    padding: var(--data-table-cell-padding);
    background: var(--data-table-cell-background);
    overflow: hidden;

    &.--sortable
    {
        cursor: pointer;

        &:hover
        {
            color: var(--color-surface-primary-text--hover);
        }
    }

    .data-table-row &
    {
        user-select: text;
    }

    .data-table-row:any-link &
    {
        cursor: pointer;
    }

    .data-table-cell-content
    {
        display: flex;
        align-items: center;
        min-width: 0;
    }

    .data-table-cell-sorting
    {
        position: relative;
        display: flex;
        align-items: center;
        width: 1em;
        margin-left: var(--size-inline-spacing);
    }
}
