<template click.delegate="onClick()" class="${name ? '--sortable' : ''}">

    <require from="./data-table-cell.scss"></require>

    <div  class="data-table-cell-content ${align === 'right' ? 'margin-auto-left' : align === 'center' ? 'margin-auto' : ''}">

        <slot></slot>

        <div if.bind="name" class="data-table-cell-sorting">
            <icon if.bind="dataTable.sorting.column === name && dataTable.sorting.direction === 'ascending'" name="md-arrow-upward"></icon>
            <icon if.bind="dataTable.sorting.column === name && dataTable.sorting.direction === 'descending'" name="md-arrow-downward"></icon>
            <icon if.bind="dataTable.sorting.column !== name || dataTable.sorting.direction === null">
                <div class="margin-auto opacity-faded-more">–</div>
            </icon>
        </div>

    </div>

</template>
