<template>

    <require from="./data-table-pager.scss"></require>

    <div class="data-table-pager-page-size" if.bind="pageSize != null">

        <div translate>
            Page size
        </div>

        <select value.bind="pageSize">
            <option repeat.for="size of pageSizes" model.bind="size">${size}</option>
        </select>

    </div>

    <div class="data-table-pager-page">

        <div translate>
            Page
        </div>

        <input
            type="number"
            min="1"
            max.bind="computedPageCount"
            step="1"
            value.bind="pageInputValue"
            focus.trigger="onPageInputFocus($event)"
            blur.trigger="onPageInputBlur()"
            keydown.trigger="onPageInputKeydown($event)">

        <div translate if.bind="computedPageCount != null">
            of ${computedPageCount | number}
        </div>

    </div>

    <div class="data-table-pager-buttons">

        <button disabled.bind="page <= 1" appearance="solid" click.delegate="onNavClick(-1)">
            <icon name="md-chevron-left"></icon>
        </button>

        <div></div>

        <button disabled.bind="computedPageCount != null && page >= computedPageCount" appearance="solid" click.delegate="onNavClick(1)">
            <icon name="md-chevron-right"></icon>
        </button>

    </div>

</template>
