@import "styles/resources/index";

data-table-details
{
    grid-column: 1 / -1;
    border-left: var(--data-table-row-border-width) solid var(--data-table-row-border-color);
    border-right: var(--data-table-row-border-width) solid var(--data-table-row-border-color);
    border-bottom: var(--data-table-row-border-width) solid var(--data-table-row-border-color);
    border-bottom-left-radius: var(--data-table-row-border-radius);
    border-bottom-right-radius: var(--data-table-row-border-radius);
    padding: var(--data-table-cell-padding);
}

.data-table-new
{
    data-table-details
    {
        border-left: none;
        border-right: none;
        border-bottom: var(--data-table-row-border-width) solid var(--data-table-row-border-color);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}
