@import "resources/index";

data-table-headers
{
    display: contents;

    data-table-cell
    {
        position: sticky;
        top: 0;
        z-index: 2;
        padding: var(--data-table-header-padding);
        border-bottom: var(--data-table-header-border-width) solid var(--data-table-header-border-color);
        background: var(--data-table-header-background);
    }
}

data-table[appearance="rows"]
{
    data-table-headers
    {
        data-table-cell
        {
            margin-bottom: 2rem;
        }

        data-table-cell:first-of-type::before
        {
            content: none;
            border-left: none;
        }
    }

    data-table-headers:not(:last-child)
    {
        data-table-cell
        {
            border-bottom: none;
        }
    }
}

data-table[appearance="cards"]
{
    data-table-headers
    {
        data-table-cell
        {
            margin-bottom: 6rem;
        }

        data-table-cell:first-of-type::before
        {
            content: "";
            border-left: var(--data-table-row-edge-width) solid transparent;
        }
    }
}
