<template>

    <require from="./data-table-row.scss"></require>

    <a class="
        data-table-row
        ${selected ? '--selected' : ''}
        ${faded ? '--opacity-faded' : ''}
        ${clickable !== false && (clickable || href || click) ? '--clickable' : ''}
        ${model != null && movable && dataTable.move != null ? '--movable' : ''}
        ${model != null && dataTable.draggedModel === model ? '--moving' : ''}
        ${class}"
        href.bind="clickable !== false ? href : undefined"
        target.bind="target"
        accent.bind="accent & attr"
        click.delegate="onClick($event)"
        mouseenter.trigger="onMouseEnter($event)">

        <div if.bind="insertable && insert != null" class="data-table-row-insert" click.trigger="onInsertClick($event)">

            <div class="data-table-row-insert-line" surface="base"></div>

            <div class="data-table-row-insert-action">
                <button appearance="icon" accent="primary">
                    <icon name="plus-small"></icon>
                </button>
            </div>

        </div>

        <data-table-cell if.bind="dataTable.selection === 'multiple'" click.trigger="onToggle($event)">
            <input type="checkbox" class="pointer-events-none" disabled.bind="!selectable" checked.to-view="selected">
        </data-table-cell>

        <data-table-cell if.bind="dataTable.selection === 'single'" click.trigger="onToggle($event)">
            <input type="radio" class="pointer-events-none" disabled.bind="!selectable" model.bind="$this" checked.to-view="selectedModel">
        </data-table-cell>

        <slot></slot>

        <data-table-cell class="data-table-row-drag-handle" mousedown.trigger="onMouseDown($event)" click.trigger="onDragHandleClick($event)">
            <icon if.bind="movable && dataTable.move != null && model != null" name="drag-handle" class="opacity-faded">
        </data-table-cell>

        <slot name="details"></slot>

    </a>

</template>
