@import "resources/index";

data-table
{
    display: grid;

    // Define the grid columns.
    // Note that this should be customized as needed for each table.
    --data-table-columns: repeat(6, 1fr);

    transition: opacity var(--animation-duration-medium);

    &:not(.--selection)
    {
        grid-template-columns: var(--data-table-columns);
    }

    &.--selection
    {
        grid-template-columns: 15rem var(--data-table-columns);
    }

    data-table-headers
    {
        font-weight: 500;
    }

    .data-table-row:hover
    {
        --data-table-cell-background: var(--data-table-cell-background--hover);
        --data-table-row-border-color: var(--data-table-row-border-color--hover);
    }

    .data-table-row.--selected
    {
        --data-table-cell-background: var(--data-table-cell-background--active);
        --data-table-row-border-color: var(--data-table-row-border-color--active);
    }

    data-table-details,
    .data-table-row.expanded
    {
        --data-table-cell-background: var(--data-table-cell-background--active);
        --data-table-row-border-color: var(--data-table-row-border-color--active);
    }

    &.--busy
    {
        opacity: var(--opacity-disabled);
    }
}

data-table[appearance="rows"]
{
    --data-table-header-padding: 4rem 5rem;
    --data-table-header-background: rgba(255, 255, 255, 0.97);
    --data-table-header-border-width: var(--border-width-thin);
    --data-table-header-border-color: var(--data-table-row-border-color);
    --data-table-cell-padding: 4rem 5rem;
    --data-table-cell-background: transparent;
    --data-table-cell-background--hover: var(--surface-color--hover);
    --data-table-cell-background--active: var(--surface-color--active);
    --data-table-row-gap: 2rem;
    --data-table-row-edge-width: var(--border-width-thick);
    --data-table-row-edge-color: transparent;
    --data-table-row-border-width: var(--border-width-thin);
    --data-table-row-border-radius: var(--border-radius-medium);
    --data-table-row-border-color: var(--border-color);
    --data-table-row-border-color--hover: var(--border-color--hover);
    --data-table-row-border-color--active: #edeff2;
}

data-table[appearance="cards"]
{
    --data-table-header-padding: 4rem 5rem;
    --data-table-header-background: rgba(255, 255, 255, 0.97);
    --data-table-header-border-width: var(--border-width-thin);
    --data-table-header-border-color: rgba(255, 255, 255, 0.95);
    --data-table-cell-padding: 4rem 5rem;
    --data-table-cell-background: var(--surface-color);
    --data-table-cell-background--hover: var(--surface-color--hover);
    --data-table-cell-background--active: var(--surface-color--active);
    --data-table-row-gap: 2rem;
    --data-table-row-edge-width: var(--border-width-thick);
    --data-table-row-edge-color: var(--surface-neutral-surface-color);
    --data-table-row-border-width: var(--border-width-thin);
    --data-table-row-border-radius: var(--border-radius-medium);
    --data-table-row-border-color: var(--border-color);
    --data-table-row-border-color--hover: var(--border-color--hover);
    --data-table-row-border-color--active: var(--border-color--active);
}
