@import "styles/resources/index";

data-table-details
{
    grid-column: 1 / -1;
    padding: var(--data-table-cell-padding);

    &[accent]
    {
        color: inherit !important;
    }

    // Add accent color support.
    @each $accent in $accents
    {
        &[accent="#{$accent}"]
        {
            --data-table-row-edge-color: var(--color-surface-#{$accent}-border);
        }
    }
}

data-table[appearance="rows"]
{
    data-table-details
    {
        border-bottom: var(--data-table-row-border-width) solid var(--data-table-row-border-color);
    }
}

data-table[appearance="cards"]
{
    data-table-details
    {
        position: relative;

        border-bottom: var(--data-table-row-border-width) solid var(--data-table-row-border-color);

        &:before
        {
            content: "";
            position: absolute;
            top: calc(-1 * var(--data-table-row-border-radius));
            left: calc(-1 * var(--data-table-row-edge-width));
            right: calc(-1 * var(--data-table-row-border-width));
            bottom: calc(-1 * var(--data-table-row-border-width));
        }

        &, &:before
        {
            border-left: var(--data-table-row-edge-width) solid var(--data-table-row-edge-color);
            border-right: var(--data-table-row-border-width) solid var(--data-table-row-border-color);
            border-bottom-left-radius: var(--data-table-row-border-radius);
            border-bottom-right-radius: var(--data-table-row-border-radius);
        }
    }
}
