@import "resources/index";

.data-table-row
{
    display: contents;
    color: inherit;
    cursor: default;

    &[accent]
    {
        color: inherit !important;
    }

    // Add accent color support.
    @each $accent in $accents
    {
        &[accent="#{$accent}"]
        {
            --data-table-row-edge-color: var(--surface-#{$accent}-border-color);
        }
    }

    // HACK: We don't have a separate edge color for the surface yet, so just use the neutral palette color for now.
    &[accent="neutral"]
    {
        --data-table-row-edge-color: var(--palette-color-neutral);
    }

    &.--clickable
    {
        cursor: pointer;
    }

    .data-table-row-insert
    {
        display: none;
    }

    &:hover .data-table-row-insert
    {
        display: block;
        grid-column: 1 / -1;
        z-index: 1;

        &:hover .data-table-row-insert-line::after,
        &:hover .data-table-row-insert-action,
        {
            opacity: 1;
        }

        .data-table-row-insert-line
        {
            &::after
            {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background: var(--surface-primary-icon-color);
                opacity: var(--opacity-faded-more);
                transition: opacity var(--animation-duration-short);
                box-shadow: 1rem 1rem 0 0.125px rgba(255, 255, 255, 0.5);
            }

            pointer-events: none;
            position: absolute;
            margin-left: -1rem;
            width: calc(100% + 1rem);
            height: 3rem;
            background: var(--palette-color-whitepoint);
            margin-top: -1rem;
        }

        .data-table-row-insert-action
        {
            position: absolute;
            margin-left: -27rem;
            margin-top: -12rem;
            padding-right: 1rem;
            height: 78rem;
            opacity: var(--opacity-faded-more);
            transition: opacity var(--animation-duration-short);

            button[appearance="icon"]
            {
                border-radius: var(--border-radius-medium);
                border-color: var(--surface-primary-border-color);
                background: var(--surface-primary-surface-color);
                color: var(--surface-primary-surface-text-color);
                padding: 4rem;
            }
        }
    }

    &.data-table-append-action .data-table-row-insert
    {
        opacity: 1;

        .data-table-row-insert-line
        {
            margin-left: 0;
            width: 100%;
        }

        .data-table-row-insert-action
        {
            display: none;
        }
    }

    .data-table-row-drag-handle
    {
        padding-left: 0;
    }

    &:not(.--movable) .data-table-row-drag-handle
    {
        pointer-events: none;
    }
}

data-table[appearance="rows"]
{
    .data-table-row
    {
        data-table-cell
        {
            position: relative;
            border-top: var(--data-table-row-border-width) solid var(--data-table-row-border-color);

            &:first-of-type::before
            {
                content: "";
                position: absolute;
                top: 2rem;
                left: 0;
                bottom: 2rem;
            }

            &:first-of-type::before,
            {
                border-left: var(--data-table-row-edge-width) solid var(--data-table-row-edge-color);
            }
        }
    }

    .data-table-row:last-child data-table-cell
    {
        border-bottom: var(--data-table-row-border-width) solid var(--data-table-row-border-color);
    }

    .data-table-row.--selected data-table-cell
    {
        border-top: var(--data-table-row-border-width) solid var(--data-table-row-border-color--active);
    }

    .data-table-row.--selected + .data-table-row.--selected data-table-cell
    {
        border-top: var(--data-table-row-border-width) solid var(--data-table-row-border-color--active);
    }

    .data-table-row.--selected + .data-table-row:not(.--selected) data-table-cell
    {
        border-top: var(--data-table-row-border-width) solid var(--data-table-row-border-color--active);
    }

    .data-table-row.--selected:last-child data-table-cell
    {
        border-bottom: var(--data-table-row-border-width) solid var(--data-table-row-border-color--active);
    }
}

data-table[appearance="cards"]
{
    .data-table-row
    {
        data-table-cell
        {
            position: relative;
            margin-top: var(--data-table-row-gap);
            border-top: var(--data-table-row-border-width) solid var(--data-table-row-border-color);
            border-bottom: var(--data-table-row-border-width) solid var(--data-table-row-border-color);

            &:first-of-type::before
            {
                content: "";
                position: absolute;
                top: calc(-1 * var(--data-table-row-border-width));
                left: calc(-1 * var(--data-table-row-edge-width));
                bottom: calc(-1 * var(--data-table-row-border-width));
            }

            &:first-of-type,
            &:first-of-type::before,
            {
                border-left: var(--data-table-row-edge-width) solid var(--data-table-row-edge-color);
                border-top-left-radius: var(--data-table-row-border-radius);
                border-bottom-left-radius: var(--data-table-row-border-radius);
            }
        }

        &.--movable data-table-cell:nth-last-of-type(1),
        &:not(.--movable) data-table-cell:nth-last-of-type(2)
        {
            border-right: var(--data-table-row-border-width) solid var(--data-table-row-border-color);
            border-top-right-radius: var(--data-table-row-border-radius);
            border-bottom-right-radius: var(--data-table-row-border-radius);
        }

        &:first-of-type
        {
            data-table-cell
            {
                margin-top: 0;
            }
        }
    }
}
