<template surface="card" class="use-form-styles ${selection !== 'none' ? '--selection' : ''} ${move != null ? '--move' : ''} ${busy ? '--busy' : ''}" inert.bind="busy">

    <require from="./data-table.scss"></require>

    <slot></slot>

    <div if.bind="insertMode !== 'none' && insert != null" class="data-table-row data-table-insert-action" click.trigger="insert($event)">

        <div if.bind="insertMode === 'append'" class="data-table-row-insert" surface="base">
            <div class="data-table-row-insert-line"></div>
        </div>

        <data-table-cell accent="primary" class="data-table-insert">
            <icon name="ico-add" class="font-larger line-height-1"></icon>
            &nbsp;
            <div>
                <template replaceable part="insert" translate>
                    Add
                </template>
            </div>
        </data-table-cell>

    </div>

</template>
