<template>

    <require from="./data-table-row.scss"></require>

    <a class="data-table-row ${selected ? '--selected' : ''}" href.bind="href" accent.bind="accent & attr" click.delegate="onClick($event)">

        <data-table-cell if.bind="dataTable.selection === 'multiple'" click.trigger="onToggle($event)">
            <input type="checkbox" class="pointer-events-none" disabled.bind="!selectable" checked.to-view="selected">
        </data-table-cell>

        <data-table-cell if.bind="dataTable.selection === 'single'" click.trigger="onToggle($event)">
            <input type="radio" class="pointer-events-none" disabled.bind="!selectable" model.bind="$this" checked.to-view="selectedModel">
        </data-table-cell>

        <slot></slot>

    </a>

</template>
