<template class="${disabled ? '--disabled' : ''}" inert.bind="disabled">

    <require from="./data-table-pager.scss"></require>

    <div class="data-table-pager-page-size" if.bind="value.pageSize != null">

        <div translate>
            Page size
        </div>

        <select
            ref="pageSizeSelectElement"
            disabled.bind="value == null"
            value.to-view="value.pageSize"
            change.trigger="onPageSizeChange()">
            <option repeat.for="size of pageSizes" model.bind="size">${size}</option>
        </select>

    </div>

    <div class="data-table-pager-page">

        <div translate>
            Page
        </div>

        <input
            ref="pageInputElement"
            type="number"
            min="1"
            max.bind="computedPageCount"
            step="1"
            value.to-view="value.page"
            disabled.bind="value == null"
            focus.trigger="onPageInputFocus($event)"
            blur.trigger="onPageInputBlur()"
            keydown.trigger="onPageInputKeydown($event)">

        <div if.bind="computedPageCount != null" translate>
            of ${computedPageCount | number}
        </div>

    </div>

    <div class="data-table-pager-buttons">

        <button disabled.bind="value == null || value.page <= 1" appearance="solid" click.delegate="onNavClick(-1)">
            <icon name="md-chevron-left"></icon>
        </button>

        <div class="${value == null || value.page <= 1 || computedPageCount == 0 ? 'opacity-disabled' : ''}"></div>

        <button disabled.bind="value == null || computedPageCount != null && value.page >= computedPageCount" appearance="solid" click.delegate="onNavClick(1)">
            <icon name="md-chevron-right"></icon>
        </button>

    </div>

</template>
