@import "resources/index";

.data-table-row
{
    display: contents;
    color: inherit;
    cursor: default;

    &[accent]
    {
        color: inherit !important;
    }

    // Add accent color support.
    @each $accent in $accents
    {
        &[accent="#{$accent}"]
        {
            --data-table-row-edge-color: var(--surface-#{$accent}-border-color);
        }
    }

    // HACK: We don't have a separate edge color for the surface yet, so just use the neutral palette color for now.
    &[accent="neutral"]
    {
        --data-table-row-edge-color: var(--palette-color-neutral);
    }

    &.--clickable
    {
        cursor: pointer;
    }

    .data-table-row-drag-handle
    {
        padding-left: 0;
    }

    &:not(.--movable) .data-table-row-drag-handle
    {
        pointer-events: none;
    }
}

data-table[appearance="rows"]
{
    .data-table-row
    {
        data-table-cell
        {
            position: relative;
            border-top: var(--data-table-row-border-width) solid var(--data-table-row-border-color);

            &:first-of-type:before
            {
                content: "";
                position: absolute;
                top: 0.5rem;
                left: 0;
                bottom: 0.5rem;
            }

            &:first-of-type:before,
            {
                border-left: var(--data-table-row-edge-width) solid var(--data-table-row-edge-color);
            }
        }
    }

    .data-table-row:last-child data-table-cell
    {
        border-bottom: var(--data-table-row-border-width) solid var(--data-table-row-border-color);
    }

    .data-table-row.--selected data-table-cell
    {
        border-top: var(--data-table-row-border-width) solid var(--data-table-row-border-color--active);
    }

    .data-table-row.--selected + .data-table-row.--selected data-table-cell
    {
        border-top: var(--data-table-row-border-width) solid var(--data-table-row-border-color--active);
    }

    .data-table-row.--selected + .data-table-row:not(.--selected) data-table-cell
    {
        border-top: var(--data-table-row-border-width) solid var(--data-table-row-border-color--active);
    }

    .data-table-row.--selected:last-child data-table-cell
    {
        border-bottom: var(--data-table-row-border-width) solid var(--data-table-row-border-color--active);
    }
}

data-table[appearance="cards"]
{
    .data-table-row
    {
        data-table-cell
        {
            position: relative;
            margin-top: var(--data-table-row-gap);
            border-top: var(--data-table-row-border-width) solid var(--data-table-row-border-color);
            border-bottom: var(--data-table-row-border-width) solid var(--data-table-row-border-color);

            &:first-of-type:before
            {
                content: "";
                position: absolute;
                top: calc(-1 * var(--data-table-row-border-width));
                left: calc(-1 * var(--data-table-row-edge-width));
                bottom: calc(-1 * var(--data-table-row-border-width));
            }

            &:first-of-type,
            &:first-of-type:before,
            {
                border-left: var(--data-table-row-edge-width) solid var(--data-table-row-edge-color);
                border-top-left-radius: var(--data-table-row-border-radius);
                border-bottom-left-radius: var(--data-table-row-border-radius);
            }

            &:last-of-type
            {
                border-right: var(--data-table-row-border-width) solid var(--data-table-row-border-color);
                border-top-right-radius: var(--data-table-row-border-radius);
                border-bottom-right-radius: var(--data-table-row-border-radius);
            }
        }

        &:first-of-type
        {
            data-table-cell
            {
                margin-top: 0;
            }
        }
    }
}
