<template surface="card" class="use-form-styles ${selection !== 'none' ? '--selection' : ''} ${move != null ? '--move' : ''} ${busy ? '--busy' : ''}" inert.bind="busy">

    <require from="./data-table.scss"></require>

    <slot></slot>

    <data-table-row class="data-table-append-action" click.call="append($event)" insert.bind="true">

        <data-table-cell show.bind="append != null" accent="primary">
            <icon name="add" class="font-larger line-height-1"></icon>
            &nbsp;
            <div>
                <template replaceable part="append" translate>
                    Add row
                </template>
            </div>
        </data-table-cell>

    </data-table-row>

</template>
