@import "resources/index";

data-table-pager
{
    display: flex;
    align-items: center;

    transition: opacity var(--animation-duration-medium);

    &.--disabled
    {
        opacity: var(--opacity-disabled);
    }

    > :not(:last-child)
    {
        margin-right: var(--size-inline-spacing-larger);
    }

    .data-table-pager-page-size,
    .data-table-pager-page
    {
        display: flex;
        align-items: center;

        > div
        {
            flex-shrink: 0;

            &:first-child
            {
                margin-right: var(--size-inline-spacing);
            }

            &:last-child
            {
                margin-left: var(--size-inline-spacing);
            }
        }
    }

    .data-table-pager-page-size select-input
    {
        width: 76rem;
    }

    .data-table-pager-page number-input
    {
        width: 56rem;
        text-align: center;
        appearance: none;
    }

    .data-table-pager-buttons
    {
        display: flex;

        icon
        {
            font-size: 24rem;
            vertical-align: middle;
        }

        button
        {
            min-width: 40rem !important;
        }

        button:first-child
        {
            border-right: none;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        button:last-child
        {
            border-left: none;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        div
        {
            width: var(--border-width-medium);
            background: var(--surface-neutral-border-color);
        }
    }
}
