<template
    class="${open ? '--open' : ''}"
    inert.bind="disabled"
    forward-focus>

    <require from="./list-view-selector.scss"></require>

    <button
        ref="buttonElement"
        disabled.bind="disabled"
        appearance.bind="appearance & attr"
        accent.bind="accent & attr"
        click.trigger="toggleDropdown()">

        <slot name="label">
            <span slot="label" tranalste>
                Views
            </span>
        </slot>

        <slot name="icon">

            <dropdown-icon
                open.bind="open">
            </dropdown-icon>

        </slot>

    </button>

    <dropdown
        show.bind="open"
        owner.bind="buttonElement"
        close.call="closeDropdown(escape || !focusout, !escape)"
        fixed.bind="fixed"
        placement.bind="placement">

        <item-picker
            view-model.ref="itemPicker"
            focused-value.bind="focusedValue"
            focused-element.bind="buttonElement"
            keyboard.bind="open"
            none.bind="false"
            pick.call="closeDropdown(true)"
            tabindex="-1"
            scroll>

            <template replace-part="empty"></template>

            <div class="list-view-selector-section-title" translate>
                Shared views
            </div>

            <div>
                <item repeat.for="listViewDefinition of listViewDefinitions.shared" click.trigger="onListViewDefinitionClick($event, listViewDefinition)" model.bind="listViewDefinition">
                    <div class="margin-right" translate>
                        ${listViewDefinition.name}
                    </div>
                    <!--
                    <template if-claims.bind="'edit-' + listViewDefinition.type + '-views'">
                        <button title.translate="Delete" appearance="none" accent="primary" click.trigger="onDeleteListViewDefinitionClick($event, listViewDefinition)">
                            <icon name="delete-small" inline></icon>
                        </button>
                    </template>
                    -->
                </item>
            </div>

            <div if.bind="listViewDefinitions.shared.length == 0" class="list-view-selector-empty" translate>
                No shared views
            </div>

            <div if.bind="listViewDefinitions.shared == null" class="list-view-selector-empty" translate>
                Please wait…
            </div>

            <hr class="hr-line">

            <div class="list-view-selector-section-title" translate>
                Personal views
            </div>

            <div>
                <item repeat.for="listViewDefinition of listViewDefinitions.personal" click.trigger="onListViewDefinitionClick($event, listViewDefinition)" model.bind="listViewDefinition">
                    <div class="margin-right" translate>
                        ${listViewDefinition.name}
                    </div>
                    <!--
                    <button title.translate="Delete" appearance="none" accent="primary" click.trigger="onDeleteListViewDefinitionClick($event, listViewDefinition)">
                        <icon name="delete-small" inline></icon>
                    </button>
                    -->
                </item>
            </div>

            <div if.bind="listViewDefinitions.personal.length == 0" class="list-view-selector-empty" translate>
                No personal views
            </div>

            <div if.bind="listViewDefinitions.personal == null" class="list-view-selector-empty" translate>
                Please wait…
            </div>

            <hr class="hr-line">

            <a class="list-view-selector-new" click.trigger="onNewListViewDefinitionClick()" translate>
                New view
            </a>

        </item-picker>

    </dropdown>

</template>
