<template
    class="focus-hidden --accent-${accent || 'default'}"
    inert.bind="modal != null && modal.busy !== false"
    keydown.trigger="onKeyDown($event)"
    tabindex="-1"
    trap-focus="fallback-focus.bind: element; escape-deactivates.bind: false;">

    <require from="./modal-dialog.scss"></require>

    <busy-overlay if.bind="modal != null && modal.busy !== false" delay.bind="true"></busy-overlay>

    <div class="modal-dialog-actions">

        <slot name="actions"></slot>

        <button if.bind="closeButton && modal != null" appearance="icon" click.delegate="onCloseClick()">
            <icon name="close"></icon>
        </button>

    </div>

    <form class="modal-dialog-content">

        <slot></slot>

    </form>

</template>
