.c-routePlanning-routes-unscheduledTasksBar {
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: scroll;
}

.c-routePlanning-routes-unscheduledTasksBar-title {
  color: var(--surface-neutral-surface-text-color);
  opacity: var(--opacity-faded);
  font-weight: 500;
  padding: 0 17px 0 40px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
