.c-routePlanning-routes-unscheduledTasksBar {
  min-height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: auto !important;
}

.c-routePlanning-routes-unscheduledTasksBar-title {
  min-width: 172px;
  min-height: 34px;
  z-index: 99999;
  color: var(--surface-neutral-surface-text-color);
  padding: 0 16px 0 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: linear-gradient(to right, var(--surface-color) 85%, transparent);
  height: 100%;
  position: sticky;
  left: 0;
  display: flex;
  align-items: center;
}
