info-icon
{
    display: inline;

    .info-icon-container
    {
        position: relative;
        display: inline-block;

        icon
        {
            height: 1em;
            width: 1em;
            margin-bottom: 0.214em;
            color: var(--surface-primary-text-color);
            position: relative;
            pointer-events: auto;
            pointer-events: initial;
            vertical-align: middle;
        }

        .info-icon-window
        {
            opacity: 0;
            pointer-events: none;
            transition: opacity var(--animation-duration-short);
            width: 72rem;
            padding: 5rem;
            position: absolute;
            background-color: white;
            border: var(--border-width-thin) solid var(--surface-neutral-border-color);
            border-radius: var(--border-radius-medium);
            box-shadow: var(--shadow-tooltip);
            z-index: var(--z-index-tooltip);

            &:after
            {
                content: "";
                position: absolute;
                height: 3rem;
                width: 3rem;
                border: var(--border-width-medium) solid var(--surface-neutral-border-color);
                background-color: white;
                transform: rotate(45deg);
            }
        }

        &.--right
        {
            .info-icon-window
            {
                left: calc(100% + 2.5rem);
                top: -3rem;

                &:after
                {
                    right: calc(100% - .75rem);
                    top: 3.5rem;
                    margin-right: -.25rem;
                    border-top: 0;
                    border-right: 0;
                }
            }
        }

        &.--left
        {
            .info-icon-window
            {
                right: calc(100% + 2.5rem);
                top: -3rem;

                &:after
                {
                    left: calc(100% - .75rem);
                    top: 3.5rem;
                    margin-left: -.25rem;
                    border-bottom: 0;
                    border-left: 0;
                }
            }
        }

        &.--top
        {
            .info-icon-window
            {
                bottom: calc(100% + 1.5rem);
                left: -3.5rem;

                &:after
                {
                    top: calc(100% - 1rem);
                    left: 3.5rem;
                    margin-right: -.25rem;
                    border-top: 0;
                    border-left: 0;
                }
            }
        }

        &.--bottom
        {
            .info-icon-window
            {
                top: calc(100% + 1.5rem);
                left: -3.5rem;

                &:after
                {
                    bottom: calc(100% - 1rem);
                    left: 3.5rem;
                    margin-right: -.25rem;
                    border-bottom: 0;
                    border-right: 0;
                }
            }
        }

        &:hover
        {
            .info-icon-window
            {
                opacity: 1;
                pointer-events: auto;
                pointer-events: initial;
            }
        }
    }
}
