@import "shared/src/webKit/constants.scss";

.c-routeSimulation-result-container {
  width: $formWidthWide;
  display: flex;
  flex-direction: column;

  > * {
    margin-bottom: 25px;
  }

  > p {
    margin-bottom: 14px;
  }

  :last-child {
    margin-bottom: 0;
  }
}

.c-routeSimulation-result-comparison {
  display: flex;
  margin-bottom: 50px;
}

.c-routeSimulation-result-comparison-column {
  flex-basis: 100%;

  &:not(:first-child) {
    cursor: pointer;

    &.selected:after {
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: -1px;
      border: 1px solid var(--colorNeutralRegular);
      z-index: 2;
      pointer-events: none;
    }

    // &:not(.selected):hover:after {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    //   bottom: 0;
    //   left: -1px;
    //   border: 1px solid var(--colorBackgroundPrimary);
    //   z-index: 1;
    //   opacity: .6;
    //   pointer-events: none;
    // }
  }

  & > div {
    height: 40px;
    padding: 10px;
  }

  & > div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 114px;
    padding: 0;
  }
}

.c-routeSimulation-result-comparison-column-bottom1 {
  padding: 20px;
}

.c-routeSimulation-result-comparison-column-bottom2 {
  width: 100%;
  line-height: 40px;
  text-align: center;
  border-top: 1px solid var(--colorNeutralLight);
  background: var(--colorNeutralExtraLight);

  .c-routeSimulation-result-comparison-column:not(.selected) & {
    color: var(--colorInteractivePrimary);
    background: transparent;
  }
}

.c-routeSimulation-result-comparison-column {
  & > div {
    border: 0px solid var(--colorNeutralLight);
    border-bottom-width: 1px;
    border-right-width: 1px;
  }

  // &:not(:first-child) > div:not(:first-child):not(:last-child) {
  //   text-align: right;
  // }

  &:first-child > div:first-child,
  &:first-child > div:last-child {
    border-left-color: transparent;
  }

  &:first-child > div:last-child {
    border-bottom-color: transparent;
  }

  &:not(:first-child) > div:first-child {
    border-top-width: 1px;
    background: var(--colorNeutralExtraLight);
  }

  &:first-child > div {
    border-left-width: 1px;
  }
}
