.selectContainer {
  &.c-addressSearch {
    .selectWrapper {
      .react-selectize {
        input {
          height: auto !important;
          line-height: 40px;
        }

        .react-selectize-control {
          position: relative;
          .react-selectize-search-field-and-selected-values {
            .value-wrapper {
              .simple-value {
                display: flex;
                align-items: center;

                span {
                  display: flex !important;
                  flex: 1 !important;
                  margin-left: 4px !important;
                }
              }
            }
          }

          .react-selectize-reset-button-container {
            display: block;
          }
        }

        .dropdown-menu {
          max-height: 250px;

          .option-wrapper {
            height: auto;

            .simple-option {
              height: 50px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              padding-left: 21px;

              .text-container {
                .main-text {}

                .secondary-text {
                  line-height: initial;
                }
              }
            }
          }
        }
      }
    }
  }
}
