search-item
{
    display: block;

    --card-padding: 13rem;

    .search-item-icon-column
    {
        padding-right: calc(16rem - var(--border-width-thick));
        line-height: 1;
        font-size: 26rem;
        color: var(--surface-primary-icon-color);
    }

    .search-item-content-column
    {
        flex-grow: 1;
        min-width: 0;
        margin-right: 28rem;
    }
}
