<template surface="topbar">

    <require from="app/components/user-identity/user-identity"></require>
    <require from="app/components/app-logo/app-logo"></require>
    <require from="app/modules/search/components/global-search-input/global-search-input"></require>

    <require from="./app-topbar.scss"></require>

    <app-logo size="wide" disabled.one-time="true" tabindex="-1" autofocus="visible.bind: false"></app-logo>

    <global-search-input></global-search-input>

    <template if-environment="development, preview">

        <!--
        <a class="app-topbar-action" page-href="path: /design">
            <icon title.translate="Design" name="ico-style"></icon>
            <span translate>
                Design
            </span>
        </a>
        -->

        <a class="app-topbar-action" page-href="path: /help">
            <icon title.translate="Help and support" name="ico-question"></icon>
            <span translate>
                Help and support
            </span>
        </a>

        <a class="app-topbar-action" modal-href="modal: notifications">
            <icon title.translate="Notifications" name="ico-bell">
                <badge if.bind="notificationService.unseenCount > 0">
                    ${notificationService.unseenCount}
                </badge>
            </icon>
            <span translate>
                Notifications
            </span>
        </a>

    </template>

    <user-identity></user-identity>

</template>
