<template>

    <require from="./sign-up.scss"></require>

    <div if.bind="!model.busy && !model.done">

        <div validation validation.ref="validation" keydown.delegate="onKeyDown($event)">

            <text-input value.bind="model.organizationName" autocomplete="organization" autofocus>

                <span slot="placeholder" translate>
                    Organization name
                </span>

                <div slot="validation">

                    <required-validator
                        value.bind="model.organizationName">
                    </required-validator>

                </div>

            </text-input>

            <text-input class="margin-top" value.bind="model.fullName" autocomplete="name">

                <span slot="placeholder" translate>
                    Full name, e.g. John Doe
                </span>

                <div slot="validation">

                    <required-validator
                        value.bind="model.fullName">
                    </required-validator>

                </div>

            </text-input>

            <text-input class="margin-top" value.bind="model.preferredName" autocomplete="given-name">

                <span slot="placeholder" translate>
                    Preferred name, e.g. ${preferredNameSuggestion || "John"}
                </span>

                <div slot="validation">

                    <required-validator
                        value.bind="model.preferredName">
                    </required-validator>

                </div>

            </text-input>

            <email-input class="margin-top" value.bind="model.email" autocomplete="email">

                <span slot="placeholder" translate>
                    Email address
                </span>

                <div slot="validation">

                    <required-validator
                        value.bind="model.email">
                    </required-validator>

                </div>

            </email-input>

            <password-input class="margin-top" value.bind="model.password" autocomplete="new-password">

                <span slot="placeholder" translate>
                    Password
                </span>

                <div slot="validation">

                    <required-validator
                        value.bind="model.password">
                    </required-validator>

                    <length-validator
                        value.bind="model.password"
                        min.bind="8">
                    </length-validator>

                </div>

            </password-input>

            <check-toggle class="margin-top" label="after" value.bind="model.agreeToTerms">

                <span slot="heading" translate>
                    I agree to the <a page-href="path: /TODO" target="_blank" accent="info">terms of service</a>
                </span>

                <div slot="validation">

                    <required-validator
                        value.bind="model.agreeToTerms || undefined">

                        <template replace-part="invalid">
                            Please accept the terms of service.
                        </template>

                    </required-validator>

                </div>

            </check-toggle>

            <div surface="base">

                <button class="margin-top" appearance="solid" accent="primary" click.delegate="onSignUpClick()" translate>
                    Sign up
                </button>

            </div>

        </div>

        <div class="margin-top text-align-center opacity-faded-less" translate>
            or
        </div>

        <div class="account-button-grid margin-top" surface="base">

            <button appearance="solid" accent="primary" click.delegate="signUpWithGoogle()" translate>
                Sign up with <b>Google</b>
            </button>

            <button appearance="solid" accent="primary" click.delegate="signUpWithMicrosoft()" translate>
                Sign up with <b>Microsoft</b>
            </button>

        </div>

    </div>

    <div if.bind="model.busy && !model.done">

        <busy-indicator class="font-largest" translate>
            Signing up…
        </busy-indicator>

    </div>

    <div if.bind="!model.busy && model.done">

        <div class="font-large margin-bottom" translate>
            Please check your email
        </div>

        <div class="opacity-faded-less" translate>
            We just sent you an email with a link to confirm your signup.
            If you don't see the email, make sure to check your junk folder.
        </div>

    </div>

</template>
