@import "../../constants.scss";

.c-pagination {
  z-index: 102;
  height: calc(#{$backofficeSidePadding} * 2);
  background-color: white;
  text-align: center;
}

.c-pagination-fixed {
  position: fixed;
  bottom: 0;
  left: $backofficeMenuBig;
  width: calc(100% - #{$backofficeMenuBig} - #{$backofficeSidePadding} * 2);
  margin: 0 $backofficeSidePadding;
}

.c-pagination-sticky {
  position: sticky;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
}

.c-pagination-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  line-height: $backofficeSidePadding;
  user-select: none;
  color: $colorBackgroundPrimary;

  .c-pagination-navigation {
    cursor: pointer;
    height: 32px;
    padding: 0 26px;
    border: 1px solid $colorBackgroundPrimary;
    line-height: 30px;
    border-radius: $borderRadius;

    &.inactive {
      pointer-events: none;
      opacity: 0.3;
    }

    &.previousPage {
      margin-right: 19px;

      &:before {
        content: "";
        display: inline-block;
        margin-right: 8px;
        width: 0;
        height: 0;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-right: 6px solid $colorBackgroundPrimary;
      }
    }

    &.nextPage {
      margin-left: 19px;

      &:after {
        content: "";
        display: inline-block;
        margin-left: 8px;
        width: 0;
        height: 0;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 6px solid $colorBackgroundPrimary;
      }
    }
  }

  .c-pagination-pages {
    display: flex;
    justify-content: center;

    .c-pagination-pages-page {
      line-height: 32px;
      min-width: 32px;
      border-radius: $borderRadius;
      cursor: pointer;
      border: 1px solid transparent;
      transition: opacity 100ms, border-color 100ms, background-color 100ms,
        color 100ms;

      &:hover {
        border-color: $colorBackgroundPrimary;
      }

      &.active {
        border-color: transparent;
        background-color: $colorBackgroundPrimary;
        color: white;

        &:hover {
          span {
            background-color: darken($colorBackgroundPrimary, $darkenOnHover);
          }
        }
      }

      &:not(:last-child) {
        margin-right: 5px;
      }

      &.inactive {
        border: 0;
        pointer-events: none;
        opacity: 0.3;
      }

      span {
        display: block;
        height: 100%;
      }
    }
  }

  .c-pagination-resultsPerPage {
    position: absolute;
    right: 0;
    border-radius: $borderRadius;
    padding: 0 26px;
    height: 32px;
    line-height: 30px;
  }
}

@media (max-width: $mediaIpadV - 1) {
  .c-pagination {
    width: 100%;
    margin: 0;
    left: 0;

    .c-pagination-content {
      .c-pagination-navigation {
        &.inactive {
        }

        &.previousPage {
          &:before {
          }
        }

        &.nextPage {
          &:after {
          }
        }
      }

      .c-pagination-pages {
        .c-pagination-pages-page {
          &.active {
          }

          &:not(:last-child) {
          }

          &.inactive {
          }
        }
      }

      .c-pagination-resultsPerPage {
        display: none;
      }
    }
  }
}
