////
/// @group resources/themes/interflora/palettes/color
////

/// Theme specific color palette.
$__summary: comment;


/* stylelint-disable no-duplicate-selectors, scss/selector-no-redundant-nesting-selector */

/// The neutral color and its variations.
:root
{
    --palette-color-whitepoint: #ffffff;
    --palette-color-neutral-lightest: #f8f8f8;
    --palette-color-neutral-lighter: #f4f4f2;
    --palette-color-neutral-light: #efefef;
    --palette-color-neutral: #e5e5e5;
    --palette-color-neutral-dim: #b1b1b1;
    --palette-color-neutral-dark: #757575;
    --palette-color-neutral-darker: #1e1e1e;
    --palette-color-blackpoint: #000000;
}

/// The primary color and its variations.
:root
{
    --palette-color-primary-lightest: #f5efdf;
    --palette-color-primary-lighter: #f2ead7;
    --palette-color-primary-light: #ddca9a;
    --palette-color-primary: #cbad61;
    --palette-color-primary-dark: #b89849;
    --palette-color-primary-darker: #a3822e;
    --palette-color-primary-darkest: #85681e;

    // Note: Not in design.
    --palette-color-primary--hover: transparent;
    --palette-color-primary--active: #d1ac53;
    --palette-color-primary--child: #d1ac534d;
    --palette-color-primary--child-hover: transparent;
}

/// The accent color indicating information.
:root
{
    --palette-color-info-lighter: #efeef9; // Note: Lightest in design.
    --palette-color-info-light: #a298d9; // Note: Lighter in design.
    --palette-color-info: #6454c0;
    --palette-color-info-dark: #5547a3;
    --palette-color-info-darker: #3c3273;
}

/// The accent color indicating that something is good or safe.
:root
{
    --palette-color-positive-lighter: #e6f5ef; // Note: Lightest in design.
    --palette-color-positive-light: #67c1a0; // Note: Lighter in design.
    --palette-color-positive: #029760;
    --palette-color-positive-dark: #028052;
    --palette-color-positive-darker: #015b3a;
}

/// The accent color indicating that something requires attention.
:root
{
    --palette-color-attention-lighter: #fff7e9; // Note: Lightest in design.
    --palette-color-attention-light: #ffcc7e; // Note: Lighter in design.
    --palette-color-attention: #ffaa28;
    --palette-color-attention-dark: #d99022;
    --palette-color-attention-darker: #996618;
}

/// The accent color indicating that something is bad or unsafe.
:root
{
    --palette-color-negative-lighter: #fae9ea; // Note: Lightest in design.
    --palette-color-negative-light: #e07c84; // Note: Lighter in design.
    --palette-color-negative: #cc2432;
    --palette-color-negative-dark: #ad1f2a;
    --palette-color-negative-darker: #7a161e;
}

/// The color used to highlight text, e.g. because it matches a search query.
:root
{
    --palette-color-mark: var(--palette-color-attention);
}

/// The colors used for data visualization.
:root
{
    --palette-color-data-1: #268bbc;
    --palette-color-data-2: #1acce2;
    --palette-color-data-3: #26bcae;
    --palette-color-data-4: #c1e21a;
    --palette-color-data-5: #db9726;
    --palette-color-data-6: #ff5555;
    --palette-color-data-7: #e21aa7;
    --palette-color-data-8: #bd10e0;
}
