@import "../../webKit/constants.scss";

// Surface theme
react-module
{
    --surface-color: white;
    --surface-text-color: #{var(--textDarkPrimary)};
    --surface-subtle-color: #{var(--textDarkSecondary)};
    --surface-heading-color: var(--surface-subtle-color);

    --surface-primary-text-color: #{var(--colorInteractivePrimary)};

    --surface-mark-color: yellow;
}
