@import "resources/index";

card-skeleton
{
    display: block;

    // Darken the skeleton slightly, so its perceived
    // brightness is closer to that of a card.
    filter: brightness(99.75%);

    // Apply the card skeleton opacity, or default to 1.
    opacity: var(--card-skeleton-opacity, 1);

    // Apply the card size set by the layout.
    width: var(--card-width);
    min-height: var(--card-height);

    // Apply border.
    border-radius: var(--border-radius-medium);

    // Apply animated background.

    background-size: 200%;
    background-image: linear-gradient(
        105deg,
        var(--surface-color) 9%,
        var(--surface-transparent-color) 23%,
        var(--surface-transparent-color) 25%,
        var(--surface-color) 40%,
        var(--surface-color) 59%,
        var(--surface-transparent-color) 73%,
        var(--surface-transparent-color) 75%,
        var(--surface-color) 90%
    );

    animation: card-skeleton ease infinite;
    animation-duration: var(--animation-duration-skeleton);
    animation-delay: calc(var(--animation-duration-skeleton) / 3);
}

@keyframes card-skeleton
{
    0%
    {
        background-position: 0%;
    }

    60%, 100%
    {
        background-position: 100%;
    }
}
