@import "shared/src/webKit/constants.scss";

express-route-map
{
  display: block;
  height: 100vh;
}

.express-route-map
{
  height: 100%;
}

.express-route-map-fit-button
{
  position: absolute !important;
  top: 10px !important;
  height: 40px !important;
  min-width: 80px !important;
  z-index: 999 !important;
  left: 248px !important;
  border: none !important;
  border-radius: 0 !important;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px !important;
  color: #333 !important;
}
