@import "shared/src/webKit/constants.scss";

express-route-map
{
  display: block;
  height: 100vh;
}

.express-route-map
{
  position: relative;
  height: 100%;
}

.express-route-map-fit-button
{
  position: absolute !important;
  top: 10px !important;
  height: 40px !important;
  min-width: 80px !important;
  z-index: 999 !important;
  left: 168px !important;
  border: none !important;
  border-radius: 2px !important;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px !important;
  color: #333 !important;
}

.expressRoutes-expressRouteStopMarker.--accent-0 .expressRoutes-expressRouteStopMarker-shape
{
  background: "gray";
  border-color: "gray";
}

.expressRoutes-expressRouteStopMarker.--accent-1 .expressRoutes-expressRouteStopMarker-shape
{
  background: #bd10e0;
  border-color: #bd10e0;
}

.expressRoutes-expressRouteStopMarker.--accent-2 .expressRoutes-expressRouteStopMarker-shape
{
  background: #26bcae;
  border-color: #26bcae;
}

.expressRoutes-expressRouteStopMarker.--accent-3 .expressRoutes-expressRouteStopMarker-shape
{
  background: #268bbc;
  border-color: #268bbc;
}

.expressRoutes-expressRouteStopMarker.--accent-4 .expressRoutes-expressRouteStopMarker-shape
{
  background: #bcb226;
  border-color: #bcb226;
}

.expressRoutes-expressRouteStopMarker.--accent-5 .expressRoutes-expressRouteStopMarker-shape
{
  background: #c1e21a;
  border-color: #c1e21a;
}

.expressRoutes-expressRouteStopMarker.--accent-6 .expressRoutes-expressRouteStopMarker-shape
{
  background: #e21aa7;
  border-color: #e21aa7;
}

.expressRoutes-expressRouteStopMarker.--accent-7 .expressRoutes-expressRouteStopMarker-shape
{
  background: #1acce2;
  border-color: #1acce2;
}

.expressRoutes-expressRouteStopMarker.--accent-8 .expressRoutes-expressRouteStopMarker-shape
{
  background: #bc26ae;
  border-color: #bc26ae;
}
