@import "resources/index";

page[name="routes"] page[name="details"]
{
    --base-surface-color: var(--surface-color);

    data-table
    {
        --data-table-columns: min-content 3fr 1.75fr min-content min-content 1.25fr 1.5fr 1.25fr min-content;

        data-table-headers data-table-cell
        {
            z-index: 3;
        }

        .data-table-row:hover .data-table-row-insert
        {
            z-index: 2;
        }

        .data-table-row.--cancelled
        {
            > data-table-cell::before,
            > data-table-cell:not(.route-details-stop-number-cell) > *,
            .route-details-stop-number-marker
            {
                opacity: var(--opacity-faded-more);
            }
        }

        .data-table-row.--failed
        {
            > *
            {
                color: var(--surface-negative-text-color) !important;
            }
        }
    }

    .page-section-header toolbar
    {
        position: absolute;
        right: 2rem;
        top: -4rem;
        font-weight: 400;
    }

    .route-details-stop-number-cell
    {
        overflow: visible;

        .data-table-cell-content
        {
            justify-content: center;
        }
    }

    .route-details-stop-number-marker
    {
        position: relative;
        z-index: 2;
        overflow: visible;
        border-radius: 50%;
        width: 32rem;
        height: 32rem;
        line-height: calc(32rem - 2 * var(--border-width-medium));
        text-align: center;
        background: var(--surface-accent-surface-color);
        color: var(--palette-color-whitepoint);
        border: var(--border-width-medium) solid transparent;
        font-weight: 500;

        icon
        {
            font-size: var(--font-larger-font-size);
            position: absolute;
            top: -10rem;
            right: -13rem;
            filter: drop-shadow(0 0 1px var(--base-surface-color));
        }

        &.--arrived
        {
            border-color: var(--palette-color-positive);
            background: var(--base-surface-color);
            color: var(--palette-color-positive);
        }
    }

    .route-details-stop-number-marker-background
    {
        position: absolute;
        z-index: 2;
        width: 32rem;
        height: 32rem;
        border-radius: 50%;
        background: var(--base-surface-color);
    }

    .route-details-stop-number-marker,
    .route-details-stop-number-before,
    .route-details-stop-number-after
    {
        pointer-events: none;

        @each $accent in $accents
        {
            &.accent-#{$accent}
            {
                --surface-accent-surface-color: var(--surface-#{$accent}-text-color, inherit);
            }
        }

        &.accent-neutral
        {
            --surface-accent-surface-color: var(--palette-color-neutral-dim);
        }
    }

    .route-details-stop-number-before
    {
        position: absolute;
        z-index: 1;
        top: calc(50% - 32rem);
        height: 32rem;
        width: var(--border-width-thick);
        background: var(--surface-accent-surface-color);
    }

    .route-details-stop-number-after
    {
        position: absolute;
        z-index: 1;
        top: 50%;
        height: 50rem;
        width: var(--border-width-thick);
        background: var(--surface-accent-surface-color);
    }

    .data-table-row:first-of-type .route-details-stop-number-before
    {
        display: none;
    }

    .data-table-row:last-of-type .route-details-stop-number-after
    {
        display: none;
    }
}
