<template>

    <require from="./import-failed.scss"></require>

    <h1 class="font-largest margin-bottom">
        Failed text
    </h1>

    <div class="font-large" translate>
        You typed in a string in a number field
    </div>

    <div id="error-outer-container">

        <div id="error-container" class="margin-larger-top">

            <div class="table-row table-header">

                <div class="table-cell">
                    <svg>
                        <line x1='0' y1='100%' x2='100%' y2='0' />
                    </svg>
                </div>
                <div class="table-cell"><div class="table-cell-empty"></div></div>
                <div class="table-cell font-larger">Postal number</div>
                <div class="table-cell"><div class="table-cell-empty"></div></div>
                <div class="table-cell table-cell-filler"></div>

            </div>
            <div class="table-row">

                <div class="table-cell"><div class="table-cell-empty"></div></div>
                <div class="table-cell"><div class="table-cell-empty"></div></div>
                <div class="table-cell"><div class="table-cell-empty"></div></div>
                <div class="table-cell"><div class="table-cell-empty"></div></div>
                <div class="table-cell table-cell-filler"></div>

            </div>
            <div class="table-row error-row">

                <div class="table-cell font-larger">23</div>
                <div class="table-cell"><div class="table-cell-empty"></div></div>
                <div class="table-cell font-larger">Tester</div>
                <div class="table-cell"><div class="table-cell-empty"></div></div>
                <div class="table-cell table-cell-filler"></div>

            </div>
            <div class="table-row">

                <div class="table-cell"><div class="table-cell-empty"></div></div>
                <div class="table-cell"><div class="table-cell-empty"></div></div>
                <div class="table-cell"><div class="table-cell-empty"></div></div>
                <div class="table-cell"><div class="table-cell-empty"></div></div>
                <div class="table-cell table-cell-filler"></div>

            </div>
        </div>

        <div id="line"></div>

    </div>

    <div class="error-button-container">

        <button appearance="outline" accent="primary" class="line-height-1">
            <icon name="md-arrow-backward-double-ios" class="float-left margin-right"></icon>
            <span translate>Previous error type</span>
        </button>

        <button appearance="outline" accent="primary" class="line-height-1">
            <icon name="md-arrow-backward-ios" class="float-left"></icon>
            <span translate>Previous</span>
        </button>

        <button appearance="outline" accent="primary" class="line-height-1">
            <span translate>Next</span>
            <icon name="md-arrow-forward-ios" class="float-right"></icon>
        </button>

        <button appearance="outline" accent="primary" class="line-height-1">
            <span translate>Next error type</span>
            <icon name="md-arrow-forward-double-ios" class="float-right margin-left"></icon>
        </button>

    </div>

    <button
        appearance="solid"
        accent="primary"
        translate>
        Upload debugged sheet
    </button>


</template>
